[2016-09-19 07:52] #458 closed

[2016-09-19 17:25] aaustin commented on #457
Hey @oddpanda - Thanks for the note here. Investigating it now!

[2016-09-19 18:19] derrickstaten commented on #456
@shmakovigor I'm unable to reproduce your issue on 0.12.10. Can you post the request logs, or send them to derrick@branch.io? Thanks

[2016-09-19 18:46] aaustin commented on #457
Hey @oddpanda - Yikes. The docs weren't updated when we changed the nullability state of the Branch Universal Object. I've just fixed them now. Can you try to replace your current line with the following:

[code]

[2016-09-19 18:47] derrickstaten commented on #456
@shmakovigor I'm now able to reproduce after quite a lot of testing. It seems that `universal_link_url` is missing from the v1/open request in some cases. I'm looking into this now.

[2016-09-19 18:47] #457 closed

[2016-09-19 19:02] oddpanda commented on #457
Perfect!

[2016-09-19 20:56] shmakovigor commented on #456
@derrickstaten you are right! ```universal_link_url``` is missing from https://api.branch.io/v1/open request. Just have checked it.

[2016-09-19 22:10] derrickstaten commented on #456
@shmakovigor https://github.com/BranchMetrics/ios-branch-deep-linking/pull/460. it seems that swift -> objective c inter-op is pretty broken around the edges.

[2016-09-20 09:41] shmakovigor commented on #456
So is there any workaround to make it work?

[2016-09-20 10:32] shmakovigor commented on #456
@derrickstaten Well, I found temporary workaround:

[code]

Looks nasty, but works.

[2016-09-20 16:06] derrickstaten commented on #456
@shmakovigor hmm, I'm intrigued by that solution, as it means we would not need to change SDK code (and deprecate our accountForFacebookSDK feature).

Let me discuss with the team.

[2016-09-20 17:51] YotamGolomb opened #461 "showShareSheetWithLinkProperties crashes"
getting

when calling in swift (2.2)
    public func showShareSheetWithLinkProperties(linkProperties: BranchLinkProperties?, andShareText shareText: String?, fromViewController viewController: UIViewController?, completion: shareCompletion?)

all parameters that are needed for the function aren't nil.
when reverted to 0.12.6 , works like a charm

[2016-09-21 02:49] aaustin commented on #461
Hey @YotamGolomb - This is super weird. Would you mind sharing the code you're using to initialize link properties and the Branch universal object? For example, I recently learned that Swift supports nils in objects but Objective C doesn't. You could be putting a secret nil bomb inside an array somewhere for us.

Thanks for your help!

[2016-09-21 06:14] YotamGolomb commented on #461
let shareText = NSLocalizedString("Download the app to join our community\n", comment: "InviteToApp.ShareText")
    let branchUniversalObject: BranchUniversalObject = BranchUniversalObject(title: NSLocalizedString("App Invitation", comment: "InviteToApp.Title"))!
    branchUniversalObject.contentIndexMode = .Public

    let linkProperties: BranchLinkProperties = BranchLinkProperties()
    linkProp

[2016-09-21 15:45] honghaoz commented on #332
Still getting the issue with MoPub 4.9.1.
This PR https://github.com/mopub/mopub-ios-sdk/pull/168 may fix the issue.

[2016-09-23 17:37] MikeSilvis opened #464 "continueUserActivity is returning true for non-branch links"
Calling `[[Branch instance] continueUserActivity:userActivity]` from a spotlight search, returns true for the activity

Using the latest release: `0.12.11`

[2016-09-26 15:24] aaustin commented on #464
Hey @MikeSilvis - Thanks for the heads up. If you're using Branch to track/deep link from Spotlight,  it should correctly return YES, indicating that we've handled it https://dev.branch.io/features/spotlight-indexing/guide/

You can review how the code handles YES/NO logic here:
https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-SDK/Branch-SDK/Branch.m#L443 and https://git

[2016-09-26 15:25] aaustin commented on #464
Please let me know if I'm misinterpreting.

[2016-09-26 15:33] aaustin commented on #461
Hey @YotamGolomb - We're having some troubles reproducing in our swift testbed app. You can see the above PR, but I don't believe it's the root cause as it'd be impossible for that to happen. Tell me if this is happening 100% of the time or if it's random, perhaps during internet connectivity issues?

[2016-09-26 15:45] aaustin commented on #456
Hey @shmakovigor - the latest SDK (`0.12.11`) has a fix for this issue. You can stop calling `accountForFacebookSDK` and just make sure that you return true in didFinishLaunching all the time.

[2016-09-26 15:45] #456 closed

[2016-09-26 16:25] MikeSilvis commented on #464
@aaustin i think the issue is this line https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-SDK/Branch-SDK/BNCContentDiscoveryManager.m#L49 where you aren't actually enforcing that the branch key is present but simply that it is a spotlight search OR it is a branch spotlight search

[2016-09-27 16:17] gbitaudeau commented on #419
@ahmednawar your correction works !
Thank you.

[2016-09-27 16:17] ahmednawar commented on #419
@gbitaudeau Awesome. Happy Deep linking!

[2016-09-27 16:25] gbitaudeau opened #466 "Tell branch that I well handle a deep link to avoid duplicate handle"
I use :
[code]

The fact is that I also implements notifications in my application (without deep link inside but a custom sauce)

Here my use case :

1. I use a branch deep link to open my application on a special screen (using handler define in initSession)
2. Later application go background
3. A notification is received and I use it to open my application again (it goes foreground)
4. The handle

[2016-09-28 17:57] MikeSilvis commented on #464
@AustinHay any update on this ?

[2016-09-28 18:25] ahmednawar commented on #466
@gbitaudeau just to clarify, did you get the *same* link data in the `deepLinkHandler` twice?

The handler gets called every time the app become active but you should get the link data, the first time only.

[2016-09-29 09:47] SebC99 opened #469 "Handle branch link (incoming) in iMessage extension"
It's easy to generate a branch link to associate to a iMessage to send, but then for the receiver, I can't find any way to handle the message link.
When a user click on a received iMessage, it opens the message extension but doesn't fire the branch callback, and there's no available method to tell branch to handle the received message URL.
How could we do that?
The `handleDeepLink` method doesn't

[2016-09-29 16:04] gbitaudeau commented on #466
Yes, I get twice the same universal object using `branch.getLatestReferringBranchUniversalObject()`

[2016-09-29 17:35] ahmednawar commented on #466
@gbitaudeau Where do you call `getLatestReferringBranchUniversalObject`?  If you just log the value of the `params` dictionary passed to the `deepLinkHandler`, do you get the same result as well?

[2016-09-29 18:05] aaustin commented on #469
Hey @SebC99 - Thanks for the question! Let me understand the flow so I'm 100% certain:

0. You're testing with an iMessage app that has integrated Branch according to my guide here:  https://dev.branch.io/getting-started/sdk-integration-guide/guide/ios_imessage/
1. A link is sent to one of your users with your iMessage extension installed
2. You receive the MessageViewController delegate call with

[2016-09-29 18:25] ahmednawar commented on #464
@MikeSilvis Hi Mike, thanks for the suggestion. We have a PR #470 here that should fix this. Could you please test and let us know if it fixes the issue. If so, we will include it in our upcoming release.

[2016-09-29 18:29] MikeSilvis commented on #464
Great, thanks!

[2016-09-29 19:13] francisjervis opened #471 "BUO [keywords] not working properly"
Hi, I am seeing some unusual errors after updating to Swift 3 with the current SDK (0.12.11). Passing an array of keywords when creating a BUO now results in "Cannot encode value Optional("somestring"), type is not in list of accepted types". This is unexpected given that the array of unwrapped strings being passed is also not itself an optional type.

[2016-09-29 20:29] SebC99 commented on #469
Yes that's it!

1. A link is sent to a user with my iMessage extension installed
2. the MessageViewController is opened with the conversation.selectedMessage containing the branch link as selectedMessage.URL
3. I'd like to parse out the Branch link with a BNCServerRequest to route the user to the right viewController of my extension

For now, I have to send a longURL with the iMessage and parse th

[2016-09-29 21:04] SebC99 commented on #469
Well unfortunately, it doesn't work as
```[[UIApplicationClass sharedApplication] applicationState] == UIApplicationStateActive```
is false in the extension (the `[UIApplication sharedApplication]` is in background....

[2016-09-29 21:57] SebC99 commented on #469
I tried to bypass the `UIApplicationStateActive` test creating my own function as a (dirty) category... It passes and parses the link well, but then each time the same user open the iMessage extension, the link is considered as clicked and passed to the deepLinkHandler!

[code]

[2016-09-29 23:40] E-B-Smith commented on #464
@MikeSilvis:  We made a slight change to the fix so that older code doesn't break.  The fix should still work for you.

[2016-09-30 10:14] aaustin commented on #471
@francisjervis - That's super weird. Can you share your swift 3 code snippet for passing them in so that we can easily reproduce on our end? Thanks for the feedback!

[2016-09-30 10:36] aaustin commented on #469
Ahh - I was unaware the application was in the background when you received the link. I understand better now. You receive the link in `didReceiveMessage` but Branch is initialized in `didBecomeActiveWithConversation`.

 Is `didReceiveMessage` being called before `didBecomeActiveWithConversation` in your use case? Assuming so, can you try the following:
1. In `didReceiveMessage`, create a NSUserAc

[2016-09-30 10:43] SebC99 commented on #469
No no, we receive the link in `didBecomeActiveWithConversation` as the link is included in the `selectedMessage` property of the `conversation` passed as parameter of `didBecomeActiveWithConversation`
And I guess that in iMessage when you test for the `UIApplication` being active, it doesn't test if the iMessage extension is, but if the linked application is. And of course, when you're in the iMes

[2016-09-30 13:38] aaustin commented on #469
Ah - got it. Can you try this:
[code]

[2016-09-30 13:43] SebC99 commented on #469
Already tried ;)
But when executing:
[code]
The call to `[self initUserSessionAndCallCallback:YES]` goes to `self.sessionInitWithParamsCallback([self getLatestReferringParams], nil);` and then the deeplink handler is called with the last referring params (which are empty) and not with the useractivity link.

[2016-09-30 18:16] francisjervis commented on #471
[code]

[2016-10-01 20:23] aaustin commented on #469
Hmm - that shouldn't be happening at all. I see the issue! Our session isn't closing out from the last time you ran it. Can you try adding: `[[Branch getInstance] resetUserSession];` to `willResignActiveWithConversation`? This will close the session and allow you to trigger a new link.

[2016-10-02 10:21] SebC99 commented on #469
Almost there...
Except something weird is happening with iMessage Extension:

- When you use the extension to send a message, it builds the iMessage layout and put it the message placeholder, and then resign active.
- But when you then click on 'send', it reload the extension for a few seconds, launching the `didBecomeActive` and just after the `willResignActive` ...

There's a concurrency issue,

[2016-10-03 09:09] aaustin commented on #469
Oh gees. What a mess! The worst part of it all is that I bet this will all change in a minor version or two...

One last thought: Is there any aspect of the MSConversation object that indicates you can ignore the call to Branch init/reset during that `send` mini-session? Like some sort of state or type variable?

If not, we're going to have to make some library changes to support this type of sess

[2016-10-03 09:23] aaustin commented on #471
Heyo - So, playing around a bit in our Swift 3 testbed on iOS 10, I can't reproduce with actual strings:
[code]

Is it possible that `exchangeText` or `self.exchangeServiceText.text` are optionally null or something? Perhaps the array is barfing on those types? To be honest, I'm not super familiar with the typing system in Swift.

[2016-10-03 19:08] SebC99 commented on #469
Nothing available...

[2016-10-04 10:25] SebC99 commented on #469
Ok, so I've added a `state` property to my `MessageViewController`, which is set to `active` in `willBecomeActiveWithConversation` and to `inactive` in `willResignActiveWithConversation`, and then I force a `resetUserSession` in the deepLinkHandler if the state has been changed to inactive:
[code]

and it seems to work!! :)

[2016-10-05 14:54] aaustin commented on #469
Oof - that's not pretty. Thanks for all the help. Deep linking in iMessage extensions is a pretty small use case for us, so I'll make this an upcoming weekend project for me.

[2016-10-06 01:10] leoneparise commented on #461
I'm having the same issue here but with Swift 2.2. My code:
[code]

I installed from Carthage (v0.12.11). I don't know if it is an issue.

[2016-10-06 01:38] leoneparise commented on #461
FYI, I solve the issue this way:

[code]

Then I construct the `UIActivityViewController` this way:
[code]

Now it's working like a charm =)

[2016-10-06 02:01] MikeSilvis commented on #464
@E-B-Smith @AustinHay hey, when do you guys expect to have your next release?

I am noticing an issue now where because i had to re-arrange the logic with the branch check in my `continueUserActivity` that i am short circuiting before getting to you causing an error. Furthermore when I receive a universal link `Branch.instance().initSessionWithLaunchOptions` seems to drop the `$deeplink_path` from

[2016-10-06 10:13] gbitaudeau commented on #466
I can't reproduce anymore ...
Either I update something, either the case to reproduce is more complex ....
Please close this, I will re-open it if I have more elements !

[2016-10-06 16:13] #466 closed

[2016-10-07 15:45] tirrorex opened #481 "Value of type 'Branch' has no member 'initSession' aka outdated readme"
Hi guys, currently implementing branch in my app (last release of swift before swift 3).
I tried to follow your integration guide but it fails during the init.
This line in particular
"branch.initSession(launchOptions: launchOptions, deepLinkHandler: { params, error in"

Browsing with autocompleted i can find some methods but none that seems to be the same.
What is your advice here?
Thanks

[2016-10-07 16:53] snakingfire commented on #481
Hi tirrorex! Our documentation currently uses Swift 3 syntax for code snippets. The correct initSession syntax for Swift 2.x is:

branch.initSessionWithLaunchOptions(launchOptions, automaticallyDisplayDeepLinkController: true, deepLinkHandler: { params, error in
            if error == nil {
                print("params: %@", params.description)
            }

        })

If you need more referen

[2016-10-07 16:53] #481 closed

[2016-10-10 10:22] stefanprutianu opened #483 "Order of calling functions on Branch instance"
Hello,

This is rather a question than an issue.

I've observed that there seems to matter the order in which methods are called on the Branch instance.

For example if -[Branch continueUserActivity:] gets somehow called before
- [Branch initSessionWithLaunchOptions: andRegisterDeepLinkHandler:],
the completion handler on the later will never be called.

I know that the integration guide states th

[2016-10-10 15:27] aaustin commented on #483
Hey @stefanprutianu - Thanks for the question.

It does matter very much. It's important that Branch gets initialized with the correct referring link information (potentially coming from continueUserActivity or openUrl) and we do quite a bit of fancy footwork to ensure that's the case. All of our fancy footwork is designed around the assumption that our `initSession`, `continueUserActivity` and `h

[2016-10-10 15:27] #483 closed

[2016-10-11 08:27] tirrorex commented on #481
Thanks for the link mate

[2016-10-11 16:18] eeallen1 opened #484 "branch.initSessionWithLaunchOptions causes UITextField to removeFirstResponder on clean install"
This issue only happens on the first install of my app - never after.

In my initial view controller, my `viewDidLoad()` looks like this:

`override func viewDidLoad(){`
    `super.viewDidLoad()`
    `self.textField.becomeFirstResponder()`
`}`

The problem is that on a clean install of the app, the keyboard shows up, then goes back down, and then ~1 second later, it comes back up. Since this is th

[2016-10-11 17:12] E-B-Smith opened #485 "Links fails when Branch, Google Analytics, and Localytics are all used in the same app"
## Symptoms

When a Branch deep link is clicked on, the correct app opens, but the deep link isn't handled in the app.

With the debugger and logging turned on, it's clear that

[code]

is never called when the app activates as a result of a deep link being clicked on.

## Cause

The problem is due to a method swizzling conflict between Localytics and Google Analytics.

## Solution

Here are three

[2016-10-11 22:15] eeallen1 commented on #484
I've been able to fix the problem by keeping a copy of`launchOptions` from `applicationDidFinishLaunchingWithOptions` AppDelegate and calling `initSessionWithLaunchOptions` later. If I'm not doing any link handling before this, is there any potential downside to not initializing branch on app launch?

[2016-10-17 15:14] lordzsolt opened #487 "accountForFacebookSDKPreventingAppLaunch documentation is partial"
The documentation for `accountForFacebookSDKPreventingAppLaunch` says `application:didFinishLaunchingWithOptions:` has to always return `YES`, but it doesn't mention that `application:willFinishLaunchingWithOptions:` **also** has to return `YES`.

PS: I've spent half a day pulling my hair out before I noticed another developer on the project was returning NO from that method, for unknown reasons.

[2016-10-18 17:18] E-B-Smith commented on #464
@MikeSilvis

We released version v0.12.12 last week which should fix your problem.  Have you updated the SDK in your app and tested it yet?

[2016-10-18 20:25] honghaoz commented on #332
Here is our post_install workaround for integrating `mopub-ios-sdk (4.9.1)` and `Branch (0.12.11)`
[code]

[2016-10-18 20:38] E-B-Smith commented on #487
We don't know why that other developer was returning ```NO``` from the ```application:willFinishLaunchingWithOptions:```  method either.

However we will update the documentation to make it clear that the ```application:willFinishLaunchingWithOptions:``` also needs to return ```YES``` for URL links to work.

Thank you for the suggestion.

[2016-10-18 20:38] #487 closed

[2016-10-18 22:15] E-B-Smith commented on #484
I understand.  The first app impression is pretty important.  I'm glad you were able to find a work around.

The only downside to not initializing Branch at startup is that app links that are used to launch you app may not be handled.

Are you using the useCookieBasedMatching? That may cause the keyboard to momentarily lose focus.

[2016-10-18 22:40] eeallen1 commented on #484
@E-B-Smith

I'm not explicitly using useCookieBasedMatching, but I also haven't disabled it, so if it's a default setting then that could be it.

I'll test it soon, but I've been able to get all of my app launches via links working by initializing branch on launch unless it's the app's first launch, so it isn't a big issue for me now, but it was very frustrating trying to figure out why it was hap

[2016-10-18 23:03] E-B-Smith commented on #484
Yes, I'm sure it was frustrating!  Sorry about that.  I'm going to investigate this to prevent problems in the future.  Thanks for the heads up.

The useCookieBasedMatching defaults to 'on', so you were using that.

[2016-10-20 15:15] #464 closed

[2016-10-21 13:07] stefanprutianu opened #491 "DeepLink handler callback is not always called"
Hi,

While we were verifying the integration with your service via the iOS Branch SDK (0.12.12) we've stumbled upon a situation where the deeplink handler we register via -[Branch initSessionWithLaunchOptions: andRegisterDeepLinkHandler:] does not get called when the app is opened via a Branch link.

The scenario is like this:
1) App becomes active
2) Branch SKD launches a call to the servers
3) A

[2016-10-21 15:15] E-B-Smith commented on #491
Thanks for the detailed explanation.   Let me dig into this and see what's up.

[2016-10-23 16:42] zeeshabnc commented on #461
Thanks @leoneparise. Closing this out for now, do re-open it if this is still an issue for you.

[2016-10-23 16:42] #461 closed

[2016-10-26 01:10] mikemonaco opened #493 "0.12.13 cannot be built with iOS 9.3 SDK"
0.12.13 has a compiler error in Xcode 7.3.1 (iOS 9.3 SDK) because the code is trying to access new iOS 10+ properties of NSLocale (countryCode & languageCode)

BNCDeviceInfo.m:77:49: Property 'countryCode' not found on object of type 'NSLocale *'
BNCDeviceInfo.m:78:50: Property 'languageCode' not found on object of type 'NSLocale *'

possible solution would be to use respondsToSelector/performSele

[2016-10-26 03:49] icarasiaofficial commented on #493
+1 to that.

[2016-10-26 04:26] aaustin commented on #493
Hey team - Thanks so much for letting us know right away. We're working on a patch now and will do an out of band deploy shortly. Will keep you updated.

[2016-10-26 04:36] aaustin commented on #493
Ah I saw we handle the runtime case already in the code https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-SDK/Branch-SDK/BNCDeviceInfo.m#L68. We're going to hold off on the deploy until tomorrow morning. Sorry for the delay.. Any reason you guys are still running Xcode 7?

[2016-10-26 15:31] StewartGillen commented on #493
@aaustin [This code](https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-SDK/Branch-SDK/BNCDeviceInfo.m#L77-L78) is [iOS 10 API and above](https://developer.apple.com/reference/foundation/nslocale/1643060-countrycode).

It causes these build errors:

        self.country = [NSLocale currentLocale].countryCode;
                                                ^
/Users/builder

[2016-10-26 16:40] E-B-Smith commented on #493
I added a new branch called 'Xcode-7-Support' that fixes this issue.

You can compile with that branch now to get going.  I expect to merge the branch into master shortly after some testing.

[2016-10-26 20:50] E-B-Smith commented on #493
This is fixed in the new release,  v0.12.14, which is now on master.

[2016-10-26 20:50] #493 closed

[2016-10-26 23:15] #485 closed

[2016-10-26 23:37] E-B-Smith commented on #471
I can't reproduce this either.  Is there any more information on this?  I'll close this in a few days unless I hear back.

[2016-11-01 08:56] stefanprutianu commented on #491
Hi! Any news on this topic? Thanks!

[2016-11-01 15:39] E-B-Smith commented on #491
Thanks again for your great write up.  I have a fix for this that we are testing and it should be in the codebase this week.

I'll send you a ping when I merge the fix.

[2016-11-04 20:38] #471 closed

[2016-11-11 20:52] gsabran opened #503 "No way to clear cookies"
There's no way to clear the cookies, meaning the deep link that have been intended to be opened. This is an issue in situations like:

- a link is clicked that opens a web view that sets a cookie to go to item A, but the app is not opened
- a link is clicked and directly open the app to item B. This will link to item B, and won't clear the past intent to go to item A. So the link to item A will be

[2016-11-11 22:39] E-B-Smith commented on #503
Let me look into this.  Can you give me a few more details?

Are these the same kind of links?  Is the first a universal link and second an app scheme link (a link like myapp://open?link_click_id=...)?

Are these clicks rapid fire back-to-back, or is there a little time between them?

[2016-11-12 00:59] gsabran commented on #503
Both are universal links. One is coming from what I think is a cookie set when going to the deepview, and the other is passed directly at app launch when opening the app from a link in iMessage. There's a little time in between. Like not a lot but it's definitively not happening back to back. My best guess is that the cookie is retrieved with some delay, and probably asynchronously (you probably k

[2016-11-14 04:03] LadyRanger1992 opened #504 "App Crash when registerDeepLinkController as visible ViewController."
Branch.m/line 1399
build newest release.

I try to handle my VC as first VC. and can not present the VC if it already visible.

Try to check it visible or not.

[2016-11-14 18:44] E-B-Smith commented on #504
If you want to conditionally handle app deep linking (like for instance, don't do anything if the view controller is already visible), make sure `automaticallyDisplayDeepLinkController = NO` and handle the deep linking yourself in the deepLinkHandler block.

So initialize Branch like this:

[code]

Does this help?

[2016-11-14 19:21] E-B-Smith commented on #503
Your expectations are correct -- Only the most recent deep link should be handled.

I'm not able to reproduce your problem immediately.  I'll try a few other things too.  Maybe something weird is happening in iMessage.

[2016-11-17 01:56] LadyRanger1992 commented on #504
Yeah, thank for your support @E-B-Smith . This really helpful.

[2016-11-17 01:56] #504 closed

[2016-11-17 21:29] cmmouritsen commented on #272
I am running into an issue with this. For me, we are passing an email address as a parameter on a branch link. It's not very common, but when there's an email with a '+' character in it (i.e. `test+email@gmail.com`), then by the time Branch passes the parameters to my app it has become `test email@gmail.com`. I have also tried url encoding the email first (`test%2Bemail%40gmail.com`), but I got th

[2016-11-17 22:22] E-B-Smith commented on #272
Have you tried double URL encoding it?
That is, URL encode it, URL encode that, and then send it.
When you get the value on the iOS side you will have to URL decode the value.

[2016-11-17 22:22] E-B-Smith commented on #272
@cmmouritsen  See above ^^.

[2016-11-17 22:26] cmmouritsen commented on #272
Thanks for the response. Something else may be going on. I keep getting the same params sent to my app (the first params that I used with the url) no matter what params I send. I've even tried another device and I still get the params from the first link that I clicked. It doesn't seem like that is how it is supposed to work. In any case, I'm no longer sure my second statement above is true about

[2016-11-17 22:33] E-B-Smith commented on #272
@cmmouritsen Can you create a new issue and more fully describe what you're trying to do and what your problem is?

[2016-11-18 08:39] stefanprutianu commented on #491
Hi again,

Have you managed to test the fix? Should we expect a new release soon? I'm asking because we too are planning to make a release and considering the relatively low visibility of this issue we can do it without this fix if it is going to take longer to validate the solution from your side.

Thanks,
Stefan

[2016-11-18 15:24] E-B-Smith commented on #491
@stefanprutianu  I've made and tested a fix for this and I'm going to merge this into the staging branch today.  I'll ping you when it's done.

You can pull from that branch if you want the fix today, otherwise we'll make an official release Monday and you can wait for that.

The reason we are moving slower than usual is that we are trying to put in place a whole Enhance-Fix-Test-QA-Release pipeli

[2016-11-18 21:02] jackfreeman opened #507 "Headers need to be updated to include correct nullable and nonnull for Swift"
Right now none of the headers use the `nullable` and `nonnull` keywords which can cause unexpected results when using the Branch SDK with Swift. See https://developer.apple.com/swift/blog/?id=25 for more info on these keywords and their usage.

Specifically I'm seeing a crash from `initSessionWithLaunchOptions` if the Branch API cannot be reached. Due to not having the `nullable` keyword, the para

[2016-11-18 22:46] E-B-Smith commented on #507
Great, Thanks!  I'll add this to our next release.

[2016-11-21 22:11] rt2zz opened #510 "Question about facebook share link (og tags)"
See issue here: https://github.com/BranchMetrics/react-native-branch-deep-linking/issues/57#issue-190772838

User is invoking showShareSheet and inspecting the resulting link in facebook link debugger. Debugger is requesting the `og:*` tags be explicitly defined.

My suspicion is that the branch sdk should be doing an automatic mapping of title -> og:title image -> og:image etc. Please correct me

[2016-11-22 20:16] E-B-Smith commented on #510
There's nothing in the SDK that creates the `og:*` tags.  Those are created by the Branch back end as a service so that Facebook (and others) can scape things like the `og:title` when they create a description for a web page for link.

The `$fallback_url` takes precedence over anything set in the share sheet.

Try removing the `$fallback_url` parameter and try again.

[2016-11-23 17:29] aaustin commented on #510
@rt2zz Answered in the RN thread. Closing out here.

[2016-11-23 17:29] #510 closed

[2016-11-23 17:35] rt2zz commented on #510
thanks @aaustin & @E-B-Smith 👍

[2016-11-23 18:40] aaustin commented on #507
Hey @jackfreeman - Not sure how you're seeing that? If you check out `BNCCallbacks.h` https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-SDK/Branch-SDK/BNCCallbacks.h, you'll see the nullable flags there. Not sure where you're observing otherwise. Can you help us understand?

[2016-11-23 23:49] aaustin commented on #503
Hey @gsabran - I wanted to chime in on your use case here. It's not a problem with this library, so I'm going to close this issue out. It's more a function of how the Branch deferred deep linking system works. We don't refer to them as "cookies" for the click, we refer to them as "outstanding matches". If you think this is a common use case for you, we actually give you the ability to control the

[2016-11-23 23:49] #503 closed

[2016-11-23 23:55] aaustin commented on #491
Hey @stefanprutianu Sorry about the delay here. We've been going slowly through the fix to ensure it covers all edge cases. This affects a pretty complex part of the SDK codebase and we want to make sure we get it right. This is the PR with resolution https://github.com/BranchMetrics/ios-branch-deep-linking/pull/506 if you want to give it a whirl on your local env.

In the meantime, you should rel

[2016-11-23 23:58] aaustin commented on #484
Hey @eeallen1 Quick clarification: the method name is actually `disableCookieBasedMatching`. This will prevent our SafariViewController code from executing. However, this would only execute if you've got SafariServices.framework included. Did you give this a try?

We'd like to help you solve this issue!

[2016-11-27 16:40] shortstuffsushi commented on #507
Hey guys, want to add notes to your updates here. The `callbackWithParams` and `callbackWithBranchUniversalObject` both mark their non-error properties as `_Nonnull`, but in actual use, they're frequently `nil`. I'm not writing an app in Swift, but this likely causes the crashes described above. I was actual coming here to note that you're calling "non-nullable" params with nil, but it seems this

[2016-11-27 17:35] aaustin commented on #507
Thanks Graham! Interesting - do you see the nullability path for the majority use case (`callbackWithParams`)?  I see the `getLatstReferringBranchUniversalObject` flow.

[2016-11-27 19:26] jackfreeman commented on #507
I must have been looking at an older version of the headers, as I do now see the nullable flags.

As mentioned by @shortstuffsushi though, it looks like the flag is set to `_Nonnull` when it can in fact be nil, so that flag should be changed to `_Nullable`

[2016-11-27 19:42] shortstuffsushi commented on #507
I only found [one instance](https://github.com/BranchMetrics/ios-branch-deep-linking/blob/43d036927d6888bb8a6280329c990b0200145ecc/Branch-SDK/Branch-SDK/Requests/BranchCreditHistoryRequest.m#L60) of params being `nil` in a `callbackWithParams`, but instantiating an empty dictionary in any error case still seems gross. (ref [a](https://github.com/BranchMetrics/ios-branch-deep-linking/blob/43d036927

[2016-11-27 19:46] shortstuffsushi commented on #507
When I wrote these in the past, I wrote them with the expectation that the params would be nullable, in a time before that concept existed, or at least was popular enough that I took the time to incorporate it. I also at the time wanted to separate it out into two callbacks, which still hasn't been done (not sure if I ever shared that plan with anyone). I'd much rather see it be a success function

[2016-11-28 22:05] gsabran commented on #503
Ok thanks for the clarification. But it seems unexpected that handling one outstanding match won't remove other matches that might be less outstanding, which is what I think @E-B-Smith was mentioning.

[2016-11-29 11:09] thttai opened #513 "Deeplinks only work if the app is open in the background. It doesn't work if app is killed"
Since ios 10.1, my app cannot recognizer the deeplink if it is closed or killed.
I means deeplink works fine if app is in background. But It does not work if app is killed.

Here is launchOptions when opening app with deeplink when it's killed. It does not contain any params.
[UIApplicationLaunchOptionsUserActivityDictionaryKey: {
UIApplicationLaunchOptionsUserActivityIdentifierKey = "3CE16443-4A6

[2016-11-29 15:01] E-B-Smith commented on #513
In your `- application:didFinishLaunchingWithOptions:` app delegate method, do you initialize your Branch session?

Make sure that you have code like:
[code]

[2016-11-29 15:57] charliebartel opened #514 "crash in BNCPreferenceHelper"
Branch version in podfile.lock is 0.12.16
BNCPreferenceHelper.m line 642
365 crashes in the last 7 days.
Occurring for iOS 9 and 10 devices, iPads and iPhones

Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x1940ee1c0 __exceptionPreprocess
1  libobjc.A.dylib                0x192b2855c objc_exception_throw
2  CoreFoundation                 0x1940ee108 -[NSException i

[2016-11-29 16:02] E-B-Smith commented on #514
Sorry about your crashes - The latest version of the SDK,  0.12.17,  fixes this.

[2016-11-29 16:02] #514 closed

[2016-11-29 23:54] E-B-Smith commented on #507
Fixed in SDK release 0.12.18.

[2016-11-29 23:54] #507 closed

[2016-11-29 23:55] E-B-Smith commented on #491
Fixed in SDK release 0.12.18.

[2016-11-29 23:55] #491 closed

[2016-11-29 23:55] E-B-Smith commented on #484
Fixed in SDK release 0.12.18.

[2016-11-29 23:55] #484 closed

[2016-11-30 04:58] thttai commented on #513
@E-B-Smith Yes, I did. But it still doesn't work.
Here is my AppDelegate.swift with Branch initial code.
func application(application: UIApplication, didFinishLaunchingWithOptions launchOptions: [NSObject: AnyObject]?) -> Bool {

        .....

        //Branch.io
        let branch: Branch = Branch.getInstance()
        #if DEBUG
            branch.setDebug()
        #endif
        branch.initSes

[2016-11-30 10:32] jweihs opened #515 "Crash in 0.12.18"
Starting with v. 0.12.18 my app crashes after initializing the Branch Instance in `didFinishLaunchingWithOptions` (using `- (void)initSessionWithLaunchOptions:(NSDictionary *)options andRegisterDeepLinkHandler:(callbackWithParams)callback`)
Until then i'm using the 0.12.16.

Tested on the simulator only.

Jonathan

Detailed log:

[2016-11-30 15:28] E-B-Smith commented on #515
Thanks for reporting this!

I've tested in the simulator on iOS 9 and 10 with the Branch-TestBed and app and a couple other test apps and didn't see any problems.

I wonder if it is the order that things are initialized in your AppDelegate?  I initialize Branch first, then do some app initialization.  Also, are you using storyboards?

In the mean time, use version 0.12.17 if you're going to releas

[2016-11-30 15:32] E-B-Smith commented on #513
I've re-opened this issue so I can help getting this resolved.

I tested this with our Branch-TestBed app and everything works as expected.

I'll also test with our Swift TestBed app to see what happens.  Maybe there is a Swift interoperability issue in 10.1?

[2016-11-30 17:02] E-B-Smith commented on #515
Also, What simulator version / Xcode / iOS version crashed for you? I'd love to be able to reproduce this.

[2016-11-30 17:56] E-B-Smith commented on #513
I tested this with iOS 10.1.1 in our Swift test bed and Branch worked as expected, even when the app was killed.

Try removing the app and re-installing it.  That will reset some old app associations.

If that doesn't work, see how the Branch-TestBed-Swift is set up and works.

Here are some Branch-TestBed-Swift test links to test with:

https://testbed-swift.app.link/lszYxFYhHy
testbed-swift://op

[2016-11-30 17:56] #513 closed

[2016-12-01 05:17] thttai commented on #513
Hi @E-B-Smith ,
I use app’s domain is bnc.lt
So I do not define branch_app_domain in info.plist
For "Associated Domains", it's applinks:bnc.lt

[2016-12-01 18:06] E-B-Smith commented on #513
Ah...   At the end of your  `func application(application: UIApplication, didFinishLaunchingWithOptions launchOptions: [NSObject: AnyObject]?)` method, change

[code]

to this:

[code]

[2016-12-02 04:03] thttai commented on #513
@E-B-Smith
Wow, it works now. Thank you very much.
But I don't know how does that line of code impact to deeplink callback?

    ...

    return FBSDKApplicationDelegate.sharedInstance().application(application, didFinishLaunchingWithOptions: launchOptions)
}

[2016-12-02 05:07] E-B-Smith commented on #513
The method `application:didFinishLaunchingWithOptions:` should return `true` if it can handle a deep link.

The function `FBSDKApplicationDelegate.sharedInstance().application(application, didFinishLaunchingWithOptions: launchOptions)` returns true if *it* can handle the deep link, not if the deep link can be handled in general.

So we should return `true` from the method.

Glad I could help!

[2016-12-02 14:44] E-B-Smith commented on #515
This was fixed by regression in 0.12.19.  Momentarily having a  key window appear is still an issue.  I should be able to fix that this week.

[2016-12-02 14:44] #515 closed

[2016-12-03 08:43] JPROFFICIAL commented on #422
@aaustin This exact problem is still occuring with me. Before initializing in the App Delegate, I am setting `branch.networkTimeout` to 50.0 and `branch.setMaxRetries` to 50. I am also on a very good connection. The weird thing is, This bug is only happening in one spot in our application where we are setting 30+ Metadata keys in our BranchUniversalObject.

[2016-12-04 00:37] aaustin commented on #503
I see your point and it's a valid one. To do this, we'd need to confident that the outstanding click (tied to a cookie) is associated with the native app session (IDFA) is the same person. We have the data to do this a certain percentage of the time. However, this whole double outstanding match should hopefully be a pretty rare scenario. Let me add this request to our infra backlog in the mean tim

[2016-12-04 00:45] aaustin commented on #422
Hey @JPROFFICIAL - Thanks so much for the note. I have a hypothesis that it's related to one of your keys. Is it possible that you call 1. setDebug before initializing to turn on logging, 2. attempt to create this link and 3. send us the logs (you can start a new ticket at integrations@branch.io).

One hypothesis I have is that our request to one of your URLs could be timing out. Our link creation

[2016-12-05 20:03] brianmichel opened #516 "BNCDeviceInfo Crashes On Background Thread"
When the Branch SDK (by way of the Segment SDK) attempts to create a `BNCDeviceInfo` instance a WebKit crash is emitted as the `BNCDeviceInfo` class attempts to execute Javascript on a background thread, which is not allowed with UIWebView. A crash similar to the following is emitted:

[code]

The `BNCDeviceInfo` object should check whether or not it is on the main thread before running the UIWebV

[2016-12-05 20:24] E-B-Smith commented on #516
Patch added by @brianmichel in path #517.  Thanks Brian!

[2016-12-05 20:24] #516 closed

[2016-12-06 13:57] shafqat-muneer opened #518 "Not receiving params data if iOS app launched after Killing"
Hello!

I am using Branch SDK for deep linking in iOS; If app running in background and user will tap on link, i am receiving all required params but if app is killed and not running in background then after tapping on link, not receiving params dictionary; Just getting [+is_first_session: 0, +clicked_branch_link: 0]

Please guide in this regards either i am missing to do some thing?

Following is

[2016-12-06 15:30] E-B-Smith commented on #518
Hi!

Make sure you always return `true` from your `func application(application: UIApplication, didFinishLaunchingWithOptions launchOptions: [NSObject: AnyObject]?) -> Bool` function.

I'll improve our documentation about this.  I think the Apple documentation mentions this but doesn't highlight the importance of returning `true` from this function.

[2016-12-06 15:30] #518 closed

[2016-12-06 16:21] shafqat-muneer commented on #518
Thanks for your reply; I am always returning `true` at the end of `func application(application: UIApplication, didFinishLaunchingWithOptions launchOptions: [NSObject: AnyObject]?) -> Bool` function. But its not working. Is there any other possibility?

[2016-12-06 16:38] E-B-Smith commented on #518
See our [Swift TestBed project](https://github.com/BranchMetrics/ios-branch-deep-linking/tree/master/Branch-TestBed-Swift) for an example of integrating Branch into a Swift app.  You may pick up some detail that you're missing.

Are you using Facebook login too?  Facebook might be eating you deeplink?

You can post your whole `func application(application: UIApplication, didFinishLaunchingWithOpti

[2016-12-06 16:47] shafqat-muneer commented on #518
You are right; I am using Facebook Login; What's the solution for that? Thanks.

Following is my complete method:

[code]

[2016-12-07 01:25] E-B-Smith commented on #518
Move this line:

[code]

after this line:

[code]

You need to initialize your session first!

[2016-12-07 09:58] shafqat-muneer commented on #518
You are absolutely right; That was causing the problem in redirection; Its now working perfectly after moving it down after `initSessionWithLaunchOptions`.
There is no Facebook Login issue.

Thanks again for pointing out this issue that i was missing during debugging.

[2016-12-07 14:40] E-B-Smith commented on #518
@shafqat-muneer No problem!  I missed it too the first time I looked at the code!

[2016-12-12 12:49] Fosile commented on #305
I am experiencing the same issue. I check at every App start, if there is a some DeepLink Data and open a specific Controller or the default Controller. But no matter what, everytime my Controller is fully loaded, i ask for Push and Location Permission, and for each Permission  the `initSessionWithLaunchOptions` is called again. So its get called 3 time in a row!

[2016-12-12 19:04] E-B-Smith commented on #305
I am going to re-open this issue since it was never really resolved before.  It's related to issue #210.

@ahmednawar Can you provide your solution for this to @Fosile? Hopefully it will get them going until we provide a real fix for this.

[2016-12-13 14:30] Fosile commented on #305
This is my Code and especially `[self handleDefaultAppStart:launchOptions]` is called way too often, also when the app comes from background to foreground and also when i ask for Permission.

[code]

[2016-12-13 16:27] E-B-Smith commented on #305
The additions to your code may solve your problem.  They're commented with 'Branch':

[code]

[2016-12-14 09:12] Fosile commented on #305
Thank you very much for the quick response. Simple but effective. Everything is working as expected now!

[2016-12-14 15:57] E-B-Smith commented on #305
Glad it works!

[2016-12-14 15:57] #305 closed

[2016-12-14 17:51] brynbodayle opened #520 "BNCDeviceInfo Significantly Impacting App Launch Time by Getting User Agent"
On app launch, BNCDeviceInfo gets the user's user agent by using a UIWebView here https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-SDK/Branch-SDK/BNCDeviceInfo.m#L87

This is problematic because using a UIWebView like this takes a significant amount of time in the context of app launch times. Apple recommends 400ms as a good target for total app launch time here:
http://

[2016-12-14 18:02] E-B-Smith commented on #520
Thanks for your feedback.  Let me look at some ways to make have less of an impact.

[2016-12-15 22:13] hudsonnj opened #521 "0.12.20 - Build error when using in app extension (iMessage)"
Updated to 0.12.20 and I'm now getting build error(s) when using Branch in an iMessage app extension.

The error is related to referencing [UIApplication sharedApplication] in the BNCStrongMatchHelper.m class.

BNCStrongMatchHelper.m, line 277:
self.primaryWindow = [[UIApplication sharedApplication] keyWindow];

Error:
'sharedApplication' is unavailable: not available on iOS (App Extension) - Use

[2016-12-15 23:42] E-B-Smith commented on #521
Sorry about that - I'll have a fix for this in our next build.

[2016-12-16 00:41] hudsonnj commented on #521
No worries, thanks for getting back to me!

[2016-12-17 15:51] ancloid opened #523 "Please rename SDK_VERSION const in BNCConfig"
It conflicts with other Frameworks (for example with HeyzapAds)
I guess BNC_SDK_VERSION it is more appropriate name for this const

[2016-12-17 16:02] E-B-Smith commented on #523
Good catch!  I'll update this in the next release.

[2016-12-20 00:02] jlagomar opened #527 "0.12.20: -[BNCMatchViewController_Safari viewControllers]: unrecognized selector sent to instance"
When I delete the app on my device then install it from Xcode getting this crash:
`-[BNCMatchViewController_Safari viewControllers]: unrecognized selector sent to instance`

After the first launch/crash everything seems to work okay on subsequent launches. Went to `0.12.19` and the error doesn't seem to occur.

[2016-12-20 00:11] E-B-Smith commented on #527
Thank you for reporting this. Can you crash call stack too?

[2016-12-20 00:26] jlagomar commented on #527
Apologies, looks like the call is from our code.  Have some code where this controller slipped in that looks something like this:

[code]

Not sure exactly what's going on but it looks like we can fix it on our end.

[2016-12-20 00:34] E-B-Smith commented on #527
Ah!

Let me know how you fix it.
Thanks!

[2016-12-20 00:34] #527 closed

[2016-12-21 17:16] E-B-Smith commented on #521
Fixed in version 0.12.21.

[2016-12-21 17:17] E-B-Smith commented on #520
I am testing a fix for this.  I expect this to be included in the 0.12.21 release.

[2016-12-21 17:18] E-B-Smith commented on #523
Fixed in version 0.12.21.

[2016-12-22 22:32] E-B-Smith commented on #523
This issue has been fixed in SDK version 0.12.21.

This version has been QA tested and is available as a beta release.

Information about the Branch beta program can be found [here, on Github.](https://branch.app.link/Beta-Info)

[2016-12-22 22:33] E-B-Smith commented on #521
This issue has been fixed in SDK version 0.12.21.

This version has been QA tested and is available as a beta release.

Information about the Branch beta program can be found [here, on Github.](https://branch.app.link/Beta-Info)

[2016-12-22 22:33] E-B-Smith commented on #520
This issue has been fixed in SDK version 0.12.21.

This version has been QA tested and is available as a beta release.

Information about the Branch beta program can be found [here, on Github.](https://branch.app.link/Beta-Info)

[2016-12-23 17:48] brynbodayle commented on #520
Looks great! Thanks for doing this.

[2016-12-30 08:40] AnilkumarRabhasa opened #533 "Recently I integrated to my project, but while run time, i am getting BAD EXCESS error in swift"
I am using swift latest version, but, my app getting issue as BAD EXCESS in the following line.

        let branch: Branch = Branch.getInstance()
its happening didfinishapplaunching delegate method.
How to fix this?

[2016-12-30 10:03] AnilkumarRabhasa opened #534 "initSession this method never going inside in app delegate, didfinishlaunchwithoptions"
let branch: Branch = Branch.getInstance()
branch?.initSession(launchOptions: launchOptions, andRegisterDeepLinkHandler: {params, error in
    if error == nil {
        // params are the deep linked params associated with the link that the user clicked -> was re-directed to this app
        // params will be empty if no data found
        // ... insert custom logic here ...
        print("params: %

[2016-12-30 17:23] E-B-Smith commented on #533
Did you set your Branch key or have your Branch key in your Info.plist?

You can see a Swift example here, in our TestBed-Swift app:  [TestBed-Swift on Github](https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-TestBed-Swift/TestBed-Swift/AppDelegate.swift#L15)

[2016-12-30 17:23] #533 closed

[2016-12-30 17:28] E-B-Smith commented on #534
Are you setting up your deep link correctly?   Also, try setting `automaticallyDisplayDeepLinkController` to false and see what happens.

Here's an example in Swift: [TestBed-Swift](https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-TestBed-Swift/TestBed-Swift/AppDelegate.swift#L15)

[2016-12-30 17:28] #534 closed

[2017-01-06 03:51] n8tr opened #540 "Carthage Framework does not build (0.12.22)"
Repro:
- update to version iOS SDK 0.12.22 via carthage
- try to build app
- Branch.h fails to build with #import "BNCCommerceEvent.h" not found

<img width="600" alt="screen shot 2017-01-05 at 10 51 33 pm" src="https://cloud.githubusercontent.com/assets/1009324/21707018/8aa7288c-d399-11e6-923e-457008216629.png">

<img width="400" alt="screen shot 2017-01-05 at 10 52 19 pm" src="https://cloud.gith

[2017-01-06 14:58] andris-zalitis commented on #540
I have the same issue. Currently resolved just by pointing `Cartfile` to the previous release:
`github "BranchMetrics/ios-branch-deep-linking" "0.12.20"`

[2017-01-06 15:46] E-B-Smith commented on #540
I made that header public in the new release, version 0.12.23.

[2017-01-06 15:46] #540 closed

[2017-01-06 15:46] #523 closed

[2017-01-06 15:47] #521 closed

[2017-01-06 15:47] #520 closed

[2017-01-10 12:42] rablador opened #542 ""'BNCCommerceEvent.h' file not found" when installing via Fabric"
I get an error saying "'BNCCommerceEvent.h' file not found" in Branch_SDK.h when trying to install via Fabric.

Latest version of Branch.
Latest version of Fabric.
Latest version of Xcode.
Latest version of Swift.

[2017-01-10 15:38] E-B-Smith commented on #542
Thanks for the heads up!   The new release, version 0.12.24, fixes this.

[2017-01-10 15:38] #542 closed

[2017-01-13 12:19] SebC99 opened #546 "Is there a way to force shortURL to use https?"
Hello,
We use https everywhere but the Branch generated links (short or long) are always using http. We could replace the string to force https, but is there a better way to force Branch to generate https links?
Thanks!
S.

[2017-01-13 18:43] E-B-Smith commented on #546
There's got to be a better way, right?

I think that https should be the default, or at least an option.  I'm talking with the backend team about the ramifications about changing this.  There could be some weird edge cases that I don't know about before changing this.

[2017-01-14 11:46] itchingpixels opened #548 "Crash on BNCServerInterface.m line 158 -[BNCServerInterface genericHTTPRequest:retryNumber:log:callback:retryHandler:]"
Hi,

We've seen 55 of these crashes coming from Branch in the last 7 days (10k sessions per day).

![branch-crash-1](https://cloud.githubusercontent.com/assets/5416288/21954635/ee895ec2-da4e-11e6-80fd-a529f0c02bc4.png)

[2017-01-14 11:56] itchingpixels commented on #548
http://crashes.to/s/117dea8947c

[2017-01-14 15:57] E-B-Smith commented on #548
Thanks for the heads up.  I'm looking into this now.

Which version of the SDK are you using?

[2017-01-14 16:08] itchingpixels commented on #548
hi!

thank you.
we're using the latest version ( - v0.12.24)
On 2017. Jan 14., Sat at 15:57, Edward Smith <notifications@github.com>
wrote:

[2017-01-16 16:34] itchingpixels opened #551 "Crash at BNCServerInterface.m line 246 -[BNCServerInterface prepareParamDict:key:retryNumber"
http://crashes.to/s/19c9d4afe0c
<img width="1280" alt="branch_crash_1" src="https://cloud.githubusercontent.com/assets/5416288/21991220/92cd35d8-dc09-11e6-9067-01825dcdcd4d.png">

[2017-01-16 16:35] itchingpixels commented on #551
Latest SDK version. Was getting a crash also when launching the simulator. Can be also reproduced in production, see link above the screenshot.

[2017-01-16 16:36] itchingpixels opened #552 "Crash at BNCServerInterface.m line 296 -[BNCServerInterface updateDeviceInfoToMutableDiction..."
http://crashes.to/s/2d57bf7dab3

<img width="1280" alt="branch_crash_2" src="https://cloud.githubusercontent.com/assets/5416288/21991299/e654cc52-dc09-11e6-83cb-6ed86c0b5a28.png">

Latest SDK version (v0.12.24). Was getting a crash also when launching the simulator. Can be also reproduced in production, see link above the screenshot.

[2017-01-16 17:41] ahmednawar commented on #548
@itchingpixels I am unable to reproduce any of the crashes you've reported. Could you please send us your Branch-related code so that we can take a look? Feel free to send it to integrations@branch.io and reference the github issue in the email. Also we have a [Swift Testbed](https://github.com/BranchMetrics/ios-branch-deep-linking/tree/master/Branch-TestBed-Swift) that you can take a look at as a

[2017-01-16 20:53] itchingpixels commented on #548
Thank you. The testbed project looks exactly how we have Branch integrated.
Is there anything I can do? We're also seeing another crash that can be connected (affecting a lot more users - 2-3% of the sessions). It appeared at the same time as the others.
http://crashes.to/s/117dea8947c

We're investigating the latter - I'm not sure if it's connected.

We'd love to sort these out as soon as possibl

[2017-01-16 21:06] ahmednawar commented on #548
We had changes in this version related to `preferenceHelper`, however, we don't have any reports of crashes lately.

1. What was the version prior to 0.12.19 that you were running?
2. Is it possible to share the code with us?

[2017-01-16 21:37] itchingpixels commented on #548
1. Actually, I may got myself confused regarding when this crash appeared. Let me investigate it a bit more closely, I'll get back to you tomorrow!
2. Happy to share it (isn't really touching any of the business logic):
[branch-related-code.txt](https://github.com/BranchMetrics/ios-branch-deep-linking/files/709438/branch-related-code.txt)

[2017-01-17 15:12] itchingpixels commented on #548
Are you guys online now? I've got a crash in the simulator - debugger is paused currently:)

[2017-01-17 15:17] itchingpixels commented on #548
![branch-crash-2](https://cloud.githubusercontent.com/assets/5416288/22026218/17ee4db0-dcc8-11e6-8621-e575726bc167.png)

[2017-01-17 15:25] itchingpixels commented on #548
by looking at the stack trace (block_copy, block_object_assign, etc), I'd point to the unconventional static? declaration of NSURLSessionCompletionHandler at the top of BNCServerInterface.m.
is there any reason why it isn't simply a local variable?

[2017-01-17 15:29] itchingpixels commented on #548
I'm gonna submit a pull request with that now.

[2017-01-17 22:04] ahmednawar commented on #548
@itchingpixels Unfortunately, I am still unable to reproduce.

1. Are you initializing Branch in the main thread or the in an operations queue?
2. Would it be possible to create a quick sample project with Branch integrated and see if you can reproduce? If so, could you please send us the sample project if you manage to reproduce?

Sorry for the headache :(

[2017-01-17 22:36] itchingpixels commented on #548
Hi!

I had a close look at the stack trace of the screenshot above, and realised that [Branch initalizeSession] is called when I call Branch.getInstance().loadRewards...
But that should not happen, since Branch should have been initalized by then. But I just realised that that's probably not the case in this instance (loadRewards() is called before initSession()).

I guess that's the cause of the

[2017-01-18 00:26] ahmednawar commented on #548
Actually this should still work. If you call a branch method before initializing first, we will initialize under the hood and the call to init afterwards will be a no-op. Perhaps try to not call loadRewards before and see if it doesn't crash in your local env? Maybe there are some conditions where our approach fails.

[2017-01-18 00:38] eliasbagley opened #553 "params doesn't contain url when is_first_session = 1"
I have a case where if the app is installed for the very first time, and then a branch link is clicked, the Branch SDK params has "is_first_session" = "1", and doesn't include any information about the url that was clicked. If I click the link again, "is_first_session" = "0", and then the url information is present in the params. Is there a reason why the url isn't being included with the params f

[2017-01-18 11:19] itchingpixels commented on #548
Hi!

Thanks for the info.
Looking through the code, I have a hypothesis that may have some holes in, but I'll describe it anyway:

1. After Branch is initalized (which requires an internet connection, so it's inherently asynchronous, as far as I can see), isInitialized is set to true. That means you can have two initSessions in progress at the same time, because the isInitalized boolean is used to

[2017-01-18 11:24] itchingpixels commented on #548
At the same time, I modified our code and we'll be calling initSession first. At the same time, we're still calling them one after the other, potentially within miliseconds.

[2017-01-18 11:43] itchingpixels commented on #548
PR submitted for #1.

[2017-01-18 17:46] ahmednawar commented on #548
Thanks a lot for the analysis and the PR! We will review and potentially add to our next release.

Were you able to test the PR on your app and see if it mitigated any of the crashes?

[2017-01-18 17:55] ahmednawar commented on #553
@eliasbagley could you please share how you are testing? Are you testing on a Wi-Fi network with lots of other people clicking at the same time?

Can you also send your branch_key to integrations@branch.io?

[2017-01-18 22:19] itchingpixels commented on #548
I'll definitely do that, but unfortunately our next release is 7 days away. I think I'll be able to confirm if this fixes the problem.
If you guys could have a look at the feasibility of point 2 (recommendation section), that would be great, too.

Will report back as soon as I know something! This is mission critical for us at the moment, since we also see another crash that's really similar to th

[2017-01-19 14:50] SebC99 commented on #546
any news about this?

[2017-01-19 17:42] ahmednawar commented on #546
@SebC99 We've been working on this transition for a while but it's a big change so it's taking a while. Note that we already generate links on https if they are branch domains (bnc.lt and app.link). We only generate http links on custom domains and then redirect to https version on a branch domain. Hopefully we will roll this out soon. Hang tight, more to come!

[2017-01-20 12:19] E-B-Smith commented on #548
Thank you for all your work on this!

I've merged your fix plus some other fixes into our beta branch.   You can read about our beta program and the beta branch here:  https://branch.app.link/Beta-Info

I can't test the SDK fully at the moment, but the small amount of testing I've done seems good.

I think you will be able to pull the code from the beta branch for your upcoming release.

[2017-01-20 12:21] E-B-Smith commented on #552
See comment for [issue #548](https://github.com/BranchMetrics/ios-branch-deep-linking/issues/548#issuecomment-274059520) .

[2017-01-20 12:21] E-B-Smith commented on #551
See comment for [issue #548](https://github.com/BranchMetrics/ios-branch-deep-linking/issues/548#issuecomment-274059520) .

[2017-01-20 12:21] E-B-Smith commented on #548
See comment for [issue #548](https://github.com/BranchMetrics/ios-branch-deep-linking/issues/548#issuecomment-274059520) .

[2017-01-20 13:56] itchingpixels commented on #548
That's great news, thank you!
We'll be using the beta version in our next release (going out on the 25th of Jan)!

Will report back about the results:)

[2017-01-20 17:51] ahmednawar commented on #548
@itchingpixels i am going to close the crash issues for now since Ed released the beta with the fix you've suggested + some more. If you are still noticing crashes, feel free to re-open.

Thanks for all your help!

[2017-01-20 17:51] #548 closed

[2017-01-20 17:51] #551 closed

[2017-01-20 18:14] ahmednawar commented on #546
This is actually not an SDK issue but more of a backend one. We will add it to our product update email once it's live. Closing here.

[2017-01-20 18:14] #546 closed

[2017-01-27 23:03] E-B-Smith commented on #553
@eliasbagley  Do you have anymore insight into your problem?

When I click a Branch link for a first-time install, I get "is_first_session" = "1" and the URL information  in the session params.  Maybe there is something special in your set up?

[2017-01-29 18:25] SSheldon opened #559 "Warning: Non-portable path to file "BranchViewHandler.h""
Xcode 8.3 introduces new warning checks, including `nonportable-include-path` which warns when imports use different case than the actual files.

This warning is triggered in the BranchViewHandler.m file:
[code]

Looks like it's because the import of the header file uses a lowercase h, I'm assuming this fix is just:
[code]

[2017-01-29 19:35] mohitongit commented on #548
Glad that I found this thread. I recently released an update to my iOS app and updated Branch to 0.12.24 (was 0.12.20). Since then, I have been experiencing these CF Network crashes. I am not experienced and couldn't find much info from crashlytics reports. The crashes are similar to the second url (http://crashes.to/s/117dea8947c) posted by @itchingpixels

[2017-01-29 22:21] E-B-Smith commented on #559
Thank you!  That is it.  It's easy to miss this on the OS X case-insensitive files systems.

[2017-01-29 22:24] E-B-Smith commented on #548
Did you try the Branch beta release that fixes this?  It's an immediate fix for this problem.

Here's info about our beta program: https://branch.app.link/Beta-Info

Otherwise, I'm going to finish the QA work on the beta branch and release to master early this week.

[2017-01-29 22:51] mohitongit commented on #548
Yes, I have updated the app and it is waiting for review. I was unable to reproduce the crash at my end. I'll let you know how it goes.

[2017-01-30 19:39] E-B-Smith commented on #559
Patched with PR #560.

[2017-01-30 19:39] #559 closed

[2017-01-30 19:39] #553 closed

[2017-01-31 13:14] mohitongit commented on #548
Hi! I had updated to 0.12.25 beta as per the docs. 147 users updated and just now received a new crash:

[code]

[2017-01-31 20:03] E-B-Smith commented on #548
I've since both master and beta branches to 0.12.26 which will solve this exact problem.

[2017-01-31 20:04] itchingpixels commented on #548
We haven't seen crashes from Branch since upgrading to the beta. Sample size over 50k devices.

[2017-01-31 20:08] mohitongit commented on #548
Ok @E-B-Smith, will update the app to 0.12.26 maybe next week, only this one crash reported so far for 0.12.25 beta.

[2017-01-31 20:14] E-B-Smith commented on #548
Excellent!  Thanks for reporting back.  I really appreciate the feedback.

[2017-02-01 12:12] tnurov opened #562 "Branch.io + Spotlight"
Hello!

**First way**
I created more than 100 objects use this code

[code]

All callbacks was with url..
But I could find only a few objects in Spotlight.

**Second way**

I used new code for this objects

[code]

All objects added in Spotlight.

But

1.
 If I sent my objects to Branch and closed app. Branch SDK saved queue. After reopen sent request and had response with branch-links. Object Bra

[2017-02-01 12:37] tnurov commented on #562
And 3.

I send  to Branch one object 3 times and I have 3 link in Spotlight

[2017-02-01 18:05] E-B-Smith commented on #562
It looks like something fishy is going on.  Let me look into this and get back to you.

Thank you for the heads up.

[2017-02-02 06:02] Miteshimmply opened #563 "Created Test App but Domain Link Is not working"
I have created Test Application after Registration @ Website. I created Test application with Live And i also Use Branch-Key and put in Plist File with LinkDomain, I also add URI Schema but when i try to open app via Branch Domain Link named "tryone.app.link" it convert to http://tryone.app.link , it says File not found.

Setting in Plist File :
<key>branch_app_domain</key>
	<string>tryone.app.lin

[2017-02-02 21:44] E-B-Smith commented on #563
So you get a '404 - File Not Found' when you click the link?

Did you set your entitlements file up?  Make sure you've set up your associated domains:

[code]

[2017-02-03 07:14] Miteshimmply commented on #563
But i am not using enable universal link.

[2017-02-03 19:17] E-B-Smith commented on #563
This is an app integration issue.  I can see that you're working with our app integration team on this. I'll leave you in their very capable hands.

[2017-02-03 19:17] #563 closed

[2017-02-08 16:50] sheshans opened #564 "BNCEncodingUtils.m line 199"
We are getting lot of crashes from branch sdk mostly on iPhone 7 plus devices.

http://crashes.to/s/ca911aacdcd

[2017-02-08 16:54] E-B-Smith commented on #564
Thanks for the heads up. I'll look into this ASAP.

[2017-02-08 23:15] E-B-Smith commented on #564
Do you have any more insight into this crash?

I can't reproduce this with an iPhone 6 Plus on 10.2.1 or an iPhone 7 Plus Simulator using 10.2.
I'm calling -[Branch userCompletedAction:withState:] and this looks good, even when stress testing.

[2017-02-09 10:09] sheshans commented on #564
Currently we are also trying to figure this out. But, we have not been able to reproduce the bug. 50 - 60% of crashes in our App are caused by this issue.

[2017-02-09 18:54] E-B-Smith commented on #564
Are you able to test on an actual iPhone 7 Plus on 10.2.0?   It looks like most of the crashes are from that.  It would be weird if it were that OS / model specific, but it's possible.

[2017-02-09 19:36] E-B-Smith commented on #564
I tested a bunch with an actual iPhone 7 Plus on 10.2.0 and got no insight into this.

[2017-02-13 09:14] sheshans commented on #564
We do not have access to iPhone7 Plus. We tried testing on different simulators but, we are not able to reproduce this issue. But our users are still facing this issue. Any help in debugging this issue will be of great help. Just for your info our code base is swift2.3

[2017-02-13 16:00] E-B-Smith commented on #564
I can't reproduce this either, even on an iPhone 7 Plus.  But I'm looking into it.  It's frustrating.

Do you compile the Branch SDK or use Carthage?  Are you using Xcode 7 or Xcode 8?

[2017-02-14 09:11] sagariosdev opened #566 "App Crashes on open"
After Updating Branch Pod to
  - Branch (0.12.27): app frequently  crashing in app launch

Here is a log we get on Crashlytics
Crashed: com.apple.root.user-initiated-qos
0  libobjc.A.dylib                0x113419d2b objc_release + 11
1  Funkida                      0x10dab98b4 -[BranchOpenRequest makeRequest:key:callback:] (BranchOpenRequest.m:82)
2  Funkida                      0x10daa9608 __30-[

[2017-02-14 12:28] sagariosdev opened #567 "App Crashes on Launch"
App Not crashing in debug mode
I am working with Objective-c iOS 10.2 and after updating pod to   - Branch (0.12.27):
issue is raised

NSMutableDictionary+Branch.m line 32
-[NSMutableDictionary(Branch) bnc_safeAddEntriesFromDictionary:]

Crashed: com.apple.root.user-initiated-qos
0  libobjc.A.dylib                0x10a3bdacb objc_msgSend + 11
1  libobjc.A.dylib                0x10a3bbb12 objc_obje

[2017-02-14 15:25] E-B-Smith commented on #566
Thanks -- I'll look into these crashes.

My testbed doesn't crash when launching / app opens.  Are you using any special Branch features?  Are you using the content discovery manifest feature?  What version of Xcode / Swift are you using?

[2017-02-14 15:26] E-B-Smith commented on #567
Thanks.  To repeat what I said in the other comment, are you using any special Branch features?  Are you using the content discovery manifest feature?  What version of Xcode / Swift are you using?

[2017-02-15 04:01] jigneshiosdev commented on #566
@E-B-Smith We are using deep linking and deep link generation while share not any other features.

[2017-02-15 04:06] jigneshiosdev commented on #567
@E-B-Smith We are using deep linking and deep link generation while share not any other features.

we are working on Objective-C with Xcode 8.2 and iOS 10.2

And Every time app not crashes, Frequently crashes the app

[2017-02-15 04:28] E-B-Smith commented on #566
@jigneshiosdev How are you initializing the Branch SDK?

[2017-02-15 05:25] jigneshiosdev commented on #566
@E-B-Smith I already told that after updating pod
Old pod is   - Branch (0.12.1) and it working fine
and now Branch (0.12.27) is installed via pod

 `   Branch *branch = [Branch getInstance];
    //[branch setDebug];

    [branch initSessionWithLaunchOptions:launchOptions automaticallyDisplayDeepLinkController:YES];`

[2017-02-15 06:17] E-B-Smith commented on #567
@jigneshiosdev When you build and run the Branch-TestBed, does it crash for you?

[2017-02-15 07:08] sheshans commented on #564
We use Cocoa pods to add Branch SDK to our project and use Xcode7.3

[2017-02-15 09:15] jigneshiosdev commented on #567
Process:               App [6876]
Path:                  /Users/USER/Library/Developer/CoreSimulator/Devices/525532DD-28D1-46AB-8C8F-1CF59C754C01/data/Containers/Bundle/Application/CB0086B1-19D4-4FA4-A9B4-53A0041C19F6/App.app/App
Identifier:            App
Version:               2.0.2 (2.0.0)
Code Type:             X86-64 (Native)
Parent Process:        launchd_sim [532]
Responsible:           App

[2017-02-15 12:42] nehasharma1101 commented on #197
I am also facing the problem with Gmail. The subject & body is taking same value as of body..
Is there any solution for this error.. I did R&D but didn't find anything.

[2017-02-16 06:49] jigneshiosdev commented on #567
Any Update?

[2017-02-16 08:33] tnurov commented on #562
@E-B-Smith hello!

Yes, actions is very strange. I used Spotlight functional in other project with older version Branch SDK and it was absolutely simple.
Do you have result of research?

Thank you for your help!

[2017-02-16 18:23] E-B-Smith commented on #567
It seems like you're overriding some linker build flags.

The build flags from the CocoaPod are:
[code]

The `-ObjC` flag makes sure that all objective-c classes and extensions are loaded at run time.

There are a few other linker flags that will aggressively strip code that the linker thinks is not used.  Those flags might be causing you trouble too.

[2017-02-16 18:25] E-B-Smith commented on #566
This is a duplicate of #567 .  Let's continue the discussion there.

[2017-02-16 18:25] #566 closed

[2017-02-16 18:26] E-B-Smith commented on #564
Let me test with Xcode 7.3...

[2017-02-16 18:28] E-B-Smith commented on #567
What compiler version are you using?  I've been testing with Xcode 8.2.1.

[2017-02-16 19:12] E-B-Smith commented on #564
@sheshans Xcode 7.3 or 7.3.1?

[2017-02-16 22:39] mohitongit commented on #552
Hi, I updated to 0.12.27 (from 0.12.25 beta) and am experiencing
`[BNCServerInterface updateDeviceInfoToMutableDictionary:] at /Pods/Branch/Branch-SDK/Branch-SDK/BNCServerInterface.m:318`
crash on both simulator and real device randomly on launch.

[2017-02-16 22:44] E-B-Smith commented on #552
@mohitongit
What are your linker settings? Do you include

[code]

[2017-02-16 22:50] mohitongit commented on #552
Yes, I do. It looks like this:
`$(inherited) -ObjC -l"GoogleAnalytics" -l"c++" -l"icucore" -l"sqlite3" -l"stdc++" -l"xml2" -l"z" -framework "AVFoundation" -framework "AddressBook" -framework "AssetsLibrary" -framework "AudioToolbox" -framework "Bolts" -framework "Branch" -framework "CFNetwork" -framework "CoreData" -framework "CoreFoundation" -framework "CoreGraphics" -framework "CoreImage" -frame

[2017-02-17 02:50] sheshans commented on #564
Sorry, my bad its 7.3.1

[2017-02-17 02:59] E-B-Smith commented on #564
Okay. I'm testing on 7.3.1.

[2017-02-17 05:13] sagariosdev commented on #567
@E-B-Smith Linker flag not caused that

`- (void) bnc_safeAddEntriesFromDictionary:(NSDictionary<id<NSCopying>,id> *)otherDictionary ` In this method I getting immutable dictionary  so while addEntriesFromDictionary it crashes so I changed the following before adding to `addEntriesFromDictionary` and Crash is gone.
Does it make sense?

Why this happen I don't know but It solve my issue.

- (void)

[2017-02-17 09:26] mohitongit commented on #551
Received this same crash on v0.12.25 beta on iPhone 7 simulator:
`[metadata addEntriesFromDictionary:self.preferenceHelper.requestMetadataDictionary];`

[2017-02-17 10:54] mohitongit commented on #552
Just now experienced the same crash even on 0.12.25 beta on iPhone 7 simulator:
`dict[BRANCH_REQUEST_KEY_HARDWARE_ID_TYPE] = deviceInfo.hardwareIdType;`

[2017-02-17 16:03] mohitongit commented on #552
This time, (0.12.25, iPhone 7 simulator) crash on this line:
`[self safeSetValue:deviceInfo.vendorId forKey:BRANCH_REQUEST_KEY_IOS_VENDOR_ID onDict:dict];`

[2017-02-17 16:14] E-B-Smith commented on #552
Thanks for the heads up.  I'm looking into this now.

[2017-02-17 17:13] E-B-Smith commented on #552
The latest version of beta is 0.12.29.

Do a `pod update` to get the latest version.

[2017-02-17 17:13] #552 closed

[2017-02-17 17:23] mohitongit commented on #552
Ok, but this was fixed in 0.12.25 beta - isn't it? Is it fixed now in 0.12.29?

[2017-02-17 17:37] E-B-Smith commented on #552
Yes.

[2017-02-17 17:55] E-B-Smith commented on #567
Awesome.  Thanks.  That is weird.  But I've added this to the next release.

[2017-02-17 17:55] #567 closed

[2017-02-20 21:29] CurlyHeir opened #574 "Functional testing / UITests - branch configuration"
I would like to test if app behaves well, when opened from deeplink.

Our app strongly relays on deeplinks, testing that isn't easy job. Instead of wrapping branch SDK and do some tricky stuff in dependency container, I'd like to setup branch with different url (mock server for instance, like WireMock).

What do you thing about this idea? should i make feature request or just pull request?

[2017-02-21 17:21] tomislav opened #575 "BTNApplicationContinueUserActivityRestorationHandler crash"
Since updating to version 0.12.27 we've been getting a lot of crashes related to `BTNApplicationContinueUserActivityRestorationHandler`

Signal: SIGSEGV: SEGV_ACCERR at 0x616fabeb8
Reason: objc_msgSend() selector name: setResponseSerializer:

Here is a stack trace of one of the crashes: http://pastebin.com/1jaB9pRt

[2017-02-21 17:22] tomislav commented on #575
Sorry wrong repo :)

[2017-02-21 17:22] #575 closed

[2017-02-21 20:39] E-B-Smith commented on #574
I know this is hard to test because I test this all the time!

Do you simply want to change the Branch API URL at runtime?

I can add an option to set the Branch API URL in the app's info.plist.  When the SDK initializes it can check the info.plist for a Branch Server API URL.  If it's set, it will use that URL, otherwise it will fall back to the default Branch URL.

[2017-02-21 21:21] CurlyHeir commented on #574
Yes, i'd like to have possibility of configuration in runtime, literally i want to have possibility to simulate app opening from _deeplink_.
My entire flow:
1) In applicationDidFinishLaunchingWithOptions i injected parameters passed from _UITests_ via _LaunchArguments_ and _LaunchEnvironment._. I created another implementation of AppDelegateProtocol for UITests, that is added only to target that U

[2017-02-22 00:17] E-B-Smith commented on #574
How about I simply add the method `- (void)  setAPIBaseURL:(NSString*)baseURL` to the preference helper?

[2017-02-22 00:38] CurlyHeir commented on #574
if that will work out then why not? something like
```[[BNCPreferenceHelper preferenceHelper] setAPIBaseURL: @"example_url"];```
looks harmless and convenient 👍

[2017-02-22 22:57] E-B-Smith commented on #574
I added the property `branchAPIURL` to `[BNCPreferenceHelper preferenceHelper]` so that the Branch API URL can be set for testing.

This fix is available now on the `beta` branch of the Branch iOS SDK repo and will be merged to the master branch after more testing and feedback.

Here is some information about the `beta` branch and our beta program in general: [Branch beta program.](https://branch.

[2017-02-22 22:57] #574 closed

[2017-02-24 10:59] racer1988 opened #579 "Cannot build with Carthage"
Cannot build with Carthage

[code]

`carthage update --no-use-binaries`

[code]

I think the solution is:
- Choose Product > Scheme > Manage Schemes.
- Select the Shared option for the scheme to share, and click OK.

on the branch that is broken

[2017-02-24 13:45] racer1988 commented on #579
Fixed in Carthage 0.19.1

[2017-02-24 13:45] #579 closed

[2017-03-01 09:28] tspent opened #583 "Adding Branch as a depedency on another Cocoapod, static library error"
Hi,

when trying to add Branch framework as a dependency on another pod, the pod install commands complains: target has transitive dependencies that include static binaries

Are there any plans to convert the Branch framework to a dynamic library?

[2017-03-01 18:33] marsepu opened #584 "Crash in -[BNCServerInterface updateDeviceInfoToMutableDictionary:] -BNCServerInterface.m line 306"
Here's the stack trace

[code]

[2017-03-01 21:04] E-B-Smith commented on #584
This is fixed in version 0.13.5 of the SDK!

[2017-03-01 21:04] #584 closed

[2017-03-02 15:05] chapayGhub opened #585 "Crash on iOs 8.3 iPhone 5s during first launch"
Hi

Guys I need help (((

We have a crash in app this is steps for reproducing:
I can reproduce it only when released app installed as ipa
1 Delete app from device
2 open referal url that will redirect to appstore app's page
3 Install application
4 launch it
5 Crash

Our App uses Xamarin Branch, but i see in crash log calling form Objc branch code before crash

[code]

This issue already posted to

[2017-03-02 16:32] E-B-Smith commented on #585
Thanks for all the traces.  I'll look at this and see if I can reproduce this on our end.  When did this problem start?

[2017-03-02 17:28] stephengrandex opened #586 "Unrecognized selector error when calling delayInitToCheckForSearchAds"
Calling [[Branch getInstance] delayInitToCheckForSearchAds] results in the app crashing due to a "unrecognized selector sent to instance..." error.

[2017-03-02 18:07] E-B-Smith commented on #586
This crash seems like you might have missed adding some Branch SDK files to your project.

What version of the Branch SDK are you using? What iOS version? Are you including the iAD framework in your project?

Can you send a stack trace?

[2017-03-02 18:46] E-B-Smith commented on #585
I added a fix for this in PR #587.

[2017-03-02 18:46] #585 closed

[2017-03-02 18:52] stephengrandex commented on #586
Thanks so much for responding so fast.

-Branch SDK version: 0.13.5
-iOS version: I've received the error using deployment both targets 9.0 and 10.2. My simulator is running on 10.2.
-Yes, I have included the iAd.framework. If helpful, below are all of the libraries I have included in the project:
AdSupport.framework
iAd.framework
CoreTelephony.framework (optional)
Contacts.framework
libz.tbd
libs

[2017-03-02 18:59] E-B-Smith commented on #586
The method `delayInitToCheckForSearchAds` is an instance method, not a class method.  Try:

[code]

or in Swift:

[code]

[2017-03-02 19:33] stephengrandex commented on #586
Continuing to get the error. Here is the code I from my didFinishLaunchingWithOptions method:
[code]

-[Branch delayInitToCheckForSearchAds]: unrecognized selector sent to instance 0x60000011d5b0
2017-03-02 13:29:31.596 Rowdy Gent copy[35044:6327249] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[Branch delayInitToCheckForSearchAds]: unrecognized selector se

[2017-03-02 21:45] ekimia opened #589 "Undefined symbols for architecture arm64"
Installation done via Carthage.

[code]

[2017-03-02 21:48] ekimia commented on #589
AH I see what the issue is. I dont think i can live with a bridging header in my all swift project so ill submit a PR.

[2017-03-02 22:19] ekimia commented on #589
Closing given PR https://github.com/BranchMetrics/ios-branch-deep-linking/pull/590 solves this.

[2017-03-02 22:19] #589 closed

[2017-03-03 00:25] E-B-Smith commented on #564
I have been testing on an iPhone 7 Plus and can't see any crashes.

I suggest pulling the latest version of the SDK and seeing if that helps.

Also, see if you can use Xcode 8 to compile your code.  It could easily be a compiler problem in that older version.

[2017-03-03 00:25] #564 closed

[2017-03-03 15:18] E-B-Smith commented on #586
How are you linking to the framework?

[2017-03-03 20:30] stephengrandex commented on #586
Branch is included to my project via Cocoapods and #import "Branch/Branch.h" in appDelegate.m where this code resides.

[2017-03-03 20:40] E-B-Smith commented on #586
Can you build and run the Branch-TestBed example?

[2017-03-06 11:00] tspent commented on #583
Hey,

it's not a warning. It's an error, preventing from building an internal framework.
We have an internal framework/pod that we use (link) as a base for our apps, that is linked against Branch.

When adding Branch as a dependency in the .podspec file of our internal framework, Cocoapods spits out an error that Branch's framework is build as a static library and not dynamically.

The error:
`tar

[2017-03-09 19:02] E-B-Smith commented on #586
This seems very much like a linking problem in your project.  You can re-open this issue if you're still having problems.

[2017-03-09 19:02] #586 closed

[2017-03-09 19:04] E-B-Smith commented on #583
I am looking in to this -- It's something I'd like to do in the near future, but since this library is used by so many people I want to get a feeling for the impact before simply changing it.

[2017-03-14 23:03] warpling opened #596 "loadRewardsWithCallback and redeemRewards:forBucket:callback are not called on the main thread"
Based on crashes I'm receiving it seems somewhere after `0.12.20` that `loadRewardsWithCallback:` or  `redeemRewards:forBucket:callback:` might have started running its callback on a thread other than main? I'm trying to absolutely confirm that this was not a change with my code but if anyone familiar with the code base knows I'd be much apprecaited!!

[2017-03-14 23:18] warpling commented on #596
Seemed to be fixed in `0.12.50`! Can close but would love to confirm with someone that I wasn't crazy for seeing this in `0.12.30`…

[2017-03-15 16:44] E-B-Smith commented on #596
I made sure that the call backs happen on the main thread in release 0.13.5.

[2017-03-15 16:44] #596 closed

[2017-03-15 21:05] warpling commented on #596
Exactly what I noticed. Thanks for the confirmation. I'll work on using reward history to remedy the rewards I previously crashed delivering to my users.

[2017-03-15 21:06] E-B-Smith commented on #596
Oh man, sorry about that.

[2017-03-15 21:18] warpling commented on #596
Hopefully it's something a test gets added for in the future on both ends eh? ;)
It'd definitely a bit of a headache but luckily since the creditHistory does exist I should be able to roughly fix it using date ranges. There isn't a way to check the SDK version the rewarded was redeemed by is there?

[2017-03-15 21:20] E-B-Smith commented on #596
Not easily.  How many do you think there are?

[2017-03-15 21:27] warpling commented on #596
~13k credits for ~11k users. If it requires anything crazy don't worry about it, I think the date range thing—although potentially messy—should be sufficient.

[2017-03-15 22:12] E-B-Smith commented on #596
I'm not sure I could improve the search much beyond a date range.

[2017-03-15 23:18] warpling commented on #596
No worries! I'll see what I can do.

[2017-03-22 15:25] kunass2 opened #602 "How do I access metadata when branch link was clicked and opened my app...?"
This is how I prepare and share branch link to the users:

            let branch = BranchUniversalObject(canonicalIdentifier: UUID().uuidString)
            branch.title = self.territory.name
            branch.metadata = self.territory.dictionary

            let properties = BranchLinkProperties()
            properties.controlParams = self.territory.dictionary

            branch.getShortUrl(w

[2017-03-22 15:42] E-B-Smith commented on #602
You can check the link parameters, including any metadata, in the deep link handler you set when you initialize Branch with `initSession` in your application's `application:didFinishLaunchingWithOptions:` method.

Also, make sure your app delegate `continueUserActivity` method passes the user activity to Branch:

[code]

[2017-03-22 16:19] kunass2 commented on #602
Don't understand... what if my app is in the background mode? And then I tap the link from iMessage (for example)... didFinishLaunching is not called then. I need to do sth in my app, when my app is opened from a branch link. What do I do is determined by metadata... but how can I access it? Could you show me an simplest example?

[2017-03-22 16:28] E-B-Smith commented on #602
Yes -- Look at the examples included in this repo, either Branch-TestBed or Branch-TestBed-Swift.

There's also the Branchster project you can look at here: [Branchster.](https://github.com/BranchMetrics/Branch-Example-Deep-Linking-Branchster-iOS)

[2017-03-22 16:33] kunass2 commented on #602
thank you...

[2017-03-22 16:48] kunass2 commented on #602
Works perfect:) One more question...

I get a warning: `[Answers] Event attribute values must be of type NSString or NSNumber.`. What does it mean?

[2017-03-22 16:59] E-B-Smith commented on #602
NSString and NSNumber are obj-c types that are bridged to Swift. The Swift equivalents are regular strings and numbers.

Here's what Apple says:  https://developer.apple.com/library/prerelease/content/documentation/Swift/Conceptual/BuildingCocoaApps/WorkingWithCocoaDataTypes.html

Maybe you're assigning a dictionary or array to the Answers event attribute value?

[2017-03-22 17:01] kunass2 commented on #602
Yes, here:

    branch.metadata = self.territory.dictionary

I assign to metadata dictionary with values as: strings, ints, arrays

[2017-03-22 17:29] jdee commented on #602
Hi @kunass2. Metadata keys and values must be strings. Unfortunately, the SDK doesn't always limit these properly. Assigning anything other than a `[String: String]` in Swift ought to be a compilation error, but isn't. There is also a BUO method `addMetaDataValue(_: String, key: String)` that properly enforces this. We can probably improve this in future releases, but for now, please limit metadat

[2017-03-22 18:00] kunass2 commented on #602
ok... but what is the other way to pass array to branch link?

[2017-03-22 18:41] jdee commented on #602
@kunass2 You probably just have to serialize and deserialize it yourself. You could use an extension like this:

[code]

[2017-03-23 15:41] #602 closed

[2017-03-28 16:36] kunass2 opened #604 "Universal link with branch.io doesnt work with iPhone when it works with iPad"
My App is in production now, and within my app I create a Universal link using **branch.io** and share it to other users using for example iMessage. Example link below I got from my friend is below:

- [![enter image description here][1]][1]

I have the app from App Store installed on both devices: iPad and iPhone. Now the above link I tap on iPad and everything is fine. My App is opened I can cat

[2017-03-28 16:53] jdee commented on #604
Hi @kunass2. Can you provide a sample link that is failing? That might be the fastest way to find the problem.

Another quick thing you can test: Mail yourself the link and then open the mail message in the iOS Mail app on the device. Long-press the link in the mail message. That should show you a menu. There should be two options: _Open in "Field Service" App_ and _Open in Safari_. If you select

[2017-03-28 16:55] kunass2 commented on #604
sample link: https://fieldserviceios.app.link/nmiuHCLYSB, now i will do your test.

[2017-03-28 17:01] kunass2 commented on #604
OK, I did what you say.
- share the link with myself via MAIL APP
- do long press, present context menu and choose _open in field service app_ (the link was opened in my app)
- then I get back to messages App and tap the link: (it also opens my app...)

Why there is a difference?

[2017-03-28 17:29] jdee commented on #604
Your test results mean that it's an instance of a known problem. Apple discontinued support for custom URI redirects in iOS 9.2. Once a user chooses to direct your domain to Safari, Branch cannot force a link back to the app if the app is installed. I wrote up [an explanation](https://github.com/BranchMetrics/react-native-branch-deep-linking/issues/110#issuecomment-282893587) in another GitHub iss

[2017-03-29 21:32] #604 closed

[2017-03-30 16:42] markmark1 opened #607 "the links expires no matter what exp_date or expiration_date is sent for the text me the app feature please help"
If there is a bug or error in this repo, please file the issue here.
https://dev.branch.io/features/text-me-the-app/guide/ the links expires no matter what exp_date or expiration_date is sent for the text me the app feature please help
If you need assistance integrating a Branch SDK, please email support@branch.io. Thank you.
https://dev.branch.io/features/text-me-the-app/guide/

[2017-03-30 19:05] markmark1 commented on #607
https://bnc.lt/clOk/d/Sgn1TPNdHx https://bnc.lt/zpOk/d/bmwTi3CTLx https://bnc.lt/clOk/d/YM7OZMBrVx example expired links from sms

[2017-03-30 21:56] E-B-Smith commented on #607
What was the solution?

[2017-03-30 22:00] markmark1 commented on #607
No solution yet 😳

On Thu, Mar 30, 2017 at 2:56 PM -0700, "Edward Smith" <notifications@github.com> wrote:

What was the solution?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-30 22:45] markmark1 commented on #607
On Thu, Mar 30, 2017 at 3:00 PM -0700, "markmark1" <notifications@github.com> wrote:

No solution yet 😳

On Thu, Mar 30, 2017 at 2:56 PM -0700, "Edward Smith" <notifications@github.com> wrote:

What was the solution?

—

You are receiving this because you authored the thread.

Reply to this email directly, view it on GitHub, or mute the thread.

—
You are receiving this because you are subscribed

[2017-03-30 23:19] markmark1 commented on #607
https://image.ibb.co/c0Ycka/IMG_3085.png They delete every week so how to make a link that doesn't expire

[2017-03-30 23:28] markmark1 commented on #607
How to have links that don't expire
On Thu, Mar 30, 2017 at 4:19 PM markmark1 <notifications@github.com> wrote:

[2017-03-30 23:58] E-B-Smith commented on #607
I checked in the back end.  Right now the text-me-the-app links expire at 7 days.

This is something it seems we might re-visit in the future, but right now that's how it is.

Sorry about that.  Maybe send the link with a fall back message?

[2017-03-30 23:58] #607 closed

[2017-03-31 00:01] markmark1 commented on #607
Ed how to make it so links don't expire is there another means of generating a link 

On Thu, Mar 30, 2017 at 4:58 PM -0700, "Edward Smith" <notifications@github.com> wrote:

I checked in the back end.  Right now the text-me-the-app links expire at 7 days.

This is something it seems we might re-visit in the future, but right now that's how it is.

Sorry about that.  Maybe send the link with a fal

[2017-03-31 00:02] markmark1 commented on #607
Is there a way to generate links wo text me method thanks 

On Thu, Mar 30, 2017 at 4:58 PM -0700, "Edward Smith" <notifications@github.com> wrote:

I checked in the back end.  Right now the text-me-the-app links expire at 7 days.

This is something it seems we might re-visit in the future, but right now that's how it is.

Sorry about that.  Maybe send the link with a fall back message?

—
You are

[2017-03-31 06:22] lucianocn opened #610 "[Crash] Release 0.14.9"
XCODE Version 8.3 (8E162)
IOS 10.3

Updated from 0.13.5 to 0.14.9:

<img width="910" alt="screen shot 2017-03-31 at 03 21 29" src="https://cloud.githubusercontent.com/assets/3828136/24538704/2d6fb9ee-15c1-11e7-98c6-e53193dd3986.png">

[2017-03-31 17:16] E-B-Smith commented on #610
I am releasing a fix for this now.  What platform are you running on?

[2017-03-31 17:54] E-B-Smith commented on #610
This is fixed in release 0.14.10.

I still want to know what platform are you were running on and the kind of app distribution are you using.  I am curious because I didn't see this in my tests.

[2017-03-31 17:54] #610 closed

[2017-03-31 18:59] lucianocn commented on #610
I tested with my iPhone 7 iOS 10.3
Running the app into debug mode and also with branch debug key.

Do you need more info?

[2017-03-31 21:19] E-B-Smith commented on #610
Are you developing a special type of application?  Like an iMessage extension or iWatch app?

[2017-04-01 06:16] lucianocn commented on #610
@E-B-Smith No, it's a default obj-c iOS application.

[2017-04-01 06:18] lucianocn commented on #610
@E-B-Smith It's a default iOS application that also have an iMessage extension.
But the Branch SDK is only used in the main app.

[2017-04-05 05:09] adeb6600 opened #612 "branch.framework 0.14.10 build failed"
If there is a bug or error in this repo, please file the issue here.
branch.framework 0.14.10 failed to build
BranchShareLink.h not found
If you need assistance integrating a Branch SDK, please email support@branch.io. Thank you.

[2017-04-05 05:23] E-B-Smith commented on #612
How are you integrating Branch into your project?  Through direct integration, CocoaPods, or Carthage?

[2017-04-06 05:31] Caiopia commented on #612
I'm also getting this error with 0.14.10. It seems like `BranchShareLink.h ` is not in `Branch.framework/Headers/`. Adding it there seems to fix it for me.

[2017-04-06 16:22] E-B-Smith commented on #612
Fixed in release 0.14.11.

[2017-04-06 16:22] #612 closed

[2017-04-26 19:35] edenman opened #620 "getShortUrl never calls callback"
I recently switched to using Branch to generate the referral links when one user of my app wants to invite their friends:
[code]

sometimes I call getShortUrl and it just never calls the callback (I don't see any "Failure to build branch link" or "Got a valid branch referral link" messages in the logs).  If it matters, here's how I'm initializing the session:

[code]
I don't see any "Unable to reg

[2017-04-26 22:40] E-B-Smith commented on #620
Sorry you're having problems!

So you're unable to reproduce the problem on your phone, but other users are having problems.

All users, or just some users? Also, are you testing with a Branch live key or a test key?  Are you shipping the code to users with the live or test key?

[2017-04-26 22:54] edenman commented on #620
@E-B-Smith
1) I'm not sure if it's all users or some users: i don't currently have any logging around the success case.  I'll add this to my next dot release.
2) I'm testing with a live key
3) I'm shipping the code to users with the same live key

[2017-04-26 23:07] E-B-Smith commented on #620
It seems like you're using the right keys. And you're making the call to `Branch.getInstance().initSession(...)` in `application:didFinishLaunchingWithOptions` before doing any other Branch thing, right?

The callback won't get called if the `getShortUrl` call to the Branch servers to generate the link hasn't completed and the user kills the app.  The short link will still get generated but the ca

[2017-04-26 23:49] edenman commented on #620
I don't think it's a "if the call hasn't completed and the user kills the app" situation.  There's some code in my app that polls the "get my referral code" endpoint every 30s.  If it's changed (or if the Branch link hasn't been generated yet) we generate a new Branch link.  For one of these users, I see logs where the Branch link is nil, so we try to create it every 30s, and every time we don't g

[2017-04-27 01:01] E-B-Smith commented on #620
Thirty seconds is probably too short a timeout on mobile, especially if the network conditions are poor.

Plus, the Branch SDK will retry the request automatically if there is a recoverable network failure.

Try a retry timeout of 90 seconds or more.

[2017-04-28 00:35] E-B-Smith commented on #620
I think this will work for you and explains why it works for you (on a good network) but fails in real life.

If you continue to not see call backs let me know.

[2017-04-28 00:35] #620 closed

[2017-05-02 14:58] edenman opened #622 "NSRangeException: *** -[__NSArrayM getObjects:range:]: range {0, 5} extends beyond bounds [0 .. 3]"
Sounds like it's probably a race condition when persisting the request queue to disk?
Branch pod 0.14.12
iPhone 7Plus running iOS 10.3.1
[code]

[2017-05-02 16:21] E-B-Smith commented on #622
That's exactly it: A race condition I've fixed this in the latest version, version 0.15.0.

Version 0.15.0 is in beta release right now if you want to try it out.  It solves this problem along with some other race conditions and other issues discovered while fixing the unit tests.

The Branch iOS Beta program: https://branch.app.link/Beta-Info

[2017-05-02 16:21] #622 closed

[2017-05-03 15:13] edenman commented on #622
I'll just wait for it to get to public release.  Thanks!

[2017-05-04 03:25] alexsanderkhitev opened #623 "App crash"
Hello! Thanks for the wonderful framework. I use the Branch SDK for deep links to the iOS application. The problem appears in the following cases if you send a deep link to a third-party application (for example, Slack, Facebook) quickly, then an app crash occurs. The console shows the following result `[core] SLComposeViewController dealloc <SLComposeViewController: 0x11fbf03a0>.`  How can I fix

[2017-05-04 18:05] E-B-Smith commented on #623
Thank you for the compliment!  Sorry to hear about your crash.

Have you tried the new `BranchShareLink` class to share Branch universal objects? It has more flexibility and may solve your crash problem.

Your app needs to hold on to a reference to the BranchUniversalObject that you just created until the sharing the object.  The new  `BranchShareLink` class automatically does this for you.

Feel

[2017-05-04 18:05] #623 closed

[2017-05-06 06:05] alexsanderkhitev commented on #623
Hello @E-B-Smith thank you for response.

I did as you said, but when I send a deep link on the side of the application (like Slack, Facebook), I sometimes get an app crash. Tell me please, what needs to be corrected, what would it not be.

[code]

Logs

[code]

[2017-05-08 14:01] E-B-Smith commented on #623
Here's an example:

https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-TestBed-Swift/TestBed-Swift/ViewController.swift#L215-L240

[2017-05-09 06:56] kunass2 opened #624 "Cannot attach imageData as String"
I create it like this:

                let imageData = UIImagePNGRepresentation(image)
                var dictionary = [AnyHashable: Any]()
                dictionary["imageData"] = imageData?.base64EncodedString()

                let branch = BranchUniversalObject(title: address.title)
                branch.metadata = ["territory": dictionary]
                branch.getShortUrl(with: BranchLi

[2017-05-09 14:12] E-B-Smith commented on #624
Try using a `BranchShareLink` object to share your link, which handles much of the complexity of presenting a UIActivityViewController for you.  Here's an example:

https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-TestBed-Swift/TestBed-Swift/ViewController.swift#L242-L273

To add an image to a shareLink, assign the UIImage to `shareLink.shareObject`,  like this:

[code]

[2017-05-09 14:24] kunass2 commented on #624
How does it work when I need to share an image along with dictionary? Will it work if an image will be under "image" key in this dictionary?

[2017-05-09 14:51] E-B-Smith commented on #624
You can't share image data directly in the Branch link, but you can share a URL to an image with a Branch link, like this:

[code]

If you want to include an image in the UIActivityViewController you can use the example I provided above.

[2017-05-09 15:07] kunass2 commented on #624
I think it is not what I expect. I need to access that image from within an app when someone tap that link and open my app.

[2017-05-09 15:19] E-B-Smith commented on #624
What exactly are you trying to do?

[2017-05-09 19:45] kunass2 commented on #624
Ok, simply I developed an app... and inside that app I attach objects called `Terrritories`. Every territory has some parameters: name, location, addresses, status, image (selected from Photos). Such territory can be shared to other user with Universal linking. Thanks Branch.io I can create a link and associate with them some info. So I do it like this and it works... but only simple parameters (w

[2017-05-09 21:12] E-B-Smith commented on #624
You should probably keep image data on your own servers and just send a URL to that image in the Branch link.  Otherwise the Branch link data gets too big and really slows down the network traffic and makes for a bad user experience.

Otherwise, you can include the image as one of the activityItems in the UIActivityViewController.

[2017-05-09 21:12] #624 closed

[2017-05-09 21:14] kunass2 commented on #624
Thanks for your help:)

[2017-05-09 21:28] E-B-Smith commented on #624
Good luck!

[2017-05-11 08:28] alexsanderkhitev commented on #623
@E-B-Smith thanks

[2017-05-23 07:12] hitendradeveloper commented on #562
First thing first,
I have integrated branch framework using Fabric app on 21st May 2017, drag and drop install.
I am sharing link using iMessage and opening the same from the iMessage for the test.

I am phasing the same issue, using the `BranchUniversalObject *object`
[code]

Also opening the url

[2017-05-25 17:27] E-B-Smith commented on #562
This sounds like it's connected to an issue that Parth @parthkalavadia  and I are looking at now.
We'll update you all with what we find.

[2017-06-04 15:03] roimulia opened #638 "Using Branch pod with 'Legacy Swift Language Version' ( Swift 2.3)"
Hey!
Due to unfortunate circumstances our iOS app (which is mainly Objective-c based) running Swift 2.3, on xCode Version 8.2.1. Until now we were using Branch version  '0.12.13'. When I was trying to 'pod update Branch', it worked. But it complained about the Swift version we are using.
If there is no other solution, other than updating our Swift version to 'Swift 3.0', we will, but we are trying

[2017-06-04 16:59] E-B-Smith commented on #638
The Branch SDK works just fine with Swift 2.3.

Somewhere in a subproject a compiler flag for Swift 3.0 is set, somewhere in example code, and that is making the whole pod require Swift 3.0.

You can safely make the project use Swift 2.3 and in the meantime I'll figure out which project is causing the issue.

Are you including the pod as a dynamic library or are you compiling it?

Thanks for the h

[2017-06-04 16:59] #638 closed

[2017-06-05 07:13] roimulia commented on #638
Hey @E-B-Smith , Thank you for the fast response!
I'm not 100% sure, but I think we are using it as a dynamic library because i'm declaring 'use_frameworks!' at the start of my podfile.
 I will wait for your respond about where the flag is set, thank you Smith!
----

One question tho, I'm a bit confused.
After doing 'pod update Branch', when checking the 'Branch' pod directory inside xCode, I'm on

[2017-06-05 20:59] E-B-Smith commented on #638
I just built a Swift 2.3 version of our testbed app and didn't have a problem with the Swift version -- Neither Xcode nor CocoaPods complained about any version problems.

This is the pod file I used:
[code]

I did a `pod install` and a `pod update` and I am using Xcode 7.3.1 to compile.

[2017-06-07 21:17] ric2z commented on #583
bump — I'm having the same issue.

`framework not found Branch for architecture x86_64`

[2017-06-22 05:32] brunolemos opened #640 "Test key not being used even with setDebug"
### Even after calling setDebug:

[code]

### And configuring the test key:

![image](https://user-images.githubusercontent.com/619186/27418646-d0aa79f6-56f2-11e7-8fd5-d289b786f23d.png)

### Only the live key is loaded

![image](https://user-images.githubusercontent.com/619186/27418669-039376b0-56f3-11e7-8f60-b5261cd2206f.png)

Am I doing anything wrong or is this a bug?

[2017-06-22 17:13] E-B-Smith commented on #640
Yes, you're doing it wrong.  But only because we made it hard to do it right.

To test using the test key, delete the `branch_key` dictionary.

Then add back a `branch_key` with just the `key_test...` as a string value.

Remember to change `branch_key` to the `key_live...` for production!

I've been meaning to make this easier and saner for a while.  I'll do that this afternoon.

Sorry for the con

[2017-06-22 23:19] brunolemos commented on #640
The most intuitive way for me is for it to use the test key if I used `setDebug` and the live key if not. This way I don;t need to "remember to change to production", it will just work for both debug and release.

`AppDelegate.m`
[code]

`RNBranch`
`if setDebug then testKey else liveKey`

[2017-06-22 23:28] jdee commented on #640
It looks like you're using the react-native-branch SDK. You also need to call `[RNBranch useTestInstance]` before calling anything else, i.e.:

[code]

The `setDebug` method just determines whether the SDK will simulate install events, not whether the test instance is used.

We recently introduced support for an optional `branch.json` file to control these things in the `react-native-branch` repo.

[2017-06-22 23:32] brunolemos commented on #640
@jdee Got it, thanks.

[2017-06-22 23:32] #640 closed

[2017-06-24 14:48] hatebyte opened #644 "BNCDeviceInfo.m line 81 CRASH"
If there is a bug or error in this repo, please file the issue here.

If you need assistance integrating a Branch SDK, please email support@branch.io. Thank you.

App is crashing on launch when it requests device info. Mostly occurs with iOS 9 and below but the issue has risen drastically in the last few days.

[branch_crash.txt](https://github.com/BranchMetrics/ios-branch-deep-linking/files/10998

[2017-06-24 20:27] E-B-Smith commented on #644
Sorry to hear about your crashes!

We haven't updated that part of the SDK in a few months, and I don't have any other reports of crashing in that part of the code. I've tested it on iOS 7,8,9,10 and 11 devices.  So I'm a little perplexed about your problem.

Which version of the Branch SDK are you using? Are these crashes isolated to a particular kind of device?  Have you tried updating to the la

[2017-06-24 21:00] hatebyte commented on #644
@E-B-Smith
We are using `Branch (0.12.16)` via  `mParticle-BranchMetrics (6.11.0)`.
Curiously, there was similar crash in Mixpanels' SDK this week, also when they we collecting device properties. They have since patched it, but it does seem odd to me that 2 SDKs would have such a tightly related problem in this close a time frame.

We will try updating to the latest. Looks like `Branch (0.15.3)` v

[2017-06-24 21:24] E-B-Smith commented on #644
The issue in that Mixpanel stack trace doesn't look related.

You can see the area of the code that is crashing here:

https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-SDK/Branch-SDK/BNCDeviceInfo.m#L61-L85

We get the country and local differently depending on the iOS version.  Maybe there's something about those particular devices?  How much of an increase are you seei

[2017-06-26 08:08] heruohuan commented on #644
I also appeared in my application the same procedure Fenbu, do not know is the Branch of the bug
[branch_crash.txt](https://github.com/BranchMetrics/ios-branch-deep-linking/files/1101451/branch_crash.txt)

[2017-06-26 08:10] heruohuan commented on #644
I also appear in my application, the same program crashes, do not know the branch bug
[branch_crash.txt](https://github.com/BranchMetrics/ios-branch-deep-linking/files/1101453/branch_crash.txt)

[2017-06-26 18:37] E-B-Smith commented on #644
Thanks for the extra information.

I'm working on this now.  If you have any more information about this please send it along!

[2017-06-26 18:39] hatebyte commented on #644
Actually @E-B-Smith, I followed up with marketing, and in fact it is as it seems. Its quite possible the campaign generated more users outside of the US than we have ever done before. So the noticeable uptick in crashes is indeed very tightly linked to the locale for sure.

thanks for acting so quick on this.

[2017-07-06 16:25] E-B-Smith commented on #644
I have a fix for this that is being tested now.  I'll post again when the fix is available.

[2017-07-13 17:40] E-B-Smith commented on #644
This is fixed in release 0.16.2.

[2017-07-13 17:40] #644 closed

[2017-07-23 14:02] alexsanderkhitev opened #655 "Branch does not open the App Store link"
Hi! I use Branch to create deep links. I added a new control parameter ios_has_app_url and ios_url. Clicking on the deep link when the application is installed then everything works correctly, but if you click on the deep link when the application is not installed on the device then during startup, I see that the browser instead of opening ios_url (App Store link), it tries to open ios_has_app_url

[2017-07-24 15:03] ahmednawar commented on #655
@alexsanderkhitev Have you reset your browser cookies after uninstalling the app?

The way it works is that we tie a browser cookie with the app. Unfortunately, we don't have ways to detect uninstalls right now so after deleting the app, we still think you have it because the cookie still exists in the browser. This is a scenario that is usually more common in testing than with real users. Hope th

[2017-07-24 17:58] itaispector opened #656 "-[BNCServerInterface updateDeviceInfoToMutableDictionary:] crash log"
Hi!

I'm using latest version and been getting these crash logs lately
[code]
[code]

Any idea what might be the reason?

[2017-07-24 18:04] E-B-Smith commented on #656
Thanks for the report.  This has been a tricky crash for us to track down.   We have a beta release that we think will fix this.  Can you reproduce this?

I'll update you when the beta release is ready for testing.

[2017-07-25 18:23] jdee commented on #656
Hi @itaispector. Beta release 0.17.0 is available in the `beta` branch in this repo. Here is some general information on the beta project and releases: https://github.com/BranchMetrics/ios-branch-deep-linking/wiki/The-Branch-SDK-Beta-Project.

This includes some changes that may have an impact on this problem and should help gather more information. We have heard of this crash from some other part

[2017-07-25 18:31] itaispector commented on #656
@jdee Hi Jimmy!

Thank you very much for the fast response!

You are right about that I can't reproduce it, this crash log came from our production version. As we use Branch deep links, the cause that you've mentioned might be that issue.

For your information, the use of your beta version will only take effect in our next release which is about 2-3 weeks more than now, so I don't know if that wou

[2017-07-27 10:01] mignick opened #661 "Crash in BNCLog.m line 321"
Hi!
We've updated to 0.16.2 and now see tens of crashes in production.
![screen shot 2017-07-27 at 11 56 10](https://user-images.githubusercontent.com/34469/28665170-1012ece0-72c3-11e7-8f5d-dbebd63fa5b6.png)

[2017-07-27 16:34] E-B-Smith commented on #661
Thanks for reporting this issue!

Sorry you're having crashes.  I'm looking into this now.

[2017-07-27 16:53] E-B-Smith commented on #661
Question:  Do you have file protection turned on?

[2017-07-27 17:48] mignick commented on #661
No, it's off.

[2017-08-02 17:46] bkovaly opened #672 "Crash in BranchOpenRequest.m line 121"
Getting occasional crashes in the BranchOpenRequest. Currently using 0.15.3 of the app. I'm going to update to the latest, but I didn't see any changes to this file since 0.15.3 or any crash fixes in the change logs that might be related.

BranchOpenRequest.m line 121-[BranchOpenRequest processResponse:error:]
--

[__NSDictionaryM length]: unrecognized selector sent to instance 0x10bb2dc70

I do n

[2017-08-02 17:53] E-B-Smith commented on #672
Thanks for reporting the issue.  I'm tracking this down now and I'll let you know when I publish a fix.

[2017-08-02 21:02] E-B-Smith commented on #672
This crash is due to some bad data being passed back from the Branch back end server.  This isn't happening now, but there may have been some bad code in the past that did this by mistake.

I added a guard for session data. Sometimes the session data is not stringified (an error on the backend) but this guards against a crash in the SDK in the future.

[2017-08-02 21:21] bkovaly commented on #672
Awesome! Thanks for the speedy turn around! When you say "bad code in the past", how recent do you mean? Looks like we've had 93 crashes in the last 24 hours for this. Just want to make sure there isn't an existing issue on the backend that hasn't been fixed :)

[2017-08-02 21:22] E-B-Smith commented on #672
I'll talk to the back end guys about this again!

[2017-08-02 21:56] E-B-Smith commented on #672
Are you running a campaign in a new country or region that may have 1) old versions of the app 2) a different string encoding?

You can email me at esmith@branch.io.

[2017-08-04 14:37] glennposadas commented on #362
Hi guys, I'm currently looking for a solution to this. Care to help? `didFinishLaunchingWithOptions` doesn't get invoke when returning to the app quickly from any platform such as NOTES app, rather the `applicationDidBecomeActive` is the one which gets called. So therefore I can't get the deeplinked data.

[2017-08-04 14:50] E-B-Smith commented on #362
Did you add these lines to your app?

This is the obj-c version, but our documentation shows the Swift version too:

[code]

[2017-08-04 16:53] glennposadas commented on #362
Thank you, @E-B-Smith . I have implemented the `continueUserActivty`. Didn't know about that. HOWEVER, I'm still not sure if it really helps. Because when I was testing, there was one time that it didn't work. But meh. Don't have much enough time and who does what I do like testing out the deeplinking capability of an app back and forth lol.

Glenn

[2017-08-04 17:19] E-B-Smith commented on #362
Implementing `continueUserActivty` will do the trick.  Testing deep linking is tedious because lots of things can go wrong.  That's why people use Branch, I think: we do lots of tedious testing so you don't have to.

If you have other problems, open an issue so it gets proper visibility.

[2017-08-04 20:10] E-B-Smith commented on #655
Thanks for the info, Ahmed.  I'm going to close this out since this seems to have answered the question.

[2017-08-04 20:10] #655 closed

[2017-08-05 05:11] alexsanderkhitev commented on #655
@ahmednawar , @E-B-Smith Thanks for the answers, sorry that I did not answer, yes I solved my problem. Thank you!

[2017-08-08 15:26] dostrander commented on #672
Hey @E-B-Smith when are you going to cut the next release. I would like to get the commit with you adding guards to the data coming back in ASAP.

[2017-08-08 16:18] E-B-Smith commented on #672
I'm putting the SDK through the QA regimen now and it will be out today.  I'll post here and elsewhere when it's released.

[2017-08-08 16:28] dostrander commented on #672
Great, thank you!

[2017-08-09 00:15] E-B-Smith commented on #672
This issue has been fixed in release v0.17.3.
See the release notes at https://github.com/BranchMetrics/ios-branch-deep-linking/releases/tag/0.17.3

[2017-08-09 00:15] #672 closed

[2017-08-09 00:15] E-B-Smith commented on #661
This issue has been fixed in release v0.17.3.

See the release notes at https://github.com/BranchMetrics/ios-branch-deep-linking/releases/tag/0.17.3

[2017-08-09 00:15] #661 closed

[2017-08-09 00:16] E-B-Smith commented on #656
This issue has been fixed in release v0.17.3.

See the release notes at https://github.com/BranchMetrics/ios-branch-deep-linking/releases/tag/0.17.3

[2017-08-09 00:16] #656 closed

[2017-08-09 20:16] dostrander opened #680 "Branch + Fabric crashing on startup"
Getting this as I'm upgrading from 0.11.16 to 0.17.5. Not sure how to fix since I am not using fabric

`[Fabric] Value of Info.plist key "Fabric" must be a NSDictionary.'`

[2017-08-09 20:30] E-B-Smith commented on #680
Thanks for reporting the issue.  I think I know what this is and can get a fix for you pretty quick.

Are you using Crashlytics?

[2017-08-09 20:30] dostrander commented on #680
Yeah I am

[2017-08-09 20:37] E-B-Smith commented on #680
Crashlytics requires Fabric now.  Are you using an old version of Crashlytics?

[2017-08-09 20:44] E-B-Smith commented on #680
And did you add your Fabric key?

https://fabric.io/kits/ios/crashlytics/manual-install?step=0

[2017-08-09 21:15] dostrander commented on #680
So I have 1 (let's call it targetA) target using crashlytics and has the correct information in the info.plist. I also have another target (targetB) that has fabric within the project (because it's cocoapods) however doesn't actually use it at all.

From what I can see, you check to see if the Fabric class is there and if it is you try to do your own fabric config internally? I'm not 100% sure.

[2017-08-09 21:21] E-B-Smith commented on #680
We are loosely linking to both Fabric and Crashlytics.

If Fabric is linked then we track some user events in Fabric.

If Crashlytics is linked then we track the SDK version and some debugging information in Crashlytics.

Crashlytics requires Fabric as a dependency. So you should include Fabric and your Fabric key in the project that is using Crashlytics too.

[2017-08-09 21:27] dostrander commented on #680
Ok yeah that answers my question. The problem I am running into is `TargetB` has Fabric/Crashlytics linked however, doesn't have any configuration nor doesn't use it whatsoever. Is there a way to opt-out of the fabric/crashlytics stuff even if we have it linked?

[2017-08-09 21:27] jdee commented on #680
If you're not using Crashlytics in a target, you can also omit it in your Podfile for that target.

[code]

[2017-08-09 21:28] dostrander commented on #680
that is definitely a possibility. However, trying to avoid that if possible, for not very good reasons… haha

[2017-08-10 22:53] E-B-Smith commented on #680
Were you able to resolve this?

[2017-08-11 10:36] mhemmings opened #682 "setAppleSearchAdsDebugMode not working"
We have implemented `setAppleSearchAdsDebugMode` exactly as mentioned in the docs and running on a clean simulator (10.3.1). The same behaviour also happens on a device.

When trying to log the dummy debug data, nothing is getting returned other than the default:
[code]

Our logging code:
[code]

In addition, no attribution appears in the Branch dashboard

[2017-08-11 14:21] alexsanderkhitev opened #684 "Address Sanitizer gives an error in Branch."
Hello! I ran the manage scheme with the Address Sanitizer enabled and I get an error right away when the application starts.

![bnclog m 2017-08-11 17-55-15](https://user-images.githubusercontent.com/12511909/29216974-62ff1032-7ec1-11e7-8fd9-0b92c8baeda4.png)

[2017-08-11 16:17] E-B-Smith commented on #684
Thanks for the screen shot.  The fix is PR #685.

https://github.com/BranchMetrics/ios-branch-deep-linking/pull/685

I'll update the master repo today.

[2017-08-11 16:59] E-B-Smith commented on #682
Testing Apple Search Ads can be tricky. Make sure that:

1. You've included the iAd and AdSupport frameworks in your project.

2. We only check for Apple Search ad attribution the first 30 days from the day the app was installed.  You can simulate this by removing the app from your phone or simulator, then re-running the app.  Branch will delay the init and check for Apple Search ad attribution.

[2017-08-11 17:53] E-B-Smith commented on #684
I've updated the master branch and made a new release.

Thanks for the report!

https://github.com/BranchMetrics/ios-branch-deep-linking/releases/tag/0.17.6

[2017-08-11 17:53] #684 closed

[2017-08-14 12:11] javialgaba opened #686 "Branch does not include header BNCError.h"
With latest release (0.17.6), I get a warning in my project:
`<module-includes>:1:1: Umbrella header for module 'Branch' does not include header 'BNCError.h'`

For instance, with previous version (0.16.2) everything was ok. I'm using **carthage** to install Branch.

Thanks in advance!

[2017-08-14 16:16] E-B-Smith commented on #686
Thanks -- I'll make sure that this is included correctly.

[2017-08-15 17:56] #680 closed

[2017-08-15 17:58] mhemmings commented on #682
Haven't had chance to check this as our iOS lead is away. I'll reopen if we carry on seeing the same thing 😃

[2017-08-15 18:00] E-B-Smith commented on #682
Okay, please do.

I'm able to get the test Search Ads results if I follow the steps above.

[2017-08-17 09:47] developweb10 opened #690 "When i try to update pod then getting error in app//"
[self.universalObject userCompletedAction:BNCShareCompletedEvent];
![screen shot 2017-08-17 at 3 17 04 pm](https://user-images.githubusercontent.com/7962363/29406637-3867f1c0-835f-11e7-9455-1f19ad80b808.png)

[2017-08-17 16:02] E-B-Smith commented on #690
That's odd.  I pulled the pod and all my projects built okay.

Are you using including the pod as a frame (use_frameworks! in your podfile)?  Any other clues for me to diagnose this?

[2017-08-21 15:09] E-B-Smith commented on #690
Please re-open if you're still having problems!

[2017-08-21 15:09] #690 closed

[2017-08-22 11:41] mhemmings opened #692 "setUseTestBranchKey causes crash"
Branch 0.17.9
iOS Simulator 10.3

[code]

[2017-08-22 16:21] E-B-Smith commented on #692
I'm sorry to hear about your crash.

Here's how I have it set up and it works for me:

<img width="661" alt="screen shot 2017-08-22 at 9 18 48 am" src="https://user-images.githubusercontent.com/1229047/29575992-2b743112-871b-11e7-8e5a-8690d1a94c36.png">

And I have the keys defined in my Info.plist  file:

<img width="566" alt="screen shot 2017-08-22 at 9 19 23 am" src="https://user-images.githubu

[2017-08-22 16:22] E-B-Smith commented on #692
I hope this works for you.  If you have any more information about your crash let me know.

[2017-08-23 08:36] mhemmings commented on #692
![screen shot 2017-08-23 at 09 27 10](https://user-images.githubusercontent.com/5692567/29606466-51d77f14-87e6-11e7-8d1a-d3c1c57e8eef.png)
![screen shot 2017-08-23 at 09 34 28](https://user-images.githubusercontent.com/5692567/29606468-530effa6-87e6-11e7-9cf2-aa6712c5ac6c.png)

Setup looks OK by my eyes? It's line 35 where the crash occurs, which seems very strange. Any pointers on how to workout

[2017-08-23 08:57] Formerly opened #694 "Infinite loop"
pod 'Branch'

  pod 'Braintree'
  pod 'Braintree/DataCollector'
  pod 'Braintree/Venmo'
  pod 'Braintree/Apple-Pay'

iOS8 Start the jammed.Have libraries conflict?

[2017-08-23 09:26] E-B-Smith commented on #692
Do you see any messages in the log?

[2017-08-23 09:34] E-B-Smith commented on #694
Are you including the Branch SDK as a static or dynamic library?

I'll try your pod configuration myself in an example project.  Can you post your whole Podfile?

[2017-08-23 15:03] mhemmings commented on #692
Thank's for the pointer! We cleaned out all caches and derived data and it seems to have fixed it 😀

[2017-08-23 15:03] #692 closed

[2017-08-23 15:25] mhemmings commented on #682
So we've checked the project and can confirm the frameworks are added, yet still nothing appears in the innit session data

[2017-08-23 17:03] E-B-Smith commented on #692
👍

[2017-08-23 20:28] E-B-Smith commented on #694
I've publish release v0.17.10 which fixes your problem #695 .

Let me know if you have any other problems!

[2017-08-23 20:28] #694 closed

[2017-08-25 08:59] mhemmings commented on #682
@E-B-Smith Any ideas on why this isn't working?

[2017-08-25 15:55] E-B-Smith commented on #682
Did you check this too?

[2017-08-25 16:06] mhemmings commented on #682
Yep we did.
Though this shouldn't effect it as stated in the docs:

[2017-08-25 16:14] E-B-Smith commented on #682
Does it work for you when you build and run in the Branch-TestBed in Simulator?

Here's how I initialize Branch in the TestBed to get the Apple Search Ads link:

<img width="771" alt="screen shot 2017-08-25 at 9 11 39 am" src="https://user-images.githubusercontent.com/1229047/29722447-ae809bde-8975-11e7-84bf-00d15347a73d.png">

[2017-08-25 16:29] mhemmings commented on #682
Interestingly, the testbed app does not work either, with the same config as you have above. The params logged are the same:
[code]
and nothing more

[2017-08-25 16:37] E-B-Smith commented on #682
What country / region are you in?

This is what I get:
[code]

These are the libraries I link with:

<img width="878" alt="screen shot 2017-08-25 at 9 36 40 am" src="https://user-images.githubusercontent.com/1229047/29723309-f366bc1c-8978-11e7-8bd2-ec354295350b.png">

[2017-08-25 16:51] mhemmings commented on #682
We're in the UK.
Test bed app has the exact same linked libraries as above.

[2017-08-25 17:08] E-B-Smith commented on #682
I'm out of ideas at the moment. If you zip up and email me you project I'm happy to look at it.

[2017-08-28 11:48] karthikasdas opened #698 "Symbol(s) not found for architecture arm64"
Hi,

I have integrated Branch though cocoapods. I am getting the following error when trying to install on iPhone 6 plus and 6s and is working perfectly fine with iPhone 5.

Kindly help!

Showing All Messages
  "_OBJC_CLASS_$_Branch", referenced from:
      objc-class-ref in AppDelegate.o
ld: symbol(s) not found for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to

[2017-08-28 16:58] E-B-Smith commented on #698
Make sure you have arm64 architecture turned on in your project's build settings. Also, if you are trying to use the same binary for both iPhone 5 and 6 (and others), make sure that  and that 'Build for Active Architecture Only' is turned *off*.

Hope this helps!

[2017-08-28 16:58] #698 closed

[2017-08-28 16:59] E-B-Smith commented on #682
Did you make any progress on this?

[2017-08-29 07:50] mhemmings commented on #682
@E-B-Smith Nope, still got an empty response :(

[2017-08-29 09:06] mhemmings commented on #682
We can't send our project unfortunately, but if the testbed app pulled down from here isn't working for us then that doesn't really matter. FWIW, our lead iOS dev sees this same behaviour as I do too (on our project and the testbed app)

I've put breakpoints in the `checkAppleSearchAdsAttribution` method and can confirm that the `testInfo` object is set up as expected (https://github.com/BranchMet

[2017-08-29 18:23] E-B-Smith commented on #682
Set a break point on line 789 of the same file.  If Apple *does* return Apple Search Ad info then we use that data.  Otherwise we use the test data we dummy up in the `testInfo` dictionary.

When Apple Search Ads first started, Apple returned Search Ad data erratically, so I added the `testInfo` dictionary to dummy up the data so the rest of the system could be tested.

<img width="1016" alt="scre

[2017-08-30 08:10] mhemmings commented on #682
Nothing in `attrDetails`, and initSession still doesn't get the dummy data

![screen shot 2017-08-30 at 09 08 02](https://user-images.githubusercontent.com/5692567/29861935-e8c060e0-8d62-11e7-9231-d6a758f9bf61.png)

[2017-08-30 18:00] E-B-Smith commented on #682
I am digging in to this. Obviously something is weird.

[2017-08-31 10:47] mhemmings commented on #682
OK, thanks for your help!! 👍

[2017-08-31 14:45] tzahola opened #699 "Don't assume the order of continueUserActivity: and applicationDidBecomeActive"
While integrating the Branch SDK to our application at Skyscanner, I've found that it fails to deliver deep link parameters if a link (e.g. `https://bby4.test-app.link/foobar`) was received via AirDrop while the application was in the foreground.

After some debugging, I've found that the root cause of this issue is that the Branch SDK requires the `continueUserActivity:` call to precede `applicat

[2017-08-31 15:35] E-B-Smith commented on #699
Wow -- Great analysis. I'll look into this and you expect a patch in the next release.

[2017-08-31 17:45] AndrewBarba opened #700 "ThreadSanitizer - data race BNCDeviceInfo.m:234 in +[BNCDeviceInfo userAgentString]"
Running an app in Xcode 9 beta 6 (iOS 11 simulator), with Thread Sanitizer and Pause on Issues option, Branch is causing a pause due to a race condition:

[code]

Scheme options:

<img width="371" alt="screen shot 2017-08-31 at 1 43 03 pm" src="https://user-images.githubusercontent.com/1316152/29937161-a261259e-8e52-11e7-9d17-1a47e88dfb9a.png">

[2017-08-31 17:48] AndrewBarba commented on #700
Side note, that is a horrifying method... https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-SDK/Branch-SDK/BNCDeviceInfo.m#L183

[2017-08-31 19:58] E-B-Smith commented on #700
Yes, that is a horrifying method.  It's been tweaked to work on a wide variety of phones.

Thanks for the heads up!  I see the issue and will have a patch shortly.

[2017-08-31 20:01] AndrewBarba commented on #700
Thank you! Really appreciate it

[2017-09-01 18:00] E-B-Smith commented on #700
I have a fix for this in PR #702 .

[2017-09-01 21:02] AndrewBarba commented on #700
Thanks for fixing so quickly

[2017-09-04 08:16] ranhsd opened #703 "Issue with push notifications"
Hi, I've managed to integrate Branch in my iOS project for deep linking and referral program and it works great! (I move to Branch from Firebase dynamic links).

Because i really like how Branch handle links i decided to adopt it also for handle push notifications.
For testing it, i sent push payload from my server to my device. The push payload contains the branch links and it looks like the foll

[2017-09-04 22:47] E-B-Smith commented on #703
I'm glad you like Branch links!

It looks like you're doing everything right.  Let me look into this. Thanks for opening this issue.

[2017-09-05 19:01] E-B-Smith commented on #703
I've submitted a PR that fixes this: PR #704 . The fix will be available soon on the master branch, after we QA the release.

[2017-09-06 04:08] ranhsd commented on #703
Thanks for this! Will check it on my project and let you know soon.

[2017-09-07 13:28] matkuznik opened #707 "LaunchArguments (AppleLanguages and AppleLocale) are ignored after update to 0.17.x"
After updated branch framework to version 0.17.10 (from 0.14.12) our test started to fail because of wrong language/region in the Simulator.
After back to version 0.14.12 everything works correctly.

Language and regions are set in Scheme settings or programatically (via XCUIApplication)

We tested this multiple times on different Macs (at least 4 Macs).

[2017-09-07 16:45] E-B-Smith commented on #707
I'll check with the old version to see what's up.

[2017-09-07 20:54] E-B-Smith commented on #707
PR #708 fixes this.  The patch is in QA now and will be available soon. I'll update you when this is released.

Thanks for reporting this issue!

[2017-09-08 11:20] littlehome-eugene opened #710 "clicking branch link in app and going back"
Here's the problem we face.

In viewController1, there's a webview and a branch link (bnc.lt/...)
When a user clicks the link, we open up a viewController2 and load the url.
When he/she clicks a back button, we check if we can go back with `webview.canGoBack` and goes back.

With normal link it works fine, but with branch link we are facing a problem.

It is as if there's an intermediate url we vi

[2017-09-10 04:15] E-B-Smith commented on #710
The Branch link uses the intermediate redirect to check if any Branch 'magic' needs to happen with the link before going to ultimate link destination.

Probably the quickest way for you to fix this to check in the delegate if the user is going back from a Branch link and simply go back twice.  This seems like kind of a hack though.

Let me think about a better solution.  What kind of web view are

[2017-09-11 01:09] ADevelopStudio opened #713 "iOS SDK handleDeepLink = false when using Own Domain"
Hi there,
Noticed that
` let handle =  Branch.getInstance().handleDeepLink(withNewSession: url)
`
returns false after I changed link domain to my own.
The method runs and the deeplink is handled properly, but anyway strange behaviour.
I used logic:
[code]
but now I need to add another condition in order to prevent opening url in safari after handling  deeplink. All the rest is fine, thanks!

[2017-09-11 03:09] E-B-Smith commented on #713
Thanks for the heads up.  That seems like stupid oversight on my part that I'll fix promptly.

[2017-09-11 04:00] E-B-Smith commented on #713
Are you using a custom domain?

[2017-09-11 05:39] ADevelopStudio commented on #713
yep

[2017-09-11 05:40] ADevelopStudio commented on #713
And everything is working fine after I changed from generated xxxx.app-link to my own, except this **.handleDeepLink(withNewSession: url) = false**

[2017-09-11 05:43] E-B-Smith commented on #713
You need to add your custom domain to your Info.plist file.

Add the  `branch_universal_link_domains` key and for the value add the custom domain as a string.

[2017-09-11 13:32] mhemmings commented on #682
Hey @E-B-Smith, any luck on this? See you've been trying some things, hope it's not been too painful!

[2017-09-11 14:01] E-B-Smith commented on #682
I found a problem with the back end.  That code is in production now. I am going to do some final testing today and you should be good to go.

[2017-09-13 18:54] E-B-Smith commented on #707
I fixed this in version 0.18.8.

https://github.com/BranchMetrics/ios-branch-deep-linking/releases/tag/0.18.8

[2017-09-13 18:54] #707 closed

[2017-09-13 18:54] E-B-Smith commented on #703
I fixed this in version 0.18.8.

https://github.com/BranchMetrics/ios-branch-deep-linking/releases/tag/0.18.8

[2017-09-13 18:54] #703 closed

[2017-09-13 18:55] E-B-Smith commented on #700
I fixed this in version 0.18.8.

https://github.com/BranchMetrics/ios-branch-deep-linking/releases/tag/0.18.8

[2017-09-13 18:55] #700 closed

[2017-09-13 18:56] E-B-Smith commented on #682
I fixed this in version 0.18.8.

https://github.com/BranchMetrics/ios-branch-deep-linking/releases/tag/0.18.8

[2017-09-13 18:56] #682 closed

[2017-09-13 18:56] E-B-Smith commented on #699
I fixed this in version 0.18.8.

https://github.com/BranchMetrics/ios-branch-deep-linking/releases/tag/0.18.8

[2017-09-13 18:56] #699 closed

[2017-09-13 18:57] #713 closed

[2017-09-14 07:10] Niv1988 opened #715 "Incorrect key format throws exception instead of logging an error"
#642 introduces a major change in handling incorrect key format, instead of logging an error as before it now throws an exception.
This change is documented neither in the commit nor any of the release notes.

[2017-09-14 09:33] E-B-Smith commented on #715
The intention is to catch key problems early, while the app is being developed.  How is this impacting you?

[2017-09-14 12:06] Niv1988 commented on #715
The undocumented change from logging to throwing exception caused our code to fail when using dummy strings for testing

[2017-09-14 17:16] E-B-Smith commented on #715
For testing you can use the test key for your app, for in the Branch dash board.  It starts with 'key_test_'.  I try to document all changes but some escape me.

[2017-09-14 17:16] #715 closed

[2017-09-21 14:07] crontab opened #719 "Compiler warning in BNCLog.h"
https://github.com/BranchMetrics/ios-branch-deep-linking/blob/ecd48a58ed5c7c276bca66e01db0f3f581d4b636/Branch-SDK/Branch-SDK/BNCLog.h#L62

Minor but annoying. Disabling this warning is not an option when the framework is used via CocoaPods.

Returning `NSString *const` doesn't make sense in Objective-C even if you return a string literal, as (unlike C strings) the caller won't be able to modify it

[2017-09-21 16:26] E-B-Smith commented on #719
What is the warning?

This returns a constant pointer to an NSString, so the pointer is constant.

[2017-09-21 17:05] crontab commented on #719
@E-B-Smith

` warning: 'const' type qualifier on return type has no effect`

There is absolutely no point in imposing const on the pointer (because it's returned by value) nor the NSString itself (as it's not mutable anyway). That's what the compiler is trying to say. Anyway this wouldn't be a big issue if it was fixable locally which with cocoapods it's not unfortunately.

[2017-09-21 19:00] E-B-Smith commented on #719
Fixed in #720 to be merged next release.

[2017-09-21 19:00] #719 closed

[2017-09-22 02:53] E-B-Smith commented on #710
Did this solution work for you?

What did you decide to do for a work around?

[2017-09-27 13:29] jfsagasti opened #726 "Duplicated links in copied text (iOS 11)"
Hi! I've noticed that, in iOS 11, the copied text when sharing an item with the iOS share sheet, contains a duplicated link. Does anyone have this issue too? I am not experimenting this in iOS 10. I also updated branch library to latest SDK but still happening.  Thanks in advance.

[2017-09-27 13:50] E-B-Smith commented on #726
You aren't the only one.

This seems to a change in behaviour in the way iOS 11 handles URL activity items: Copied activity items that are URLs are duplicated as text.

If somebody knows why they would change this behaviour, please chime in.  It may be security related to prevent people clicking on deceptive URLs that have targets?

None the less, I'm working on a fix now and should have it in the

[2017-09-29 20:05] pallaviashim commented on #305
Hello,

We have our iOS app. And I can link our app from our online site in chrome. But when i run the app again (or launch it from background), the branch api returns the same params( but two less) when it is deep linked.

Found that the first time deeplink handler is getting fired twice. When first time it fires, the params doesnt have the key "_branch_match_id" and on going background and comin

[2017-09-29 20:55] E-B-Smith commented on #726
Fixed in release 0.19.5.

[2017-09-29 20:55] #726 closed

[2017-09-29 20:56] E-B-Smith commented on #710
See the WebViewExample in the 'Examples' directory to see how to do this.

[2017-09-29 20:56] #710 closed

[2017-09-29 21:13] E-B-Smith commented on #305
Is this a Chrome specific problem, or do you see it in Safari too?

Which version of the iOS SDK are you running?

[2017-10-02 16:32] pallaviashim commented on #305
I didnt find this issue in safari.
And I am getting the issue in both iOS 10 and iOS 11. I haven't checked in other versions.

[2017-10-02 19:26] edenman opened #728 "Crash in BNCPerformBlockOnMainThread"
I haven't been able to repro this issue.
It has only happened to one of our users.
The user in question had it happen 16 times.

[code]
I can't figure out what's happening here, but maybe you guys can?

[2017-10-02 21:23] edenman commented on #728
Yeah, that's what I was afraid of.  9 times in a row, then 25min later, another 7 times in a row, then stopped.

[2017-10-02 21:39] E-B-Smith commented on #728
That user really wanted to do what ever it was that crashed, which means your app is compelling, which is good. It's a bummer that the app crashed. Which is bad.

I would look in your deep link call back handler to see if there's a place where you assume a parameter is a string, or a sub-element of a dictionary is a string.

The somewhat good news is that I haven't had any reports of a crash like

[2017-10-03 00:37] edenman commented on #728
Yeah, definitely not devastating.  FWIW:

[code]
which farms out to
[code]
(where BranchLinkTarget is a string-based enum I've defined).  Anyway, I'll let you know if I figure out anything more, but for now I'm going to punt.  Thanks for the quick replies!

[2017-10-03 00:47] E-B-Smith commented on #728
Nothing in this code seems suspicious to me either.

If you figure something out, or the problem recurs, please re-open this issue with more details.

[2017-10-03 00:47] #728 closed

[2017-10-03 16:25] E-B-Smith commented on #305
I could not reproduce this with Chrome on iOS 10 or 11 using the Branch TestBed app.

Every time your app becomes active it will start a new Branch session, even if there's no new URL to open (Branch still needs to check that there's no new URL).

If you still have an issue with Chrome and Branch, open a new issue or contact support at Branch (the support team is pretty good!) and include some mor

[2017-10-04 17:40] salah-ghanim opened #729 "Branch link lose parameters after second click"
to reproduce:
1- create a link programatically and add a parameter ("foo":"bar")
2- send link via email , slack , whatsapp ...
3- Click link and install app from app store
4- link parameters are read and are correct
5- close app, click link again.
EXP: param is still read (since link id is correct and its visible in branch portal).
OBS: link keeps value, but loses parameters in init callback

ENV:

[2017-10-04 19:44] E-B-Smith commented on #729
Thanks for the report.  Let me investigate this.

[2017-10-05 12:38] Fosile opened #730 "Use of '@import' when C++ modules are disabled, consider using fmodules and fcxx"
When i´m updating the branch SDK to 0.19.5 (was 0.17.10) and try to run my App, i get the following Errors:

![bildschirmfoto 2017-10-05 um 14 27 55](https://user-images.githubusercontent.com/5736296/31227511-628ed328-a9da-11e7-96a5-c960472d80ac.png)

![bildschirmfoto 2017-10-05 um 14 28 09](https://user-images.githubusercontent.com/5736296/31227559-83209bb2-a9da-11e7-99e5-f726f485eb31.png)

After

[2017-10-05 17:12] E-B-Smith commented on #730
Have you tried turning on `fmodules` and `fcxx-modules`? I know that the C++ clang now supports modules, but there may be some downsides that I don't know about.

I am curious about this too, so I will experiment with this on my end to see what's up.

The module imports help a lot with Swift integration, which many people really like. But if this is a blocker for C++ I can hopefully figure out an

[2017-10-05 23:36] E-B-Smith commented on #729
I followed your steps and I don't see this.  I see the parameter I set (literally foo:bar) both times.

Are you maybe setting some other parameter that could be interfering with this?

I'm testing on iOS 11 iPhone 6 Plus.

[2017-10-06 11:27] salah-ghanim commented on #729
There is no other parameters interfering, but maybe its useful to know that it happens when we use deepviews.

so
 link click -> deep view -> App Store -> App Download -> Open App -> values are read.

second attempt:
   link click -> deep view -> Open App -> values are missing

[2017-10-06 15:05] E-B-Smith commented on #730
Is there a  particular C++ library in you are compiling?  I want to make a sample app to reproduce this so I understand it better.

[2017-10-06 17:12] E-B-Smith commented on #729
Interesting, we haven’t seen this issue.

Could you contact integrations@branch.io and we can have a support engineer look into this more deeply.

It would be super helpful if you include an example of a link that is failing in your email.

[2017-10-06 17:12] #729 closed

[2017-10-08 11:17] ebessilko opened #733 "Multiple compiler warnings using Xcode 9 and Cocoapods version 1.3.1."
After installing Branch framework via CocoaPods, we see 21 compiler warnings.
There are all about availability problems, like: ***/Pods/Branch/Branch-SDK/Branch-SDK/BNCContentDiscoveryManager.m:553:39: 'setEligibleForSearch:' is only available on iOS 9.0 or newer.

Could you silence those warnings in an upcoming release?

Best regards.

[bugReport.txt](https://github.com/BranchMetrics/ios-branch-d

[2017-10-08 14:44] E-B-Smith commented on #733
Thanks -- Will do.

[2017-10-09 07:47] Sea-Eagle opened #734 "io.branch.sdk.error Code=1004, Trouble reaching the Branch servers"
Hi Team, from lastest Branch.io sdk , I'm facing below error when opening the app

**BNCServerInterface.m(569) Error: An error prevented request to https://api.branch.io/v1/open from completing: Error Domain=io.branch.sdk.error Code=1004 "Trouble reaching the Branch servers, please try again shortly." UserInfo={NSLocalizedFailureReason=The request timed out., NSLocalizedDescription=Trouble reachin

[2017-10-09 08:38] ebessilko commented on #733
The only Pods project's option that seems to be related with the warnings is CLANG_WARN_UNGUARDED_AVAILABILITY.
After updating CocoaPods to version 1.3.1 it might automatically be set to YES_AGGRESSIVE or YES.

[2017-10-09 13:51] E-B-Smith commented on #734
Are you connected to the internet when you open the app?  This error message is returned by the SDK when an internet connection is not available or extremely slow.

[2017-10-09 13:51] #734 closed

[2017-10-12 17:44] E-B-Smith commented on #730
I'd like to hear why modules won't work for you. Rather than implement a quick fix that might work I'll close this issue until there is more information.

[2017-10-12 18:21] E-B-Smith commented on #733
I silenced the warnings in PR #735.  This will be available in version 0.20.x

[2017-10-13 09:56] ebessilko commented on #733
Thanks 👍.

[2017-10-16 16:31] #733 closed

[2017-10-17 13:29] racer1988 opened #737 "Cannot install with Carthage anymore"
Failed to write to /../Carthage/Build/iOS/Branch.framework: Error Domain=NSCocoaErrorDomain Code=260 "The file “Branch.framework” couldn’t be opened because there is no such file." UserInfo={NSURL=file://////Carthage/Checkouts/iOS-Deferred-Deep-Linking-SDK/carthage-files/Build/ArchiveIntermediates/Branch%20iOS%20SDK%20Carthage/BuildProductsPath/Release-iphoneos/Branch.framework, NSFilePath=/Cartha

[2017-10-17 18:58] nwhanan commented on #737
I'm getting the same issue, you can generate the error by running:

`carthage build --no-skip-current`

My knowledge of the internals of Carthage is limited, so I have not been able to determine the root cause as of yet.

[2017-10-17 19:00] jdee commented on #737
I've been building successfully with Carthage quite a bit in the last couple of days, using 0.19.5. Can you try `carthage update` instead of `carthage build`?

[2017-10-17 19:11] E-B-Smith commented on #737
Are you getting a "framework not found FileProvider for architecture x86_64" error?

[2017-10-17 19:27] nwhanan commented on #737
@jdee  The error has been intermittent for me occasionally.  I discovered the issue when running `carthage update` originally, and was following **Resolve Build Failures** section of the Carthage Readme.

@E-B-Smith I am not seeing a FileProvider error so far.

[2017-10-17 19:39] racer1988 commented on #737
@jdee I have the issue using 0.19.5
I get the issue with both
`carthage update` and `carthage bootstrap`

I updated `carthage` to the latest version.

@E-B-Smith I am not getting that error, the whole output I get in CLI is the one I posted.
I can retrieve the logs if needed

[2017-10-17 19:43] nwhanan commented on #737
The Xcode build log from carthage doesn't show anything out of the ordinary, it reports that the `** BUILD SUCCEEDED **`.  It seems be something right after that.

[2017-10-17 19:52] E-B-Smith commented on #737
@racer1988 Can you send the log? It would be super useful.

I have a few test projects I use to make sure that Carthage integrates correctly. I'll test with those to see if I can reproduce the error.

[2017-10-17 22:35] racer1988 commented on #737
Running:

`carthage bootstrap --platform ios --no-use-binaries --cache-builds`

[xcrun.log](https://github.com/BranchMetrics/ios-branch-deep-linking/files/1392835/xcrun.log)

I don't see any issue in the build.

However Carthage stops executing:

[code]

[2017-10-17 22:46] jdee commented on #737
@racer1988 Can you verify that this directory exists? `/Users/xxx/Developer/xxx/Carthage/Checkouts/iOS-Deferred-Deep-Linking-SDK/carthage-files/Build/ArchiveIntermediates/Branch iOS SDK Carthage/BuildProductsPath/Release-iphoneos`

It's trying to write out a new file and complaining that it doesn't exist. That often happens when a path component is missing. Maybe if we can see where the path ends,

[2017-10-18 00:57] jdee commented on #737
I think this may be happening because the repo was renamed in the past, and maybe all the appropriate redirects aren't working. https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK redirects here, but I've had problems in other repos with shields in READMEs and so on.

Can you try this instead:

[code]

or

[code]

I suspect that will fix the issue.

[2017-10-18 03:44] nwhanan commented on #737
Mine already uses that one, though I leave out the version number so it will see updates outside of the minor version number.

The line from my Cartfile is:
`github "BranchMetrics/ios-branch-deep-linking"`

[2017-10-18 04:45] atetlaw commented on #737
I have the same issue. There were some recent Carthage changes, and I've opened an issue there too: https://github.com/Carthage/Carthage/issues/2220

[2017-10-18 07:59] racer1988 commented on #737
@jdee  `ArchiveIntermediates` is missing
[code]

[2017-10-18 15:27] ikesyo commented on #737
See my comments there:

- https://github.com/Carthage/Carthage/issues/2220#issuecomment-337612613
- https://github.com/Carthage/Carthage/issues/2220#issuecomment-337629280

[2017-10-18 16:53] jdee commented on #737
Thanks for the suggestion, @ikesyo. I was able to reproduce the bug, and that seemed to fix it. See #738. You can try it for now to see if it solves your problem using `github "BranchMetrics/ios-branch-deep-linking" "fix-carthage"`. This will be reviewed and released soon.

[2017-10-18 22:03] E-B-Smith opened #739 "ld: framework not found FileProvider for architecture..."
Frameworks built with Xcode 9 but used in Xcode 8 or lower may get a link error:

    `ld: framework not found FileProvider for architecture...`

The FileProvider.framework is an iOS 11 only framework, but it looks like Apple has accidentally made it required linking.

To get around this in pre-Xcode 9, copy the FileProvider.framework and the IOSurface.framework from Xcode 9 and place these framew

[2017-10-19 00:41] nwhanan commented on #737
@jdee @E-B-Smith Since the "fix-cartage" branch has been closed already, I tried it with the staging branch that it appears to be merged into, and it compiled fine with Carthage.

Thanks for looking into this, and particularly to @ikesyo for the information about `SYMROOT`.

[2017-10-19 01:47] E-B-Smith commented on #737
This fix has merged to master.  Thanks for all the info.

[2017-10-19 01:47] #737 closed

[2017-10-20 11:33] ivulyov90 opened #740 "XCode 9 warnings fix"
It will be nice to fix warnings in Xcode 9.0.1

 Pods/Branch/Branch-SDK/Branch-SDK/BranchCSSearchableItemAttributeSet.h:14:49: 'CSSearchableItemAttributeSet' is partial: introduced in iOS 9.0
 Pods/Branch/Branch-SDK/Branch-SDK/BranchCSSearchableItemAttributeSet.m:11:9: In file included from  Pods/Branch/Branch-SDK/Branch-SDK/BranchCSSearchableItemAttributeSet.m:11:
/Applications/Xcode.app/Contents

[2017-10-20 17:28] E-B-Smith commented on #740
I'll silence the warnings.

Are you using the class `BranchCSSearchableItemAttributeSet` in your project?

[2017-10-20 20:43] #740 closed

[2017-10-23 21:56] parthkalavadia commented on #739
Thier is an alternate way to overcome this issue while installing SDK manually: https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/README.md#download-the-raw-files

[2017-11-01 10:21] podkovyrin commented on #730
Hello @E-B-Smith! We're facing the same issue. And it seems to be the case: https://stackoverflow.com/a/36307557/2830525
We're using C++ pods (`dlib` for instance) in our project inside Objective-C++ files. So it leads to disabling modules in spite of build settings.

[2017-11-01 15:41] E-B-Smith commented on #730
Great -- I'll look into it.  This is the sort of background information I needed to investigate this.

[2017-11-04 22:54] E-B-Smith commented on #730
This will be fixed in the next release, Branch 0.21.

[2017-11-10 19:01] E-B-Smith commented on #583
You can add Branch directly to your project as a dynamic library by adding the BranchSDK.xcodeproj file to your project.

Here's a step-by-step guide:
https://github.com/BranchMetrics/ios-branch-deep-linking#adding-the-raw-files-branch-sdk-to-your-project

[2017-11-10 19:01] #583 closed

[2017-11-11 01:01] Liampronan commented on #354
ran into this similar crash -- seemed to be due to a bug in my code which caused some bad reference somewhere due to a mishandled DispatchGroup. If you get this error, try looking for any bad references or dispatch groups that you have related to handling branch info

[2017-11-11 01:37] E-B-Smith commented on #354
Good catch. Blocks can be tricky with references.

Do you have a specific example to share?

[2017-11-13 12:57] danielnagyx opened #753 "[BNCPreferenceHelper universalLinkUrl]"
Hi!

One of our users experienced a constant crash coming from `[BNCPreferenceHelper universalLinkUrl]`.  It results in a `EXC_BAD_INSTRUCTION 0x00000000761f3a25` and every time the app is restarted it will crash when the Branch SDK is initialized and trying to access `[BNCPreferenceHelper universalLinkUrl]` again.

The SDK version is 0.18.8

Here is the stacktrace:
[code]

[2017-11-14 16:28] E-B-Smith commented on #753
I think that this is caused by a race condition that I fixed in version 0.21.2.

[2017-11-14 16:34] #753 closed

[2017-11-21 18:23] E-B-Smith commented on #739
Fixed in SDK version 0.21.11.

[2017-11-21 18:23] #739 closed

[2017-11-21 18:23] E-B-Smith commented on #730
Fixed in SDK version 0.21.11.

[2017-11-21 18:23] #730 closed

[2017-11-29 10:11] cornr opened #758 "Branch.continueUserActivity always returns false"
Hello. We are using the version 0.21.11 and experience problems when calling
`- (BOOL)continueUserActivity:(NSUserActivity *)userActivity;`
It always returns `false` for in my opinion proper deep links

Our expected behavior would be: it returns `true` iff eventually the DeepLinkHandler is called.
We need to know if the DeepLinkHandler will be called eventually to either route to "beginning" of th

[2017-11-29 18:48] E-B-Smith commented on #758
Did you set `branch_universal_link_domains` in the info.plist file for your app? Check this out:

https://docs.branch.io/pages/deep-linking/universal-links/#return-yes-to-continueuseractivity

[2017-11-30 12:07] cornr commented on #758
Yap. this solves the problem. Thanks.
If there is a hole section in the documentation dedicated to this method, then why is it not linked within the method documentation?

[2017-11-30 12:07] #758 closed

[2017-12-01 04:09] parthkalavadia commented on #562
The issue about the spotlight could be resolved in SDK v0.2.12. Please update the SDK and try it again.

[2017-12-02 02:12] warpling opened #759 "Branch synchronize method is blocking the main thread?"
Version 0.21.11 running a debug build on tethered device the app often becomes unresponsive – pausing shows the PC here…

Let me know if I can somehow provide more information. Good chance I'm reading this wrong.
<img width="1680" alt="screen shot 2017-12-01 at 5 49 15 pm" src="https://user-images.githubusercontent.com/220240/33510337-16e3a18e-d6c0-11e7-9737-318c5da76445.png">

[2017-12-02 02:49] E-B-Smith commented on #759
What was thread 0 doing?

[2017-12-04 08:47] DarrenDuXuan opened #760 "Error Domain=io.branch.sdk.error Code=1003 "The network request was invalid." UserInfo={NSLocalizedDescription=The network request was invalid., NSLocalizedFailureReason=The request was invalid.}"
Error Domain=io.branch.sdk.error Code=1003 "The network request was invalid." UserInfo={NSLocalizedDescription=The network request was invalid., NSLocalizedFailureReason=The request was invalid.}

[2017-12-04 08:49] DarrenDuXuan commented on #760
[branch.io] BNCServerInterface.m(586) Error: An error prevented request to https://api.branch.io/v1/open from completing: Error Domain=io.branch.sdk.error Code=1003 "The network request was invalid." UserInfo={NSLocalizedDescription=The network request was invalid., NSLocalizedFailureReason=The request was invalid.}

[2017-12-04 08:50] DarrenDuXuan commented on #760
[branch.io] BNCNetworkService.m(219) Debug: Network finish operation https://api.branch.io/v1/open 0.233s. Status 400 error (null).
{"error":{"device_fingerprint_id":"doesn't pass regex","instrumentation":{}}}

[2017-12-04 08:51] DarrenDuXuan commented on #760
😢 what should i do

[2017-12-04 09:18] DarrenDuXuan commented on #760
I tried some times. and initSessionWithLaunchOptions not call back error code 1003 ...  and i don't know how to fix this bug

[2017-12-04 16:10] petemillermultimedia opened #761 "Update docs example for contentMetadata.customMetadata"
I see a warning that BranchUniversalObject.addMetadataKey is deprecated, and it appears that the correct way to do it is with

myBranchObject.contentMetadata.customMetadata["key"] = value

but the example on the main page still shows addMetadatakey. I can validate this change in my code with trial and error, but the example could be updated.

[2017-12-04 16:12] E-B-Smith commented on #760
Sorry for your frustration!

It's a network error because some of the data passed sent to Branch is invalid.

What kind of device are you testing with? Also, if you could send more of the log messages are can help you diagnose this quicker.

[2017-12-04 22:05] E-B-Smith commented on #761
Thanks for the heads up!

I'm updating the README.md and some of the other docs now.

[2017-12-05 16:19] E-B-Smith commented on #760
Any more information on this?

[2017-12-05 16:22] E-B-Smith commented on #759
Can you show me the other threads too?

Were you calling the `getLatestReferringParamsSynchronous` method?

[2017-12-05 18:11] E-B-Smith commented on #761
See PR #762 .

[2017-12-05 20:34] warpling commented on #759
Hey @E-B-Smith, I was trying to recreate this over the weekend but couldn't :( Not sure what you mean by thread 0—afaik threads start at 1?

[2017-12-05 20:42] E-B-Smith commented on #759
Sorry, I meant main thread and all the other threads.

The only blocking call in the Branch SDK is `getLatestReferringParamsSynchronous`. Maybe some other thread dependent thing happened that blocked unexpectedly.

I wonder if you weren't on slow / no network?  Also, do you have the link that was opened?

[2017-12-05 21:07] warpling commented on #759
I don't think I was on a slow/no connection and I don't think a deep/UL link was even used? Only thing happening was checking for bucket rewards I'm pretty sure? Maybe it was a fluke thing related to something else I just got suspicious when I saw the sync call and some recent bug fixes…

[2017-12-05 22:04] E-B-Smith commented on #759
Thanks -- Nothing has changed there lately.  But this gives me something to look out for.  I'll make sure to pay extra attention when testing that part of the code.

[2017-12-05 22:34] warpling commented on #759
Totally, feel free to close for now! I'll re-open if I can trigger it again.

[2017-12-06 12:31] DarrenDuXuan commented on #760
[branch.io] BNCServerInterface.m(711) Debug: URL: https://api.branch.io/v1/open

[2017-12-06 12:33] DarrenDuXuan commented on #760
[branch.io] BNCServerInterface.m(711) Debug: URL: https://api.branch.io/v1/open
[branch.io] BNCServerInterface.m(715) Debug: Body: {
    "ad_tracking_enabled" = 0;
    "app_version" = "6.1.5";
    "apple_ad_attribution_checked" = 0;
    "branch_key" = "key_live_lmunGYUOO1rmGaZJTaaABolbvwb7AHp2";
    brand = Apple;
    cd =     {
        mv = "-1";
        pn = "com.quvideo.XiaoYing";
    };
    co

[2017-12-06 12:34] DarrenDuXuan commented on #760
and [branch.io] BNCNetworkService.m(219) Debug: Network finish operation https://api.branch.io/v1/open 0.948s. Status 400 error (null).
{"error":{"device_fingerprint_id":"doesn't pass regex"}}

[branch.io] BNCServerInterface.m(771) Debug: Server returned: Status: 400; Data: {
    error =     {
        "device_fingerprint_id" = "doesn't pass regex";
    };
}.

[2017-12-06 12:35] DarrenDuXuan commented on #760
all information in debug model

[2017-12-06 17:19] E-B-Smith commented on #760
Try removing the app from your phone and then re-running it.

It looks like some test parameters or bad parameters were saved to your phone.  Removing the app from your phone should clear them.

Let me know if this solves your problem.

[2017-12-07 18:50] E-B-Smith commented on #761
Merged to master.

[2017-12-07 18:50] #761 closed

[2017-12-09 05:33] DarrenDuXuan commented on #760
I tried renoving my app and re-running ten
no error

[2017-12-09 05:33] DarrenDuXuan commented on #760
@E-B-Smith  I tried removing my app and re-running ten
no error

[2017-12-09 05:35] DarrenDuXuan commented on #760
@E-B-Smith  but when i close my app and re-open it
has error Code=1003

[2017-12-12 14:37] OhadMaor-VIA opened #765 "Unable to use continueUserActivity inside a Swift extension"
When using Swift `extension Branch {...}` and trying to invoke `continueUserActivity` inside an extension custom method, Swift doesn't recognise `continueUserActivity` as a method but as a `continue` when using inside a loop.

![screen shot 2017-12-12 at 16 37 15](https://user-images.githubusercontent.com/34231750/33890047-be88cb56-df5a-11e7-8525-7e7d58e9e773.png)

[2017-12-12 19:20] E-B-Smith commented on #765
Try adding `self` to `continue`, like this:

[code]

Also, if you simply want to open a Branch URL in a new session, you can use `handleDeepLinkWithNewSession`, which is a little more clear with what is happening:

[code]

[2017-12-12 19:20] #765 closed

[2017-12-13 18:30] E-B-Smith commented on #760
Are you switching between production / test mode between runs? By changing the Branch key or setting `[Branch.setUseTestBranchKey:YES]`?

Or changing the app version?

[2017-12-14 09:37] DarrenDuXuan commented on #760
![image](https://user-images.githubusercontent.com/15886912/33985383-65967a88-e0f5-11e7-98c9-f68211f24250.png)
this is all branch code no setUseTestBranchKey
and i check app id is right

[2017-12-14 19:17] E-B-Smith opened #766 "Sometimes universal links don't work on iOS 11.2 and above."
### Sometimes universal links don't work on iOS 11.2 for newly installed apps

[**Here's the Branch blog post about this.**](https://blog.branch.io/notice-inconsistent-universal-link-behavior-on-ios-11-2/)

The symptoms are that clicking on a universal link won't open an app that is newly installed on a phone. The universal link takes the user to a web page and is prompted to download the app agai

[2017-12-15 06:58] parthkalavadia commented on #562
I am closing this issue as this is resolved.

[2017-12-15 06:58] #562 closed

[2017-12-20 23:07] warpling commented on #759
Just deployed a build to an iPhone 5s running 9.3.5 and experienced this again.
App completely hung, paused debugger…
<img width="1680" alt="screen shot 2017-12-20 at 3 05 16 pm" src="https://user-images.githubusercontent.com/220240/34232900-66e47790-e597-11e7-8234-746f629110e6.png">

[2017-12-21 09:31] Rashesh-Bosamiya commented on #513
Thanks @E-B-Smith.

I had the same issue.
Your solution worked for me.

Thanks again.

[2017-12-21 19:04] E-B-Smith commented on #759
Thanks for sending this along.  This stack trace includes more clues.

If it happens again could you expand the `io.branch.sdk.network.queue`  so I can see that trace too?

The closest device I have is a 6s running 9.1.  I'll test with that.

[2017-12-21 22:33] E-B-Smith commented on #760
The `device_fingerprint_id` that is being sent is definitely wrong. Let's figure out how that happened.

Can your re-install the app on the device and send me the logs?

* Remove the app from the device.
* Make sure that Branch logging is turned on.
* Run the app from Xcode.
* Send me or post the Xcode log output.

I can see that in general your app is getting Branch installs and opens on our syst

[2017-12-22 01:15] E-B-Smith commented on #759
Duh.  I see a thing.  I made a fix and pushed it to the github `beta` branch for you to test.

Here's info on using the Branch GitHub beta branch with CocoaPod or Carthage.

Let me now if this works for you.

[2017-12-22 02:06] DarrenDuXuan commented on #760
@E-B-Smith
[branchLog.txt](https://github.com/BranchMetrics/ios-branch-deep-linking/files/1581245/branchLog.txt)
There are first install app all branch logs

[2017-12-22 18:47] E-B-Smith commented on #760
LinkedMe and Branch can't be used in the same app.  They use our SDK code as part of their SDK, so it interferes with the way Branch normally runs.

[2017-12-25 08:48] DarrenDuXuan commented on #760
@E-B-Smith okay!!!  THX!!

[2017-12-25 08:49] #760 closed

[2017-12-31 17:07] E-B-Smith commented on #759
Try the new release, version 0.22.3.

[2017-12-31 17:07] #759 closed

[2018-01-01 20:17] E-B-Smith commented on #469
There's not a lot of interest in this so I'm closing it out.

If there is interest I'm happy to re-open it.

[2018-01-01 20:17] #469 closed

[2018-01-12 15:02] mdridley opened #774 "Branch-SDK/BNCSpotlightService.m - 'Branch.h' file not found"
Getting this issue after the last pod update. Cannot figure out a workaround/solution. Version 0.22.4

[2018-01-12 15:11] mdridley commented on #774
Removing the pod and reinstalling worked. I am going to blame XCode for this one.

[2018-01-12 15:11] #774 closed

[2018-01-20 04:38] davisjackie321 commented on #766
Better

[2018-01-26 21:05] egreenwood opened #776 "b3rs!"
If there is a bug or error in this repo, please file the issue here.

If you need assistance integrating a Branch SDK, please email support@branch.io. Thank you.

[2018-01-26 21:06] #776 closed

[2018-01-26 21:14] E-B-Smith commented on #776
Easiest issue resolution ever.

[2018-01-28 23:17] alexanderkhitev opened #777 "The first short url trouble"
Hello! There is a problem in getting shortURL, it manifests with new users during the first short url reception or after updating the application in the App Store or Test Flight.

The link looks something like this

https://myapp.app.link?$identity_id=486299017484100364&feature=sharing&type=0&duration=0&source=ios&data=eyJldmVudElEIjoiNDE5ODAzMTkyNjVpdGNoY2ZW50YnJpdGUiLCJ0aW1lc3RhbXAiOiIxNTE3NzI0M

[2018-01-29 07:30] zeeshansuleman opened #778 "Universal Links only works through safari . it does not work from gmail app or mail app ios."

[2018-01-29 20:57] E-B-Smith commented on #778
I tested this in Chrome and the mail app and it works for me on iOS 10.0 and 11.0.

Do you think it could be related to issue #766, where universal links sometimes don't work on 11.0 devices?

Otherwise, send me some more details of how this doesn't work so that I can debug this.  It's a terrible user experience to not have links work.

[2018-01-29 21:13] E-B-Smith commented on #777
The long form of Branch links are generated by the SDK if a short link can't be generated. It takes a trip to the server to generate a short link, so if the network call times out the short link can't be generated and a long link is used instead.

Is the Branch SDK initialized (best to do this as soon as possible at app in your `application: didFinishLaunchingWithOptions:` method) and the network

[2018-01-30 06:07] zeeshansuleman commented on #778
@E-B-Smith Thanks for your response. Let me provide you the detail of the use case..
working use case : when i signin through my gmail account on safari and open the link from there , it opens the app successfully.
Error Use case: When i do the same but use gmail or mail app of iphone , upon clicking the click it prompt me to open store rather than redirecting me to the app.plz see the screen shot

[2018-01-30 17:08] E-B-Smith commented on #778
It looks like you're trying to handle Branch deep linked email, which can be tricky to set up.

Please contact integrations@branch.io and they can help you get this going.  If you already have a technical account manager then contact them directly. They will be happy to help and will already know your specific use case.

[2018-02-02 08:02] nishant260190 commented on #513
Hi,
I am also facing the same issue... i am just handling the unbranched deeplink in didFinishLaunching and return true... but that does not work... please help

[2018-02-02 17:00] E-B-Smith commented on #513
Have you added the Branch handler in `- application:continueUserActivity:restorationHandler:` and `- application:openURL:sourceApplication:annotation:` ?

Here's an example:

https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-TestBed/Branch-TestBed/AppDelegate.m

[2018-02-02 17:01] E-B-Smith commented on #777
Reopen this if you're still having trouble.

[2018-02-02 17:01] #777 closed

[2018-02-02 17:02] #778 closed

[2018-02-08 14:56] msalmanST opened #781 "Universal Link Display Multiple Dialogs to User"
**IOS 10.X With App Not Installed**

When I open a universal link from IOS Gmail client then it redirects me to some branch url and show me two prompts,

1. First prompt say "Safari cannot open the page because the address is valid" with Okay button.
2. Upon clicking the okay another prompt become visible with message "Open this page in App Store"

**IOS 10.X With App Installed**

When I open a un

[2018-02-08 17:44] E-B-Smith commented on #781
Thanks for writing in.

#### iOS 10.X With App Not Installed

This case is caused by setting the `$uri_redirect_mode` in the link. Try setting the value to `1`, smart redirect mode, which might mitigate this. You may need to reset your privacy settings to test this as a new user:   Settings > Privacy > Advertising > Reset Advertising Identifier .

#### iOS 10.X With App Installed

In iOS, the oper

[2018-02-10 20:32] bridger opened #782 "Allow static library usage from Cocoapods"
Version [1.4.0 of Cocoapods](http://blog.cocoapods.org/CocoaPods-1.4.0/) allows a pod to be used as a static library, even in a Swift app. It requires the library's podspec to contain `s.static_framework = true`.

I believe this will help apps launch faster. Here's a blog post that explains why too many dynamic frameworks slows down launch: https://blog.automatic.com/how-we-cut-our-ios-apps-launch

[2018-02-12 10:19] altairdeark opened #783 "Crash on setIdentity() "NSNumber isEqualToString"Identity_ID from server parsed to NSNumber not to NSString"
We experienced next crash in BNCPreferenceHelper.m, 255 line.
[code]

Response from server on setIdentity(), parse **identity_ID** to **(long) NSNumber** not to **NSString**
it will cause crash after reset Identity

We are not sure if it is a problem in pod, because Server response JSON not string either.

[code]

[2018-02-13 02:07] altairdeark commented on #783
Currently we fixed it by adding additional condition into **setIdentity** function, but it is not a great solution.

[code]

Our proposal is to map JSONResponse from server into explicit NSString were it needed. In BranchSetIdentityRequest.m, 46 line.

[code]

[2018-02-13 17:49] E-B-Smith commented on #783
Sorry to hear about your crash!  I'll make a fix that will do better type checking and let you know when the update is available.

Also, I'll make sure that we haven't changed something on the back end that would cause this.

In the mean time, you should change the lines:

[code]

to

[code]

[2018-02-13 17:52] E-B-Smith commented on #782
Great -- I'll look into this.  Our framework already can be built as a static library or a dynamic library.  If it's just a matter of adding the switch it'll be super easy.

I want to make sure it doesn't screw up the dynamic framework people though.

[2018-02-14 01:40] altairdeark commented on #783
Hi @E-B-Smith, thanks for quick response.
My apologise, were copied `alloc` by a mistake from buffer.

Waiting for fix

[2018-02-14 22:24] E-B-Smith commented on #783
I put in a check for this in this PR:  #785

But I am still wondering how our backend is sending you a non-string.

Do you have any custom Branch integrations? Maybe a server-to-server integration or web-hook?

What other SDKs are you using?

[2018-02-14 22:28] E-B-Smith commented on #781
I am going to close this out now.  If you are still having issues please reopen this issue or contact support@branch.io.

Thanks!

[2018-02-14 22:28] #781 closed

[2018-02-15 03:29] altairdeark commented on #783
Yes, we use web-hooks to generate links and it looks like we were setting identity as a **Number** not a **String**, however branch server did not decline such requests as incorrect.

May be you are using database without strong type checks? like mongo or else.

Thanks for quick update and merge request.
But you fixed client side, we think the main problem is on server side.
Also it will only affe

[2018-02-15 05:14] altairdeark commented on #783
## Updates

We fix our web-hooks, however it does not fix the problem even for new users.

[2018-02-15 16:23] E-B-Smith commented on #783
Thanks for your great feedback.  I have a client patch, and we are working on a server side fix too so that existing users won't crash as well.

@snakingfire

[2018-02-23 18:12] jeffvstudio commented on #623
Hey @E-B-Smith, we're facing same issue, and the link is broken :( Could u pls let me know where i can  see how to implement this? I'm watching this object in this link but it's used on "Share message dynamically part", not sure if that's what i really need. Appreciate your help!

Thanks!

https://docs.branch.io/pages/apps/ios/

[2018-02-24 15:32] jtmilne opened #789 "Email subject does not work when sharing to Gmail ios app"
I've created a link that has $email_subject set. When it is shared to the Mail app it works fine. When it is shared the the Gmail app the share text shows up in the subject and the body, and the $email_subject text does not show up at all. Since the share text is much longer it looks ridiculous in the subject line.

Gmail supports sharing the subject line as when I share something from other apps

[2018-02-27 14:17] wassimseif commented on #604
I'm having an issue, the opening the app from safari works, however none of the functions in the appdelegate are getting called

[2018-02-28 12:21] ranhsd opened #790 "initSession not called on app launch - Swift"
Hi,
the **initSession** function is not triggered on app launch. If I move the app to background and then return to foreground everything works as excepted but If I am killing the app and then launch it from a deep link the initSession is not getting called.

This is my code:

[code]

[2018-03-04 04:54] ranhsd commented on #790
Somebody can assist here? Maybe @E-B-Smith ?

Thanks.

[2018-03-04 22:07] E-B-Smith commented on #790
Sorry to hear about your troubles. It looks like your code is right so it's probably something in your configuration.

Make sure your deep link domain is set up right in your projects capabilities section:
https://docs.branch.io/pages/apps/ios/#configure-associated-domains

And that your `URL type` is set up in your Info.plist file.
https://docs.branch.io/pages/apps/ios/#configure-infoplist

Also,

[2018-03-04 22:48] E-B-Smith commented on #790
Also, with what version of iOS are you having problems?

[2018-03-05 03:30] E-B-Smith commented on #623
Sorry about the broken link!  Here's a link to a Swift example:

https://github.com/BranchMetrics/ios-branch-deep-linking/blob/015db1db4cf976acc1a6ac31f1e00c809b1506cd/Branch-TestBed-Swift/TestBed-Swift/HomeViewController.swift#L480-L508

If you want to share a link and change the share text or other link properties during the share action, you can add a delegate call back and change it before it'

[2018-03-05 07:02] ranhsd commented on #790
Hi @E-B-Smith thanks for your answer. It is not working on iOS 11 (I didn't tested it on iOS 10 yet). I did all the configurations because the link itself is working the only thing that doesn't work is that **initWithSession** callback is not triggered **only when the app is launched** from the deep link and the app is not running in background

[2018-03-05 07:57] ranhsd commented on #790
Hi @E-B-Smith I found the problem. I was returned **false** from **willFinishLaunchingWithOptions** so it's mandatory to return **true**  from both **willFinishLaunchingWithOptions** and **didFinishLaunchingWithOptions**

[2018-03-05 07:57] #790 closed

[2018-03-05 08:00] E-B-Smith commented on #790
Dang -- That trips me up too sometimes.  Good catch.

[2018-03-05 08:03] ranhsd commented on #790
Thank you for your quick response (as always) I really think your service is awesome.

[2018-03-07 01:45] E-B-Smith commented on #782
This should be possible now!  Let me know if it doesn't work for you.

[2018-03-07 01:45] #782 closed

[2018-03-07 03:19] bridger commented on #782
Thank you!

[2018-03-08 22:19] E-B-Smith commented on #783
Both the SDK and the Branch back end are fixed for this now.  Let me know if you have any other issues.

[2018-03-08 22:20] #783 closed

[2018-03-09 09:59] alaraKalama opened #793 "Sharing deep link through Skype acts as if you clicked it"
When you create BranchUniversalObject and share it with Skype, minimise the app and then reopen it again the +clicked_branch_link parameter is true and the app acts as you clicked a deep link.

I am setting imageUrl, title, contentDescription and custom metadata key to the universal object, its contentIndexMode is set to private, I am also adding BranchLinkProperties with emailSubject, desktopUrl

[2018-03-09 17:56] E-B-Smith commented on #793
I'll get Skype on my phone and check this out!

[2018-03-09 18:41] E-B-Smith commented on #793
I played around with sharing a Branch app link in Skype but didn't see this issue.

Can you list the exact steps you used to reproduce this?

[2018-03-10 00:58] jimmyktf opened #795 "Conflicting return type in declaration of 'new'"
We are getting the static analyzer warning

Branch/Branch-SDK/Branch-SDK/Networking/BNCNetworkService.h:36:1: Conflicting return type in declaration of 'new': 'instancetype' (aka 'id') vs 'id<BNCNetworkServiceProtocol>'

https://github.com/BranchMetrics/ios-branch-deep-linking/blob/02394ce83dc419bac02c9877d9f0ce9a3c7515f3/Branch-SDK/Branch-SDK/Networking/BNCNetworkService.h#L36

[2018-03-10 00:59] jimmyktf opened #796 "Conflicting parameter types"
We are getting the static analyzer warning

Branch/Branch-SDK/Branch-SDK/Networking/BNCNetworkService.h:41:98: Conflicting parameter types in declaration of 'networkOperationWithURLRequest:completion:': 'void (^__strong)(__strong id<BNCNetworkOperationProtocol>)' vs 'void (^__strong)(BNCNetworkOperation *__strong)'

https://github.com/BranchMetrics/ios-branch-deep-linking/blob/02394ce83dc419bac02c

[2018-03-10 21:16] E-B-Smith commented on #796
Thanks for reporting this -- I'll make the change.

Which version of Xcode / code analyzer warnings do you have set?  I set all of them and I don't see this warning.  I want to keep the code free of warnings.

[2018-03-10 21:31] E-B-Smith commented on #795
Fixed in #792 .

[2018-03-10 21:36] E-B-Smith commented on #796
Fixed in PR #792 .

[2018-03-13 06:02] deepshah7 opened #797 "Possible Memory leak while profiling BareBones project"
Hello There,

I was evaluating branch before integrating it into our app. I was profiling the BareBones (iOS) example from Branch. I observed that when the application loads it leaks memory (around 2.3kb).

Do we know anything about this? Am I missing something?

Instruments shows that there might be a cycle in the code and because of that the leak is happening (PFA the screenshot of the cycle).

[2018-03-13 06:32] deepshah7 commented on #797
#798 This is the pull request I have created it seems to be solving the problem, however I am not sure if its the right fix.

[2018-03-13 15:33] E-B-Smith commented on #797
Great catch --  Thanks!  I'll merge this in the next release, sometime in the next week.

[2018-03-14 13:34] alaraKalama commented on #793
1. I am creating BranchUniversalObject with canonicalIdentifier "content/\(id)"
2. I am setting values for imageUrl, title, contentDescription and contentIndexMode is set to private. Also adding metadata key with custom key and value
3. I am creating BranchLinkProperties with 3 control parameters - "$desktop_url", "$email_subject" and custom share timestamp.
4. I am calling the showShareSheet meth

[2018-03-14 15:53] michalcichon opened #800 "BNCURLBlackList gets wrong version value"
The variable `blackListVersion` gets `nil` value in `BNCURLBlackList.m:45` and it tries to get a non-existing file from Branch server.

Logs:

[code]

[2018-03-14 15:57] E-B-Smith commented on #800
Thanks for noticing!   Everything is okay.
The SDK is looking for the next version of the and getting a 404.
We are going to update the 404 with a better message.

[2018-03-14 20:58] DiegusPopus commented on #789
We are having exactly the same problem, do you have any news about it @E-B-Smith ??
Thanks in advance

[2018-03-14 22:17] E-B-Smith commented on #797
Look at this PR, #802 , HandleNetwork Deallocation.

I added the code to break the retain cycles, but only when we're really done with the network session.

[2018-03-15 00:52] E-B-Smith commented on #789
I plan on starting on this tomorrow.

[2018-03-15 18:49] michalcichon opened #804 "Share Sheet doesn't allow to use own BranchActivityItemProviderDelegate"
I would like to map `channel` attribute when I use `showShareSheet` on `BranchUniversalObject` but I am not allow to do it because `showShareSheetWithLinkProperties:andShareText:fromViewController:completion:` method cannot pass `delegate`. The method on the bottom creates item providers using this:

[code]

And it uses the following method with a `nil`ed `delegate`:

[code]

BTW. There is no `get

[2018-03-15 20:39] E-B-Smith commented on #804
You should use a `BranchShareLink` object, which is a newer and better way to share Branch objects.

You can set a delegate on the `BranchShareLink` and the delegate object will be called back so your app can override link settings like channel or the sharing text based on the activity that the user selects.

Here's some example code:

https://github.com/BranchMetrics/ios-branch-deep-linking/blob/

[2018-03-16 21:30] E-B-Smith commented on #797
Updated in 0.23.4

[2018-03-16 21:30] #797 closed

[2018-03-16 21:30] E-B-Smith commented on #796
Updated in version 0.23.4.

[2018-03-16 21:30] #796 closed

[2018-03-16 21:30] E-B-Smith commented on #795
Updated in version 0.23.4.

[2018-03-16 21:30] #795 closed

[2018-03-16 21:31] #800 closed

[2018-03-17 10:26] deepshah7 commented on #797
I did try to profile the BareBones project with the fix and it does seem to fix the leak. Thanks!

[2018-03-18 23:02] fevicks opened #806 "Branch Deep Link issue - on launch from deeplink url"
Always not getting the deeplink parameters - if app is killed & open from deep link - some times works randomly. If the app is in background i can get the parameters, please check the below code

    func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplicationLaunchOptionsKey: Any]?) -> Bool {
        // Override point for customization after applicati

[2018-03-19 05:39] mosn commented on #800
Agree that the message is very confusing. Wish I came here before reinstalling the SDK and changing all keys.

[2018-03-19 17:32] E-B-Smith commented on #800
I updated the code so that 404 pages aren't printed so it looks less like an error. It's in PR #807 .

Sorry for the confusion.

[2018-03-19 17:33] E-B-Smith commented on #804
If you have questions about this you can reopen the issue and I'll be glad to help.

[2018-03-19 17:33] #804 closed

[2018-03-19 17:40] E-B-Smith commented on #806
Try moving your `branch.initSession` to right after `Fabric.with([Crashlytics.self])` and before `Thread.sleep`.

Just curious: Why do you call `Thread.sleep` in your `didFinishLaunchingWithOptions` method? If you take too long in that method iOS will kill your app sometimes.

[2018-03-20 00:00] E-B-Smith commented on #789
This is a Google Gmail bug that I can't find a solution for.

It's a known issue, and after checking Stack Overflow and working on it myself for a while, I'm out of ideas.

Here's an existing report:

https://productforums.google.com/forum/#!topic/gmail/UJJx4BcRJiU;context-place=forum/gmail

If everyone reports this to Google maybe they'll fix it sooner. Here's my report:

![gmail](https://user-im

[2018-03-20 00:01] #789 closed

[2018-03-20 08:07] fevicks commented on #806
@E-B-Smith Thanks for your response. The issue was - i was declered initSession in both **"didFinishLaunchingWithOptions & application(_ app: UIApplication, open url: URL, options: [UIApplicationOpenURLOptionsKey : Any] = [:]) -> Bool"**

i removed it from  **didFinishLaunchingWithOptions**, now its working fine

Regarding Thread.sleep - we need to show the splash screen for 2 second as the requir

[2018-03-20 14:40] #806 closed

[2018-03-23 16:50] E-B-Smith commented on #793
I was able to reproduce this with the right combination of Branch dashboard settings.

I made a fix for this that should be out soon. See PR #811 , Skype sharing.

[2018-03-28 17:28] E-B-Smith commented on #793
This is fixed in version 0.23.5.

[2018-03-28 17:28] #793 closed

[2018-03-29 05:57] yanganggithub opened #812 "I found that sharing to facebook and twritter always fails on ios11"
SLComposeViewController dealloc <SLComposeViewController: 0x121d5dc40>
Link sharing cancelled

[2018-03-29 15:38] E-B-Smith commented on #812
I've tried this and it works without crashing for me.
Can you add more details or maybe a code snippet of what you're doing?

[2018-03-30 01:34] yanganggithub commented on #812
let branchUniversalObject: BranchUniversalObject = BranchUniversalObject(canonicalIdentifier: "monster/12345")
branchUniversalObject.title = "Meet Mr. Squiggles"
branchUniversalObject.contentDescription = "Your friend Josh has invited you to meet his awesome monster, Mr. Squiggles!"
branchUniversalObject.imageUrl = "https://example.com/monster-pic-12345.png"
branchUniversalObject.contentMetadata.c

[2018-03-30 08:50] yanganggithub commented on #812
kumu[8680:3007748] [core] SLComposeViewController initWithExtension: <NSExtension: 0x13546f960> {id = com.apple.share.Facebook.post} requestedServiceType: com.apple.social.facebook
2018-03-30 16:49:26.235819+0800 kumu[8680:3007748] [core] SLComposeViewController dealloc <SLComposeViewController: 0x1356421e0>
Link sharing cancelled

[2018-03-30 16:48] E-B-Smith commented on #812
Try this example of sharing a Branch link:

https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Examples/WebViewExample/WebViewExample/ArticleViewController.swift#L93-L103

[2018-04-02 18:32] E-B-Smith commented on #812
I hope this helped.  If you have any questions please re-open this issue and ask.

[2018-04-02 18:32] #812 closed

[2018-04-04 14:22] jaz-ah opened #814 "build warnings with XCode9.3"
When building with Branch 0.24.0 (or 0.23.5) with XCode9.3, you get the following warnings:
<img width="338" alt="screen shot 2018-04-04 at 7 21 32 am" src="https://user-images.githubusercontent.com/13263369/38313463-f3663a8a-37d8-11e8-9eb8-210adc84b6a5.png">

[2018-04-04 16:17] jaz-ah commented on #814
+1 thanks @E-B-Smith

[2018-04-05 22:41] E-B-Smith commented on #814
Fixed in version 0.24.1.

[2018-04-05 22:41] #814 closed

[2018-04-07 09:40] SudarvizhiSelvam opened #815 "Urgent Issue"
I integrated the branch.io using the document "https://docs.branch.io/pages/apps/ios/#handle-push-notifications "

when i click the link params is showing like this Optional(["+clicked_branch_link": 0, "+non_branch_link": com.thevoizeapp://open?link_click_id=511052502067353474, "+is_first_session": 0])
when i close the app and iam getting the param delayed why this happens Optional(["$ios_url": ht

[2018-04-09 07:50] SudarvizhiSelvam commented on #815
Hi E-B-Smith can you suggest me any answer for this

[2018-04-10 07:50] SudarvizhiSelvam commented on #815
Hi E-B Smith Thank your help it is working fine now
 but it in cross platform it is not working andriod link is redirecting in to my app i wont get the params
same issue in android also why this happen branch io does not support this..???

[2018-04-10 13:52] E-B-Smith commented on #815
I think you have a configuration issue with your Android app as well.

You can get specific question answered at the forum:

https://github.com/BranchMetrics/android-branch-deep-linking

[2018-04-10 13:52] #815 closed

[2018-04-11 09:02] AndreiVidrasco opened #816 "BranchSDK doesn't open links with "auth" in path"
Hi,

I have an url in this form `https://my-app.app.link/?path=auth`.

When I open on device and in `func application(_ application: UIApplication, continue userActivity: NSUserActivity, restorationHandler: @escaping ([Any]?) -> Void) -> Bool`

I call `Branch.getInstance().continue(userActivity)` it returns false.

Changing `auth` in path to anything else(e.g. `auth2`, 'aut') `Branch.getInstance()

[2018-04-11 14:57] E-B-Smith commented on #816
That is due to a URL blacklist we have to prevent Branch from trying to open a URL with login credentials in it.

The blacklist is hosted on the Branch servers and we will update it today to fix this.

[2018-04-11 16:29] E-B-Smith commented on #816
In the mean time, can you use a different value for the key, or pass the key in deep-link data?

[2018-04-13 22:55] baottran commented on #734
@E-B-Smith , what happens here when there's a bad internet connection? Does the Branch sdk still try to reconnect and listen for any deep links after or should we try to reinitialize it?

[2018-04-13 22:56] E-B-Smith commented on #734
The SDK will try again later -- you don't need to re-initialize it.

[2018-04-14 00:42] baottran commented on #734
do you know how long it takes to try again?

[2018-04-14 00:45] E-B-Smith commented on #734
It is won’t try again until the app comes into the foreground again or another link is checked.

[2018-04-17 02:47] blakedallen opened #818 "Thread 1: EXC_BAD_ACCESS (code=1, address=0x0)"
Getting a EXC_BAD_ACCESS error in iOS 11.3, Swift 4 when tapping on a deep link. I have created a separate new project to make sure that the branch library wasn't interacting with any other libraries. Followed the steps in the SDK install instructions.

Error occurs when:
Tapping a deep link in google inbox -->  user is successfully routed to the app --> the app crashes when loading. https://cl.ly

[2018-04-17 17:16] E-B-Smith commented on #818
Hmm, this works for me with both deferred deep linking and regular deep linking. I'm using Xcode 9.3 / iOS 11.3 / iPhone 7 Plus.

Try change the casting so that it matches the actual parameters that are passed:
[code]

Here's the whole code snippet of my `application:didFinishLaunchingWithOptions:` method:

[code]

[2018-04-17 23:32] shepting opened #819 "Preprocessor Check Too Early"
There is a check for Minimum iOS version in several files of the Branch SDK:

[code]

Unfortunately, in several of them the check happens before the import system is able to import `Foundation.h` (e.g. https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-SDK/Branch-SDK/BranchCSSearchableItemAttributeSet.h#L9).

That means that the preprocessor macros may not be defined yet.

[2018-04-18 00:30] E-B-Smith commented on #819
Thanks for the heads up.

I checked and found one place that the current code base was doing this and fixed it.

Here's the PR: https://github.com/BranchMetrics/ios-branch-deep-linking/pull/820  I'll merge it in with the next release which will be sometime at the end of week.

[2018-04-18 19:20] jjjeeerrr111 opened #822 "branchUniversalObject.showShareSheet crashes when sharing to Slack"
Hi,

When using the branch share sheet to share links it works properly everywhere but for some reason crashed when sharing to slack.

Here are some logs:

As you can see it shares properly to whats app, but then i try slack and crash :(

Completed sharing to net.whatsapp.WhatsApp.ShareExtension
2018-04-18 15:09:59.374810-0400 r[11239:4747340] [core] SLComposeViewController dealloc <SLComposeViewC

[2018-04-18 21:02] E-B-Smith commented on #822
In the mean time, try this fix that they suggested to me:

[2018-04-18 21:06] jjjeeerrr111 commented on #822
Hi,

This does not fix the issue. I want to clarify that the link *is* being shared. The app crashes though.

[2018-04-18 21:11] E-B-Smith commented on #822
That's what I see too: the link is shared but then the app crashes in what looks like the Slack UIActivity clean up code.

[2018-04-19 06:14] philipengberg opened #823 "Unable to deeplink due to 400 on https://api.branch.io/v1/open"
*By request from your support team, I hereby create an issue on this repo.*

We're seeing a lot of iOS devices, that refuse to deeplink from any Branch link. After debugging it we found that the Branch SDK produced this error on those devices:

`BNCServerInterface.m(598) Error: An error prevented request to https://api.branch.io/v1/open from completing: Error Domain=io.branch.sdk.error Code=1003 "

[2018-04-19 17:38] E-B-Smith commented on #822
I heard back from Slack:  There is an active bug report on this issue already and they are working to fix it.  I'll update this issue when I hear something more.

[2018-04-19 17:39] E-B-Smith commented on #823
Thanks for reporting this.  I'll look into it and see what I find.

[2018-04-19 17:43] jjjeeerrr111 commented on #822
Thanks for the quick update :) 👍

[2018-04-19 21:50] nextbigidea commented on #823
Having same issue....

`2018-04-19 17:40:58.553035-0400 VICI[8508:3031715] [branch.io] Branch.m(192) Log: Branch version 0.24.1 started at 2018-04-19 21:40:58 +0000.
2018-04-19 17:40:58.786011-0400 VICI[8508:3031719] [branch.io] BNCServerInterface.m(598) Error: An error prevented request to https://api.branch.io/v1/open from completing: Error Domain=io.branch.sdk.error Code=1003 "The network reque

[2018-04-19 21:57] nextbigidea commented on #823
My app now no longer shows up on branch dashboard either...

[2018-04-19 21:57] E-B-Smith commented on #823
@nextbigidea Sorry about your issue!

Can you turn logging on and send me the logs?
To turn Branch logging on in the app, add the line
[code]
in your `application:didFinishLaunchingWithOptions:` method.

[2018-04-19 21:59] E-B-Smith commented on #823
@nextbigidea email me at esmith@branch.io.

[2018-04-19 22:11] E-B-Smith commented on #823
Try making sure your Branch key is correct and not truncated.

[2018-04-19 22:32] nextbigidea commented on #823
@E-B-Smith it's not truncated

[2018-04-20 02:55] E-B-Smith commented on #823
Thank you both for all the info.

I have a fix in PR https://github.com/BranchMetrics/ios-branch-deep-linking/pull/824 which I'll promptly release after some more testing.

[2018-04-20 02:57] E-B-Smith commented on #818
@blakedallen Did you resolve your issue?

[2018-04-20 14:41] hushhash opened #825 "DeepLink opens app but callback in not firing until the app goes to background"
Two targets on the same code base with different configurations, the one that's in production is having a critical and strange issue:
- App is running
- User clicks on a deeplink from outside the app
- App is triggered and is opened and one of two things happen:
1.  On the test target, initSessionWithLaunchOptions:andRegisterDeepLinkHandler: callback is being called immediately as expected as a re

[2018-04-20 15:04] E-B-Smith commented on #825
Are you using the same URL scheme and applink domains defined correctly in both configurations?

Check that the URL scheme defined in your Info.plist is correct in both, and that your associated domains are set up in your app's capabilities section.

[2018-04-20 15:34] E-B-Smith commented on #825
I'm glad you solved it.  I'll look into why it has to be the first though.

[2018-04-21 21:35] E-B-Smith commented on #825
I updated the documentation to make sure it's clear that the app's URI scheme should be the first one listed in the Info.plist file.

Release 0.24.2.

[2018-04-21 21:35] #825 closed

[2018-04-21 21:35] E-B-Smith commented on #823
Fixed in release 0.24.2.

[2018-04-21 21:35] #823 closed

[2018-04-21 21:35] E-B-Smith commented on #819
Fixed in release 0.24.2.

[2018-04-21 21:35] #819 closed

[2018-04-21 21:36] E-B-Smith commented on #818
If you're still crashing you can re-open this issue.

[2018-04-21 21:36] #818 closed

[2018-04-24 17:51] blakedallen commented on #818
Thank you for your response! This was tricky to debug but I looked into this and found out how to reproduce. So in our setup we're using branch to deeplink a user from an email to the app.
The flow currently works like so:
[code]
The issue it turns out, stems from us using a redirect.
When I just tap the branch link directly, things work fine.
If I redirect the user to a branch link, the app crash

[2018-04-24 18:36] E-B-Smith commented on #818
I still don't quite understand why you're getting a crash here, but I'm glad you solved it.

Branch has a deep-linked email solution.  Here's a link to the docs:
https://docs.branch.io/pages/emails/get-started/

This may save you some grief.

[2018-05-07 08:20] nguyenngocnhan90 opened #830 "[iOS 11.3] Cannot get controlParams in initSession function"
I am using Branch to catch `controlParams` in `initSession` function in AppDelegate.swift. It works in iOS 11.2 but iOS 11.3.
So I cannot handle the detail of action in iOS 11.3 .

Would you please help me to detect this issue and give me the feedbacks? Thanks!

[2018-05-07 14:51] E-B-Smith commented on #830
Have you added the Branch call back to both

[code]

[2018-05-08 04:44] nguyenngocnhan90 commented on #830
I did add to these functions as well. But it does not run to these functions to call Branch callback.
For iOS 11.3

[2018-05-08 06:02] E-B-Smith commented on #830
Have you defined a URL scheme for your app and configured it in the Branch dashboard?

Also, can you post the relevant portions of your app delegate here?

[2018-05-08 09:01] nguyenngocnhan90 commented on #830
[code]

[2018-05-08 20:33] E-B-Smith commented on #830
Is this just deferred deep linking or all deep linking?

[2018-05-08 22:29] E-B-Smith commented on #830
@richardliveraise There's no SDK update needed.

The problem with 11.3.1 is that Apple changed the Safari user agent string to not include the patch version of the browser, which was causing our deferred deep linking mechanism on the backend to fail.

We patched and deployed the backend and it should be working better now.

[2018-05-09 03:42] nguyenngocnhan90 commented on #830
Oh, great!
Thank you very much, @E-B-Smith !
I did test again on many iOS version, and it works well!

[2018-05-09 03:42] #830 closed

[2018-05-09 11:14] joaopedro1520 opened #834 "Links not being created correctly on iOS 10"
Hello, I'm using the latest branch version 0.25 and when doing some tests noticed that on ios10 the links are being created with bcn.lt/a/ -- shows private branch key--? channel ...., but on iOS 11 it correctly shows my custom link and most importantly it doesn't show the branch key in the link.
Thanks