[2018-05-09 16:09] E-B-Smith commented on #834
This is normal.

When generating a link, Branch tries to create a short link which requires a network call to create the link on the Branch server. If the network isn't available, the Branch SDK creates a long link instead, which uses the bnc.lt domain and contains the Branch key.

[2018-05-09 16:09] #834 closed

[2018-05-09 16:16] joaopedro1520 commented on #834
This is only happening on iOS 10, on both iOS 9 and 11 the link is created correctly even with no internet. So it's okay for the branch key to be exposed in the link?

[2018-05-09 16:29] E-B-Smith commented on #834
The created links are cached, so if you create a link, turn off internet, and create the same link again, it will use the cached link again (provided all the link info is the same).  That might be what you're seeing.

Yes, it's okay for the key to be exposed like this.

[2018-05-18 18:44] ab-rdarts opened #836 "Cannot get any parameters from deep link"
I'm trying to send deep link from dashboard with several test parameters. Application opens by generated deep link url, but Branch.getInstance().initSession handler returns in parameters only three parameters [+clicked_branch_link, +is_first_session, +non_branch_link] which doesn't include test parameters

[2018-05-20 14:57] jaz-ah opened #837 "crash in 0.24.2 during app startup"
Not a widespread issue, but crashlytics is reporting some users crashing here:

[code]

[2018-05-20 14:58] jaz-ah commented on #837
(in the meantime, we have updated to 0.25.0 so we will report if we continue to see crashes with that version)

[2018-05-20 17:19] mohammadrhn opened #838 "Branch callback method does not get called"
Hi. I've noticed that when I click on a branch link, the data does not get passed to the iOS app. I've tested the links again in branch debug mode and found out that the branch server responds with link data but the callback method does not get called so the app doesn't receive any parameters.

[2018-05-21 09:07] abintellectsoft commented on #836
- What link are you clicking on to get the parameters?
https://j8co.test-app.link/w7P6GknE1M

- Is the app already running in the background when you click the link?
yes

- What version of iOS are you running?
11.3.1, 11.4 beta 2

[2018-05-21 09:09] ab-rdarts commented on #836
- What link are you clicking on to get the parameters?
https://j8co.test-app.link/w7P6GknE1M

- Is the app already running in the background when you click the link?
yes

- What version of iOS are you running?
11.3.1, 11.4 beta 2

[2018-05-21 12:49] mohammadrhn commented on #838
- The links that I created using branch dashboard (Quick links)

- I tested the app in both states. when it was running in the background and when the app was not open and in both states, the problem occurs.

- The iOS version that my test device is running on is 11.3.1

[2018-05-22 07:42] sudarvizhiIOS opened #840 "Universal does not work when app is not there showing safari cannot open invalid address"
Hi,E-B-Smith.
my code for creating link is

 let data: UserDefaults? = UserDefaults.standard
        let userName = data?.object(forKey: "uName") as? String
        let userImg = data?.object(forKey: "USER_IMG") as? String ?? ""
         let buo = BranchUniversalObject(canonicalIdentifier: "content/123")

        if self.canOpenURL(string: userImg) {
             buo.imageUrl = userImg
        }el

[2018-05-22 15:32] dbonates opened #841 "Links not being created correctly"
It seems to be the same problem as the https://github.com/BranchMetrics/ios-branch-deep-linking/issues/834 (closed issue ¯\\\_(ツ)_/¯) here on Peixe Urbano app, and like @joaopedro1520 said there, it doesn't seems to be related to internet since our app relies entirely on it and is running fine on related scenario.

### Print of link being generated link:

![fail-link](https://user-images.githubuse

[2018-05-22 16:00] E-B-Smith commented on #841
Thanks for the heads up! That's a pretty dramatic fall in sharing. I'll investigate this and let you know what I find.

Quick question: Are you trying to create an alias link?

[2018-05-22 18:41] E-B-Smith commented on #836
Are you setting link URI scheme deep link mode to 'aggressive' for this link?

It can be set when the link is created or globally in the Branch dashboard under 'Link Settings'.

This is a work around for this issue:
https://github.com/BranchMetrics/ios-branch-deep-linking/issues/766

[2018-05-22 18:49] E-B-Smith commented on #837
Are you still occasionally crashing here?  Also did you update Crashlytics too?

[2018-05-22 18:54] E-B-Smith commented on #840
Is it related to this issue? https://github.com/BranchMetrics/ios-branch-deep-linking/issues/766

Apple has broken universal links in recent versions of iOS, so you need to turn on 'aggressive' URI redirect mode in the Branch dashboard until this is fixed.

We've filed a radar report with Apple to get this fixed!

You can set this option in the link by setting `$uri_redirect_mode`, or you can set

[2018-05-22 20:03] E-B-Smith commented on #841
Can you send the parameters that you are setting?  I'm not seeing short link creation fail, so maybe it's a particular parameter that's causing the problem.

[2018-05-23 17:56] a56097634a opened #842 "Strange Fabric dependency and header import"
Hello Branch Engineers,

I noticed in the SDK, there are several strange header imports such as: `#import "../Fabric/Answers.h"` or `#import "../Fabric/Fabric+FABKits.h"`.

I checked the podspecs, it has Fabric header files included in the source files like: `"Branch-SDK/Fabric/*.h"` and subspecs with: `core.private_header_files = "Branch-SDK/Fabric/*.h"`

I am wondering what is the reason that yo

[2018-05-23 18:16] E-B-Smith commented on #842
We added Fabric as an optional dependency.  If you include Fabric in your project, Branch will link to Fabric Answers for install/open stats, and add version information for Crashlytics.

Some of the apparently weird way the headers and dependencies work in Branch is because the SDK is designed to be installed through either Fabric, Cocoapods, Carthage, or as a direct dependency.

It's seems odd b

[2018-05-23 20:03] ernesto commented on #841
Same behavior here :/

[2018-05-23 21:15] justinseanmartin commented on #842
For consumption via CocoaPods, could you include the Answers integration as a subspec that can be optionally included (and actually has a dependency on Fabric) instead of relying on optional binding?

Alternatively, you could just privately redefine `+[Fabric configurationDictionaryForKitClass]` and `ANSLogCustomEvent` within `BNCFabricAnswers.m` in order to keep that as a private concern.

It is

[2018-05-23 21:51] E-B-Smith commented on #842
Are you using CocoaPods to manage your dependencies?

[2018-05-24 14:57] E-B-Smith commented on #841
Please send me an example of the kind of link your trying to create that is failing!

I tested a number of times, and for the link parameters and settings I tried, I always got a short link.  So I think it's some link parameter that is being set that is misbehaving.

Rather than just having to guess it would be super helpful to have an example of a failing link.

[2018-05-24 18:03] E-B-Smith commented on #841
This may have become a problem now because we are improving our backend code and tightening up our data type requirements.  The unfortunate side effect is that sometimes things that used to work start to fail.

Specifically, setting `$custom_meta_tags` to a stringified dictionary is probably rejected be the back end one the short link is generated.

I recommend using the `BranchShareLink` class to

[2018-05-24 18:19] insidegui commented on #841
What about users running previous versions of the app?

[2018-05-24 19:59] ernesto commented on #841
About my logs:
[code]

[code]

[code]

[2018-05-24 20:27] justinseanmartin commented on #842
Yep, we use CocoaPods to manage our dependencies. We have added a whitelist to our linter that validates source files that we compile and their header imports.

Generally, we'd just import these as `#import "Fabric+FABKits.h"` for imports of headers shipped within its own library.

I understand that this is an extenuating circumstance in that you're shipping the Fabric headers as part of your fram

[2018-05-24 21:51] E-B-Smith commented on #842
We are a partner with Fabric! We added that header specifically so that their SDK kit manager could distribute our SDK.  Hopefully they tell us before publishing a change that breaks their app kit manager.

https://fabric.io/kits/ios/branch/summary

[2018-05-24 21:51] #842 closed

[2018-05-25 07:10] justinseanmartin commented on #842
That may be true, however it will mean that both Branch and Fabric dependencies will need to both be updated in our project if a breaking change is introduced. There is nothing in the Branch podspec that indicates which version(s) of Fabric are able to be used together.

[2018-05-26 10:26] mohammadrhn commented on #838
I don't think so. I'm not using universal links

[2018-05-28 14:14] E-B-Smith commented on #838
You'll need to configure universal links for you app for Branch links to work right. Here's the guide to setting that up:

https://docs.branch.io/pages/apps/ios/

[2018-05-28 14:14] #837 closed

[2018-05-29 16:53] E-B-Smith commented on #838
I hope this helped fix your issue!

You can re-open this issue or contact Branch support if you're still having trouble.
https://support.branch.io/support/home

[2018-05-30 16:11] E-B-Smith commented on #841
@GeneShay Had a good point:  Is this because disableTracking in Branch is set for these users?

If you set disableTracking for a user (for instance, for GDPR), only long links can be generated.

Short links require that a round trip call to the Branch servers be made, which can be considered tracking.

[2018-05-30 21:28] insidegui commented on #841
Ok, we have not disabled it, so it's enabled. Therefore our issue is not because of that flag.

[2018-05-31 01:11] GeneShay commented on #841
@ernesto, in your case, the issue is definitely that [you have disabled tracking with Branch SDK](https://docs.branch.io/pages/apps/ios/#enable-disable-user-tracking).

@insidegui and @dbonates ,
1. Have you tried Edwards example code, where he used your exact parameters to create a link? Did it work as expected, or were you able to reproduce the issue?
I have not been able to reproduce this issue

[2018-05-31 16:09] asiliuk opened #843 "DeepLink callback in not firing until the app goes to background"
Hi, I'm stuck with similar issue like this onehttps://github.com/BranchMetrics/ios-branch-deep-linking/issues/825

But only in my case changing URL schemes order didn't help.
Issue can be reproduced even on test project https://github.com/BranchMetrics/Branch-Example-Deep-Linking-Branchster-iOS

So when I'm trying to open my custom app URL when app is in foreground nothing happens until goin into

[2018-05-31 21:24] #822 closed, assigned to E-B-Smith

[2018-06-01 06:08] budged commented on #843
Seems like I found possible issue in source code in **Branch.m** file

`
- (BOOL)handleSchemeDeepLink_private:(NSURL*)url fromSelf:(BOOL)isFromSelf {
    ....
    [self initUserSessionAndCallCallback:**!**self.isInitialized];
    ....
}

- (void)initUserSessionAndCallCallback:(BOOL)callCallback {
    ....
        // If the session is not yet initialized
    if (**!**self.isInitialized) {
        [

[2018-06-01 20:00] E-B-Smith commented on #843
Branch opens use app schemes as a way to support opening universal links.

The expected way for Branch links to work is:

1. User clicks on a link like 'https://myapp.app.link/xyzpdq'.

2. Either the app opens immediately and handles the link (universal link).

3. Or Safari opens a web page at 'https://myapp.app.link/xyzpdq', which in turn tries to open the app with an app scheme that looks like '

[2018-06-08 16:35] E-B-Smith commented on #843
I hope you resolved you issue! If you're still having trouble please reopen this issue or open another.

[2018-06-08 16:35] #843 closed

[2018-06-12 18:04] E-B-Smith commented on #841
If you're still having problems with this then re-open this issue or open a new one.

I hope this helped.

[2018-06-12 18:45] insidegui commented on #841
It looks like the issue was server-side because the links are not being generated correctly again, without us changing anything 😊

[2018-06-14 17:22] mohammadrhn commented on #838
Hi again. I've enabled the universal links from the dashboard and created some new links and tested them but in the Xcode console I get this response when I click on a branch link:

`{"session_id":"535857377115803737","identity_id":"511597697552485853","link":"https://appstore.app.link?%24identity_id=511597697552485853","identity":"58806718","data":"{\"+match_guaranteed\":true,\"$marketing_title\"

[2018-06-19 16:46] E-B-Smith commented on #838
If your using the Segment integration you need to integrate Branch differently.

I find it easier to use Branch notifications when using Segment rather than the callback function.

Here's an example of using Branch with Segment:
https://github.com/BranchMetrics/Segment-Branch-iOS/tree/master/Examples/Fortune

Initialize Segment with Branch:
https://github.com/BranchMetrics/Segment-Branch-iOS/blob/

[2018-06-20 17:28] mohammadrhn commented on #838
Thanks.
I Added Branch notifications and when the app is in the background it works fine but when I close the app from multitasking and tap on a branch link it does not work. links just open the app but notifications do not get called.
Should I register notifications in a specific file? (Delegate file for example)

[2018-06-20 18:35] E-B-Smith commented on #838
It sounds like you need to make sure that Segment and the Branch integration are initialized in your `application:didFinishLaunchingWithOptions:` method, and you have added an observer for the notifications in that method too.

[2018-06-21 08:42] mohammadrhn commented on #838
Thank you very much. The solution resolved my issues.

[2018-06-21 08:42] #838 closed

[2018-06-21 14:44] E-B-Smith commented on #838
Awesome!

[2018-06-22 16:01] joaopedro1520 commented on #841
In my case, it's still not working on ios10 . the links are still huge. This is my code to generate the links.

[code]

I compared with the testbed app and it seems the configs I have are correct. I didn't change anything since the time I implemented this a year ago.

Thanks

[2018-06-22 17:20] E-B-Smith commented on #841
I'll test this on iOS 10 and see what I find.

[2018-06-22 21:05] E-B-Smith commented on #841
I can't reproduce this on 10.3 with the code snippet you sent.

Is `Branch.trackingDisabled` set to `YES`?  If tracking is disabled then the Branch SDK will always create long links (generating short links requires a server call which can be considered tracking.

[2018-06-22 21:05] #841 closed

[2018-06-22 21:07] joaopedro1520 commented on #841
Yes tracking is disabled. But again on ios11 short links are created.

Enviado do meu iPhone

No dia 22/06/2018, às 22:05, Edward Smith <notifications@github.com<mailto:notifications@github.com>> escreveu:

I can't reproduce this on 10.3 with the code snippet you sent.

Is Branch.trackingDisabled set to YES? If tracking is disabled then the Branch SDK will always create long links (generating shor

[2018-06-22 21:11] E-B-Smith commented on #841
If you create the short link, then set tracking disabled, then the original short link will be used if it is cached.

[2018-06-22 21:18] joaopedro1520 commented on #841
Tracking is disabled on app start. Just wondering why this behavior only occurs for me on iOS 10 phones. New link creations on ios 9/11 are always short

Enviado do meu iPhone

No dia 22/06/2018, às 22:12, Edward Smith <notifications@github.com<mailto:notifications@github.com>> escreveu:

If you create the short link, then set tracking disabled, then the original short link will be used if it is c

[2018-06-22 21:24] E-B-Smith commented on #841
I have the same behavior on iOS 10 and 11.

[2018-07-19 11:07] sudarvizhiIOS commented on #840
Hi,As iam using branch.io in my project when I share the link on whatsapp , gmail, facebook messenger the link is not redirected to the app if I share the same link in slack it is working fine as it I have shared my code below please check it update me soon on this issue   
@objc func onClickSharebtn()    {                let data: UserDefaults? = UserDefaults.standard        let userName = data?.

[2018-07-19 11:11] sudarvizhiIOS commented on #840
@E-B-Smith
Hi,As iam using branch.io in my project when I share the link on whatsapp , gmail, facebook messenger the link is not redirected to the app if I share the same link in slack it is working fine as it I have shared my code below please check it update me soon on this issue
@objc func onClickSharebtn()    {
  let data: UserDefaults? = UserDefaults.standard
let userName = data?.object(forKe

[2018-07-19 18:40] E-B-Smith commented on #840
If you contact Branch support they can provide a more detailed answer with better options.

They short answer is some of these apps block URLs that open other apps, but there work arounds by making sure your app handles Branch URI schemes for deep linking.

You'll have to configure your app and your Branch dash board for this to work correctly.

Best,
Edward

[2018-07-31 17:17] khan33 opened #847 "Issue occur when integrate google map"
I am facing issue when google map integrate to project. Following issue occurring
Property 'URLBlackList' not found on object of type 'BNCPreferenceHelper *'
<img width="973" alt="screen shot 2018-07-31 at 10 16 08 pm" src="https://user-images.githubusercontent.com/41967446/43475507-704ed14a-950f-11e8-8a3d-47dcb4648d1a.png">

[2018-07-31 17:40] Shahbaz-Akram commented on #847
I am also facing this issue after installing pod 'GoogleMaps' otherwise working fine.

[2018-07-31 18:19] E-B-Smith commented on #847
Thanks for the heads up.  I'll look into this, but in the mean time did you refresh the Branch pod too? That is do a, `pod install --repo-update` to re-install and update all the pods you're using?

[2018-07-31 18:28] khan33 commented on #847
@E-B-Smith  i can't update my existing pods. Because of customization in pods.

[2018-07-31 18:36] E-B-Smith commented on #847
Can you update just Branch?

It looks like there's some sort of file version mismatch with your Branch integration.

[2018-07-31 18:38] E-B-Smith commented on #847
@khan33 ^^^

[2018-07-31 18:40] khan33 commented on #847
let me update Branch

[2018-08-01 06:14] khan33 commented on #847
Thanks @E-B-Smith. I update Branch (0.25.1) through cocapod now error resolved.

[2018-08-01 06:14] #847 closed

[2018-08-01 15:09] E-B-Smith commented on #847
@Shahbaz-Akram Does this resolve your issue too?

[2018-08-02 15:32] Shahbaz-Akram commented on #847
@E-B-Smith  yes thanks man

[2018-08-07 18:33] mbesnili opened #850 "https://api.branch.io/v1/open fails in production"
Hello,

We've integrated branch ios sdk into our app which seemed to work fine in debug builds. Here are some logs from our our debug builds.

default	21:29:28.975634 +0300	Sociable	[branch.io] Branch.m(192) Log: Branch version 0.25.0 started at 2018-08-07 18:29:28 +0000.
default	21:29:29.863698 +0300	Sociable	[branch.io] BNCServerInterface.m(758) Debug: URL: https://api.branch.io/v1/install.
defa

[2018-08-07 18:48] E-B-Smith commented on #850
Are you running through a proxy, like Charles proxy? The SSL can't make a handshake, so the network events are cancelled.

[2018-08-07 18:52] mbesnili commented on #850
No, i'm not running through a proxy ? Same code works for debug, but doesn't work in production.

[2018-08-07 19:00] E-B-Smith commented on #850
Are you using the correct key for the production version?

Also, you can turn on more logging information by setting `BNCLogSetDisplayLevel(BNCLogLevelAll);` in your app delegate before initializing Branch.

[2018-08-07 19:10] mbesnili commented on #850
We're using same key for debug and production version. So, i'm pretty sure it's core as it works for debug version.

I'm going to submit a new version of app with BNCLogSetDisplayLevel(BNCLogLevelAll) set. I'm going to let you know if something pops up.

Thank you.

[2018-08-07 21:30] johnemiller opened #851 "Inconsistent Link attribution in Branch.initSession()"
Hello -

We are seeing inconsistent Branch link attribution in our app with respect to Branch's SDK reliably passing back the utm params and other metadata associated with a Branch marketing link which trigger's app installation through the Apple Appstore and/or our own internal staging distribution server (HockeyApp).  Specifically, what we see is that on some test devices, attribution always occ

[2018-08-07 23:09] E-B-Smith commented on #851
Thanks for writing in about this.

I am updating the SDK for better Segment integration right now and that may fix your issue.

I'll update you when that fix is ready.

[2018-08-07 23:36] TinananaWang commented on #851
@E-B-Smith Thank you for the prompt reply!

Just would like to note here that this issue is very urgent for our company, and can we please get a time estimate for fixing that Segment Integration issue?

Also, our main problem is, we are not seeing those UTM attributions even in the Branch debugger. Would it be possible that this issue also lies within Branch?

Thank you so much for your help and h

[2018-08-08 00:27] E-B-Smith commented on #851
I should have a fix for this on Wednesday.

For UTM attribution, unfortunately we only show it certain cases now, but are working on showing it in all cases.  I'll ask about the status of this.

[2018-08-08 00:52] TinananaWang commented on #851
Awesome. Thank you!

Yes, we can see UTM on some device/some times, but not consistent at all. Overall 20 - 30% tests have UTMs. Would be great if this is more consistent. Appreciate any update on status/time estimate for this issue. Thank you!

[2018-08-09 22:06] TinananaWang commented on #851
@E-B-Smith

May I follow up with the status of the two issues above, please? Appreciate your help.

[2018-08-09 23:40] E-B-Smith commented on #851
I am testing the fixes to our SDK now, which is unfortunately taking longer than expected.

I'll follow up here when I have a fix.

[2018-08-10 01:33] TinananaWang commented on #851
I'll follow up here when I have a fix.

Got it.

How about the issue of inconsistent UTM attibution in the Segment Debugger? This might solve our main concern. Thank you!

[2018-08-10 17:39] Sarkar commented on #851
@TinananaWang I can help with the UTM attribution question. Are you using dynamic Branch links (links with query parameters), or regular quick links?

[2018-08-10 18:37] TinananaWang commented on #851
@Sarkar We are using Dynamic- with query params. Appreciate the help!

[2018-08-13 16:52] E-B-Smith commented on #850
@mbesnili  I hope you resolved your problem.  If you need more advice you can reopen this issue.

[2018-08-13 16:52] #850 closed

[2018-08-13 17:28] E-B-Smith commented on #851
@TinananaWang

I've made a new release of the iOS SDK that will prevent double app opens from being sent when using Segment.

To upgrade to the latest version using CocoaPods, do a `pod update` on your project.

[2018-08-14 10:16] lchinke commented on #789
any news about that? I am tring to send an email through the google gmal api https post method and i couldn't find a way to make it work :(

[2018-08-14 15:31] maetuck commented on #851
@Sarkar @TinananaWang We are using both dynamic branch links and ad links and still getting inconsistent attribution. Would appreciate guidance on how to ensure that UTM parameters are passing through 100% of the time.

[2018-08-14 18:28] E-B-Smith commented on #789
I filed a bug with Google but haven't heard anything back yet.

You can file another bug report with them too and so they are aware of the importance of the fix.

[2018-08-16 21:02] TinananaWang commented on #851
Hi @Sarkar Thanks for the information.

Here is one of our live ad links:
https://XXXX.app.link/j0eyXhs71O?%243p=a_facebook&utm_source=facebook&utm_medium=org&utm_campaign=VF-ORG-MobileAppInstalls&utm_content=LA-DMA-iOS-PLL1-W35-54&utm_term=MDV2

Based on the format you provided for dynamic ad links:
your-domain.app.link/$3p=a_<partner_key>&utm_source=source&utm_channel=channel.

Here is the dynam

[2018-08-16 21:26] maetuck commented on #851
@Sarkar in our link settings, i've enabled "use UTM tags for analytics" but "enable link scraping" is currently disabled. should we enable that as well?

[2018-08-16 21:44] sophylee commented on #851
@Sarkar this is Sophy, also from Mae and Tina's team. To summarize Tina's question, using the format you provided `facebook` would be our `partner_key`. This doesn't seem right given a key seems like it should be something custom to our company. We'd also want to use this dynamic link across a variety of ad platforms. Given all that, are we sure that `your-domain.app.link/$3p=a_<partner_key>&utm_s

[2018-08-17 22:54] Sarkar commented on #851
@sophylee sorry for the delay in response. If you're using app.link, then my solution above is OK. In addition, partner key is unique to Branch. So, for your link, it'd be $3p=a_fb (facebook). That being said, I understand that you must be using Facebook App Install ads. Is that the case? If so, the requirements and UTM logic is somewhat different.

Would you be open to a quick chat over email, sl

[2018-08-17 23:17] TinananaWang commented on #851
@Sarkar Thank you for the respond, and yes, we are using Facebook App Install ads.

Since this issue is very urgent for our team, we would appreciate a phone/video call with you early next week, if possible. I will email you shortly with our available timeslots. Thank you!

[2018-08-21 20:48] E-B-Smith commented on #851
@Sarkar @TinananaWang

Did this get resolved?

[2018-08-22 04:56] TinananaWang commented on #851
@E-B-Smith Thanks for checking in. Yes, we are working with @Sarkar regarding the dynamic link. We have just verified that the new link is working and it gives us the expected UTM in Branch (Thanks @Sarkar!).

We are now testing the SDK in staging and checking UTM in Segment. Here is out test link: https://cm2v.test-app.link?$3p=a_facebook&utm_campaign=some_campaign&utm_source=some_source&$ios_url

[2018-08-22 18:35] TinananaWang commented on #851
@E-B-Smith We can add you to Hockey if you need to be able to reproduce the issue. Please provide your email information, and please let us know if you need anything else from our side. Thank you!

[2018-08-22 18:43] E-B-Smith commented on #851
I notice your link:

[code]

Has a second question mark in the URL in this part: `details?id=com.hopskipdrive`. The second part of the URL needs to be URL encoded or it will be misinterpreted by some URL parser somewhere.

This could be your problem.

[2018-08-22 21:11] TinananaWang commented on #851
@E-B-Smith
Please verify the format of this URL encoded link is correct:
https://cm2v.test-app.link?%243p%3Da_facebook%26utm_campaign%3Dsome_campaign%26utm_source%3Dsome_source%26%24ios_url%3Dhttps%3A%2F%2Frink.hockeyapp.net%2Fapps%2F67cf1e34766347cea6a1f0c0df01d3ed%26%24android_url%3Dhttps%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.hopskipdrive.hsd_android_v2.beta%26%24desktop_ur

[2018-08-22 21:15] TinananaWang commented on #851
Also, @E-B-Smith On Aug 13, you mentioned:

However, our problem is: inconsistent UTM tracking in Segment. Would this release help solve our question? Thanks.

[2018-08-22 21:35] E-B-Smith commented on #851
Here is your URL correctly query parameter escaped:

https://cm2v.test-app.link?%243p=a_facebook&utm_campaign=some_campaign&utm_source=some_source&%24ios_url=https%3A//rink.hockeyapp.net/apps/67cf1e34766347cea6a1f0c0df01d3ed&%24android_url=https%3A//play.google.com/store/apps/details%3Fid%3Dcom.hopskipdrive.hsd_android_v2.beta&%24desktop_url=https%3A//organizer.hopskipdev.com/sign-up

[2018-08-22 22:49] TinananaWang commented on #851
@E-B-Smith Thanks.
I tested on the above link three times. Succeed in the first trial but failed for the other two. Still inconsistent passing of UTMs to Segment.

[2018-08-23 19:43] TinananaWang commented on #851
@E-B-Smith Can we please schedule a call regarding this integration issue? It might help speed up the process. Thank you.

[2018-08-23 20:26] E-B-Smith commented on #851
I've tested clicking on Branch links with utm parameters and they consistently open the app and return the expected data: The campaign, source, and $3p parameters were set.  I clicked on the links a number of times and they worked each time.

This doesn't seem to be a bug in the SDK but an issue with how the how the links are used or some Segment configuration issue.

• Where are you posting these

[2018-08-23 20:52] E-B-Smith commented on #851
Also, have you added these lines to your app delegate:

[code]

Sometimes Segment doesn't forward those messages to Branch correctly.

[2018-08-23 22:59] TinananaWang commented on #851
@E-B-Smith

This doesn't seem to be a bug in the SDK but an issue with how the how the links are used or some Segment configuration issue.

If you are talking about UTMs in Branch, then this is right. We do see consistent UTMs in Branch

The link that I sent you is the test link. Partner key is facebook.

- I am not sure I fully understand this question. Our engineer @johnemiller has set up a new

[2018-08-24 19:31] TinananaWang commented on #851
@E-B-Smith Also, I know we are trying to solve the Branch <> Segment Integration here. But I just learned from @Sarkar about [this document](https://docs.branch.io/pages/integrations/segment/), and we are considering setting this up.

May I learn about the relationship between your new SDK and this new document:
- Is this new SDK a pre-requisite for this feature?
- Am I right to say that we have t

[2018-08-26 21:41] E-B-Smith commented on #851
I've tested with the Segment-Branch SDK integration and I can see that Branch is getting the utm values from my test links in our dashboard, so things are hooked up and the data is there.

I don't know how Segment handles this data, Segment is the expert on Segment (I'm a Branch engineer!), so you will probably get better answers if you talk to them directly.

The Segment-Branch server-to-server i

[2018-08-26 21:41] #851 closed

[2018-08-27 04:53] TinananaWang commented on #851
Ok. Thank you.

[2018-09-01 11:56] rodrigobdz opened #855 "Error calling Branch Events in Objective-C"
I am currently implementing Branch Events in an app and while reading the docs I used a function call I found in the [README](https://github.com/BranchMetrics/ios-branch-deep-linking/blame/5dd137d3e224b7f0ddc7c3b4906c3a2f6a380e51/README.md#L607):

[code]

Xcode throws an error. Shouldn't it be called as shown below?

[code]

[2018-09-01 19:55] E-B-Smith commented on #855
Yes it should!  Thanks, I'll update the docs. It looks like the Swift and obj-c examples got intertwined.

[2018-09-01 19:55] #855 closed

[2018-09-04 17:47] contreras2004 opened #857 "didFinishLaunchingWithOptions gets 'clicked_branch_link' = 1 after sharing a link"
When I share a link within my app and after I minimize and reopen the app, the didFinishLaunchingWithOptions receives params like if a link was clicked ONLY after sharing the link to the reminders app. This also happens in the BranchMonsterFactory Example app and it is cross devices. If I share a link to my reminders app and then open the app by clicking directly on the app icon in ANOTHER device,

[2018-09-04 18:00] E-B-Smith commented on #857
I think Apple might have started doing a link preview for the Reminders app which would trigger this.

Thanks for reporting this - I'll look into it and hopefully have a fix soon.

[2018-09-05 03:54] TinananaWang opened #858 "Dynamic Link Not Processed for Installations"
## Background
We are not getting consistent UTMs in Branch & Segment, and we were instructed by @Sarkar to use the dynamic link, which does give us UTMs in Branch with 100% success rate. However, since the Branch SDK cannot handle sending UTM parameters from Facebook campaign links because of some Facebook regulation, we need to set up the code by ourselves. Here is our internal ticket:

The marke

[2018-09-05 21:14] contreras2004 commented on #857
This is really strange... When I click on a link that was shared in one device, the next device that opens the app will trigger the "clicked_branch_link" and open the shared link data, even when the device is totally different in terms of IOS Version and model. I don't know if this is a session issue or what.

[2018-09-06 22:03] E-B-Smith commented on #858
Thanks for bringing this to our attention.  Sorry this has been a chore to get going: There are a ton of pieces to this.

This will take some investigation to see what's going on.

[2018-09-06 22:12] TinananaWang commented on #858
@E-B-Smith This is pretty urgent. Can we please get an estimate? Thanks.

[2018-09-07 21:19] E-B-Smith commented on #857
For this:

This is due to a deferred deep link matching confusion - Our back end sees two devices from the same place open the link and decides it's a match.  Which is related to the original question.

--

On which version of iOS / device type are you seeing the link re-open after sharing to reminders?

I reproduced this once on iOS 12, but then I upgraded to the latest version of the beta and I

[2018-09-07 22:45] E-B-Smith commented on #857
I can reproduce this now.  I have a fix that will be out early next week.

[2018-09-11 16:06] E-B-Smith commented on #858
Which version of Segment and Branch are you on?  Make sure you use `pod update` to use the latest version on the SDKs.  This may be the problem with double opens.

[2018-09-11 17:31] johnemiller commented on #858
We are currently on Branch 0.25.3 & LeanPlumSegment 1.1.3

[2018-09-11 22:28] olympianoiseco opened #862 "Unsupported Architectures / Invalid Segment Alignment / The binary is invalid"
I’ve been using Branch without issue for while in my app.  Now when I try to upload to the App Store I get several errors about the framework.  I've recently updated to the latest SDK version, though I can't locate the SDK version number to see which I was using previously.

Here are the errors :

ERROR ITMS-90087: "Unsupported Architectures. The executable for MyApp.app/Frameworks/Branch.framewor

[2018-09-11 22:57] E-B-Smith commented on #862
You can get this error when uploading to iTuneConnect with you haven't stripped the Simulator architectures from your project.

The pre-built Branch.framework library in GitHub (or the version installed via Carthage) has both iOS device and simulator versions in it so that it will work on both platforms.

When creating an archive version for iTunesConnect you'll need to strip these un-needed versi

[2018-09-12 04:43] bkudale33 opened #863 "Cannot get custom parameters from deep link in iOS app"
I am using Branch version - 0.25.3.
Recently i updated the branch version, before updating the version it was working.
sometime parameters get received but most of the time only get default parameters .
only getting the following parameters
{
    "+clicked_branch_link" = 0;
    "+is_first_session" = 0;
    "+non_branch_link" = "wowparenting://open?link_click_id=568052920356847505";
}
Branch link

[2018-09-12 17:11] E-B-Smith commented on #863
It looks like you may have a configuration mismatch somewhere.

Make sure you're using the right Branch key in your app.  It's best to use your live Branch key for both testing and production unless you're worried about stats.

Also check that your 'Link Settings' are all match in the Branch dashboard and in your app.

[2018-09-14 20:04] #858 closed

[2018-09-14 20:04] E-B-Smith commented on #857
This is fixed in release 0.25.5.

[2018-09-14 20:04] #857 closed

[2018-09-14 20:05] E-B-Smith commented on #863
Where you able to resolve this?

[2018-09-17 08:27] kamranpirwani opened #864 "Documentation or Release Incorrect"
The latest README.md shows v0.25.4 as the latest release, while the releases shows a tag of v0.25.5. Was there a mistake on one of these?

[2018-09-17 16:27] E-B-Smith commented on #864
The latest release is v0.25.5, sorry for any confusion.

Where do you see a reference to v0.25.4 in the README.md? I'll update it to the latest.

[2018-09-17 16:29] #863 closed

[2018-09-24 18:01] #864 closed

[2018-09-26 01:42] trungdv1987 opened #865 "getShortURL does not work"
Hi Support team,

You have done a good work on BranchSDK.
Just we've found a small issue pls kindly help me on this, we're going submit app to the store but this issue makes us less confidence:

Attached file is a sample project that able to demonstrate the bug.
Probably you should use your branch key and facebook app id as well.

on iOS 9: after login FB, getShortURL got frozen, never ever return

[2018-09-26 01:43] E-B-Smith commented on #865
Sorry about your troubles.  I'll take a look at your example and see what's up.

[2018-09-26 01:58] trungdv1987 commented on #865
Thanks Smith,

Pls note that before login, if we call getShortURL then it works normally, but after login thru FB, there're some cases as i mentioned above

[2018-09-27 02:34] trungdv1987 commented on #865
@E-B-Smith

Dear Smith, we still have not any updates yet?

[2018-09-28 21:07] E-B-Smith commented on #865
Thanks for you great example.  It made finding the issue really easy.

I'll have a fix for this soon!  I'll update this thread when it's available.

[2018-09-28 22:35] E-B-Smith commented on #865
Pull #867

[2018-10-01 02:35] trungdv1987 commented on #865
@E-B-Smith Thanks, i tested it and it works.
But i pull the sdk from your branch, integrate to our project, Xcode raised an error about code sign.
Then i built the sdk by my self from your project, but i got an error: "Bitcode bundle could not be generated because Branch was built without full bitcode"
Can you double check?

[2018-10-01 02:44] E-B-Smith commented on #865
I didn't build the PR for release, just for testing pre-release, so the framework isn't built.

If you build it yourself you'll need to turn on bitcode in the project settings.

Or you can wait until tomorrow when I release the whole thing for real.

[2018-10-01 04:10] trungdv1987 commented on #865
The bitcode already enabled from your project and ours as well.
I think i can wait until tomorrow. Pls ping me once you release it for real.

Thanks.

[2018-10-02 06:38] trungdv1987 commented on #865
@E-B-Smith do you have any updates yet?

[2018-10-02 22:50] E-B-Smith commented on #865
Thank you for your patience!
https://github.com/BranchMetrics/ios-branch-deep-linking/releases/tag/0.25.6

[2018-10-02 22:50] #865 closed

[2018-10-03 05:48] trungdv1987 commented on #865
Thanks Smith!

[2018-10-03 12:52] imanzarrabian opened #869 "Getting custom parameters from deep link in iOS app"
Hey I have this exact same issue  https://github.com/BranchMetrics/ios-branch-deep-linking/issues/863 which was closed but no clue on how to get around it :(
I have some custom params on one side when creating the link with the ios SDK
[code]
but I only get two default parameters when opening the link on the other side
[code]
The "token" and "user_id" are never present when clicking on the link.
I

[2018-10-03 12:53] imanzarrabian commented on #869
I noticed that it stopped working after updating my pods recently. Worked perfectly before that

[2018-10-03 13:37] imanzarrabian commented on #869
Oh! Was this fixed in 0.25.6?
_Fixed a case when a session call back could happen with empty data._

[2018-10-03 16:29] benspratling4 commented on #869
I have similar trouble in 0.25.0 and 0.25.3.  I added analytics to verify the deep link is getting into the app, but the deep link handler isn't getting called.
My deep link handler is called as long as the user is starting up a new install without a deep link.

[2018-10-04 02:32] trungdv1987 commented on #865
@E-B-Smith can i ask you a question?

Is there any case that when hit Branch link, app just call app delegate:

[2018-10-04 02:56] trungdv1987 opened #870 "Handler of Branch.getInstance().initSession isn't being called"
Is there any case that when hit a short link ex: app.md.com/GHHDI76878H, app calls (2) only instead of (1)

Our app: start app -> hit initSession handler (1), send to background -> hit short link -> it called (2) only
Our sample app: start app -> hit initSession handler (1), send to background -> hit short link -> it called (1) only as expectation

The difference is 1 app integrated a lot of third

[2018-10-04 03:37] trungdv1987 commented on #870
It happens with version: 0.25.6
And works well with version: 0.25.5

[2018-10-04 03:38] trungdv1987 commented on #865
@E-B-Smith

It happens with version: 0.25.6
And works well with version: 0.25.5

[2018-10-04 12:27] imanzarrabian commented on #869
Yes. It seems to me that when coming from a branch.io link this function is not called
[code]
When clicking on a classic my-app:// link though the open url function triggers. Might be related to the issue.

[2018-10-04 18:42] E-B-Smith commented on #869
Yikes! I'm looking into this now.  Are you using the Segment-Branch SDK by any chance?

[2018-10-04 18:43] E-B-Smith commented on #870
Thanks for the heads up.  I'm looking into this now.

[2018-10-04 18:44] imanzarrabian commented on #869
Hey! Nope not using segment at all.

[2018-10-04 18:48] benspratling4 commented on #869
E-B, I am using the Segment-Branch SDK.  Maybe my issue is different?

[2018-10-04 18:53] E-B-Smith commented on #870
Are you using the Segment-Branch integration.

[2018-10-04 19:34] E-B-Smith commented on #869
@benspratling4

There was a change in the way that Segment creates an instance to Branch that made the old way not work anymore.

In short, the instance returned from `Branch.getInstance()` early on in the initialization may not be the one that Segment uses, creating a lot of confusion.

We now suggest observing the `NSNotifications` that Branch sends to handle deep links as that is pretty bullet

[2018-10-04 20:41] E-B-Smith commented on #870
Are your apps, your app and your sample app using the identical Branch keys and Branch set up?

[2018-10-05 03:48] trungdv1987 commented on #870
At the beginning, our app is integrated Branch via Fabric.
Our sample is integrated follow this guide (manual install): https://docs.branch.io/pages/apps/ios/

Then i removed Fabric and it's related things, then tried re-integrate with manual install follow that guide, but no luck. But older version works well.

Our app and sample app are using the same bundle id and Branch key.

[2018-10-05 03:50] trungdv1987 commented on #870
Our sample app is attached in issue https://github.com/BranchMetrics/ios-branch-deep-linking/issues/865

[2018-10-05 04:37] E-B-Smith commented on #870
The short link https://app.md.com/GHHDI76878H isn't a Branch link, so the call back handler won't indicate that it is a Branch link.

A link like https://megadeeds.app.link/LZPi5iO3KQ  **is** a Branch link, and the callback handler will indicate that it's a Branch link and the associated data will be returned.

[2018-10-05 08:02] imanzarrabian commented on #869
@E-B-Smith
Thx for your help the ```continueUserActivity```method was already implemented in my AppDelegate but you pointed me in the right direction.
It turns out that this is the method that is called now. The signature chagned a bit (the restorationHandler Input param type is now explicit). Implementing this method makes the deeplink work again.
[code]
Thx for your help.

[2018-10-05 08:27] imanzarrabian commented on #869
@E-B-Smith I opened a PR for README update BTW

[2018-10-08 19:22] E-B-Smith commented on #869
Thanks for the update!

[2018-10-08 19:22] #869 closed

[2018-10-08 19:23] E-B-Smith commented on #870
I hope this clarified things for you! Happy deep linking.

[2018-10-09 01:55] trungdv1987 commented on #870
@E-B-Smith  Sorry for making confuse, I just gave an example. But the link is definitely a Branch link, like : https://megadeeds.app.link/LZPi5iO3KQ. Do you have any ideas ?

[2018-10-09 04:43] E-B-Smith commented on #870
When you click on the link, does it open the app?
If you're running it on a device, is it code signed correctly?
Are you using your live key?
Have you added both these functions to your app delegate?
[code]

[2018-10-10 08:35] roccx opened #873 "BranchCSSearchableItemAttributeSet is not imported in framework module"
Is there a reason why `BranchCSSearchableItemAttributeSet` isn't imported into the framework?
Is it deprecated or obsolete?

I was trying to use the Branch API for custom spotlight indexing of html documents,
which isn't possible with `BranchUniversalObject`.

[2018-10-10 18:06] E-B-Smith commented on #873
Thanks for the heads up.  I this is an oversight and I'll make the header public.

If you don't want to wait for the next release you can mark the header public yourself and start using it.

[2018-10-11 12:19] roccx commented on #873
This doesn't seam to solve the issue are you missing it inside the Branch.h header maybe?

[2018-10-11 18:02] trungdv1987 commented on #870
@E-B-Smith,

When you click on the link, does it open the app? -> Yes
If you're running it on a device, is it code signed correctly? -> Yes
Are you using your live key? -> Yes
Have you added both these functions to your app delegate? -> Yes

[2018-10-11 18:45] E-B-Smith commented on #870
Are you testing with a link that is not desktop only or one time use?

[2018-10-11 23:33] trungdv1987 commented on #870
Yes it's weirds that the demo app is working fine.
And the fact that if i replace with older Branch SDK, our app works normally.

I think i will simplify our app (remove all businesses) and send you for checking.

[2018-10-11 23:51] E-B-Smith commented on #870
Are you calling Branch.setIdentity before initializing Branch?
Sometimes that causes problems.
Move it to right after initializing Branch if so.

[2018-10-12 04:01] benspratling4 opened #878 "Branch.m -handleUniversalDeepLink_private:fromSelf: duplicates code from Branch.m -isBranchLink:"
With the distinction being -handleUniversalDeepLink_private: calls -bnc_containsString: instead of -containsString:.  The difference between -bnc_containsString and -containsString: is -bnc_containsString: checks if the argument is nil.  However, in -handleUniversalDeepLink_private: this check is unnecessary, because in each case other calls would have failed first if it were nil.

[2018-10-12 04:07] benspratling4 opened #879 "Branch.m -isBranchLink: and BNCPreferenceHelper.m -getBranchUniversalLinkDomains are instance methods unnecessarily."
Branch.m -isBranchLink: is an instance method, but it could be a class method, allowing me to check if an incoming URL is a branch link before Branch has finished initialization, thus allowing me to handle non-branch links without the complication of waiting on Branch to initialize.

While -isBranchLink: depends on self.preferenceHelper, which would appear to require an instance, the only preferen

[2018-10-12 11:14] #873 closed

[2018-10-12 11:20] roccx opened #880 "BranchUniversalObject content type restrictions"
The `BranchUniversalObject` is restricting the possible content types to a predefined set of possibilities compared to local indexed `CSSearchableItemAttributeSet`.

Should the `BranchUniversalObject` only reflect an API which is supported by deep-linking or would it be possible to add APIs for content types which would just be supported locally by the indexing engine?

**Example use-case:**

If t

[2018-10-12 20:57] trungdv1987 commented on #870
Are you calling Branch.setIdentity before initializing Branch? -> **NO**

Below is the link of project which able to demonstrate the bug. Please take a look @E-B-Smith .
Thanks.

https://drive.google.com/open?id=14Vb5BgjnyGgciqhRndsl9xcsP6bBUrrS

[2018-10-15 20:44] E-B-Smith commented on #878
The difference is that `-isBranchLink:` is a public interface and is expected to work in a certain way.

Since `handleUniversalDeepLink_private:fromSelf:` is a private method we can change (and have)  how that method behaves.  There's no contract with the SDK user.

[2018-10-15 20:44] #878 closed

[2018-10-15 20:47] E-B-Smith commented on #879
What's your use case for doing this? Maybe I can suggest an easier way.

[2018-10-15 21:12] E-B-Smith commented on #880
On you Branch universal object, you can set
[code]
to set the CSSearchableItemAttributeSet content type to html.

---

So you're trying to create a local index with app content with a BranchUniversalObject?

Will this content also be available on the web? Or just in your app?

[2018-10-15 23:17] E-B-Smith commented on #870
Are you using Swift 3 or Swift 4?

[2018-10-16 16:21] E-B-Smith commented on #870
Thanks for your example - I was able to find a solution for you.

Put the call to `Branch.getInstance().continue(userActivity)` first in your `continueUserActivity:` method, like this:

[code]

This should solve your problem now, and I'll patch the SDK to prevent problems like this in the future.

[2018-10-16 21:43] trungdv1987 commented on #870
@E-B-Smith Swift 4

[2018-10-17 01:30] trungdv1987 commented on #870
Thanks @E-B-Smith E
it works like a charm, simple but takes time to configure it out

[2018-10-17 01:31] #870 closed

[2018-10-17 01:50] trungdv1987 commented on #870
Cheers :)

[2018-10-18 23:50] E-B-Smith commented on #880
Did this help? I'll close out the issue now but you can re-open if you're still having issues.

[2018-10-18 23:50] #880 closed

[2018-10-18 23:52] E-B-Smith commented on #879
Feel free to reopen the issue if you still have questions.

[2018-10-18 23:52] #879 closed

[2018-10-21 04:25] pangers opened #885 "Receiving push notifications on foreground"
Hi,

I have integrated Branch into my app and I have an issue regarding receiving push notifications while the app is in the forground. I have implemented the method allowing the app to receive push notifications while the on the foreground. Just FYI, we are using another SDK for handling push notifications.

[code]

When a push notification is received (while in the foreground) and the user taps

[2018-10-22 11:08] Formerly opened #886 "URL $desktop_url: Parameter Encode"
If there is a bug or error in this repo, please file the issue here.

If you need assistance integrating a Branch SDK, please email support@branch.io. Thank you.

When the short link is opened on the PC page, the redirect URL is encoded, causing the data we want to record cannot be recorded normally. The reference code is not found in the corresponding URL @ symbol related codec. The following is

[2018-10-22 17:46] E-B-Smith commented on #885
I just updated the SDK to handle this situation - try updating your version of Branch to release 0.25.7.

If this doesn't fix your problem please re-open this issue and I'll take a deeper look.

[2018-10-22 17:46] #885 closed

[2018-10-22 18:45] E-B-Smith commented on #886
How did you create this link?

[2018-10-23 01:20] Formerly commented on #886
{"branch_key":"xxxxxxxxx","channel":"os_api","feature":"os_api","campaign":"os_api","stage":"os_api","data":{"$android_url":"https:\/\/play.google.com\/store\/apps\/details?id=com.banggood.client","$ios_url":"https:\/\/itunes.apple.com\/app\/id906268880","$desktop_url":"https:\/\/www.banggood.com\/Xiaomi-Mi8-Mi-8-Global-Version-6_21-inch-6GB-RAM-64GB-ROM-Snapdragon-845-Octa-core-4G-Smartphone-p-13

[2018-10-23 05:52] E-B-Smith commented on #886
Thanks - I'll look into this.

[2018-10-23 17:11] E-B-Smith commented on #886
You need make sure your URLs are correctly encoded when you create the link.

Here is the above JSON correctly encoded:

[code]

I made a few changes to your example.

I converted the parameter values for `$desktop_url`:

I changed the second `p` value (did you mean to have two?)  from  `p=1@06193958464201603O` to `p=1%4006193958464201603O` and changed the `?utm_campaign=3958464_1325618` to `&utm_

[2018-10-23 17:11] #886 closed

[2018-10-24 00:51] jhickmanEB opened #887 "Branch SDK 0.25.7 Fails on Jenkins"
Updated Branch SDK via Carthage from v0.25.3 to v0.25.7.
Build/Run/Test on Xcode 10 succeeds.
Build/Run/Test on Jenkins fails.

Updated Branch SDK via Carthage from v0.25.3 to v0.25.6
Build/Run/Test on Xcode 10 succeeds.
Build/Run/Test on Jenkins succeeds.

Error for v0.25.7 on Jenkins is:

[code]

[2018-10-24 19:01] E-B-Smith commented on #887
This built for me in my Carthage tests, both as a binary framework and as a Carthage build product.

Does your Jenkins do a clean before building?

[2018-10-24 22:57] jhickmanEB commented on #887
Strange. Yes we do a clean build.

[2018-10-25 17:04] E-B-Smith commented on #887
I don't know what to tell you.  It's working for me, and your build/run/test on Xcode 10 worked for you.

Did you try your Jenkins run again?

[2018-10-25 18:59] jhickmanEB commented on #887
Yeah I tried multiple builds on Jenkins, always get that same error. Tried doing multiple branches making no changes other than the update from 0.25.3 to 0.25.7 and always the same issue. But 0.25.3 and 0.25.6 were always successful, so assumed it was a regression with 0.25.7 since the error was mentioned in previous versions. Will just use 0.25.6 for now and try again once 0.25.8 is available.

[2018-10-26 22:18] jhickmanEB commented on #887
@E-B-Smith Just tried with version 0.25.8 and still get this error when running unit tests on Jenkins:

[code]

Let me know if there is anything else I can do to help debug!

[2018-10-30 18:49] E-B-Smith commented on #887
I can see the `BranchCSSearchableItemAttributeSet.h` file in the headers directory of both the Carthage and static frame work libraries.

What is Jenkins compiling and how is it doing the build?

[2018-11-09 01:46] hebertpalomino opened #892 "App install returns no params but after install and link click there is"
I'm having an issue where the app will return clicked_branch_link as false but after install and link click it shows and true and returns params.

Link is: https://mens-essentials-mag.app.link/Ljzb4tWxGR

tested using both test and live environments (neither worked, although it was working a few days ago).
A few things I did:
- I made sure to disable setUseTestBranchKey when not using test
- check

[2018-11-09 16:53] hebertpalomino commented on #892
solved this by rolling back to 0.25.2
not sure if it was server issue or not but just in case this happens to anyone else

[2018-11-09 20:31] E-B-Smith commented on #892
Thanks for your great break down of your issue.

The deferred deep links indeed may not have worked because the back end couldn't guarantee a match between your web browser session and the initial run of the app.

I just tested deferred deep linking several times and it was working for me, so hopefully it will work for you too now.

I've made a test branch with fixes to the validator.  Would you b

[2018-11-21 02:30] dhsu210 opened #894 "branch.initSession not triggered"
If there is a bug or error in this repo, please file the issue here.

Our branch links were working perfectly fine until last week (we were on 0.25.0). There was nothing changed on our end, but I've spent the last few days testing and still cannot get `Branch.getInstance().initSession` to trigger and show the data params. This has broken our data attribution flow so would hopefully like to get thi

[2018-11-21 04:01] E-B-Smith commented on #894
The latest release works for me without trouble so I wonder what's different for you...

Do the universal links at least open the app?

Also, try removing the function:

[code]

and leaving the function:

[code]

You only need the last one. The other was a convenience method for pre-iOS 9 compatibility.

[2018-11-21 19:50] dhsu210 commented on #894
Thanks for responding so quickly! I tried commenting out that function but it's still not entering the initSession. Do you think the AASA file might have a significant impact on this?

[2018-11-21 20:00] dhsu210 commented on #894
The app does open - I have breakpoints in my AppDelegate file, it's just that it skips over the branch.initSession without going into the breakpoints in there

[2018-11-21 20:05] E-B-Smith commented on #894
Is your Branch key in the info.plist, and are you using the live Branch key?

[2018-11-21 20:08] dhsu210 commented on #894
Yes, it is. We had it fully integrated and functioning for a very long time so I'm not sure why it stopped working last week.

[2018-11-21 20:08] dhsu210 commented on #894
I also tried adding a `branch_app_domain`, but we are still using the standard branch domains (have not created a custom Branch domain)

[2018-11-21 20:13] E-B-Smith commented on #894
Sorry things stopped working! Thanks for taking the time to work with me.

In your `didFinishLaunching:` method, before you initialize Branch, turn full Branch logging on by adding:

[code]

In Swift I think you can just say:
[code]

[2018-11-21 20:13] E-B-Smith commented on #894
This will spit out a bunch of stuff in the debugger.

[2018-11-21 20:30] dhsu210 commented on #894
Where should I be looking to see the Branch logging?

[2018-11-21 20:35] E-B-Smith commented on #894
Look in Xcode's debugger console or the device's console logs.

[2018-11-21 20:44] dhsu210 commented on #894
Hmm nothing is showing up in the Xcode debugger console. It's totally blank. I have it inserted right above the initSession code line.

[2018-11-21 20:47] E-B-Smith commented on #894
Hmm.  This is what mine looks like:

<img width="887" alt="screen shot 2018-11-21 at 12 46 00 pm" src="https://user-images.githubusercontent.com/1229047/48867605-873da000-ed8b-11e8-9203-87d4a5503da7.png">

[2018-11-21 20:56] dhsu210 commented on #894
Does it affect it if I'm testing with a live branch link?

[2018-11-21 20:56] E-B-Smith commented on #894
No.

[2018-11-21 20:57] dhsu210 commented on #894
[](url)
<img width="994" alt="screen shot 2018-11-21 at 12 56 46 pm" src="https://user-images.githubusercontent.com/10564231/48867993-f23ba680-ed8c-11e8-8466-bbdbe8b1fc0c.png">

[2018-11-21 20:58] E-B-Smith commented on #894
Okay, continue on.  The log display may not have caught up yet.

[2018-11-21 21:01] dhsu210 commented on #894
<img width="1020" alt="screen shot 2018-11-21 at 1 00 27 pm" src="https://user-images.githubusercontent.com/10564231/48868129-73933900-ed8d-11e8-85fc-d1222bf0d38d.png">

It then jumps to the end of the initSession clause (with no logs as seen below)

<img width="1008" alt="screen shot 2018-11-21 at 1 00 30 pm" src="https://user-images.githubusercontent.com/10564231/48868131-755cfc80-ed8d-11e8-9bbc

[2018-11-21 21:01] E-B-Smith commented on #894
Just run it like normal - No breakpoints.

[2018-11-21 21:04] dhsu210 commented on #894
Still nothing.

For context, I'm currently running the app on my device on a Test configuration (which is linked to our Prod server), setting it to `Wait for executable to be launched`, and when Xcode is done compiling, I go to my device, click the branch link from our website, which then prompts an Open in Everlance pop up. I click OK to continue.

[2018-11-21 21:08] E-B-Smith commented on #894
How about trying a simple build and run on the device to see if we're logging anything.

[2018-11-21 21:30] dhsu210 commented on #894
So I did a super basic Debug configuration, no break points and ran it on my device:

<img width="999" alt="screen shot 2018-11-21 at 1 29 22 pm" src="https://user-images.githubusercontent.com/10564231/48869287-890a6200-ed91-11e8-80fd-8d99de05833e.png">

[2018-11-21 21:31] E-B-Smith commented on #894
Click on a link while your app is running in the debugger.

[2018-11-21 21:32] dhsu210 commented on #894
Sorry false alarm that not logged in is our own print statement. Will try your above suggestion

[2018-11-21 21:33] dhsu210 commented on #894
So I can't click on a live link because it redirects to the App Store instead of the app. Do you have a suggestion for using the debug app version + a link?

[2018-11-21 21:34] dhsu210 commented on #894
Since the debug app version will only run locally off my computer, I can try to run it in my Xcode simulator + click a link in the simulator safari

[2018-11-21 21:35] E-B-Smith commented on #894
That will work.

[2018-11-21 21:43] dhsu210 commented on #894
Alright some stuff popped up. Any hints on what I should be looking for? There's quite a few more logs than this one

<img width="1004" alt="screen shot 2018-11-21 at 1 42 14 pm" src="https://user-images.githubusercontent.com/10564231/48869802-5a8d8680-ed93-11e8-90e7-9c24fe301b61.png">

[2018-11-21 21:55] E-B-Smith commented on #894
What kind of link are you clicking on?

[2018-11-21 21:57] E-B-Smith commented on #894
Also, have you seen this resource?

https://docs.branch.io/pages/apps/ios/#troubleshoot-issues

[2018-11-21 22:04] dhsu210 commented on #894
I'm clicking on this link [
https://bnc.lt/E9ac/bQ9znZhuCC](url). It's a link from our website.

Yes I've seen that resource and tried to troubleshoot based on those instructions.

[2018-11-21 22:09] dhsu210 commented on #894
If you click on that link on your laptop, you'll see it redirect to our web dashboard with the company logo on top (this is working correctly). If you click on the link on your mobile device, download our app from the App Store, you won't see the logo upon sign up (this is visual proof that it's not working correctly right now).

[2018-11-22 10:52] Formerly opened #895 "Redirect 307 decoding problem !"
If there is a bug or error in this repo, please file the issue here.

If you need assistance integrating a Branch SDK, please email support@branch.io. Thank you.

{
  "data": {
    "$og_title": "Xiaomi Mi8 Mi 8 Global Version 6.21 inch 6GB RAM 64GB ROM Snapdragon 845 Octa core 4G Smartphone",
    "$deeplink_path": "banggood://prod-1325618?utm_campaign=3958464_1325618&utm_content=4083&p=1@061939584

[2018-11-26 18:57] E-B-Smith commented on #894
Thanksgiving happened!

Did you resolve this or is this still an issue?

[2018-11-26 23:14] dhsu210 commented on #894
No worries! Nope it is still an issue that I'm working on

[2018-11-27 18:46] chrisvire opened #896 "Sometimes Universal links are long"
I am calling `BranchUniversalObject getShortUrlWithLinkProperties:` and most of the time I get a short link like:  https://bibleis.app.link/mhz3v5x0bS.  Sometimes, we get very long links back from the API that start: https://bibleis.app.link?%24identity_id=

Like this one:
https://lh3.googleusercontent.com/-PJXIewx3m-M/W_2MOYBvIlI/AAAAAAAAAG8/5gd7ABEHS0o5EGhegJoIyjYGgZMllmuPQCL0BGAYYCw/h320/long%2

[2018-11-27 18:51] chrisvire commented on #896
Here is the code that uses the library:

[code]

[2018-11-30 19:37] bcherry commented on #766
@E-B-Smith would setting `$uri_redirect_mode` on the link be the same as setting "URI Scheme Redirect Mode" via the Link Settings dashboard?

![image](https://user-images.githubusercontent.com/82608/49309320-bc36aa80-f48f-11e8-83a0-1ae02c0835ae.png)

We see this failure a lot, but "Deferred Deep Linking" has always seemed to work. Recently, we've had a few user reports where the links never work,

[2018-12-01 00:07] E-B-Smith commented on #766
I would upgrade to the latest version of the Branch iOS SDK which fixes some issues that Apple introduced in iOS 12 that will prevent deep links from opening sometimes.

The dashboard setting for 'URI Scheme Deep Link Mode' in the dashboard is the default for the app and setting `$uri_redirect_mode` mode for a link will override that.

[2018-12-01 00:10] bcherry commented on #766
@E-B-Smith is there a reason you recommend setting `$uri_redirect_mode` on all your links instead of just changing the dashboard setting?

[2018-12-01 00:11] E-B-Smith commented on #896
The `getShortUrlWithLinkProperties` will usually return a short link but might return a long link if there is poor network connectivity or if you set a link alias that is already being used.

[2018-12-01 00:15] E-B-Smith commented on #766
I personally would change the dashboard setting.  There's a chance that an error alert box would pop up for some users that don't have the app, and some people really don't like that experience.

But I think not being deep linked is a worse experience. But that's me.

It's entirely up to you.  The documentation tends to be conservative on this.

[2018-12-01 00:15] bcherry commented on #766
Thanks!

[2018-12-01 06:53] hemangshah commented on #197
https://stackoverflow.com/questions/34264751/uiactivityviewcontroller-gmail-share-subject-and-body-going-same

It's still same in 2018. 🔥

[2018-12-01 07:41] E-B-Smith commented on #197
Yeah - go file a bug with gmail about it!

If enough people file one maybe they’ll fix it.

[2018-12-01 08:17] hemangshah commented on #197
Submitted – https://productforums.google.com/forum/#!topic/gmail/9JRqN0rVxYo;context-place=forum/gmail

[2018-12-03 09:46] amritasinghbg-e opened #897 "iOS - Referral events not getting tracked on dashboard and universal link not working (intermittently)"
Once the link is shared from my app through WhatsApp or sms, if I go back and click on the same link, some times deep-linking fails and the download link opens again. The same issue is faced by the user who installs the app from that link.

Also, whenever the link is shared from an iOS device, to an iOS or Android device, and the receiver installs, the event is not getting tracked on branch dashbo

[2018-12-03 21:20] E-B-Smith commented on #897
I think this issue is likely related to the known issue with Apple not downloading the Apple App Site Association file to the phone sometimes.  The AASA file tells iOS to open an app rather than a website.

[Here's a write up of the issue, which unfortunately Apple still hasn't fixed yet.](https://github.com/BranchMetrics/ios-branch-deep-linking/issues/766)

The referrals should just work.

The re

[2018-12-03 21:20] #897 closed

[2018-12-03 21:21] #896 closed

[2018-12-03 21:35] E-B-Smith commented on #894
Do you have any updates on this?  Deep linking and deferred deep linking are working for me, so I must be missing some crucial part of your testing.

[2018-12-04 02:10] dhsu210 commented on #894
Thanks for following up! It's still not fixed but I'm working directly with a Branch solutions engineer now and she's testing with a .ipa file I sent her. Hopefully there's something to be found there!

[2018-12-04 11:32] amritasinghbg-e commented on #897
Thank you @E-B-Smith! I tried resetting the advertising identifier and it's working - I should've considered the aspects of fresh and re-installs.

Thanks,
Amrita

[2018-12-04 21:42] E-B-Smith commented on #894
Great!  I'll close this out here then.

[2018-12-04 21:42] #894 closed

[2018-12-13 14:29] leandromperez opened #900 "Deadlock when launching app in iOS 12"
Hi,
Sometimes, very randomly, the app freezes when launching.
Pausing the debugger I was able to see that 2 threads are in deadlock, the main thread, and a secondary thread. Both performing branch actions:

[code]

[code]
Please take a look at this [log file](https://github.com/BranchMetrics/ios-branch-deep-linking/files/2676378/Branch.stack.trace2.log).

Using
- Branch (0.25.9):
    - Branch/Core

[2018-12-18 23:42] csalmi-branch commented on #900
Leandro,

Thank you for bringing this to our attention! We have backlogged a ticket to dig further into this issue and hopefully can find a resolution soon. In the meantime, is this blocking you or preventing use of any features?

Thank you,
Colleen

[2018-12-20 12:51] VGudenko commented on #900
The same is for me

[2018-12-21 12:09] leandromperez commented on #900
Colleen,
Yes, this issue is causing our current release to freeze sometimes, and we just discovered new crashes in Crashlytics that might be related to this issue too.

[2018-12-24 05:42] nikeshakya opened #901 "Initialization stops working after 2-3 app quits"
-> Branch sdk initialization and features work when I fresh install the app
-> Once I quit app and re-open it, .init function returns error 1004 saying couldn't connect to branch server.
-> If I delete app, reinstall it and open again, it works.
How do I resolve this issue ? Should I clear anything from instance before using it?

[2018-12-29 00:58] csalmi-branch commented on #766
@bcherry Are you still experiencing this issue? If so, we would be happy to discuss it further with you. If not, we will close this issue.

[2018-12-29 01:04] csalmi-branch commented on #901
Hi @nikeshakya. What version of the SDK are you using?

[2018-12-29 02:11] bcherry commented on #766
@csalmi-branch no, we don't have this problem anymore after switching the setting to "aggressive". However, changing this setting did break our links in a different way as we had them wrapped in third-party click-tracking but branch would no longer handle many app opens via URI scheme after this change. We've temporarily disabled click-tracking on our emails for the holidays so users have a good e

[2019-01-02 15:58] Psrinath-branch commented on #901
Hey @nikeshakya,

As @csalmi-branch mentioned, along with the SDK version, can you also share us the logs of this error?
As per the code below, can you share us the details of branchError and its status code?
` BNCLogError(@"An error prevented request to %@ from completing: %@",
                    request.URL.absoluteString, branchError);`

Thanks!

[2019-01-03 15:07] Psrinath-branch commented on #901
Hey @nikeshakya - Glad to see that the error has disappeared with the latest SDK.
With the previous error, we would recommend sharing the exact error message that appears when you query the endpoint.
For example: requesting the URL - "https://api2.branch.io/v1/open", the resulting message seen is -
`message": "Invalid or missing app id, Branch key, or secret",
		"code":	400`
With this error messag

[2019-01-03 15:07] #901 closed

[2019-01-04 17:49] leandromperez commented on #900
Hi,
@Psrinath-branch I discovered that we were creating an additional instance on top of the shared instance. That was causing race conditions and deadlocks. Just making sure a single instance was running fixed the issue.
Thanks for your assistance,
Leandro

[2019-01-04 18:48] csalmi-branch commented on #900
Thanks for the update @leandromperez! Since you have found a resolution, I am going to close this issue. If anything else comes up, please open a new issue or reach out to our support team.
https://support.branch.io/support/home

[2019-01-04 18:48] #900 closed

[2019-01-25 15:49] glennposadas opened #904 "[Question] - I get incomplete data from quick links TEST"
I have posted similar question on Stackoverflow but I couldn't wait to get some ideas.
https://stackoverflow.com/questions/54367413/branch-io-quicklink-test-has-different-data-from-live

Woops, similar open ticket: https://github.com/BranchMetrics/ios-branch-deep-linking/issues/836

That's what I'm having now! Incomplete data in TEST env, but complete data in LIVE.

I used this debugging tool of B

[2019-01-26 04:13] glennposadas commented on #904
Hi! I’m not yet in front of laptop to check it. BUT we really have the same
issue, only 3 paramters returning from TEST quick link. Check out again my
Stackoverflow question link.

Thanks.

On Sat, 26 Jan 2019 at 8:26 AM csalmi-branch <notifications@github.com>
wrote:

--
Best Regards,
Glenn Posadas

[2019-01-28 21:51] csalmi-branch commented on #904
When links are created, they are created specifically for either the Live or Test key, and mismatched keys can often cause this issue. Can you confirm that the link was created with the test key and that the app is using the test key as well?

[2019-01-29 00:14] flochtililoch commented on #734
Another reason why this message could show, is if the network your device is connected to is running a "global" ad-blocker (for example pi-hole) which blocks `api.branch.io` domain. I was consistently getting this message while my internet connection was still up and fast until I realized branch domain was being filtered.

[2019-01-30 17:55] dannyfreed commented on #766
I am seeing something similar but slightly different. Wondering if it's related or if I should create a new issue...

This scenario works as expected:
1. App is uninstalled
2. User clicks branch deep link, which opens up a web page and prompts them to head to the app store to install
3. Upon opening the app, data is passed through the deep link properly. All is good!

This scenario DOES NOT work a

[2019-01-30 20:16] csalmi-branch commented on #904
Hi @glennposadas. Did you get a chance to confirm which keys you are using for link creation and within the app?

[2019-01-30 20:23] glennposadas commented on #904
Hey there. Yes. Someone asked me the same tbing on stackoverflow. I replied
there that I am 100% sure In using correct keys. They are in info.plist not
in code. Thanks

On Thu, 31 Jan 2019 at 4:16 AM csalmi-branch <notifications@github.com>
wrote:

--
Best Regards,
Glenn Posadas

[2019-01-31 11:56] glennposadas commented on #904
I'm using

`pod 'Branch', '0.25.9'`

[2019-02-07 13:10] alexanderkorus commented on #766
@dannyfreed exactly the same problem occurred since two weeks in my implementation. The app is already in the App Store and there it works well, but in the coming release candidate it doesn't work anymore (installed via TestFlight).

[2019-02-11 06:48] glennposadas opened #905 "Branch.m 88 Crash"
![screen shot 2019-02-11 at 2 45 27 pm](https://user-images.githubusercontent.com/12502679/52549007-e3084a00-2e0b-11e9-837d-d073236cb2ba.png)

Line 88,
```[coder encodeObject:self.eventDictionary forKey:@"eventDictionary"];```

`pod 'Branch',                 '~> 0.25.11'`

Is this normal? This happened in my dev build, no similar crash report yet in my production build. Thanks.

[2019-02-12 07:46] glennposadas commented on #905
Solved. I'm passing rxSwift behaviorRelay object to a parameter rather than its `.value`.

[2019-02-12 07:46] #905 closed

[2019-02-27 09:48] lalu5585 commented on #793
Hello E-B-Smith,

seems this issue reproduced again in version 0.25.3.

let buo = BranchUniversalObject.init(canonicalIdentifier: "content/12345")
        buo.title = "abc"
        buo.contentDescription = "xyz"
        buo.imageUrl = "abc.com"
        buo.contentMetadata.customMetadata["Groupid"] = "\((dialog.id)!)"
        buo.contentMetadata.customMetadata["AdminMobile"] = "\(self.adminPhone)"

[2019-03-06 10:47] gupta-manish opened #907 "The function getShortUrlWithLinkProperties giving wrong url"
Hi,

So my applink is adobepsx.app.link.

But getShortUrlWithLinkProperties function is generating adobe-psx.app.link.

As a result the link is not deep linking to the application.

[2019-03-07 08:31] danipralea commented on #789
@E-B-Smith can you please share the location to where we can do that as well?

I'm also having the same issue and wish it could get resolved.

[2019-03-24 01:18] jamesjmtaylor opened #909 "Data is not being passed in deep link"
I'm trying to access data from a deep link that is generated in the following manner

[code]

I'm able to send an email with the deep link to myself and open it in my iOS mail client.  But the link either isn't handled at all (this occurs when the app is already open), or it doesn't contain the customMetadata (when the app is opened from the link). My AppDelegate has the following methods:

[code]

[2019-03-29 00:01] csalmi-branch commented on #904
Since this question was answered on stack overflow, I am closing the issue here.

[2019-03-29 00:01] #904 closed

[2019-03-29 23:00] csalmi-branch commented on #909
@jamesjmtaylor What version of iOS and the SDK are you using?

[2019-03-29 23:02] csalmi-branch commented on #907
@gupta-manish What version of the SDK and iOS are you using?

[2019-03-29 23:59] jamesjmtaylor commented on #909
iOS 10.3.3 and  Branch/Core (0.25.11)

[2019-04-06 22:55] jf367 commented on #789
LOL, such arrogance and bureaucracy. The issue has obviously been around for more than 1 year now, and Google/Gmail just won't care, probably because the devs are busy with developing and discarding Inbox.

[2019-04-09 16:00] touren opened #912 "The meta data is not retrieved occasionally."
XCode 10.1
Swift 4.2
Branch 0.26.0

**Most of the time, we got the correct meta data:**

**But sometimes, the server returns "+non_branch_link" for the same link, https://wcv8.app.link/8MROg8bZIV**

[2019-04-16 19:39] jamesjmtaylor commented on #909
@csalmi-branch do you have any updates or further instructions?  This is a MVP feature for our app that's delaying release.

[2019-04-16 23:00] csalmi-branch commented on #909
@jamesjmtaylor Unfortunately I don't immediately have a solution for you. I believe that your configuration just likely needs to be tweaked, but I don't see an obvious change.

For now, I would recommend you to submit a ticket with our support team (support.branch.io), since they will be able to provide you with a bit more immediate attention.

[2019-04-17 11:15] github-prathma opened #914 "Not redirecting to url because of https://api2.branch.io/v1/open, Status 200 error"
If there is a bug or error in this repo, please file the issue here.

If you need assistance integrating a Branch SDK, please email support@branch.io. Thank you.

[2019-04-17 11:20] github-prathma commented on #914
Debug: Network finish operation https://api2.branch.io/v1/open 0.643s. Status 200 error (null).
{"session_id":"647018792144274324","identity_id":"647006397716155849","link":"https://bnc.lt/a/key_live_ofpAFmyUCF2nyYtmXjmk1fefgfjDU62v?%24identity_id=647006397716155849","data":"{\"+non_branch_link\":\"https://curofy.com/news/51528-ShortNews--Air-pollution-is-killing-more-people-in-India-than-smoking?

[2019-04-17 15:24] jamesjmtaylor commented on #909
Will do.

[2019-04-18 08:55] tango5614 opened #915 "Paste link to safari and jump, then open the app, still get the link data and has to handle it"
I Integrated IOS SDK like your document says, handle link's data in `Branch.getInstance().initSession`'s callback
The question is:
When I generate a link which will cause my app navigating a certain page, copy it to safari then jump, it fallback to the $fallbackurl, which is OK.
But when I reopen my app, `Branch.getInstance().initSession`'s callback is called.I still can get the link's data.Thus m

[2019-05-16 12:16] jaz-ah opened #918 "crash w/ branch 0.27.0"
looks like you guys tried to make a fix in this area before - we're seeing many crashes in this area via crashlytics (no reproducible steps):

#0Crashed: com.apple.main-threadEXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x000000066a6f56b0 Raw Text
--
0 | libobjc.A.dylib | objc_msgSend + 16
1 | Branch | BNCEncodingUtils.m line 145+[BNCEncodingUtils sanitizedStringFromString:]
2 | Branch | BNCEncodingUtils.m

[2019-05-28 20:10] echo-branch commented on #918
Thanks for bringing this to my attention.  I believe the issue is an unexpected key type is making it all the way to serialization.  I put in some protection around it and merged it to staging.

[2019-05-29 19:05] jaz-ah commented on #918
thanks @echo-branch - what is your ETA to getting this into a released sdk?

[2019-05-29 19:27] csalmi-branch commented on #918
We will hopefully be releasing a new version of the SDK in our next sprint cycle.

[2019-06-04 16:49] myster-t commented on #766
@E-B-Smith sorry if this is a stupid question, but is there something I have to do to explicitly enable `Deferred Deep Linking`? Or is that just baked into the Branch tech? I couldn't find much on this topic 😞

Also, does anyone know if there's been any movement on this front in the last four months?

[2019-06-04 17:31] E-B-Smith commented on #766
The deferred deep linking is turned on by default.

Chat with @echo-branch at Branch. He knows the latest status of this issue!

[2019-06-06 12:21] leandromperez commented on #918
👍 waiting for the fix here too!

[2019-06-06 15:13] jaz-ah commented on #918
@csalmi-branch is the fix in the 0.27.1 release?

[2019-06-06 16:22] csalmi-branch commented on #918
Yes! Sorry about the delay in notification. The fix has been released in v0.27.1 which is now available.

[2019-07-02 13:27] LucasVanDongen commented on #918
I'm still experiencing these crashes after updating to 0.27.1. I have no idea what strings cause them so I have no idea what to test against to begin with.

[2019-07-02 17:26] echo-branch commented on #918
@LucasVanDongen  We only log the unexpected type, but not the actual value.  In the previous example, the issue was passing an NSNumber as a custom key instead of a NSString.  Are you seeing exactly the same crash log?  Maybe there's another location where an invalid key type can sneak in.

[2019-07-03 05:35] animeshp commented on #305
I'm facing this issue with the latest Branch SDK in a very specific scenario. `initSession(launchOptions: launchOptions)` is being called twice. **Steps to reproduce:**:

1. Install the app on device through Xcode.
2. Open the app.
3. Kill it.
4. Click on deep link from Notes or Messages app.
5. `initSession(launchOptions: launchOptions)` called twice. First time `+clicked_branch_link` is `true` a

[2019-07-04 06:03] ahmednawar commented on #305
cc @echo-branch

[2019-07-05 19:34] echo-branch commented on #305
@animeshp
Please file a support ticket.  I was unable to repro with v0.27.1 on iOS 12.3.1.

[2019-07-08 17:31] animeshp commented on #305
@echo-branch  I've already filed a support ticket. It is no. 81678.

[2019-07-15 14:01] LucasVanDongen commented on #918
So I went over some crash logs in Xcode instead of relying on Crashlytics and I've found more than one crash related to Branch and _all of them_ happened starting from this retry block:

<img width="781" alt="image" src="https://user-images.githubusercontent.com/5376434/61221640-382cec80-a719-11e9-816c-8bf250a6df66.png">

Not sure if the code on our side does something unexpected (like not calling

[2019-07-15 16:53] animeshp commented on #513
Hi,

I've implemented every method as discussed in this thread but still facing this issue. I'm using the latest Branch SDK for iOS.

[2019-07-15 16:58] Rashesh-Bosamiya commented on #513
Have u made changes in AppDelegate? As discussed in this thread?

[2019-07-15 18:16] animeshp commented on #513
Yes I've and I'm always returning YES from AppDelegate.

[2019-07-15 20:31] echo-branch commented on #918
@LucasVanDongen That looks like a different issue.  I'm going to add this to our sprint.

[2019-07-16 04:02] Rashesh-Bosamiya commented on #513
Your question is the same as the thread question, right?

[2019-07-16 08:48] LucasVanDongen commented on #918
Thanks a lot @echo-branch ! It's not happening to that many users but still a hard crash for the ones that do suffer. Did you create a separate story for this already?

[2019-07-16 19:33] csalmi-branch commented on #907
@gupta-manish Are you still having this issue?

[2019-07-16 20:15] echo-branch commented on #918
@LucasVanDongen We have an internal ticket for it.

[2019-07-17 07:41] ShineyVeridic opened #923 "Error Domain=io.branch.sdk.error Code=1004 "Trouble reaching the Branch servers, please try again shortly.""
Hi Team, I'm facing the following issue when opening the app using branch deep linking URL for iOS Application.

[branch.io] BNCServerInterface.m(602) Error: An error prevented request to https://api2.branch.io/v1/open from completing: Error Domain=io.branch.sdk.error Code=1004 "Trouble reaching the Branch servers, please try again shortly." UserInfo={NSLocalizedFailureReason=The request timed out

[2019-07-17 17:45] animeshp commented on #513
Yes it is.

[2019-07-31 17:32] csalmi-branch commented on #907
Due to the age of this issue, I am closing this now. If you are encountering this problem still, please reach out to our support team (support.branch.io) or open a new github issue and we would be happy to help you out!

[2019-07-31 17:32] #907 closed

[2019-08-05 07:58] gabrielPeart opened #928 "Add Swift Package Manager support"
At WWDC 2019, Apple announced Xcode integration with Swift Package Manager. It would be great to be able to use it with your library.

If you have doubts, please, check the following links:

[How to use](https://developer.apple.com/videos/play/wwdc2019/408/)

[Creating Swift Packages](https://developer.apple.com/videos/play/wwdc2019/410/)

[2019-08-06 19:03] EmperiorEric opened #929 "Error Building for Project Catalyst aka UIKit for Mac"
Trying to build our iOS app with Project Catalyst and the Branch framework is failing to build with this error.

[code]

I'm building with Xcode 11 Beta 5 and using Branch 27.1

[2019-08-06 22:53] echo-branch commented on #929
We don't support macOS 15 via UIKit yet.  We have a backlogged ticket for this.

[2019-08-08 10:53] leandromperez commented on #918
We're still experiencing this crash. Bellow, there's a part of one of the many stack traces.
Any ideas?
Thanks!

[code]

[2019-08-08 22:47] echo-branch commented on #918
Are you able to confirm these are new crashes and not crashes logged before the update, maybe check timestamps?  The symbolicated line numbers are the same in the two examples, and I would have expected them to be a little different in the encodeDictionaryToJsonString.

[2019-08-08 22:53] echo-branch commented on #928
We have a backlogged ticket for this one.

[2019-08-09 01:02] leandromperez commented on #918
Yes I am, that piece of the stack I sent was from:

**# Date:** 2019-08-08T17:46:00Z

**Branch Version:**
  - Branch (0.27.1):
    - Branch/Core (= 0.27.1)

**Here's another one:**
[code]

[2019-08-09 17:50] echo-branch commented on #918
Looks like I'll have to reopen and add this to our next sprint.  Thanks for letting us know this issue still exists.

[2019-08-21 18:18] csalmi-branch commented on #923
@ShineyVeridic are you still experiencing this issue?

[2019-08-21 18:28] csalmi-branch commented on #912
@touren are you still experiencing this issue?

[2019-08-21 18:37] csalmi-branch commented on #914
@github-prathma have you tried following the instructions here? https://docs.branch.io/apps/android/#using-bnclt-or-a-custom-link-domain

If so, can you provide us some more information about your configuration?

[2019-08-21 18:39] csalmi-branch commented on #914
@github-prathma have you tried following the instructions here? https://docs.branch.io/apps/ios/#enable-100-matching

If so, can you provide us some more information about your configuration?

[2019-08-22 06:27] ShineyVeridic commented on #923
Yes, I'm still experiencing this issue with branch. This issue occurs randomly but when this issue is generated it doesn't goes for hours.

[2019-08-27 19:30] SebC99 opened #930 "Why channel/campaign/feature are not transmitter as Apple campaign?"
It would be very useful to be able to track the campaign as app store campaign too
And it would just need to adapt the app store link to include the campaign format...

[2019-08-29 09:21] voyage11 opened #931 "ITMS-90809: Deprecated API Usage - UIWebView"
We identified one or more issues with a recent delivery for your app, APP_NAME. Your delivery was successful, but you may wish to correct the following issues in your next delivery:

ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs . See https://developer.apple.com/documentation/uikit/uiwebview for more information.

After you’ve corrected th

[2019-08-29 10:09] radko93 commented on #931
All `UIWebView` has to be replaced with `WKWebView`

[2019-08-29 14:39] th3m477 commented on #931
👍 needs to be fixed, only dependency i have with UIWebView's still.

[2019-08-29 15:55] sjmueller commented on #931
👍 got this warning today, not a good situation if they require removal when iOS 13 is released!

[2019-08-29 19:29] brunobar79 commented on #931
+1

[2019-08-30 12:15] radko93 commented on #931
This will be fixed by #932

[2019-09-03 07:28] priyankt commented on #931
+1

[2019-09-04 02:54] h36ahmed commented on #931
+1

[2019-09-04 04:38] alvarhansen commented on #931
+1

[2019-09-05 08:35] jsiffels commented on #931
+1

[2019-09-05 09:42] Budyn commented on #931
:+1:

[2019-09-05 20:35] graysonlang opened #934 "Code signature is broken in simulator frame of release frameworks."
There is a bug with Xcode that it will automatically attempt to code sign simulator builds (i.e. architecture `x86_64`) unless you explicitly tell it not to. Since a valid certificate is not generally available at the time, it yields broken code signing and causes issues with framework stripping and resigning when a host application attempt to bundle/payload the framework during the final packagin

[2019-09-05 21:00] echo-branch commented on #934
There is a backlogged ticket for this issue.

[2019-09-11 10:38] NikitaKoltsov opened #936 "Deferred deep link is empty when install the app"
I have a problem with deferred deep links when we tap on a link and the app is not installed.
DeepLinkHandler closure returns `["+is_first_session"): 1, "+clicked_branch_link": 0]`after I install the app.
If I tap on the same link and I've already installed the app - It works as expected and returns deep link info.

To test deferred deep linking I do:
- remove the app from device
- select link in

[2019-09-12 00:42] toddgower-hiatus opened #937 "Initialization of sdk with key (not in info.plist)"
Is there a way to supply the Branch SDK with an API key rather than have it read from `info.plist`? I would like to keep the keys out of source control.

[2019-09-12 00:45] echo-branch commented on #937
https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/blob/master/Branch-SDK/Branch-SDK/Branch.h#L176-L182

[2019-09-12 00:48] toddgower-hiatus commented on #937
Yes, that's it! Why do the comments on that func say that this is not the preferred way of doing it? In my case, I'm going to be supplying the API key via codegen during the build process.

[2019-09-13 16:58] ptsochantaris opened #939 "Initialisation handler never called on iOS SDK 0.28.1 when checking for Apple Ads"
After updating to the latest 0.28.1 Branch SDK (we were using 0.27.1) it seems that on some devices our app stopped launching. Digging deeper we found out that the completion handler for the initialisation call for Branch was never returning:

[code]

It's important to note that this occurred only on certain devices, and when the SDK was run without breakpoints, indicating a race conditions. On so

[2019-09-13 17:39] echo-branch commented on #939
There is a backlogged ticket for this.  On slow startup, we can enter a race condition.  The new SDK uses WebKit instead of UIWebView to obtain browser user agent on very first launch, which may take more time.

Workaround
https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/blob/master/Branch-SDK/Branch-SDK/Branch.h#L683

[2019-09-13 19:18] ptsochantaris commented on #939
Hi, and thanks for the quick response. Would setting the `disableDelayedInit()` flag affect the search ads functionality, or other functionality of the SDK? What does this option normally do?

[2019-09-13 23:13] echo-branch commented on #939
Potentially in very slow startups, we could miss the search ad data.  However, it's less severe than failing to call the callback for some users.

Another thing to check for is a lot of setup prior to Branch setup.  That can also cause this issue.

Normally we wait for all the data on startup, however if we don't get it in time, this option tells the SDK to continue on.

[2019-09-17 13:34] leandromperez commented on #918
Hi,
Any news on this issue? Our users are still experiencing this in:
  - Branch (0.27.1):
  - Branch/Core (= 0.27.1)
Thanks!

[2019-09-17 14:11] echo-branch commented on #918
Hi,

Unfortunately this ticket slipped from our last sprint.  Hoping to get it this sprint.

[2019-09-18 21:27] nick-sturrock opened #940 "BNCUserAgentCollector.h not found in BNCDeviceInfo.m"
I get a flie not found building this module: BNCUserAgentCollector.h not found in BNCDeviceInfo.m. Any clues?

[2019-09-18 21:29] echo-branch commented on #940
First guess is that there's some intermediate build artifacts floating around.  That file was added in 0.28.1

Could you try a full clean and rebuild?

If that doesn't work, how did you integrate the SDK?  Cocoapods?  Carthage?

[2019-09-18 21:32] nick-sturrock commented on #940
Integrated with Cocoapods, full clean results in the same issue. My pod installation of this module is definitely missing that header though...

[2019-09-18 21:36] echo-branch commented on #940
Could you try remove the lock file and Pods folder and then doing a pod update?  I'm expecting the following file to exist.

 /Pods/Branch/Branch-SDK/Branch-SDK/BNCUserAgentCollector.h

[2019-09-19 04:17] bogartpi commented on #928
Would be great to use Branch with Swift Package Manager!

[2019-09-24 16:52] javidsheikh opened #942 "Callback on the initSession() function doesn't get called when app already installed"
When I launch the app from a universal link on a device where the app is already installed, the callback on the initSession() function doesn't get called. This is my `AppDelegate` code:

    func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplicationLaunchOptionsKey : Any]? = nil) -> Bool {

        window = UIWindow(frame: UIScreen.main.bounds)

[2019-09-25 00:05] echo-branch commented on #918
@leandromperez Finally found some time to devote to this.

Could you provide a little more information about your app.  Does it include any C/C++ code?  Maybe a section of code where you manage your own memory?

The only way I could get a similar crash is by forcing a deallocation of NSString, but that's a very odd example.

[2019-09-25 11:31] rishabh-latfire opened #944 "Deep link doesn't work as expected when opened from in-app (iOS)"
Scenario 1 (Expected):
1  App is in killed state or background
2  User clicks on link
3 App opens and user is redirected to the desired page

Scenario 2 (Not Expected):
1. App is in foreground
2. Link is clicked from inside the app
3. Safari browser opens asking to redirect to my app (I guess this is because Url scheme gets invoked here instead of universal link (just for this case))
4. Now if thi

[2019-09-25 12:45] leandromperez commented on #918
Hi,
No, we don't include any C/C++ code and we don't manage or own memory.

It always happens on a `com.apple.root.user-initiated-qos` thread.

I just went through most of our crashes related to this issue. These are the different in stack traces I could gather:

1.
[code]
2.
[code]

3.
[code]

[2019-09-26 00:10] echo-branch commented on #918
Thanks for the additional information.  I'm unfortunately unable to report any progress on this at the moment.

[2019-09-26 00:42] echo-branch commented on #942
There's a known race condition with slow initialization, such as search ads or initializing something large before Branch.  Working on a fix.

Workaround
https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/blob/master/Branch-SDK/Branch-SDK/Branch.h#L683

[2019-09-26 00:43] echo-branch commented on #944
There's a known race condition with slow initialization, such as search ads or initializing something large before Branch.  Working on a fix.

Workaround
https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/blob/master/Branch-SDK/Branch-SDK/Branch.h#L683

[2019-09-26 06:10] rishabh-latfire commented on #944
I tried using `disabledelayedinit` but the problem still persists. My code :
 `// listener for Branch Deep Link data
		Branch.getInstance().disableDelayedInit()
		Branch.getInstance().initSession(launchOptions: launchOptions) { [weak self] _params, _ in

			guard let `self` = self else {
				return
			}

			// do stuff with deep link data (nav to page, display content, etc)
			guard let params = _

[2019-09-27 17:06] GLJeffery opened #946 "Crash on Archived app for 0.28.1"
I use Carthage for dependency management, and have been using 0.26.0, everything was fine.

I upgraded to 0.28.1 and everything runs in Xcode/simulator, but whenever I archive with this version, the app crashes immediately, has anyone else run into this issue?

**Edit**: Appears to be related to passing Branch instance through Fabric on device

*** Terminating app due to uncaught exception 'FABExc

[2019-09-30 17:59] echo-branch commented on #944
0.29.0 has a fix for the race condition.  The workaround only works if the delay was due to search ads.

[2019-09-30 19:37] GLJeffery commented on #946
This happens on both Xcode 10.3 and Xcode 11 (not restricted to IDE)

[2019-09-30 20:42] echo-branch commented on #946
I'm not able to repro this issue.  I double checked that the 0.29.0 framework has the necessary slices.

`Branch: Mach-O universal binary with 4 architectures: [i386:Mach-O dynamically linked shared library i386] [arm64]
Branch (for architecture i386):	Mach-O dynamically linked shared library i386
Branch (for architecture x86_64):	Mach-O 64-bit dynamically linked shared library x86_64
Branch (for

[2019-09-30 20:47] echo-branch commented on #946
Also just to be extra sure I understand the issue correctly.  You're talking about loading an ipa to device and seeing it crash immediately?  Also the app loaded to device via xcode works?

[2019-09-30 20:54] echo-branch commented on #939
0.29.0 should have a fix for this issue.

[2019-09-30 20:54] echo-branch commented on #942
0.29.0 should have a fix for this issue.

[2019-09-30 21:06] GLJeffery commented on #946
I saw this issue on the 0.28.1 framework specifically, I haven't tried the 0.29.0 framework, and didn't try anything between 0.26.0 and 0.28.1

I had ended up reverting to the 0.26.0 for the time being.

Correct, loading via ipa (through Devices), or in Testflight, both crashed immediately, even though it archives. App loaded to simulator worked, I can do some tests tonight on app loaded to physic

[2019-09-30 21:13] echo-branch commented on #946
Could you check if WebKit is included?  It's now a requirement since Apple is giving warnings about future apps submissions with UIWebView will be rejected.  We use it to obtain browser user agent.

I think that's the biggest change in 0.28.x vs previous versions.

[2019-09-30 21:15] GLJeffery commented on #946
it is, we use WKWebView directly in our app, as well as I was able to update other libraries which had the deprecation warning too without issue.

[2019-09-30 21:24] GLJeffery commented on #946
App loaded to device via Xcode build worked, I will try archiving with 0.29.0 when I have the chance

[2019-09-30 21:28] echo-branch commented on #946
Maybe the test device wasn't registered for running archives?

[2019-09-30 21:44] GLJeffery commented on #946
same devices as normal

[2019-10-01 08:05] ptsochantaris commented on #939
Hi, and thank you for the update! We'll upgrade the SDK in an upcoming version of our app 👍

[2019-10-01 12:32] ileitch opened #947 "Branch.h: Pointer is missing a nullability type specifier"
Just upgraded to 0.29.0 from 0.27.1 and now I'm getting hundreds of errors concerning the lack of nullability specifiers in Branch.h.

The very first error is:
[code]

Xcode 10.3
CocoaPods 1.7.5

[2019-10-01 12:43] ileitch commented on #947
Looks to be a new issue in 0.29.0, I just tried 0.28.1 and it compiles without error.

[2019-10-01 13:00] SOleinichLohika opened #948 "Delay when try to share deep link."
I have stange behaviour when try to generate and share deep link. If I create a deep link and share it using sdk throught iMessage, the app has delay about 10 seconds.

I create BranchUniversalObject:
[code]

Then I create BranchLinkProperties
[code]

Then I try to share:
[code]

Another way:
[code]

As the result my app has a delay:

![icon](https://media.giphy.com/media/dag585H6UwKOLgQFwf/giphy.

[2019-10-01 16:06] ileitch commented on #947
I'm still using Xcode 10.3.

[2019-10-01 16:28] echo-branch commented on #947
I mean when I built the SDK in Xcode 11, it updated the warning settings.

[2019-10-02 16:47] javidsheikh commented on #942
@echo-branch thanks for your replies.
Still experiencing this problem. Using version 0.29.0 and have tried the suggested workaround too. Any other ideas?

[2019-10-02 17:42] echo-branch commented on #942
Could you move the Branch init outside the controller init.  I suspect we're not around when the lifecycle call arrives.

[2019-10-02 22:34] jervincruz commented on #947
Branch employee here: Currently have a client that's had the same error with 0.29 pod. Will this be fixed in the next release?

[2019-10-02 22:35] kbelter commented on #947
i also have this problem.
Please let us know when this is fixed.
thanks!

[2019-10-03 08:51] javidsheikh commented on #942
Still doesn't get called, even when I simplify the delegate code to this:

    func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]?) -> Bool {
      // if you are using the TEST key
      Branch.setUseTestBranchKey(true)
      // listener for Branch Deep Link data
      Branch.getInstance().initSession(launchOptions: lau

[2019-10-03 14:19] ptsochantaris commented on #939
We tried 0.29.0 but it seems to flood Xcode with warnings about null specifiers, as mentioned in #947 - we'll try again with the next version.

[2019-10-03 17:03] rdingman commented on #947
FYI, I've added `-Xcc -Wno-nullability-completeness` to "Other Swift Flags" in my project to suppress these warnings until this gets patched. Hope this helps someone.

[2019-10-04 14:18] Ariandr commented on #947
Same issue. Waiting for solution! Thanks

[2019-10-04 15:34] echo-branch commented on #947
A fix for this is in staging and being reviewed/tested.

[2019-10-04 15:46] Ariandr commented on #947
@echo-branch Thanks for notice!

[2019-10-07 07:24] Vinzius commented on #947
Hey Team,

The `Branch.getInstance()` property is now optional, is that the desired behavior? As any call will look like `Branch.getInstance()?.doSomething()`.

Thanks

[2019-10-07 18:01] echo-branch commented on #947
@Vinzius

Long ago we made the unfortunate choice to return nil in the event that Branch is misconfigured.  In a future release, I plan on hiding this and always making sure you get an object back.

[2019-10-08 18:20] donnellyk commented on #918
We are also seeing this crash for a number of users, don't really have more information to add beyond that. It is happening in the first release where we include the Branch SDK, so its not a matter of older versions getting reported.

[2019-10-08 19:35] csalmi-branch commented on #918
@donnellyk can you provide us a bit more information about your integration? Which SDK version are you using? Do you use any sort of hybrid C/C++ app or do any memory management of your app?

[2019-10-08 19:55] donnellyk commented on #918
We are using mParticle Branch's integration, v7.11.0
Looks like that uses v0.28.1 of the Branch SDK.

We have a fairly straight-forward app w/ no direct C code or memory management. Some dependencies we use may though, I can not be sure: Firebase, mParticle are the biggest.

[2019-10-09 13:45] walsht opened #950 "Carthage not building since "0.28.1""
If there is a bug or error in this repo, please file the issue here.

When running carthage update I am getting this error below.  It works fine on "0.28.1"

[code]

If you need assistance integrating a Branch SDK, please email support@branch.io. Thank you.

[2019-10-09 18:07] echo-branch commented on #950
Could you try explicitly excluding Catalyst.  We don't support it yet.

Example
[code]

[2019-10-09 18:58] donnellyk commented on #918
We do include the Firebase Performance Monitoring framework but currently have it disabled (due to this crash that since has been crashed but we never renabled it: https://github.com/firebase/firebase-ios-sdk/issues/2283)

[2019-10-10 14:09] leandromperez commented on #918
FYI,
We released a new build and the crash is still happening:

**OS:** iOS 13, iOS 12

**PODS:**
  - Alamofire (4.9.0)
  - AlamofireImage (3.5.2):
    - Alamofire (~> 4.8)
  - Amplitude-iOS (4.8.1)
  - Analytics (3.7.0)
  - apptentive-ios (5.2.7)
  - **Branch (0.28.1)**:
    - **Branch/Core (= 0.28.1)**
  - **Branch/Core (0.28.1)**
  - CleverTap-iOS-SDK (3.7.0):
    - SDWebImage (~> 5.1)
  - Cras

[2019-10-10 14:36] paulo-depop commented on #950
@echo-branch I had to enable the new build system on TestBed-Swift.xcworkspace to make it work

[2019-10-15 18:15] lhasiuk opened #952 "Under iOS 13.1, showShareSheetWithLinkProperties places link before andShareText"
In iOS versions prior to 13, when using BranchUniversalObject's showShareSheetWithLinkProperties to send a link via Messages, the link appeared after any included text ("andShareText") parameter.  In iOS 13.1 (and possibly iOS 13), the link appears before the text in the text message.  This makes it difficult to make a message that explains to the user what the link is for, since it appears first

[2019-10-15 20:12] echo-branch commented on #952
Logged a ticket for this issue.

[2019-10-15 23:18] bdrelling commented on #928
Is there any status update for this @echo-branch (or other maintainers)?

[2019-10-16 00:57] echo-branch commented on #928
It's still in our backlog.  Hoping to get it next sprint.

[2019-10-16 04:24] bdrelling commented on #928
@echo-branch Awesome, thank you for the update!

[2019-10-17 13:36] GLJeffery commented on #946
@echo-branch did anything change regarding Branch.getInstance() and Fabric Kit?
after some more digging, I think this is the actual error I'm getting, not archive related:

** Terminating app due to uncaught exception 'FABException', reason: '[Fabric] It appears that "Branch" is not a valid Fabric Kit. Please make sure you only pass Fabric Kits to [Fabric with:].'

[2019-10-17 18:15] echo-branch commented on #946
Ah yes.  Fabric is deprecated by Google and will be removed next Sprint.  We removed it in 0.28.1.

https://get.fabric.io/roadmap?utm_campaign=discover&utm_medium=natural

[2019-10-18 09:35] doanduchieu commented on #942
I have the same problem. Has it been fixed?

[2019-10-18 13:57] leandromperez commented on #918
any news on this issue?

[2019-10-18 17:23] echo-branch commented on #942
I haven't been able to repro this issue as described and will need more information about your app.

1.  Is there any setup before Branch init?  If we start late, we won't have a chance to see the link come in.
2.  Could you log when you init Branch, and when app calls continue user activity or open url?  init needs to finish before the other two calls.
3.  Are there any 3rd party SDKs interceptin

[2019-10-18 17:39] echo-branch commented on #918
I'm still not able to repro this issue.  So I'm going to put in a blind fix attempt by adjusting a queue settings.

I've also got some time blocked out this sprint do more in depth stress tests on our persistence and loading code.

[2019-10-18 21:37] doanduchieu commented on #942
Hi @echo-branch , steps to re produce are:
1. Delete the app.
2. Install then run first -> It works in this case.
3. Exist the app.
4. Run app again -> It don't callback to `initSessionWithLaunchOptions`.

We was used `v 0.26.0` and it works fine.

[2019-10-18 22:24] echo-branch commented on #942
Researching.

Could you check if disabling the search ad delay helps the situation?

[2019-10-19 02:29] doanduchieu commented on #942
`disabling the search ad delay helps the situation` it works in this case. Could you help me check about this problem?

[2019-10-19 03:33] echo-branch commented on #942
I think I might have repro'd your situation.  I was missing it with logging turned on, but once I disabled all logging and debugging I was able to see similar behavior.  Still researching it.

[2019-10-19 05:52] doanduchieu commented on #942
Thanks @echo-branch, I'm waiting for a fix.

[2019-10-21 05:18] doanduchieu commented on #942
Hi @echo-branch , Do you have any updates on this?

[2019-10-21 16:20] paulo-depop commented on #950
@echo-branch is a fix for this planned?

[2019-10-21 18:07] echo-branch commented on #950
Yes.  I forgot to include it in the last patch release.  I'll be in the next one.

[2019-10-21 21:24] echo-branch commented on #942
@doanduchieu Not yet.  Still researching.

[2019-10-23 10:02] tomerciucran commented on #936
Same issue here.

[2019-10-25 18:19] rpassis commented on #942
This is a pretty serious issue. We updated from `0.25.3` to `0.29.0` and started experiencing this change in behavior, which in our case led to the app failing to load as we were optimistically relying on that callback always running.

[2019-10-25 18:22] GLJeffery commented on #946
Closing as this is an issue related to trying to pass Branch into Fabric which doesn't conform anymore, thanks for your help @echo-branch !

[2019-10-25 18:22] #946 closed

[2019-10-25 20:24] rpassis commented on #942
FWIW this is where I think the regression is.

The multiple initialization calls above `@synchronized (self.asyncRequestCountLock)` increase the `asyncRequestCount` so when we hit the if branch that decides whether to call `[self initUserSessionAndCallCallback:YES];` or not there are inflight requests that haven't finished so the request count is not 0, and the SDK's user session is never initiali

[2019-10-25 20:28] echo-branch commented on #942
@rpassis There's a fix branch in progress.  The previous change was to mitigate a different race condition, but it fails in other scenarios.  There's a significant refactor of how we handle threading on startup.

[2019-10-28 01:39] chunyili200556 opened #955 "My app suddenly couldn't use deep link shared from facebook Sharekit SDK"
Neither iOS and Android can use the deep link shared from Facebook share SDK , iOS will get '1003' error code.
Only facebook share SDK will get this problem , other platform worked fine.
Could you please help me to fix this problem.

[2019-10-28 02:04] chunyili200556 commented on #955
There's a interest situation.If I click the link from other apps like Line、Slack or Email , deeplink always worked fine even the link is from Safari facebook website, only Facebook app will cause this issue .And the fun part is after I click the link from facebook app ,other apps will also get the error code , unless I remove my app and reinstall.

[2019-10-28 17:09] echo-branch commented on #955
https://blog.branch.io/how-to-deep-linking-from-facebook/

[2019-10-28 17:10] echo-branch commented on #955
TLDR;  FB prevents deeplinks from leaving the FB app without configuring FB app links.

[2019-10-28 19:39] echo-branch commented on #955
I think I misunderstood your issue.

You already have app links setup and when your app opens you get an error from us?  Could you log the link that is provided to your App from FB?  FB appends extra parameters to deeplinks, it's possible we're not handling those values correctly.

[2019-10-28 22:47] echo-branch commented on #955
Server team has informed me there is an issue with FB links currently, they are working on a fix.

[2019-10-29 01:05] chunyili200556 commented on #955
thank u so much!!!!!

[2019-10-29 14:27] RamblinWreck77 commented on #928
+1, would love this! We had recently migrated to 100% SPM fully had to go back to hybrid SPM/Cocoapods to setup branch.

[2019-10-29 21:08] michalcichon commented on #947
I believe this issue should be closed as this issue is fixed in v0.29.1.

[2019-10-30 21:39] echo-branch commented on #948
@SOleinichLohika Sorry about the delay.  I didn't see this ticket.

Could you email our support team?  I think this might be a configuration issue rather than a bug.

[2019-10-30 21:41] echo-branch commented on #955
Server team says they've rolled back the change that caused this issue.  Let me know if you're still encountering it.

[2019-10-31 01:11] chunyili200556 commented on #955
The problem is been solved. Thanks you for ur hard work!!!

[2019-10-31 14:49] loilee opened #957 "0.29.3 - XCode 11 - 'BNCContentDiscoveryManager.m' in the Compile Sources build phase is using platform filters which is not supported in the legacy build system"
Not sure if this is Xcode 11 issue but would like to show error when running carthage update in 0.29.3

Xcode 11
Carthage 0.34.0

*** Checking out ios-branch-deep-linking at "0.29.3"
carthage update error:

*** Building scheme "Branch iOS SDK Carthage" in TestBed-Swift.xcworkspace
Build Failed
	Task failed with exit code 65:

Log file:
=== BUILD TARGET Branch OF PROJECT BranchSDK WITH CONFIGURATIO

[2019-10-31 18:04] echo-branch commented on #957
This is a known issue.  I forgot to include it in the last patch, it's on staging now.

Basically, the swift project used for building the carthage binary requires new build system.

[2019-11-01 05:32] loilee commented on #957
Got it. When can we expect it to be available?

[2019-11-01 06:33] tapannathvani opened #958 "Installation Failed, Could not inspect the application package."
I Installed Branch through POD.     pod 'Branch'

After installing, when I run the project in device I am getting an error "Installation Failed, Could not inspect the application package".

I am using Xcode 10.2 with swift 5 language project.

[2019-11-01 14:08] walsht commented on #950
@echo-branch When will the next patch release?

[2019-11-01 14:20] doanduchieu commented on #942
Hi @echo-branch, Is there any update from this issue? We are waiting a new version to remove UIWebView without this issue.

[2019-11-01 16:17] syedharishussain commented on #957
Also `BNCEncodingUtils.h`

[2019-11-01 16:54] echo-branch commented on #957
@loilee By the end of next week.

[2019-11-01 16:55] echo-branch commented on #957
@syedharishussain BNCEncodingUtils wasn't intended to be public.  The test project was inappropriately using private headers.  That should be fixed in the next release too.

[2019-11-06 07:15] bharathreddy-97 opened #964 "Crash during initalisation."
Following is my app delegate.
`
    func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]?) -> Bool {
        // Override point for customization after application launch.
        Branch.setUseTestBranchKey(true)
        Branch().initSession(launchOptions: launchOptions) { (params, error) in
            print("PARAMS   ",p

[2019-11-06 19:00] echo-branch commented on #964
Try replacing `Branch().initSession` with `Branch.getInstance()?.initSession`.

[2019-11-07 05:09] bharathreddy-97 commented on #964
@echo-branch  It worked..Thank you

[2019-11-07 05:10] #964 closed

[2019-11-07 16:21] javidsheikh commented on #942
@echo-branch any update?

[2019-11-07 19:00] echo-branch commented on #942
@javidsheikh The fix is on the staging branch, QA is testing it.  I'm hoping to have a new release by mid next week.

[2019-11-07 19:12] ashby-thornwell commented on #957
@echo-branch Do you happen to know when the next release will be available?

[2019-11-07 19:14] echo-branch commented on #957
@ashby-thornwell probably mid next week.

[2019-11-07 19:44] ashby-thornwell commented on #957
@echo-branch great, thanks!

[2019-11-08 11:50] shamdass opened #965 "Every time show error message when redeemRewards function call Swift"
Hello Team,
I am developing an iPhone application with integrating Branch.io in which my client wants Referrals functionality. According to Referrals Documentation i've done almost all steps. when i m trying to load rewards and  redeem rewards then error message print: **You're trying to redeem more credits than are available. Have you loaded rewards?** Please Suggest me how to load rewards
Any ot

[2019-11-11 04:49] willbattel opened #966 "Make Branch instance non-optional"
@echo-branch I saw you mention your intention to make the branch instance non-optional, as it was before version 0.29. I wanted to make this issue to publicly track that request so that we might more clearly know when that change is coming. Thanks!

_Originally posted by @echo-branch in https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/issues/947#issuecomment-539133045_

[2019-11-11 17:57] echo-branch commented on #965
Please contact our support team for integration questions.  We generally only monitor github for bug reports.

[2019-11-11 22:34] echo-branch commented on #952
@lhasiuk So I was able to previously repro this, however on iOS 13.2.2 it no longer repros.  Are you seeing the same behavior?

[2019-11-13 09:34] #965 closed

[2019-11-13 12:57] shamdass opened #968 "How to create custom bucket name swift"
Hello Team,

I've  done referral link functionality which load and redeem points from bucket. I am confused because in which no one function to set different name of bucket or create different bucket. In Branch.io get points from different buckets method below:
`Branch.getInstance()?.getCreditsForBucket("XYZ")`. Please suggest how to create or set different bucket name.
Thank you.

[2019-11-13 17:32] doanduchieu commented on #942
Hi @echo-branch , have you released a new version to fix this?

[2019-11-13 23:29] echo-branch commented on #966
This should be in 0.30.0

[2019-11-13 23:31] echo-branch commented on #957
This should be fixed in 0.30.0

[2019-11-13 23:31] #955 closed

[2019-11-13 23:31] #966 closed

[2019-11-13 23:31] #957 closed

[2019-11-13 23:32] echo-branch commented on #952
I believe Apple fixed this issue.  Please reopen if you encounter it on iOS 13.2.2+

[2019-11-13 23:32] #952 closed

[2019-11-13 23:33] echo-branch commented on #950
Should be fixed in 0.30.0

[2019-11-13 23:33] #950 closed

[2019-11-13 23:34] #947 closed

[2019-11-13 23:37] echo-branch commented on #944
There's general init improvements in 0.30.0.

Note the SDK was aggressively trying to avoid init error conditions without saying anything.  This led to odd edge cases where callbacks are missed.  Now we log a message indicating we're avoiding an error.  Most often this is when there is a very long delay before initialization or an API that requires init was called before init.

[2019-11-13 23:41] echo-branch commented on #942
0.30.0 is released and includes general init threading improvements.

[2019-11-13 23:41] #940 closed

[2019-11-13 23:42] echo-branch commented on #939
0.30.0 has a major update to search ads handling

[2019-11-13 23:42] #939 closed

[2019-11-13 23:43] echo-branch commented on #937
@toddgower-hiatus Not entirely sure to be honest.  It's historical and the current code base supports it.

[2019-11-13 23:43] #937 closed

[2019-11-13 23:48] #931 closed

[2019-11-13 23:50] echo-branch commented on #918
Released 0.30.0

Changed all queues to default priority.  As a hedge against Firebase performance crashes.
Fixed a serialization error on commerce event.  Though this only manifested as a nil in my testing.

These are blind fixes, since I can't reliably repro this issue.

[2019-11-14 15:08] lhasiuk commented on #952
Sorry for not responding sooner.  It does appear to be fixed in 13.2.2.

[2019-11-18 15:41] macnibblet commented on #947
This is still an issue in 4.2.1?

[2019-11-18 19:17] echo-branch commented on #947
@macnibblet Are you using React Native?  It hasn't been updated yet.

[2019-11-19 21:49] davemess opened #969 "Status 400 when opening Universal Link"
I'm getting an error from the BranchSDK when opening a Universal Link:

[code]

Also seeing this in the logs:

[code]

Not sure what the `link_identifier` is and how to fix it.

[2019-11-19 21:58] echo-branch commented on #969
@davemess
That's a Branch internal value used to match clicks.  Could you send me a sample URL and repro steps?

Are you using URL fragments with FB?  We have a backlogged bug where FB added params would split our link id and cause a failure similar to that one.

[2019-11-19 22:25] davemess commented on #969
Here's an example url generated from our app: https://t.vrbo.io/hmNSPSe9I1

[2019-11-20 00:29] echo-branch commented on #969
Filed a ticket to look into this one.

[2019-11-20 06:40] MrS3 commented on #789
Any news about this bug ?

[2019-11-26 04:30] bdrelling commented on #928
@echo-branch can I ping for another update? We're just trying to track this so we can finish the conversion to SPM, sorry to hassle you. Hope you don't have 6 week sprints! 😬

[2019-11-26 19:26] echo-branch commented on #928
@bdrelling Oh man, sometimes it feels like 6 week sprints.  I'm currently rotating across multiple platforms, so iOS is getting released less frequently than I'd like.  It's more like every 2 or 3 sprints rather than every sprint.

Next sprint is React Native and Cordova, after that I hope to get this one for iOS.

[2019-11-27 23:40] bdrelling commented on #928
@echo-branch thanks for the context!

[2019-11-29 01:18] shial4 commented on #936
same issue here, Pod version 0.30.0 introduced it.
callback andRegisterDeepLinkHandler not received after fresh install.

[2019-11-29 01:22] shial4 opened #971 "App crash on 0.30.0 when branch.registerFacebookDeepLinkingClass"
App crashes on branch.registerFacebookDeepLinkingClass the reason is asynchronous operation which is no longer main thread.

[code]

[2019-11-29 08:22] bonggil opened #972 "App Creash on 0.30.0."
Firebase crashlytics report below crash. A user has crashed several times.

Device Model: iPhone 8 Plus
iOS Version: 11.2.1 (15C153)

[code]

[2019-11-30 07:00] alfredcc commented on #971
0.30.0 crash +1

[2019-12-02 12:37] ptsochantaris commented on #939
This seems to still be happening with 0.29.3.

0.30.0 seems to have crashing issues right now from what we see in the issues list, so we're afraid to update to that. Will try again with 0.30.x hopefully. 🤞

[2019-12-02 16:07] skware opened #973 "App crash on launch with SDK 0.30.0"
Hi,

Since the latest sdk update my app crash at startup for the following reason:

Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'FBSDKAppLink fetchDeferredAppLink: must be invoked from main thread.'

This is called from branch.m line (927) checkFacebookAppLinks

It calls  FBSDKAppLinkUtility : fetchDeferredAppLink from a background thread which is not perm

[2019-12-02 19:58] roth-mike commented on #971
0.30.0 crash +1

[2019-12-02 23:01] alex-kovalenko commented on #971
I'm having the same issue.

[2019-12-04 07:46] dokutoshi commented on #948
I agree with @SOleinichLohika  @echo-branch - Issue occurs the first time on resume e.g the app was terminated by iOS and the user opens the app.

[2019-12-04 12:39] kostassite commented on #929
Hello, Do you have any ETA for this issue? or any workaround?

[2019-12-05 18:57] echo-branch commented on #971
Fixed in 0.30.1

I failed to remove my mock and test with the real FB object.  :(

[2019-12-05 18:58] echo-branch commented on #972
Fixed in 0.30.1

I failed to remove my mock and test with the real FB object. :(

[2019-12-05 18:58] echo-branch commented on #973
Fixed in 0.30.1

I failed to remove my mock and test with the real FB object. :(

[2019-12-06 02:14] #973 closed

[2019-12-06 02:14] #972 closed

[2019-12-06 02:15] #971 closed

[2019-12-06 02:38] echo-branch commented on #936
@shial4
The 0.30 release was intended to address issues like this.  So let's figure out why you started seeing it from that version.

1. Are you testing with iPadOS (iOS 13+ on iPad)?  There's a known server side issue with deferred deeplinks that's being worked on.
2. Are you testing with Chrome?  There's a known server side issue with iOS Chrome that's being worked on.
3. Are you getting no call

[2019-12-06 03:01] shial4 commented on #936
Hi @echo-branch

Ad 1. I am testing with iPhone. iOS 12+ & 13+
Ad 2. I'm testing with safari, have not tested with chrome.
Ad 3. I am not getting initial callback at all.

My steps are:
1. Open link in safari
2. Navigate to AppStore from webpage
3. Install App (fresh install)
4. Launch the app.

Result: Call back isn't received, however, If I kill the app & open it again it is deliver on second ap

[2019-12-06 08:49] skware commented on #973
Thanks for your quick fix!

[2019-12-06 23:01] echo-branch commented on #936
@shial4
Ok that eliminates some possibilities.

1.  Are you able to provide a debug log?  I want to see if we make a request for data on first run.
2.  Could you provide what your branch initSession code looks like?  Such as where is it called from and is there a delay?

[2019-12-08 22:56] shial4 commented on #936
We do it in

`func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]?) -> Bool`

The implementation looks like:

[code]

Might be able to provide it later.  I will rebuild it with 0.30.0 and reproduce the flow then will post it here.

[2019-12-09 11:16] macnibblet commented on #947
@echo-branch Makes sense, any chance we can see react native being upgraded since I cannot see build errors in gitlab-ci because the logs generated from these errors are so large gitlab cuts them off.

[2019-12-16 19:23] echo-branch commented on #928
Quick update.  This is taking longer than expected due to unconventional project layout.

[2019-12-18 01:13] echo-branch commented on #936
Found an edge case that causes first payload failure on first install, it could be the case you're running into.  See if 0.31.1 resolves it for you.

[2019-12-18 12:10] Ariandr opened #984 "The problem with getShortUrl(with: linkProperties), instead of a short url the method returns a huge url with all data"
Hello.
The issue is relevant on SDK versions 0.31.0-0.31.1.

During the first app run, the method `branchUniversalObject.getShortUrl(with: linkProperties)` returns a huge URL instead of a short one. During the second run the method returns a normal short url as with previous SDK versions. Example of the link (when it's huge):

<img width="174" alt="Screenshot at Dec 18 14-06-27" src="https://user-

[2019-12-18 12:34] Ariandr commented on #984
For now, we have to stick to v.0.30.1, because some features of our app heavily rely on correct short urls which work as deeplinks which lead into some peaces of functionality.

Thanks in advance.

[2019-12-18 17:53] echo-branch commented on #984
@Ariandr
What you're seeing is our timeout behavior.  How soon after app launch are you generating the shortlink?

[2019-12-18 18:17] Ariandr commented on #984
@echo-branch
We didn't test the exact time, but definitely after several minutes, maybe even 5. And after I share the first link(huge), the second and the third links are also huge. In our case only killing and launching the app again solved the issue.

[2019-12-19 01:41] andrijamilovanovic opened #986 "InitSession callback: Server returned: Status: 400"
HI,

From debug log, I got error:
   error =     {
        "cpu_type" = "wrong field type";
    };

Here is a package that was sent from my phone during startup:
`{"apple_testflight":true,"os_version":"13.2","ios_bundle_id":"REMOVED,"debug":true,"screen_dpi":2,"country":"RS","is_hardware_id_real":true,"locale":"en_RS","ad_tracking_enabled":true,"sdk":"ios0.31.1","uri_scheme":"REMOVED","environment

[2019-12-19 01:45] echo-branch commented on #986
Just hotfixed this.

[2019-12-19 08:49] alexcosmin commented on #986
Thank you for the fix @echo-branch !

Out of curiosity, I have a question. Yesterday, when I tested my implementation with version 0.31.1 of the iOS SDK everything worked fine. This morning no luck, due to this 'breaking server side change'. If I would have released to AppStore with 0.31.1, now I would have needed to make another release, to update the Branch SDK. Isn't it a better idea to fix the

[2019-12-19 10:17] tmlshapr commented on #986
Not sure if it is the same issue, but with 0.31.2 I'm still getting these logs when sending in events:

[code]

[2019-12-19 17:12] echo-branch commented on #986
@alexcosmin
I totally agree.  The estimated time to fix on the server side was longer than putting out a fix on the client.  So we decided to do that asap.

[2019-12-19 17:17] echo-branch commented on #986
@tmlshapr
Could you provide a sample event?  I'm not seeing the same behavior in my test suite.

[2019-12-19 18:26] andrijamilovanovic commented on #986
Just to confirm that everything works for in new version.
Also, I had very similar network error as @tmlshapr reported in the previous version. I don't have it now, but it looks like these two are not related.

Thanks.

[2019-12-19 19:01] echo-branch commented on #986
@alexcosmin Just to update we're also rolling back the change on the server.

[2019-12-19 21:59] echo-branch commented on #984
@Ariandr
I'm not able to reproduce the issue as described.  In my own testing, this only happened if I called generateShortlink soon after launch.  Calling the same API a few seconds later returned the short link.

Could you try again with the 0.30.2 and provide some redacted logs?  0.30.0 had a bug where logging an event early would block the network queue until app restart.

[2019-12-20 14:45] Ariandr commented on #984
Hi @echo-branch
We will try, but we had the same issue both using 0.31.0 and 0.31.1.
And only restart helped.

My point is that it doesn't happen with 0.30.x versions with the same iOS code. Is there a possibility that the fix in 0.31.1 doesn't work in some cases?

[2019-12-24 10:24] Ariandr commented on #984
Hi @echo-branch
Got some logs for you (when it's the first session after installation). They are the same for iOS 12 and 13, tested on both.

[branch.io] Branch.m(185) Log: Branch version 0.31.2 started at 2019-12-24 10:03:26 +0000.

[branch.io] BNCServerInterface.m(827) Debug: URL: https://api2.branch.io/v1/install.

[branch.io] BNCServerInterface.m(831) Debug: Body: {
    ....
    ....
    ....

[2019-12-24 10:31] Ariandr commented on #984
@echo-branch
After the relaunch of the app, I get other logs. And also, which is more important, get logs when I try to get short url.

....
....
....

// Here I try to get a short url and it works properly

[branch.io] Branch.m(1662) Debug: Creating a custom URL synchronously.

[branch.io] BNCServerInterface.m(827) Debug: URL: https://api2.branch.io/v1/url.

[branch.io] BNCServerInterface.m(831)

[2019-12-24 15:59] ahmadsallam commented on #944
same issues here

[2019-12-30 19:31] echo-branch commented on #984
Thanks for the logs!  I just got back from holiday and will take a look at this.

[2019-12-30 21:20] echo-branch commented on #984
@Ariandr
I was able to repro it, there was an app background foreground I was missing.  Working on a fix.

[2019-12-30 22:14] Ariandr commented on #984
@echo-branch
Great news, thank you!

[2019-12-31 00:56] echo-branch commented on #984
@Ariandr
Pushed out a fix for this.

[2019-12-31 09:19] Ariandr commented on #984
@echo-branch
Thank you!
It's pushed in v.0.31.3, right?

[2020-01-02 14:24] Ariandr commented on #984
We tried a new version, the issue seems fixed, thanks!

[2020-01-02 14:24] #984 closed

[2020-01-06 01:44] JoeySlomowitz commented on #929
Is there an update on this?  What is currently the recommend approach for using Branch in a catalyst app?

[2020-01-06 19:49] echo-branch commented on #929
@JoeySlomowitz Unfortunately there are code level issues we need to resolve before we will work properly with Catalyst.  We have a ticket for this, however we haven't gotten it prioritized into a sprint yet.

[2020-01-08 07:30] slccper commented on #918
hi

same problem in 0.30.0, any news?

 thanks.

[2020-01-08 23:27] echo-branch commented on #918
@slccper  Do you happen to have reliable repro for this issue?  I've thus far been making rather blind attempts at a fix.

[2020-01-09 02:26] slccper commented on #918
@echo-branch  it looks like they happen mostly when the app is in the background.

[2020-01-09 18:31] leojkwan opened #989 "No documentation for deeplinking on iOS 13 with Scene Delegate"
Prior to iOS 13, cold and warm app launches from app links would provide attribution parameters in the Branch init session callback:
[code]

When apps adopt Scene Delegates on iOS 13, cold start app launches no longer provide user activity contexts in the above callback.

Users must add the following check in SceneDelegate delegate method scene:willConnectTo:options.

[code]

Where is the best pla

[2020-01-09 19:04] echo-branch commented on #989
@leojkwan
Thanks for pointing out the readme docs haven't been updated for the newer scene delegate.

You can put the branch continueUserActivity call in the scene delegates continueUserActivity method, instead of the appDelegate continueUserActivity.  Which is a bit simpler.

[2020-01-09 19:36] leojkwan commented on #989
@echo-branch thanks for responding. For some reason the scene delegates continueUserActivity is not called for me, (version 0.31.3) for app link opens on _cold_ app launches. `willConnectToSession` does get called though. Am I possibly missing something?

[2020-01-09 19:45] echo-branch commented on #989
Interesting.  I'll see if I can repro why the continueUserActivity approach doesn't work for you.

[2020-01-10 23:10] robsonfingo opened #990 "Callback gets called with non_branch_link"
Branch version 0.31.3

My callback is getting called with the non_branck_link parameter:
[code]

Request:
[code]

Response:
[code]

[2020-01-10 23:13] echo-branch commented on #990
Mind filing a support ticket for this?
https://support.branch.io/support/home

[2020-01-11 01:39] robsonfingo commented on #990
Sure, but I think it's an SDK bug. If I send the app to the background and bring it back to the foreground I do get the correct callback.

[2020-01-11 01:39] #990 closed

[2020-01-13 21:38] jacobleesinger opened #991 "project using Branch pod fails to build with error library not found for -lBranch"
Hi,

All of my projects using the Branch pod are failing to build with the error `library not found for -lBranch`

You can find a minimal project that reproduces the issue here: https://github.com/jacobleesinger/BareBonesBranchPod

Full error message from the above project:

Ld /Users/jacobsinger/Library/Developer/Xcode/DerivedData/BareBonesBranchPod-hcwoktysvtuvkibotafjdyvgzckj/Build/Products/Deb

[2020-01-13 23:07] echo-branch commented on #991
I was unable to repro the issue using your project. Did you inadvertently open the project instead of the workspace?

[2020-01-14 01:40] leojkwan commented on #989
thanks @echo-branch

[2020-01-14 05:05] chunyili200556 opened #992 "deeplinking url shared by facebook can't let me get the right data"
Hello Branch.io team ,it's me again.
Recently deeplinking url  have a problem that I can open my app by the url on facebook post but the dictionary I got from initSession is not correct.
It cause we can't open the page we want. But the fun part is not every url on the facebook have this issue.
Only facebook have this problem. Line ,Email and other platform are working fine.

Please helping me for

[2020-01-15 04:20] mickeyjc commented on #947
We are using react native too, can you update the podspec in it and point it to a latest version.
There are thousand of nullability warning which breaks our CI logs, as it is cutting them off, and we can't scroll to the bottom of the logs.

[2020-01-17 23:55] echo-branch commented on #992
FB adds additional parameters to the end of the shared URL that has caused a similar issue before.  We'll need a sample URL from you to debug this.

Mind sending that information in a ticket to our support team?  Thank you.

[2020-01-20 09:44] shraddha009 opened #994 "App crash on initialization Release 0.31.3"
dyld: Library not loaded: @rpath/Branch.framework/Branch
  Referenced from: /var/containers/Bundle/Application/10C3936E-8E2A-4BE3-8EA8-1A86C4A5B774/Iper.app/Iper
  Reason: image not found

[2020-01-24 01:13] shial4 commented on #936
version: **0.31.3**

It is not fixed. Initial callback is not delivered. Same as it was before. I kill the app open again and callback is present.

I did notice that with previous **(0.29.3)** version **(which is working for us)**
sometimes the `andRegisterDeepLinkHandler` callback is delivered with delay. This is breaking our flow for new users as we do not know if they were referred by someone.

[2020-01-27 10:55] THISISDINOSAUR opened #995 "Implicit conversion warning on 0.31.3"
In `BNCThreads.h` there are two implicit conversion warnings (which are a problem for us as we treat warnings as errors):
`Implicit conversion turns floating-point number into integer: ‘double’ to ‘int64_t’ (aka ‘long `long’)`

[2020-01-27 11:45] THISISDINOSAUR commented on #995
I don't have permission to push, but the fix is super simple:
[code]

[2020-01-28 20:42] echo-branch commented on #994
@shraddha009
Are you using cocoapods?  And if so, did you inadvertently open the project instead of the workspace?

[2020-01-29 02:42] bdrelling commented on #928
@echo-branch Thanks for the previous update. Any luck with this recently? Thanks!

[2020-01-29 13:20] luismmejiasb commented on #928
Hi @echo-branch  hope you're doing well. Is there any update for 2020 :)

[2020-01-29 23:00] echo-branch commented on #928
@luismmejiasb
Unfortunately, I'm working on resolving critical issues for our React Native users.  Hopefully I can return to work on iOS afterwards.

[2020-02-04 21:51] JonathanDowning commented on #928
Thanks for the update!

[2020-02-06 00:29] astephensen commented on #944
Has anyone had any luck with this? I'd say about 70% of the time the `initSession` callback is called with `params` having a `+non_branch_link` parameter instead. Tried using `disableDelayedInit` with our current SDK version (0.25.5) and also tried updating to the latest (0.31.4) with no success.

Would also appreciate any tips in debugging this!

[2020-02-06 00:36] echo-branch commented on #944
@astephensen
Could you file a ticket with our support team?  They'll be able to spend more time with you on figuring out if this is a bug or configuration issue.  Thank you.

[2020-02-06 17:46] derrickstaten commented on #909
@jamesjmtaylor can we close this out? Recommend filing with support@branch.io if you haven't.

[2020-02-06 17:59] jamesjmtaylor commented on #909
Yep.  Closing now.

[2020-02-06 17:59] #909 closed

[2020-02-06 19:03] echo-branch commented on #995
This PR is merged into the latest release.

[2020-02-06 19:03] #995 closed

[2020-02-07 17:52] nafetswirth commented on #923
@csalmi-branch
Seeing the same thing and it actually affects around 10% of our DAU which seems too high to be just people that have a bad connection.

Also seen it while debugging for with stable WiFi.
Any ideas?

[2020-02-10 20:04] echo-branch commented on #994
closing as no response from reporter.

[2020-02-10 20:04] #994 closed

[2020-02-10 20:05] echo-branch commented on #992
closing.  Assuming reporter has a support ticket in.

[2020-02-10 20:05] #992 closed

[2020-02-10 20:05] echo-branch commented on #991
closing as no response from reporter.

[2020-02-10 20:05] #991 closed

[2020-02-10 20:07] #986 closed

[2020-02-10 20:22] #944 closed

[2020-02-10 20:22] echo-branch commented on #948
closing. Assuming reporter has a support ticket in.

[2020-02-10 20:22] #948 closed

[2020-02-10 20:23] echo-branch commented on #942
Should be fixed in recent releases

[2020-02-10 20:23] #942 closed

[2020-02-10 20:56] echo-branch commented on #914
Closing due to no response from reporter

[2020-02-10 20:56] #914 closed

[2020-02-10 20:57] echo-branch commented on #912
Closing due to no response from reporter

[2020-02-10 20:57] #912 closed

[2020-02-13 21:49] bswaidner commented on #513
Also having this issue. Links work fine when app is running in background, but there is no activity when coming from a terminated state.

SDK v0.31.4
iOS 13.3.1
Swift 5 / Xcode 11.3

Implemented using SceneDelegate according to https://docs.branch.io/apps/ios/

Any ideas why this might be happening?

[2020-02-13 21:57] echo-branch commented on #513
@bswaidner Please open a new issue for this.  This is a very old closed ticket.

[2020-02-14 12:43] alex-vasenin opened #999 "MobileCoreservices deprecation warnings in Xcode 11.4"
Branch SDK installed with `pod Branch` produces the following warnings in Xcode 11.4 beta despite `inhibit_all_warnings!` in Podfile:

It looks like there is no way to turn them off which is very annoying for those who stick to zero-warnings policy. Please fix!

[2020-02-14 16:53] cbsi-bswaidner opened #1000 "Deeplinks only open when app is in background"
Links work fine when app is running in background, but there is no activity when coming from a terminated state.

SDK v0.31.4
iOS 13.3.1
Swift 5 / Xcode 11.3

Implemented using SceneDelegate according to https://docs.branch.io/apps/ios/

[2020-02-14 20:31] echo-branch commented on #999
Thanks for the heads up.  Backlogged a ticket to see if we can fix this while maintaining support for older Xcode versions.

[2020-02-14 22:00] echo-branch commented on #1000
Try the workarounds discussed in the following posts.

https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/issues/989
https://stackoverflow.com/questions/58243884/scene-scene-uiscene-continue-useractivity-nsuseractivity-doesnt-get-cal

I believe this is a bug with the scenedelegate, looking for the apple bug ticket now.

[2020-02-17 08:30] sjmueller commented on #989
@leojkwan THANK YOU for sharing your fix for this problem 🙏We spent a ridiculous amount of hours trying to track down cold start deep linking failures in our iOS 13 app, you saved us!

Going back we've now realized that tracking for other features has been subtly broken for months, I really can't believe branch has let this slip for so long without giving proper iOS 13 guidance or updating their d

[2020-02-17 18:44] echo-branch commented on #989
Sorry about that.  I totally dropped the ball on putting in a docs update ticket for this Scenedelegate bug.  Getting it prioritized now.

[2020-02-18 15:06] cbsi-bswaidner commented on #1000
Thank you, fixes my issue.

[2020-02-18 15:06] #1000 closed

[2020-02-18 21:11] Heinemark commented on #936
Had this issue too in latest SDK version and after some debugging I found that calling `Branch setIdentity:` before the SDK is initialised (how do I know when it is?) stops `andRegisterDeepLinkHandler:` from being called.

The problem is that `initUserSessionAndCallCallback:` is called with `NO` so no callback will happen

[code]

[2020-02-20 21:02] rongboyang opened #1002 "Apple Search Ads delay"
We are trying to add the Apple Search Ads check function. The document says it will add delay to the first time startup, is that accurate?

[code]

[code]

When looking at what `delayInitToCheckForSearchAds` does, it only sets a flag on the BNCAppleSearchAds's sharedInstance. The only time-consuming work or the actual Apple search ads checking work is done on a different queue called `isolationQue

[2020-02-20 21:14] echo-branch commented on #1002
@rongboyang
You are correct.  The documentation is referring to SDK start up time.  However, if you need something from the SDK very early in your app lifecycle, that will be delayed.

[2020-02-21 16:27] rongboyang commented on #1002
@echo-branch,
Thanks for your quick response!
As to the SDK startup time, can you be more specific? What are the functions that will be affected by the delay? For example, is the deep link function affected by the delay?

Thanks!

[2020-02-21 19:45] echo-branch commented on #1002
@rongboyang
Nearly all SDK functions will wait for Search Ads to complete.  This does include deeplinking.  It's only on the very first open, so most often you're looking at a bit of a delay on deferred deeplinks.

[2020-02-25 15:14] leojkwan commented on #989
Thanks @echo-branch

[2020-02-27 08:26] ptsochantaris opened #1004 "BranchUniversalObject.getShortUrl calls back in thread inconsistently"
This method used to always call back in the main thread, and it still does upon first use, but now it will call back in background threads.

To reproduce, just call it a few times trying to share the same object.

It seems the first time calls back in the main thread as before, but then the second time, when the result is cached I imagine, it calls back on a background thread. This is causing our

[2020-02-27 18:09] philfi opened #1005 "Unable to determine if latest release is stable"
The commit for the latest release (https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/releases/tag/0.31.4) is showing a red checkmark due to some CI failure that isn't publicly visible. As a developer on a project using the Branch SDK it's unclear whether this release is stable (likely just some blip on the CI, it happens) or if there is a real issue to be concerned about.

If yo

[2020-03-01 23:34] willbattel opened #1006 "BranchEvent customData changed in 0.31"
We're attempting to upgrade the SDK from `0.30.1` to `0.31.4`, and we're encountering an error showing that `BranchEvent.customData.addEntries(from:)` no longer exists. Referencing the README of this repository, we then tried to directly set the `customData` field with a `String: Any` dictionary, like we do with Firebase Analytics. However, it appears that `customData` takes only `String: String`

[2020-03-04 22:36] derrick-branch commented on #969
@davemess can you turn on setDebug and send us the entire request body via logs? We're probably flagging one of the key-value pairs built into this link.

We'll use the request to reproduce, then look up the regex in place for your app (based on the branch_key in the request). Then we'll be able to tell you exactly why this link is getting flagged.

Really sorry for the slow response! Want to clos

[2020-03-04 22:45] derrick-branch commented on #934
@graysonlang can you let us know if this is still an issue? I heard that Apple may have fixed this issue. Let us know; we're trying to clean up our backlog of github issues.

[2020-03-04 22:56] derrick-branch commented on #930
@SebC99 can you write into support@branch.io with this feature request? We have a very flexible attribution and analytics platform, so this may already be supported.

[2020-03-04 22:56] #930 closed

[2020-03-04 23:03] derrick-branch commented on #968
Hi @shamdass, we have deprecated our credits system and do not actively support it. If you write into support@branch.io they may be able to help. But please note that this is not supported functionality. Sorry for the inconvenience.

[2020-03-04 23:03] #968 closed

[2020-03-04 23:04] derrick-branch commented on #958
@tapannathvani can you write into support@branch.io to see whether they can help you? We are not aware of any issues that could be impacting this, so we suspect it is an integration issue rather than a bug on our end. Please include extensive steps to reproduce, as the above is not enough information to investigate.

[2020-03-04 23:04] #958 closed

[2020-03-04 23:07] derrick-branch commented on #915
Hi @tango5614, can you write into support@branch.io if you want to explore this further? There is currently no way to know in-app whether the user went through the $fallback_url. This would be a feature request, and unfortunately I don't think it is an easy one. Sorry for the inconvenience.

[2020-03-04 23:07] #915 closed

[2020-03-05 16:46] davemess commented on #969
Unfortunately we have decided to remove Branch functionality.

[2020-03-05 17:10] derrick-branch commented on #969
Ah okay. I'm sorry to hear that. If you do want to explore this further, let us know. For now will close this.

[2020-03-05 17:10] #969 closed

[2020-03-05 18:06] derrick-branch commented on #969
@davemess FYI, I'm not able to reproduce when using this link either with your live branch_key or test branch_key. The link is associated with your test branch_key and returns data.

Again, sounds like you don't need to pursue this future, but if you do, please re-open.

[2020-03-06 10:01] TejasviTandon commented on #15
I am facing the similar problem. I initialise the Branch session in appDidFinishLaunching() and after that I navigate user to Login screen. On Login screen user authenticates himself using Biometric. Everything fine till here.
Now as soon as the Local authentication is completed, initUserSessionWithCallback is getting called again.
Note: My branch initialisation is getting Failed too.

[2020-03-06 15:04] shortstuffsushi commented on #15
Hey @TejasviTandon - as this issue is nearing five years old, and a lot has changed in the SDK since that time, I would recommend opening a new issue with some additional detail. It sounds like you may be having a different problem, since your init call is failing, which is likely going to intentionally cause a second init to take place.

[2020-03-07 08:07] willbattel commented on #1006
I noticed the README is being changed to point to the new SDK docs here: https://help.branch.io/developers-hub/docs/ios-sdk-overview

When I navigate to the Events section of the Advanced Features page here: https://help.branch.io/developers-hub/docs/ios-advanced-features#section-track-events, it seems the Custom Events link is dead. Are there up-to-date docs on custom events?

[2020-03-12 01:56] shial4 commented on #936
It seem like version `0.31.4` Have solved the problem :)

[2020-03-19 12:51] andersfrank opened #1011 "Deep link handling block not called when tapping a link in terminated state"
Hi,
We see issues with the deep link handling block not being called, when tapping a link when the application is in a terminated state. The deep link handling block is not called at all. Se the bug report below. The issue can be reproduced in version `0.29.1` as well as `0.31.4`

#### Prerequisites
Add the following snippet to `AppDelegate.application(:didFinishLaunchingWithOptions)`:
[code]

###

[2020-03-20 10:16] aureliensibiril commented on #1011
We do have the exact same issue here. The block is not called.

[2020-03-20 13:57] derrick-branch commented on #1011
@andersfrank @aureliensibiril can you ensure you've implemented all of the methods in the AppDelegate file? If you have implemented all methods listed [here](https://help.branch.io/developers-hub/docs/ios-basic-integration#section-initialize-branch), and this still occurs, please write in to support@branch.io.

[2020-03-20 13:57] #1011 closed

[2020-03-25 14:23] colinrf opened #1012 "MobileCoreServices has been renamed. Use CoreServices instead"
After upgrading to Xcode 11.4 I have new project warnings from Branch.

MobileCoreServices has been renamed. Use CoreServices instead.

[2020-03-26 09:34] Ariandr commented on #1012
I get the same warning

[2020-03-26 15:46] echo-branch commented on #1012
We have a backlogged ticket for this warning.  We have to maintain a certain amount of backwards compatibility, so it might be a bit before we can make this update.

[2020-03-31 11:56] twalshcbs commented on #928
Can you look at working on this again?  Maybe making another branch for non-React Native users.

[2020-03-31 15:54] echo-branch commented on #928
@twalshcbs This is on our backlog.  We need to make some changes for Catalyst support which is tangentially related, so hopefully we can get both onto one of the next couple sprints.

[2020-04-01 15:55] DmitryShapovalov commented on #936
Same issue here.

[2020-04-02 13:56] philfi commented on #1005
Seeing a new release available that passed all CI, closing.

[2020-04-02 15:09] fchauvin opened #1017 "Push Notification Links not working properly if application is already open."
If my app is open and I tap on a notification from the System Notification Center UI, the `initSession` callback block doesn't get called when the app is brought back into foreground. If I background the app, the block then gets called properly with the associated metadata.

I didn't see an existing issue with this behaviour, so am opening a new ticket.

[2020-04-06 16:55] MihaelIsaev commented on #928
I've implemented SPM support in [my fork](https://github.com/MihaelIsaev/ios-branch-deep-linking-attribution) but the whole repo is about ~620Mb and it takes a lot of time to add it into SPM. I think it is because of `framework` files commited for Carthage.

Since this repo is `MIT` licensed I copied SDK's source files and created a [new clean lightweight repo with SPM support](https://github.com/

[2020-04-07 10:59] johnharutyunyan opened #1019 "Deprecated Webview, please change it to WKWebview"
I have received warning mail from Apple today and it contained following.

**ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of app updates that use UIWebView APIs starting from December 2020. See https://developer.apple.com/documentation/uikit/uiwebview for more information.**

I have searched in my app and understood that it is from your side , guys :)

<img width="1276"

[2020-04-07 14:38] philfi commented on #1019
This has been previously resolved, try updating your version of Branch: https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/issues/931

[2020-04-10 21:54] #989 closed

[2020-04-15 09:46] gapl opened #1020 "Build warning for umbrella header when built with Carthage"
When using Branch framework with Carthage, Xcode compiler shows the following warning in the console:

[code]

Our `Cartfile.resolved` file:

[code]

[2020-04-17 09:59] tombates-pdr opened #1022 "Biometric authentication prompt"
This call [\[BNCKeyChain securityAccessGroup\]](https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/blob/faada7bfdd643f899f39c9afaf3a8369d74dd4f8/Branch-SDK/Branch-SDK/BNCKeyChain.m#L218) seems to access any `kSecClassGenericPassword` it can.

This means, having previously stored a password with biometric access turned on, when calling `Branch.getInstance()` you are prompted for b

[2020-04-17 18:21] echo-branch commented on #1022
Thanks for the heads up.

[2020-04-17 18:23] echo-branch commented on #1020
This should be fixed in 0.33.1

Totally failed to add that header to the umbrella.

[2020-04-17 18:23] #1020 closed

[2020-04-17 18:25] #1019 closed

[2020-04-17 18:28] echo-branch commented on #1012
This should be fixed.

[2020-04-17 18:28] #1012 closed

[2020-04-17 18:29] echo-branch commented on #1017
Logging a ticket for this one.

[2020-04-17 18:44] echo-branch commented on #1006
@willbattel
Sorry for the delay.  I'll let the docs team know about the broken docs link.

As for the API change it is mentioned as a generic safety improvement.
https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/releases/tag/0.31.0

The actual change is customData is no longer mutable.  It was a potential threading issue.

[2020-04-17 18:44] #1006 closed

[2020-04-17 18:46] echo-branch commented on #1004
This should be fixed.
https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/releases/tag/0.32.0

[2020-04-17 18:46] #1004 closed

[2020-04-17 18:47] #1002 closed

[2020-04-17 18:47] echo-branch commented on #999
This should be fixed in 0.34.0

[2020-04-17 18:47] #999 closed

[2020-04-18 08:54] Jamessmith878889 opened #1023 "How to get content URI from mobile App for deep-linking for Branch.io quick link?"
I have created a React Native app using third party which creates News posts.I have the entire code for this. How to get the full path (Mobile app URI) of a content/news post.

For example if I am posting a News and I need the full Path for that particular News for Deep-Linking. Like we get the path in the website https://www.example.com/post/1 , similarly what will the path in mobile app & where

[2020-04-20 10:37] doanduchieu commented on #936
Hi @echo-branch, I still see the issue that you mentioned above. Where can I follow this issue?

[2020-04-20 16:42] echo-branch commented on #936
@doanduchieu
There's a new chrome deferred deeplink issue being worked on internally.  Please open a new ticket I can keep that one updated for visibility.

I should have closed this particular thread since it's a different root cause.

[2020-04-20 16:42] #936 closed

[2020-04-20 17:38] echo-branch commented on #1022
@tombates-pdr
I'm not able to reproduce the issue as described.  Are you able to provide a bare bones app that reproduces the issue?

[2020-04-20 18:41] echo-branch commented on #1022
@tombates-pdr
I think I know why I wasn't able to repro, going to test a bit more to confirm.

[2020-04-21 02:55] doanduchieu opened #1025 "Deferred deep link is empty when install the app (Open the link with Chrome browser)"
On iOS, after fresh installation of the application with the link on Chrome, deferred deep link is empty
Here are steps:
1. Clicking on a Branch link.
2. Navigate to Chrome browser.
3. Install the app then open -> Deferred deep link is empty.

It is working fine if open link by Safari browser.

[2020-04-21 06:40] tombates-pdr commented on #1022
@echo-branch This isn't always reproducible as fetches aren't ordered & `kSecMatchLimitOne` will only return a single result?
If the returned result is protected behind biometrics, you get a prompt because of `kSecReturnAttributes`
You get away with it if the returned result doesn't have biometric requirements

[2020-04-21 07:54] tombates-pdr commented on #1022
Here is a project as an example.
https://github.com/tombates-pdr/biometrics_ios

[2020-04-21 10:29] iPHYZLL opened #1026 "CRASH: BNCEncodingUtils sanitizedStringFromString"
Hi Branch team.

We just did an app update with updated Branch.io version (0.31.3, I know the latest is 0.33.1) and in the last ~12 hours, there was ~400 crashes on production.

This is an old issue, and this Issue is intentional duplicate of https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/issues/918.
I am unable to reproduce it myself. Do you have any additional informations

[2020-04-21 16:54] echo-branch commented on #1026
I've also been unsuccessful in reproducing this issue.  Here's a summary of what I know.

1. Error indicates the crash is due to accessing a deallocated NSString.  This is a bit confusing since ARC is enabled.
2. Does not appear to be related to device low memory or battery.
3. Might be related to the app being killed after running out of background time.
4. No repro has been found outside of prod

[2020-04-21 16:59] echo-branch commented on #1022
@tombates-pdr
I was able to repro the issue and have a PR out.  We are saving a dummy value to keychain and not limiting our search for it in any way.  I've limited the search to values saved by Branch.  This should prevent unintentionally selecting an app saved value that could have biometrics enabled.

[2020-04-21 17:08] echo-branch commented on #1025
Server team reports a fix for this is being tested and should deploy this sprint.

[2020-04-21 19:14] iPHYZLL commented on #1026
@echo-branch Although I am not Objective-C expert, I've found one strange thingy inside a **sanitizedStringFromString** method.

![Screenshot 2020-04-21 at 14 42 05](https://user-images.githubusercontent.com/22244002/79903865-1a14bb00-8414-11ea-999e-a5f8926c6ab2.png)
As comment in the method says, there seem to be dirtyString lifecycle issue, which eventually might get released. Somehow, I assume

[2020-04-21 19:46] echo-branch commented on #1026
ObjC allows messages to be sent to nil.  For example, the following code does not crash.

` NSString *tmp1 = nil;
   NSString *tmp2 = [tmp1 copy];`

You are correct in that dirtyString is already dealloc'd, however checking for nil on a dealloc'd object will still crash.

It isn't easy to check if an object has been dealloc'd in an inappropriate manner.
https://stackoverflow.com/questions/23981126

[2020-04-23 12:56] raza08 commented on #1025
@echo-branch
Hello,
I am facing the same issue, my app is killed and I'm clicking on deep-linking url at the same time app is opened but didn't get the data from URL.

**State** :
1. App killed.
2. Clicked on branch deep link URL.
3. App opened
4. After the app open didn't get any data from the URL.

**Note**: I'm getting data when an app is in the background.

[2020-04-24 09:30] CheemaAneet opened #1027 "Crash on webview dealloc"
Hi There,

Here's a crash in the sdk we've faced recently, this is on launch when the branch instance is being created, on`[Branch getInstance]` specifically.

Note: This only just happened once(faced by an end user) and isn't reliably reproducible, but would still like you guys to have a look.

Leaving a stack trace of the crashed thread, let us know in case you wish to seek further clarification

[2020-04-27 08:00] mrcperello opened #1028 "Deeplink handler triggered on appDidBecomActive interferes with Sign in with Apple flow"
**Issue**

DeeplinkHandler is triggered on `appDidBecomActive` and this shouldn't be an issue until we aim to use SIwA. Which is perfomed with a system sheet that when dismissed triggers `appDidBecomeActive` and then deeplinkHandler is called again.

As of now we are overcoming this storing the params and only reacting when they are different, however it'd be nice that this is handled by the API i

[2020-04-27 15:58] echo-branch commented on #1028
Thanks for the heads up.  Looking into this.

[2020-04-28 10:25] iPHYZLL commented on #1026
@echo-branch I've just forked library and implemented a temporary workaround.
As stupid as it sounds, I've just out of curiosity sent null string into **sanitizedStringFromString** method from **encodeDictionaryToJsonString**, which at some point gets called via some sort of retry mechanism. So once I sent in null string and inside **sanitizedStringFromString** method and checked for length on nul

[2020-04-28 16:53] echo-branch commented on #1026
Are you seeing exactly the same error in the stack trace?  The objc_msgSend crash is specifically a dealloc'd object, if you're seeing anything else you're producing a different crash.

It looks like you're using NSNull which should cause a different crash.
https://nshipster.com/nil/

When I have a bit more time, I'll try reproduce the same way.

[2020-04-28 19:30] echo-branch commented on #1025
Server team reports the fix shipped.  Could you verify if it's working for you?  Thanks.

[2020-04-29 10:48] carbonimax commented on #942
Still experiencing this problem using version 0.33.1. Only on the first launch and sometimes randomly after.

``` [[Branch getInstance] setRetryInterval:1.0];``` can help but it takes a long time.

[2020-04-29 17:36] echo-branch commented on #942
@carbonimax could you open a new issue with some details about your setup?  It's likely you have a different issue.

[2020-05-03 14:06] raza08 commented on #1025
@echo-branch  It's still not working with the killed app.

[2020-05-04 01:59] echo-branch commented on #1025
@raza08
Is your issue exactly the same?  For example, is it specific to Chrome or does it occur on all browsers?

Also are you using UIScenes?  There's a known issue where Apple does not callback on a killed app, there's a workaround on our docs page.

https://help.branch.io/developers-hub/docs/ios-basic-integration#section-apps-using-scenes

[2020-05-05 19:52] philfi commented on #1005
Reopening as this is an issue again. @echo-branch I trust you are ensuring your release builds are stable but this raises concerns as a consumer of this SDK. Please resolve the failures or disable tests/CI as necessary if they aren't important.
![image](https://user-images.githubusercontent.com/39564615/81109327-ed6aa400-8ee7-11ea-952b-7cd85a3bb849.png)

[2020-05-05 20:01] echo-branch commented on #1005
We've moved off CircleCI and it's no longer being maintained.  I'll remove the integration in the next release.

[2020-05-05 20:09] philfi commented on #1005
Got it, I figured it was all good just needed that context. Thanks!

[2020-05-05 20:09] #1005 closed

[2020-05-06 12:06] raza08 commented on #1025
@echo-branch I'm getting these issues when I click on other social media platforms like Whatsapp, Facebook.

And I'm not using UIScenes.

[2020-05-06 20:40] echo-branch commented on #1022
@tombates-pdr
Just to update.  The fix has been in staging for a while, however I've been diverted to server work for this last sprint.  I hope to return to iOS next sprint and ship this along with a few other fixes.

[2020-05-07 08:27] tombates-pdr commented on #1022
Thanks for that update @echo-branch  I will keep my eyes peeled

[2020-05-07 17:22] doanduchieu commented on #1025
Hi @echo-branch , it's working for us. You can close this issue.

[2020-05-08 07:54] Patrick3131 commented on #929
Hey @echo-branch was there any progress in implementing support for catalyst? Do you have any info when it will be available? Supporting Catalyst would be really useful.

[2020-05-12 13:21] dbacic9 opened #1029 "Deeplinks stop working after disabling tracking"
Branch version: **"0.33.1"**
macOS: **10.15.4**
Xcode: **11.4.1 (11E503a)**

After calling **_Branch.setTrackingDisabled(true)_** any deeplink will stops working and
**Branch.getInstance().initSession(launchOptions: launchOptions, andRegisterDeepLinkHandler: { params, error in })** receives error:

`Error Domain=io.branch.sdk.error Code=1015 "The Branch user session has not been initialized." User

[2020-05-13 17:27] echo-branch commented on #1029
@dbacic9
That error message is misleading due to a mistake on my part. I'll fix it in the next patch. The message should have been "User tracking is disabled."

When tracking is disabled nearly all communication with the Branch server is dropped. The only requests we allow are to resolve or create a link. The error just warns you that we're dropping a request to the Branch server.

Now why did we

[2020-05-15 17:40] akhilpothana opened #1033 "Getting Last Touch Attributed Data"
**SDK version 0.33.1**

Hey, to preface I'm not sure my issue is related to incorrect documentation, a bug in the SDK or incorrect implementation on my end. That said, there is a discrepancy between the documentation and how the code behaves, so I thought this may be the best place to bring it up.

I'm specifically implementing the following:
https://help.branch.io/developers-hub/docs/retrieving-b

[2020-05-15 18:21] echo-branch commented on #1033
Yea that usability is a bit awkward.  Just off the top of my head, I believe 0 will get you the behavior you want.

[2020-05-15 19:39] akhilpothana commented on #1033
@echo-branch Hmm, it seems like 0 will be accepted as a valid value and used as my attribution window.

[code]

So maybe I need to say `-2` or something?

[2020-05-15 19:45] echo-branch commented on #1033
0 will be sent to the server as the attribution window and since it's not a valid attribution window, the server will use the default server side value.  It's the only invalid attribution window we send up.  The API would probably make more sense if we used -1 or any negative number the same way.

[2020-05-15 19:54] akhilpothana commented on #1033
I see, thanks for clarifying that. Does it make sense for me to open a PR or is it best to just update the documentation?

[2020-05-15 20:41] echo-branch commented on #1033
I think a documentation clarification makes the most sense now.

[2020-05-19 07:36] florianmonfort commented on #766
@echo-branch @E-B-Smith hi, is there any update about these issues now?

I ask because I'm facing a requirement for using deeplinking within our app but the business logic makes it a bit mission critical, so if it's unreliable then I have to find another way to achieve the result.

But if this issue is fixed and we can get reliable deeplinking on iOS then I'll stick to using the branch links for t

[2020-05-19 19:05] echo-branch commented on #766
@florianmonfort
I have not seen this issue since iOS 12.

The issue was independent of Branch.  Some iOS 11.2 devices failed to download the apple-app-site-association file, which is normally fetched at app install.

[2020-05-20 04:45] HermanKayy commented on #1012
Is this issue fixed in the latest 0.33 version?

[2020-05-20 16:20] echo-branch commented on #1012
yes

[2020-05-20 16:24] raid5 commented on #1012
I thought I read in another issue it was slated for the 0.34 release.

[2020-05-20 16:39] echo-branch commented on #1012
You're probably thinking of another fix that's waiting on staging.  The CoreServices change is in the podspec on master.

https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/blob/master/Branch.podspec

[2020-05-20 17:14] johntmcintosh commented on #1012
There was a mention in #999 that this was fixed in the 0.34 release, but I can confirm that I just updated to 0.33.1, and the warning is resolved for us. Thanks!

[2020-05-20 17:19] echo-branch commented on #1012
Yea, I totally typo'd that comment.  :(

[2020-06-01 18:21] echo-branch commented on #1033
clarification was added to the header doc on staging

[2020-06-01 18:21] #1033 closed

[2020-06-01 18:27] echo-branch commented on #1029
Error message has been corrected on staging.  Getting the same behavior for non-branch links when disabled is a more involved task that is backlogged.

[2020-06-01 18:27] #1029 closed

[2020-06-01 18:30] echo-branch commented on #1026
Closing this as a duplicate.   #918

[2020-06-01 18:30] #1026 closed

[2020-06-01 18:32] #1025 closed

[2020-06-01 18:39] echo-branch commented on #1023
The link data payload from Branch will be returned in the Branch callback, the details will vary by platform.  From there, it is up to each app to decide on a routing architecture for the rest of the their app.  There's a several common approaches, but I can't tell you what your 3rd party app developers chose to use.

Please contact support for help on implementation or general information on Bran

[2020-06-01 18:39] #1023 closed

[2020-06-08 22:03] krunduev commented on #789
Still have the issue. Why it's closed?

[2020-06-09 09:31] mohamedhamada1 commented on #942
I'm facing the same issue

[2020-06-09 16:06] echo-branch commented on #942
@mohamedhamada1 Could you open a new issue with some details about your setup?  It could be a different issue.

[2020-06-10 09:22] dorucojocaru059 commented on #841
Hello,

The issue still occurs on iOS13. Sometimes branch generates a long link, sometimes - a short one without any code changes.
- The device has a good network connection
- A short link that was generated before is not cached, or at least is not retrieved from the cache, as mentioned above. Randomly a short or long link is generated for the same parameters (app-share-link).
- the above mentione

[2020-06-10 21:02] Sauraus opened #1036 "Unable to access `referring_identity` from the params exposed in the AppDelegate"
When I run my iOS app I can see the following debug output from the BNCServerInterface.m:
[code]

Second line from the bottom `referring_identity` is the value set for `identity` per the API documentation here https://help.branch.io/developers-hub/docs/deep-linking-api when the deeplink was created.

I need to access this value from my iOS app, however the params exposed in the AppDelegate for Bra

[2020-06-11 12:53] MaxToyberman commented on #1022
@echo-branch in which version is the fix 0.34 ? Thank you

[2020-06-11 17:13] echo-branch commented on #1022
Yes it is.

[2020-06-12 07:33] ioanafurtuna1 commented on #841
@echo-branch - this is how we got instructed from your support team to proceed, which is what we did.

In any case, your suggestion has been already been tried without success. Following our own investigation, seems like the issue has a 100% repro while taking the mobile app to background, and then bringing it back to foreground and attempting to generate the URL again. We're in touch with support

[2020-06-12 16:12] echo-branch commented on #841
@dorucojocaru059
I missed the part where you already tried setting a longer timeout.  I haven't seen the issue as described.  Could you provide some details such as SDK version, iOS version, which link method in a new ticket?  Thanks.

[2020-06-15 10:37] vikihleblya commented on #923
@nafetswirth, have you fixed this problem? I get this issue when I turn off the internet, but I don't understand why it's cause crash...

[2020-06-15 11:27] OhItsShaun commented on #928
Throwing a +1 behind this; we're gradually moving away from CocoaPods to SwiftPM, and Branch is one of our remaining holdouts.

[2020-06-15 14:18] nafetswirth commented on #923
Mhh nope I'm still seeing it but I've never had it crash the app afaik. Are you sure that it's related?

[2020-06-18 12:59] leandromperez opened #1038 "Warning while Archiving. ld: warning: Invalid debug info found, debug info will be stripped"
Hello,
After upgrading XCode to 11.5, we started seeing the following warning while archiving our app.

  - Branch (0.31.4):
    - Branch/Core (= 0.31.4)

[code]
I'm not really sure if this will cause issues while trying to process any related crashes that might occur. Or maybe this is just a harmless warning.

Any ideas?

[2020-06-25 00:57] willbattel opened #1039 "Request: more detailed change logs"
My team has been using Branch in our projects for a while and one thing we would really appreciate if possible would be expanded change logs. Adding short descriptions to each item and notes on breaking or suggested changes for developers would be really helpful for us! It doesn't have to be a lot- but frankly the current change logs are too ambiguous and force us to dive into the source code ever

[2020-06-25 06:30] hoangtuanfithou commented on #984
@echo-branch : we got same issue with  `pod 'Branch', '0.31.1'` yesterday Jun 25. Sometime got long link, sometime get short link. It is more stable when we upgrade to pod 'Branch', '0.34.0'. But still happens sometime.

[2020-06-29 03:11] hoangtuanfithou commented on #984
@echo-branch :
we still got this issue with `0.34.0`.
we have the screen that is deeplink to open after launch, and shortlink is generated on this screen.
issue happen always if simulate slow network (edge/3G).

[2020-07-03 15:59] gabcol opened #1041 "Deferred deeplinks testing - registerDeepLinkHandler not executed on first launch"
Dear Branch SDK team,

as suggested by Branch support, I escalate here the issue I am facing in implementing deferred deeplinking.

In summary, when I launch the app the registerDeepLinkHandler is not called on the first launch.

Here the steps how to reproduce the issue

Call a S2S click tracking (Tested also with the no s2s version)
example of tracker
https://7w4hh.app.link/Yozc1dS9N6?%243p=a_te

[2020-07-08 05:21] levantAJ commented on #984
Hi @echo-branch We still able to reproduce this issue on **0.34.0** Could you help with the investigation? Thanks

[2020-07-08 05:23] echo-branch commented on #984
There's a feature ticket to make a version that returns an error instead of falling back to a long link automatically.  It might be a while until we get it done while addressing iOS 14 items.

[2020-07-20 02:04] VuongTranCong commented on #984
Hi, @echo-branch May we follow up with you on when the issue will be fixed? We still face this issue, now

[2020-07-22 16:57] RGG-jayoung commented on #928
Throwing a +1 behind this as well. Branch is a SPM holdout for us as well.

[2020-07-24 09:42] makoni commented on #928
+1

[2020-07-24 15:11] nickkohrn commented on #923
Are you still seeing this issue? I am testing on stable WiFi and cellular data, but I encounter the same result.

[2020-07-24 15:20] jdee commented on #923
The Branch API servers are experiencing trouble this morning, resulting in an error like this. Please see https://status.branch.io. The issue will be addressed shortly.

[2020-07-24 15:30] nickkohrn commented on #923
Ah, I appreciate the information and the resource. I integrated Branch into an application early this morning and wanted to ensure that I had it configured properly. I guess the timing of the server challenges and my integration caused the confusion. Thank you!

[2020-07-24 16:29] JonathanDowning commented on #928
+1!

[2020-07-24 17:48] MaxDesiatov commented on #928
Hi @echo-branch, would there be any updates on this before Xcode 12 is released? I imagine it would be great to start implementing and testing this now, so that if any bugs are discovered they can be reported to Apple and hopefully fixed before Xcode 12 GM is out.

[2020-07-29 15:23] RGG-jayoung opened #1046 "Enhancement Request: Additional Branch Properties and Values in Description"
We recently implemented `sku` behavior using `BranchUniversalObject`. We have a console tool in our app that print out summaries of these branch events for our QA teams. It looks like properties like `cononicalIdentifier`, `title` and a few others are printed but not the `sku` property.

`BNCDebugStringFromObject` is exhaustive but not human readable like simply calling `.description`.

Could you

[2020-08-05 09:41] ashtrus commented on #734
I had this error as well, and solved it by disconnecting from VPN.

[2020-08-05 14:55] david1hyman commented on #928
I had a whole project with no pods... then Branch. Hook it up thx.
+1!

[2020-08-06 17:00] aerviti opened #1047 "Missing modulemap file in Branch_tvOS Carthage framework"
We're using Carthage in our project to download and manage the Branch frameworks and are planning to implement it for both iOS and tvOS.

We have noticed that there is no modulemap file included with the Branch_tvOS framework. However there is one included in the iOS Branch framework. This has blocked us from importing Branch into our swift files linked to the tvOS build.

[2020-08-06 17:30] echo-branch commented on #1047
Thanks for the heads up.

[2020-08-06 17:33] echo-branch commented on #1047
Does build from source work?  If I recall correctly, I didn't add a pre-built framework for tvOS.  Ran out of time and had to ship without it.

`carthage update --no-use-binaries`

[2020-08-12 15:11] pabloearg opened #1049 "advertisingIdentifier: reason for apple rejection."
I'm using this version of the package:

`ios-branch-deep-linking-attribution-0.31.1
`

and Apple rejects our application with the following message:

to test if our application is using IDFA in some plugin, we execute the following command in your code directly:

which retrieve this:

![image](https://user-images.githubusercontent.com/29818262/90034004-7a1ac000-dc96-11ea-9192-a3503ec1d449.png)

ap

[2020-08-17 08:58] yoman07 commented on #1049
I have the same problem.  Any update on it?

[2020-08-19 08:18] Emiyazhang commented on #918
Our team’s app also encountered this problem。

Branch (0.34.0)

any news on this issue?

[code]

[2020-08-19 09:25] bdrelling commented on #928
Looking for an update on this as we’re blocked from a full migration over to SPM.

@echo-branch (or anyone else), any news for us? Thanks!

[2020-08-19 17:38] echo-branch commented on #928
@bdrelling
It's merged to staging and will be included with our next release.

Note that it only supports iOS and not tvOS though.  We need to restructure a few classes to make SPM support for tvOS work properly.

[2020-08-19 17:40] bdrelling commented on #928
@echo-branch thats great to hear! Thanks for the hard work here and as well as all the communication on this thread. Really appreciate it!

[2020-08-19 21:04] ragzy15 commented on #928
@echo-branch It's great to hear it, thanks for all the hard work. 👍

[2020-08-19 22:52] echo-branch commented on #1047
Fix should be in staging.  Working on a release.

[2020-08-21 12:16] MRodSebastian opened #1051 "Sometime metada is not available"
Im trying to recover custom parameters of a link, but sometimes I recover only these 3 parameters:

[code]

and other times i can recovery more info, like these
[code]
Parameter `action` is a custom parameter.
Any idea why this may happen? Im looking at the configuration and everything seems to be correct

[2020-08-24 15:33] cruzach opened #1052 "Make IDFA-code external or hide behind a macro to prepare for iOS 14"
I know this was brought up in other issues, (https://github.com/BranchMetrics/react-native-branch-deep-linking-attribution/issues/601, https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/issues/1049) but I just thought I'd add some more detail and hopefully provide some possible solutions.

To avoid any trouble with the App Submission process, it would be nice to completely elimin

[2020-08-24 20:14] echo-branch commented on #1052
@cruzach
I've added a macro BRANCH_EXCLUDE_IDFA_CODE to ease your concerns.  You can enable in your builds to exclude the code for IDFA.  Note that this will only work if you are building from source, a prebuilt framework will not respect the macro.

I don't think it's technically necessary as probing for frameworks via selectors generally does not trigger rejections from Apple.  It's only if AdSu

[2020-08-24 20:23] cruzach commented on #1052
Thanks for the quick response!

True, it may not be necessary, but there just doesn't seem to be very much information out there on what these IDFA changes mean (is the prompt shown when you ask for the IDFA, or when the app is installed? will existing apps not using the prompt be removed?) so it may be better to be safe than sorry in that case.

Oh that's great to hear! Would you happen to know t

[2020-08-24 20:46] echo-branch commented on #1052
The IDFA prompt must be requested by the app developer via the AppTrackingTransparency framework.  It is not automatically triggered by attempting to request the IDFA.
https://developer.apple.com/documentation/apptrackingtransparency

Every request for IDFA before permission is granted will return 0's, just like an iOS 13 user with privacy enabled.

Since IDFA permission is decoupled from fetching

[2020-08-24 20:54] cruzach commented on #1052
That's great news, thanks!

[2020-08-24 20:54] #1052 closed

[2020-08-24 22:01] JonathanDowning opened #1053 "Git repository is very large, takes a long time to fetch using Xcode + Swift Package Manager"
I was really excited to see Branch now supports SPM as of 0.35.0, however I noticed it now takes an awfully long time to resolve my dependencies.

Upon further inspection it looks like the repo is >750MB in size, owing to including binary frameworks inside the repository.

Xcode for some reason chooses to fetch the entire directory and therefore it takes an inordinate amount of time to download (o

[2020-08-24 22:03] echo-branch commented on #1053
@JonathanDowning
Aware of the issue, however editing git history is probably a poor choice.  Will need to evaluate our options.

[2020-08-25 03:06] chunyili200556 commented on #1051
Same issue here. But in my case, sometimes get those 3 wrong parameters when installed my app by click the deeplink. But I need correct response every time after install app.

[2020-08-27 10:31] ihsanhusnul commented on #918
Hi, I've reproduced this issue, CMIIW.
I think the culprit is the NSString pointer on https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/blob/master/Branch-SDK/BNCEncodingUtils.m#L215
<img width="1244" alt="Screen Shot 2020-08-27 at 13 49 43" src="https://user-images.githubusercontent.com/3015018/91431341-70927a00-e88a-11ea-8378-60e1ab6d5568.png">

https://github.com/BranchMetric

[2020-09-01 13:19] michaello opened #1055 "Crash at launch with iOS 14 + Xcode 12b6"
<img width="522" alt="image" src="https://user-images.githubusercontent.com/4096232/91856151-74494680-ec66-11ea-9839-46299a1e4d76.png">

[code]

[2020-09-01 17:09] jdee commented on #1055
Thanks for the bug report. Can you provide any details on what triggers it or how frequent it is? We haven't seen this in testing with iOS 14 and Xcode 12 beta 6 yet, though I'm going to take a look once I get that build. How are you integrating the SDK? CocoaPods? SPM? Carthage? Other? Any detail on environment or steps to reproduce is helpful. Thanks.

[2020-09-01 20:18] jdee commented on #1055
Also: Which version of the Branch SDK is this?

[2020-09-02 08:59] michaello commented on #1055
Hey @jdee , thanks for the reply! I'll provide more info very soon, can't access this step for now.

[2020-09-02 20:54] erisvaldojunior commented on #1049
Is it fixed on branch sdk 0.35 ? I still can see the code on BNCSystemObserver.m by doing the grep thing.

[2020-09-02 21:55] echo-branch commented on #1049
It is fixed.  Issue was due to including AdSupport.framework by default when integrating with Cocoapods.  This is no longer the case in the 0.35.0 release.

That code does a check for AdSupport and only runs if it detects it.  If you feel uncomfortable with that, there is an optional compile time flag to completely remove that code, BRANCH_EXCLUDE_IDFA_CODE.  It should not be necessary since Apple

[2020-09-07 05:46] anoop-mohandas commented on #1051
I'm facing a similar issue, where in no parameters is received other than two values, "+clicked_branch_link" and "+is_first_session". If the app is installed it will have the ""~referring_link" but nothing more. Can anyone guide me here. I'm trying to use a "deferred deep link" case.

[2020-09-07 23:07] ihsanhusnul commented on #918
I'm not sure if this is relevant enough.
but I able to repro this issue by hardcoded [this line](https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/blob/master/Branch-SDK/BNCServerInterface.m#L194) to force the method crashed to call.

I using v0.30.0 and still waiting for the fixes. since this crash is top of my apps. :(

[2020-09-09 17:34] echo-branch commented on #918
@ihsanhusnul
Thanks for the tip.  I'll try to repro it with your approach after this current sprint.

[2020-09-10 05:42] yoman07 commented on #1049
I used SDK 0.35 and I got rejected by Apple.  (After removing branch.io app has been approved)

`Guideline 1.3 - Safety - Kids Category

We noticed that your Kids Category app includes analytics, advertising and collects, transmits, or has the ability to share personal information or device information with third parties.

Your app includes the following feature(s), contrary to guideline 1.3 of th

[2020-09-10 05:54] echo-branch commented on #1049
@yoman07
How are you integrating the Branch SDK?  Cocoapods, Carthage, Swift Package Manager?

Are you including AdSupport.framework when you add Branch?  Cause that framework is not allowed in children's apps.

[2020-09-11 18:40] mmdock commented on #1055
@michaello  is this still an issue you are having ?

[2020-09-15 18:22] mlfarrell commented on #1055
I'm also having a branch crash on startup with latest branch SDK 0.35.0.  I'm on iOS 13 (though 14 crashes too).  Seems related to webkit init thread race condition.  Sorry I can't post my backtrace at this time.

[2020-09-15 19:19] michaello commented on #1055
@mmdock sorry, haven't had an occasion to test it properly! Gonna try it again tomorrow.

[2020-09-16 05:41] KrishBaddi opened #1057 "Deferred deeplinks not working in swift 5"
Hello Branch Team,

Recently we have migrated our codebase from Swift-4 to Swift-5, In Swift-4 we are getting deep link data but in Swift-5 we are not getting deep link data in callback when the application is launched via deep links. Please find the below code and output.

Please let us know how to resolve this issue.

[code]

**Swift 5 Output**

[code]

**Swift 4 Output**

[code]

[2020-09-16 09:35] mohamedhamada1 commented on #1057
hi
I face the same issue before

make sure you override the all methods

// have you override this one?
    func application(_ application: UIApplication, continue userActivity: NSUserActivity, restorationHandler: @escaping ([UIUserActivityRestoring]?) -> Void) -> Bool {

       return Branch.getInstance().continue(userActivity)

    }

[2020-09-16 10:19] KrishBaddi commented on #1057
@mohamedhamada1

I have this method already implemented.

[code]

[2020-09-17 20:52] KeiroMidori commented on #1051
I am seeing the same thing on my end with iOS 13.7 and Xcode 11.7. Any ETA on a resolution for this?

[2020-09-17 22:03] echo-branch commented on #1047
This was released a while ago.  I forgot to close this.

[2020-09-17 22:03] #1047 closed

[2020-09-21 20:23] benv33 opened #1059 "Setting setTrackingDisabled:true before initSessionWithLaunchOptions will cause handler returning an error"
Branch SDK version: 0.35.0
Language: obj-C

Hi,

If I disable tracking before the initialization I always get an error in the handler block.

[code]

**_BNCServerInterface.m(252) Error: Network service error: Error Domain=io.branch.sdk.error Code=1015 "User tracking is disabled and the request is not on the whitelist" UserInfo={NSLocalizedDescription=User tracking is disabled and the request is no

[2020-09-21 22:51] echo-branch commented on #1059
@benv33
Your implementation looks correct.

When tracking is disabled, we drop all PII and only allow link resolution and link creation calls.  We overloaded the error system to inform you that we dropped a request.

In an ideal situation we would have used the more typical status callback, however the way our network code is designed, the status callback occurs AFTER a network call.  Which would

[2020-09-21 23:34] benv33 commented on #1059
Are PII used for matching when user click link -> app install -> open the app because with my implementation I get an error and empty data? Because for this use case I would need to disable tracking in the handler and not before init.

[2020-09-21 23:51] echo-branch commented on #1059
Only for deferred deeplinks, these do not work with tracking disabled.  For regular links we do not use PII.

Could you confirm that the raw link is coming in via continueUserActivity?  When you use a universal link on iOS, the click -> app open happens all on the device side.  Nothing is sent to the Branch server.  On app open, we then use the universal link to look up the data associated.  When

[2020-09-22 00:40] benv33 commented on #1059
On click link -> first app install -> open app the continueUserActivity is not called. Once the app is downloaded, if I click the same link continueUserActivity is called.

[2020-09-22 00:49] echo-branch commented on #1059
Oh wait. I totally missed the first app install part.  That's a deferred deeplink, which does rely on PII.  That feature will not work on with tracking disabled.

[2020-09-22 00:55] benv33 commented on #1059
God to know, maybe I missed this information in the doc and if not it would be good to add a mention to this.

Thanks

[2020-09-22 00:55] #1059 closed

[2020-10-02 19:18] hipwelljo opened #1062 "Deprecated API usage warnings for iOS 12+"
Using version 0.35.0 in Xcode 12, there are 10 warnings shown due to deprecated API use. subscriberCellularProvider, archivedDataWithRootObject, and unarchiveObjectWithData. Note that Xcode 12 warns you should update the minimum deployment target to iOS 12.

[2020-10-03 06:34] sudeepdino008 opened #1063 "0.28.0 still uses UIWebView"
In https://blog.branch.io/how-to-prepare-for-apples-uiwebview-deprecation/, the text says

I updated Branch version to 0.28.0, and it still was using UIWebView. I then updated it to 0.29.0, and it didn't rely on UIWebView and was replaced.

The above quoted text is misleading as 0.28.0 uses UIWebView.

[2020-10-12 22:31] benski commented on #918
We have the same intermittent crash in our app crash reporting.
@echo-branch I found a threading issue that likely is the root cause of this issue. I have submitted a PR that will fix the problem I identified and hopefully the crashes for everyone as well.

[2020-10-14 11:08] igar6 commented on #1051
I am facing the same issue. I get the correct response when app is running on background, but not when it must be opened first.

[2020-10-15 17:59] JesseScott opened #1067 "Update BNCCrashlyticsWrapper to use Firebase Crashlytics"
## Outline
* As per the Fabric -> Firebase migration, the Crashlytics SDK is being turned off on November 15th, 2020.

## Issue
* It seems that the BNCCrashlytics class that is  part of the Branch SDK still uses the Fabric implementation

## Docs
* https://firebase.google.com/docs/crashlytics/upgrade-sdk?authuser=0&platform=ios

[2020-10-20 07:18] ashalva commented on #1051
We have the same issue here, the universal links are not working when the app is installed from the AppStore via the link. We found the issue recently, so it can be related to new restrictions of fingerprinting from Apple.

[2020-11-03 18:22] titooan commented on #928
Hi,
I was looking for SPM support for the branch SDK, and I couldn't find anything in the documentation. Is it already released ? If yes, where can I find the documentation ?

Thank you very much!

[2020-11-09 12:30] kvyat opened #1071 "Crash inBNCLog.m - Line 629"
Hi, we have some crashes with Crash in BNCLog.m - Line 629. We use the latest version of Branch pods but it happens with every version.
<img width="1272" alt="Screenshot 2020-11-09 at 2 24 34 PM" src="https://user-images.githubusercontent.com/25620329/98541370-00e03880-2298-11eb-8954-f8548edd82ac.png">

[2020-11-09 17:31] echo-branch commented on #1071
Could you try deleting all the cache'd pods and build files?  Then rebuilding?  There was a macro redefinition in the logger and cache'd version of it could cause a failure like that.

[2020-11-10 09:20] kvyat commented on #1071
I'll try, thanks

[2020-11-13 00:27] tinder-owenthomas opened #1073 "Remove non-inclusive terms"
Can we please get an updated version of the SDK which removes all non-inclusive language? We are focusing on removing such language from our company which extends to all third-party code we choose to use.

Specifically terms such as whitelist, blacklist, master, slave, etc. Would love this to cover actual code of course, but also, comments, branch names, repo descriptions on dependency management

[2020-11-13 18:03] echo-branch commented on #1073
We have this planned in phases.  You should start seeing naming changes in the next patch release.

[2020-11-18 21:18] tinder-owenthomas commented on #1073
Wonderful, thank you 🙏

[2020-12-03 15:00] alireza12t commented on #1057
i have the same poblem in swiift5 but I couldn't test it on swift 4 and also I have this code in my app delegate

[code]

What should I do?

[2020-12-07 13:19] Danyaga commented on #1057
I may experiencing this but we have not other details to share because there is no way on our side to debug or QA set Branch features.

We are planning to migrate to another system to achieve the same result because this issues in this repo don't seem really take kept in consideration.

[2020-12-07 18:26] echo-branch commented on #1057
@alireza12t
Could you try removing the `private` from your function declaration?

[2020-12-10 18:22] #1049 closed

[2020-12-10 18:25] echo-branch commented on #928
Shipped in https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/releases/tag/0.35.0

[2020-12-10 18:25] #928 closed

[2020-12-10 18:28] echo-branch commented on #1027
We were not able to reproduce this issue.  Also we did not receive more reports of it.  Going to close for now.

[2020-12-10 18:28] #1027 closed

[2020-12-10 18:30] echo-branch commented on #1039
Since the 035.0 release we've been trying to put in more descriptive release notes.  Hopefully that has addressed this issue.

[2020-12-10 18:30] #1039 closed

[2020-12-10 18:35] echo-branch commented on #1063
I was not able to reproduce the issue.  Maybe the build was cached with an older SDK binary?  Either way, 0.28.0 is rather old and newer integrations should use the latest possible version.

[2020-12-10 18:35] #1063 closed

[2020-12-17 13:08] warpling commented on #1052
@echo-branch Thank you for adding this!

[2020-12-29 01:52] willvlad opened #1075 "Branch pod for IOS (flutter) not working"
[!] CDN: trunk URL couldn't be downloaded: https://cdn.jsdelivr.net/cocoa/Specs/d/a/c/Branch/0.36.0/Branch.podspec.json Response: Timeout was reached

[2020-12-29 02:59] LimCrazy opened #1076 "Cocoapods could not be updated"
<img width="978" alt="WeChatc70f52f8439d2bb0c47ebf9d898895e0" src="https://user-images.githubusercontent.com/17854709/103255563-b9874600-49c4-11eb-8565-d16b8274f1e6.png">

I've been stuck here. I can't move. Why is that？

[2020-12-29 22:13] echo-branch commented on #1076
I wasn't able to reproduce your issue this morning, however I did see a couple reports of issues with cocoapods last night.  Could you try it again today?

Another possibility is checking the Podfile min version 9.  Though I'm pretty sure that gives a different error message.

[2020-12-29 22:15] echo-branch commented on #1075
I wasn't able to reproduce a pod update failure this morning.  Could you try again today?  Another user also reported a pod failure last night.  Maybe there was an issue on their side?

[2020-12-30 13:25] willvlad commented on #1075
Oh I've had this error for months. Whenever I run pod update, it fails to fetch this latest version so I just do pod install instead, but it's become a bit annoying to keep seeing this error still not fixed for so long

[2020-12-30 17:07] echo-branch commented on #1075
That's really bizarre. Maybe you updated while CDN was in a bad state?  There's this ticket on the cocoapods forum discussing a similar issue.  They mention a workaround.  https://github.com/CocoaPods/CocoaPods/issues/10078

[2021-01-02 20:34] kaomte commented on #1053
I am also experiencing this. I often am not working with super fast internet connections and this really puts a damper on development.

[2021-01-06 18:13] leo1mml commented on #1051
Same thing here 😞  I couldn't find a workaround until now.

[2021-01-12 13:14] joeypatino commented on #1055
Hi @jdee, I believe I'm seeing this crash as well. I've tested on both Branch SDK v0.35.0 and v0.36.0 running on the iOS simulator. I've been using the SDK fine for the past 6-9 months without any issue before and do not know what configuration changes I've made to cause this crash to start to occur. I've also performed the standard clean / delete derived data folder but still see the crash.

Envi

[2021-01-12 21:34] colealanroberts commented on #1051
Hey, curious what workaround you found.

[2021-01-18 16:19] mmdumi opened #1079 "xcode 12 xcframework support"
Hi,
carthage is ready to compile frameworks as xcframework
Would you please be able to provide the Branch sdk as xcframework ? We can't compile our project on M1 macs because of Branch.
Thank you.

[2021-01-19 09:08] vWolfG opened #1080 "IOS 14+"
I have tried the following demo https://github.com/BranchMetrics/Branch-Example-Deep-Linking-Branchster-iOS
Also, I created my own empty project according to the documentation https://help.branch.io/developers-hub/docs/ios-basic-integration, both of them don't work on the ios 14.2 and 14.3 devices, however, it works on the ios 13.7 and lower.
Deeplink was opened in the safari and was redirected to

[2021-01-19 09:48] vWolfG commented on #1080
Have found the information here https://help.branch.io/faq/docs/what-code-do-i-need-to-add-to-include-the-idfa-prompt

[2021-01-19 09:48] #1080 closed

[2021-01-20 16:50] frowing commented on #984
Same thing here, we're still seeing this issue. Any ideas @echo-branch?

[2021-01-21 00:08] cavenugs commented on #1080
- [

[2021-01-21 13:42] ragzy15 commented on #1053
@echo-branch is there any update regarding this problem?

[2021-01-21 16:59] echo-branch commented on #1079
The 0.37.0 release added support xcframeworks. You will need to install carthage from source until the ` --use-xcframeworks` flag is supported in the general carthage release.

Still working on updating our docs to account for the 0.37.0 release.

[2021-01-21 16:59] #1079 closed

[2021-01-21 17:01] echo-branch commented on #1073
The main code portion of this was completed in the 0.37.0 release.  There is still an issue in OCMock, which we use for some unit tests. We also haven't swapped out the branch names yet.