[2014-10-28 21:13] egold opened #11 "Potential namespace problems"
I noticed some of the more recent code includes some non-namespaced and fairly generic class names like "ServerResponse" ( see: https://github.com/BranchMetrics/Branch-iOS-SDK/blob/master/Branch-SDK/Branch-SDK/ServerResponse.h#L11 )

You might want to call those BMServerResponse or something like that. I bet there's a ton of people out there who have a class already called ServerResponse, and they

[2014-11-05 15:56] NRajabalee opened #15 "Callback in "initUserSessionWithCallback" is being called multiple times"
I am getting an issue where the callback passed in "initUserSessionWithCallback" is being called each time the app comes to foreground. Why is the callback being called more than once? Should it not be called only once?

When the callback the first time right after clicking on a link, the params list contains  information. For each subsequent call, the params list is usually empty, which is good.

[2014-11-05 16:47] #15 closed, assigned to nobody

[2014-11-05 16:54] NRajabalee opened #16 "Branch API Error: Please specify an app id"
I have initialized Branch with my AppID in ApplicationDelegate didFinishLaunchingWithOptions:
[Branch getInstance:@"myAppIDHere"];

However, I sometimes get this error:
Branch API Error: Please specify an app id

And when this error occurs, it just keeps occurring all the time constantly.

Debugging into Branch's code, the getAppKey method in PreferenceHelper was returning NO_STRING_VALUE. Not sur

[2014-11-05 17:35] #16 closed, assigned to nobody

[2014-11-07 21:47] #11 closed, assigned to nobody

[2014-11-10 15:03] NRajabalee opened #17 "Random users receiving random link params upon initUserSessionWithCallback"
Hello,

I am having an issue where users are receiving random referral link param, even when they NEVER clicked on any links.

This is the scenario:
1. UserA sends an email referral link to UserB
2. UserB clicks on the link on his device, then opens the app. Upon calling initUserSessionWithCallback, the referral link params are received, as expected.
3. A different UserC installs the app on his de

[2014-11-11 15:22] #17 closed, assigned to nobody

[2014-11-25 14:09] taichino opened #22 "Branch class should have prefix"
Since Objective-C doesn't have name space and "Branch" is pretty common word, I would suggest adding BNC prefix to Branch and BranchServerInterface as well.

What do you guys think?

[2014-11-26 14:39] #22 closed, assigned to nobody

[2014-11-26 16:24] apeda opened #23 "Crash in -[BNCServerRequestQueue persist] method"
Hello.

We are using Branch-iOS-SDK via cocoapods (like pod 'Branch', '0.3.0') and faced the crash in -[BNCServerRequestQueue persist] method. Found on iPhone 6+ Simulator with iOS 8.1.
Here is a stack trace:

 thread #4: tid = 0x1234a4, 0x000000010ff6d00b libobjc.A.dylib'objc_msgSend + 11, queue = 'brnch_persist_queue', stop reason = EXC_BAD_ACCESS (code=EXC_I386_GPFLT)
  frame #0: 0x000000010ff6

[2014-12-07 20:11] theonetheycallneo opened #31 "Do you have a Swift example for AppDelegate?"
Could you attach a Swift example as well, please.  Thank you

[2014-12-08 02:43] #31 closed, assigned to nobody

[2014-12-08 17:25] yingogobot opened #32 "crash in BNCServerRequest"
here is the log we got from crashlytics:

Thread : Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x2425b5f7 __exceptionPreprocess + 126
1  libobjc.A.dylib                0x31ee5c77 objc_exception_throw + 38
2  CoreFoundation                 0x24176841 -[__NSPlaceholderArray initWithObjects:count:] + 428
3  Foundation                     0x24f0127d -[NSDictionary(NSD

[2014-12-10 20:43] vickieduong opened #33 "Crash in Branch initInstance"
![screen shot 2014-12-10 at 12 43 09 pm](https://cloud.githubusercontent.com/assets/480632/5383909/22d2d866-806a-11e4-8365-ba2fd9788080.png)

[2014-12-12 21:56] #32 closed, assigned to nobody

[2014-12-12 21:56] #23 closed, assigned to nobody

[2014-12-15 03:26] #33 closed, assigned to nobody

[2015-01-29 00:11] shineall opened #45 "initsession is not triggered well @first launch."
initsession's RegisterDeeplinkHandler is not triggered well @first launch. after killing app and relaunch, it works again. there is still issue on session init on latest update.

[2015-01-29 00:14] aaustin commented on #45
@shineall we literally just realized this was happening right when you posted. I just pushed a fix. Can you sync or pull latest Cocoapod? I'm so sorry!

[2015-01-29 02:40] qinweigong commented on #45
@shineall The problem should be completely fixed in our update 0.3.101. Please check it out! Again, sorry for the problem and thanks a lot for your feedback!

[2015-01-30 20:35] AdamPro13 opened #47 "CocoaPod doesn't compile"
I just updated to `0.4.0` and it doesn't compile with error message: `'BranchActivityItemProvider.h' file not found`

[2015-01-30 20:52] qinweigong commented on #47
Hi @AdamPro13 , thanks a lot for reaching out and letting us know! Sorry about the miss! We just added the new header file to our podspec file and updated with a newer version 0.4.1. Please check it out!

[2015-01-30 21:03] AdamPro13 commented on #47
Thanks, it's working now.

[2015-01-30 21:04] qinweigong commented on #47
Cool! Thanks for your support for Branch! Happy linking! :-)

[2015-01-30 21:04] #47 closed

[2015-01-30 23:15] shineall commented on #45
@aaustin @qinweigong  thank you for fast response & quick update !

[2015-01-31 00:59] #45 closed

[2015-02-09 18:32] postmechanical opened #51 "SDK needs to support apps with multiple URL schemes"
Presently the SDK incorrectly assumes that the Branch URL scheme is the first URL scheme in an app's Info.plist. Docs need to be updated to indicate this for apps adding Branch support that may likely already have one or more URL schemes already defined.

[2015-02-09 19:20] shortstuffsushi commented on #51
It might also be good to just allow applications to specify their scheme rather than just assuming that the presence of any scheme implies that it's a Branch scheme.

[2015-02-09 19:41] qinweigong commented on #51
Thanks for the feedbacks @postmechanical @shortstuffsushi
I will make changes accordingly.

[2015-02-21 00:54] shineall opened #55 "third party keyboard make crash."
I tired to use TouchPal (one of popular new keyboard app) as my keyboard.
when I click textfield to trigger keyboard. It crashed app.

+ (BOOL)isSimulator {
    UIDevice *currentDevice = [UIDevice currentDevice];
    return [currentDevice.model rangeOfString:@"Simulator"].location != NSNotFound;
}
make crash in BNCSystemObserver.

Default iOS keyboard works fine. I think this can affect many cases

[2015-02-21 01:23] shortstuffsushi commented on #55
Hi @shineall. I just looked into this a bit, and am having a hard time reproducing the issue you're seeing. I'm assuming you're using iOS 8, and are running the app on a device. Could you clarify a few additional items about where you're seeing this issue?

- Which method is triggering the call to `isSimulator`?
- Are you seeing this crash in the Branch TestBed app or in your own app?
- Do you hav

[2015-02-21 03:16] qinweigong commented on #55
Hi @shineall

We tested Coffee Meets Bagel with TouchPal, and did reproduced the crash!
However, reading through the crash report log, we couldn't find anything related to our SDK. Could you point us to where you trace back to the isSimulator function? I'd greatly appreciate it if you could provide some clue!

Have a nice weekend!

[2015-02-23 21:50] shineall commented on #55
Thank you for quick response.
[Situation]
- iOS 8.1.2 (i am not sure this is related to. just share dev env)
- I did not turn on Debug mode of Branch.
- When I touch with finger(for 1 sec) on UITextfield  , this function was triggered in UIViewController + BNCDebugger (category)

- (void)bnc_addGesterRecognizer:(SEL)action {
    BNCLongPress = [[UILongPressGestureRecognizer alloc] initWithTarget:s

[2015-02-23 22:10] qinweigong commented on #55
Oh, this might be related to a bug we found and fixed a while back. Please update to our latest iOS SDK v0.4.4

Please let me know if the problem is gone or not after the update.

Thanks so much for the feedback!

[2015-02-23 22:11] shineall commented on #55
@qinweigong Thank you!
I gonna test it with latest version and let you know.

[2015-02-23 22:47] shineall commented on #55
@qinweigong Thank you. I confirmed no crash in v0.4.4.

[2015-02-23 23:11] qinweigong commented on #55
@shineall Cool!

[2015-02-26 02:01] #55 closed

[2015-02-27 23:22] scosman opened #58 "SDK breaks iOS 6"
Your using several constants not defined on iOS 6, causing a crash on startup.

 - UIActivityTypeAddToReadingList
 - UIActivityTypeAirDrop
 - UIActivityTypePostToFlickr
 - UIActivityTypePostToTencentWeibo
 - UIActivityTypePostToVimeo

[2015-02-27 23:45] qinweigong commented on #58
Hi @scosman ,

I am so sorry about the issue and thank a lot for reaching out to us!

We will get this fixed ASAP.

Thanks,

Qinwei

[2015-02-28 18:04] scosman commented on #58
No worries: easy workaround for anyone else encountering this: just define them in a header.

[2015-02-28 23:52] shortstuffsushi commented on #58
This should be fixed by #59, could you verify?

[2015-03-19 22:16] scosman commented on #58
already shipped with workaround. I'll try for next update.

[2015-03-20 19:25] JALsnipe opened #64 "Question - Does getShortURLWithParams generate a unique URL every time?"
I wasn't sure where to post this question, so I figured GitHub would be ok.

Does `getShortURLWithParams` generate a unique URL every time it is called?  Say I generate a url with `getShortURLWithParams:andChannel:andFeature:andStage:andCallback`, and then I immediately call the method again with the same exact params, tags, channel, feature, and stage.  What is the expected behavior?  Should a un

[2015-03-20 19:52] qinweigong commented on #64
Hi @JALsnipe,

Thanks for reaching out with this great question! It's fine to ask questions here.

Actually, we have a cache for URLs built in the SDK. If within a session you try to call getShortURL (all overloaded variants) repeatedly with the exact same set of parameter values, it will just return the url previously generated and stored in the cache!

The purpose is to save server side API roun

[2015-03-20 20:07] JALsnipe commented on #64
Thanks for your detailed answer, this is exactly the answer I needed!

[2015-03-20 20:07] #64 closed

[2015-03-26 14:35] shortstuffsushi commented on #58
Cool, glad you got around it. I'm going to close this for now -- if you still see any issue popping up with the latest, please reopen :smile:

[2015-03-26 14:35] #58 closed

[2015-03-31 20:35] kenleezle opened #71 "setIdentity not updating User ID"
I am getting mixed results using setIdentity:

* When I run a beta build in XCode, the call to setIdentity works only after a fresh install, subsequent calls do not update the identity
* When i run the same build from TestFlight, the call to setIdentity never has any effect.

I am observing the effect using the dashboard at branch.io

[2015-03-31 20:47] shortstuffsushi commented on #71
Hi @kenleezle, I have a couple of questions for you to help us review a bit further.

* Are you updating the identity to the same value each time, or do you set it to a unique identity each time?
* Are you seeing no callback called, or is it called with an error (or with the same result, regardless of the value you provided)?

[2015-03-31 20:57] kenleezle commented on #71
1. I am updating the identity to a different value each time, and observing the influencers in the dashboard to see if the User Id changes.
2. I do not see a callback parameter in the setIdentity method signature. I am not using any callback.

[2015-03-31 21:07] shortstuffsushi commented on #71
The method with a callback is listed [here](https://github.com/BranchMetrics/Branch-iOS-SDK/blob/e1477321ff4e172ebe35888dd73c454bb202f592/Branch-SDK/Branch-SDK/Branch.h#L105), try giving that a shot and let us know if you do see a successful response, or an error.

With your the identity value, we do have a constraint that it be less than 64 characters; is your value in that range?

[2015-03-31 21:07] shortstuffsushi commented on #71
Also, which SDK version are you using? Should have gotten that out of the way right away.

[2015-03-31 21:09] kenleezle commented on #71
@shortstuffsushi close this issue, what is happening is that from beta to testflight my branch id is changing, which is fine.... it was unexpected but not an issue per say.

[2015-03-31 21:09] #71 closed

[2015-03-31 21:11] shortstuffsushi commented on #71
OK, let us know if we can do anything else to help :smile:

[2015-03-31 21:15] qinweigong commented on #71
Hi @kenleezle

Just want to follow up with a suggestion: for best accuracy, you may want to have setIdentity always paired with a [branch logout]; call before calling it again. Please ignore it if you are already doing so.

[2015-04-01 01:07] kenleezle commented on #71
thanks @qinweigong  i'll do that

[2015-04-01 21:47] shortstuffsushi commented on #51
Hey @postmechanical. Sorry it's taken so long, but the pull request referencing this issue should address this. Can you take a look and see if it covers what you're looking for?

[2015-04-01 23:43] postmechanical commented on #51
@shortstuffsushi that PR looks good from my perspective. Thanks!

[2015-04-03 21:40] shortstuffsushi commented on #51
Great! I'll close this now then, feel free to post back with any additional issues you come across, or contact support@branch.io for more help.

[2015-04-03 21:40] #51 closed

[2015-04-16 12:37] mltk96 opened #81 "sdk v0.6.0 crashes"
after updating the SDK to v0.6.0 it crashing inside updateAllRequestsInQueue, on the next action:
                [request.postData setValue:[BNCPreferenceHelper getSessionID] forKey:SESSION_ID];
with the next crash:
*** Terminating app due to uncaught exception 'NSUnknownKeyException', reason: '[<__NSDictionaryI 0x1740f4a00> setValue:forUndefinedKey:]: this class is not key value coding-compliant

[2015-04-16 14:33] shortstuffsushi commented on #81
Hi @mltk96, really sorry about that. This is a bug on our part; trying to call `setValue:forKey` on an immutable dictionary. I've pull requested the fix for this, and should have it out to your for use shortly.

[2015-04-16 15:12] #81 closed

[2015-04-16 15:46] shortstuffsushi commented on #81
Hi again @mltk96. The fix for this issue should be available in 0.6.1. Please let us know if you run into any additional issues.

[2015-04-20 15:07] shortstuffsushi commented on #51
Hi @postmechanical. Just wanted to follow up and let you know that this change was reverted. Upon further discussion, it turns out that the URI Scheme is really only used once while the developer is configured the SDK in order to prefill the URI Scheme on the Branch Dashboard. With this in mind, we decided to remove the extra complexity added by the change in #73, and just leave it as is, with its

[2015-04-20 15:09] postmechanical commented on #51
@shortstuffsushi As long as the behavior is documented that should be fine.

[2015-04-29 05:35] microgomi opened #90 "crash report."
Hi branch iOS team.

Please check crash report below.

http://crashes.to/s/4cbf00ca0cb

30
Crashed: brnch_persist_queue
EXC_BREAKPOINT UNKNOWN at 0xe7ffdefe
 raw
0
CoreFoundation
__CFBasicHashRehash + 19296
1
libsystem_malloc.dylib
szone_malloc_should_clear + 2730
2
Foundation
-[NSKeyedArchiver _initWithOutput:] + 392
3
Foundation
+[NSKeyedArchiver archivedDataWithRootObject:] + 118
4
Shareon1.0
B

[2015-04-29 06:36] aaustin commented on #90
Hey @microgomi thanks so much for writing in. We'll dig in and see if we can figure out how this happened. It's not very informative unfortunately :(

[2015-04-29 19:01] qinweigong commented on #90
Hi @microgomi Could you please let us know which version of our SDK you are using in your app? I tried to find it in our logs with your app key (93179468239078154, correct?) or branch key, but couldn't find any requests from your app in the past few days.
FYI, our current iOS SDK version is 0.6.1. I am trying to find out if the crash was caused by an old SDK which should have the issue fixed in th

[2015-05-01 16:43] microgomi commented on #90
Hi @qinweigong.
Thank you for your quick response.
We'd used 0.5.7 SDK version at that time but now we've updated to 0.6.1 version.
The issue could be happened in the 0.5.7 version?
I hope it would be fixed. :-)
thank you.

[2015-05-01 19:23] qinweigong commented on #90
@microgomi To be honest with you, I don't think there's anything changed with respect to fixing this crash between the two versions.

Based on the crash report, my guess is it's caused by the low memory on that device.
http://crashes.to/s/4cbf00ca0cb/details
As you can see, there's only 1% RAM left, and the crash happened in libsystem_malloc.dylib.
As we are open source, and you can see that we ha

[2015-05-04 03:49] microgomi commented on #90
@qinweigong
OK, I will check the memory management.
Thank you very much :-)

[2015-05-08 16:36] #90 closed

[2015-05-12 08:21] e7mac opened #98 "Missing file on v0.6.3 installation through Cocoapods"
When the Branch version moved from 0.6.2 to 0.6.3 while running pod update, it stopped compiling, saying `BNCLinkCache.h` not found in the `Branch.h` file.

[2015-05-12 13:25] shortstuffsushi commented on #98
Hi @e7mac, sorry to hear you're having trouble! Are you using the `HEAD` of the repository by chance? The change you've mentioned isn't released yet, so I'm surprised you would see that warning.

[2015-05-12 13:47] shortstuffsushi commented on #98
@e7mac I've committed the update to `master` that should fix that for you. Sorry about that.

Just as a word of caution, I don't think running against `HEAD` of our repo (or any really) is in your best interest. `HEAD` includes changes that aren't necessarily stable, and have subsequently not been released for public consumption yet.

Typically, you'd only want to use `HEAD` in a scenario where th

[2015-05-12 13:47] #98 closed

[2015-05-15 03:16] microgomi opened #100 "Crash report."
Hi there

Here is the log we got from crashlytics

[code]

Please click link blow for details.
http://crashes.to/s/1d088edc574

Thank you.

[2015-05-15 03:23] shortstuffsushi commented on #100
Hi @microgomi, this looks like the [same report you logged about two week ago](https://github.com/BranchMetrics/Branch-iOS-SDK/issues/90). Has anything changed since the last time? Could you tell us what version of the SDK you're on?

[2015-05-15 05:31] microgomi commented on #100
We adapt the new branch sdk as soon as possible and we update frequently our app to make more stable. (Yesterday we've updated to 0.6.3 but the crash has occurred at 0.6.1 version.)
Two week ago.. maybe we was using 0.5.7 version.

[2015-05-15 14:45] shortstuffsushi commented on #100
Hmm, unfortunately as with the last issue, there isn't a whole lot here for us to work with :disappointed: We did just release `0.7.0`, though, which does include some changes to the persistence logic. Perhaps you could give that a shot? Is this crash something you're able to reproduce consistently, or is it just an occasional crash that comes through from your users?

[2015-05-16 10:24] e7mac commented on #98
@shortstuffsushi thanks for the fix! I started pointing my Pods to the GitHub repo because the official cocoapods was still pointing to v0.5.x and there were issues with the `branch_key` and I couldn't figure out how to point to a particular release if I was specifying the `:git` in my Podfile.  But now I'll start pointing to a particular commit instead. Thanks for the help!

[2015-05-16 14:26] shortstuffsushi commented on #98
Hey @e7mac, just to clarify, I'm not recommending using `:git` or a particular commit, you should use the released version of Branch on the CocoaPods trunk, like `pod 'Branch', '0.7.1'`.

[2015-05-18 19:16] jay-zhu opened #102 "'BNCLinkCache.h' file not found"
I upgrade sdk to v0.7.1, but when i complied, it got error 'BNCLinkCache.h' file not found. I m not using cocoa pod

[2015-05-18 19:18] shortstuffsushi commented on #102
Hi @jay-zhu. Sounds like we compiled the framework incorrectly. Where are you getting your code from if not Cocoapods? I'll update the location with a fixed version shortly.

[2015-05-18 19:19] jay-zhu commented on #102
hi @shortstuffsushi, from the document.https://dev.branch.io/references/ios_sdk/#installation
https://s3-us-west-1.amazonaws.com/branchhost/Branch-iOS-SDK.zip

[2015-05-18 19:19] shortstuffsushi commented on #102
Perfect, thanks! Will update shortly :smile:

[2015-05-18 19:28] shortstuffsushi commented on #102
The files have been updated, please let me know if this works for you.

[2015-05-18 20:41] jay-zhu commented on #102
Yes, it works now. Thanks.

[2015-05-18 20:48] #102 closed

[2015-05-18 20:54] shortstuffsushi commented on #102
No problem, sorry about that. Feel free to let us know if you come across any additional issues.

[2015-05-19 19:39] neil477 opened #105 "problem in 0.7.4 release"
I get Branch-SDK/Branch-SDK/BNCServerInterface.h not found when I try to build with Branch 0.7.4 which I installed via cocoapods

[2015-05-19 19:58] shortstuffsushi commented on #105
@neil477 I think you're referring to `0.7.2`, but you're right, I added the wrong header to the podspec. Will be updating within the next 20 minutes.

[2015-05-19 20:37] shortstuffsushi commented on #105
@neil477 this should be fixed with the latest version, `0.7.3`. Please let me know if this works for you.

[2015-05-25 06:16] takasek opened #110 "`duplicate symbols` error occurs with other library"
I found `_URL` duplicated with another library because of this commit. https://github.com/BranchMetrics/Branch-iOS-SDK/commit/e14d8ad8b9ae536f6d9661e1593d20a0e048c268
Variables used in Branch.m has too common names.
Can you add `static` or/and use much longer variable names?

[2015-05-25 09:14] bejo opened #111 "Distinguish deep links & new installs"
I'd like to be able to tell, preferably within a deep link handler, whether a launch was triggered by a deep link on an existing app or launch options dict on a new install. Can you guys add this to your iOS API?

[2015-05-25 15:50] shortstuffsushi commented on #110
Hi @takasek, sorry about that. I'm not sure that was caused by the commit you're referencing, and unfortunately static would have the opposite of the desired effect (static variables are what cause this; instance variables won't). However, this will be addressed shortly.

I'm working on a Branch that would solve this problem entirely, but it's still a ways out, so I'll just make a quick fix for yo

[2015-05-25 15:51] shortstuffsushi commented on #111
Hey @bejo. We'll talk about this internally and get back to you. Just wanted to let you know we've seen this :)

[2015-05-25 15:51] shortstuffsushi commented on #105
Hi @neil477 -- I'm gonna close this for now since I believe this is fixed. If you're still seeing problems, please let me know.

[2015-05-25 15:51] #105 closed

[2015-05-25 15:52] shortstuffsushi commented on #100
Hi @microgomi, haven't heard anything from you for a while. Is this still an issue you're seeing? Did you try updating to the latest version? Let us know what we can do to help here.

[2015-05-25 17:15] bejo commented on #111
Ok, thanks. (such a feature would be very useful for analytics)

[2015-05-26 02:31] takasek commented on #110
Okay, thanks a lot.

Describing what I saw in detail;
I had tried to use v0.7.4 and found `duplicate symbols` on build phase, because another code also defines `_URL`.
And adding `static` to https://github.com/BranchMetrics/Branch-iOS-SDK/blob/master/Branch-SDK/Branch-SDK/Branch.m#L43 solves the error.

When I use v0.6.3, `duplicate symbols` doesn't occur.
https://github.com/BranchMetrics/Branch-i

[2015-05-26 02:59] shortstuffsushi commented on #110
Ah, indeed. I see what you're saying. Thanks for digging, I'll have a release out for you first thing in the morning.

[2015-05-26 10:13] microgomi opened #112 "Question about the security issues."
Hi there,
We are using the branch SDK for sending data by link and the data of the link is very personal information.
So I have a question, the data is attached to link is secure?
Or we have to encrypt that data ourselves?

[2015-05-26 10:24] microgomi commented on #100
This issue just an occasional crash that comes through from users.
I'm going to update latest branch SDK.

Thank you.

[2015-05-26 14:08] shortstuffsushi commented on #110
@takasek This should be available with the `0.7.5` release. Please let me know if you see any further issues.

[2015-05-26 14:08] #110 closed

[2015-05-26 14:11] shortstuffsushi commented on #100
@microgomi I notice you closed and reopened without comment. Are you still experiencing the error with the latest version, or are you just not sure yet?

[2015-05-26 14:28] aaustin commented on #112
@microgomi - great question! It's very secure, but for extra safety, we recommend that you hash any personal information before you insert it into the Branch link. Hope this helps!

[2015-05-26 18:12] shortstuffsushi commented on #111
Hey @bejo. We've discussed this internally, and have added a backlog item to add the ability to do this. I'm not sure when you should be expecting it, but I will let you know once it has been made available. Thanks for the suggestion!

[2015-05-28 21:08] bejo commented on #111
Awesome! Looking forward the new feature! :)

[2015-05-29 12:41] microgomi commented on #100
I'm not sure.
I will report again in case it would be reproduced again.
thank you.

[2015-05-29 12:41] #100 closed

[2015-05-29 12:45] microgomi commented on #112
Thank you :-) I will do. .

[2015-05-29 12:45] #112 closed

[2015-05-30 01:13] takasek commented on #110
I updated to `0.7.5` and made sure that the problem had been solved.
Thank you for your great rapid support :smile:

[2015-06-03 08:30] gransell opened #119 "Crash when backgrounding the app after clearing user defaults."
Hi

We are running version 0.7.7 and found a crash bug. It happens when backgrounding the app after calling
[code]

[code]

Let me know if you need any thing else.

[2015-06-03 08:50] Alkalouti opened #120 "Referral"
Hi All,
how to add referral value at getBranchActivityItemWithParams

[2015-06-03 14:45] shortstuffsushi commented on #120
Hi @Alkalouti. I'm not sure what you're referring to; are you looking to use a referral url? If so, just pass in the [`BRANCH_FEATURE_TAG_REFERRAL`](https://github.com/BranchMetrics/Branch-iOS-SDK/blob/master/Branch-SDK/Branch-SDK/Branch.h#L27) constant to the [`getBranchActivityItemWithParams:feature:`](https://github.com/BranchMetrics/Branch-iOS-SDK/blob/master/Branch-SDK/Branch-SDK/Branch.h#L99

[2015-06-03 14:53] shortstuffsushi commented on #119
Hi @gransell. Thanks for the report, but unfortunately it's not immediately obvious to me what the failure is here. We do store some items in NSUserDefaults, but I'm not really familiar with the domains concept. Which domain is it that you're clearing? I'll keep looking to see if I can reproduce.

[2015-06-03 14:58] shortstuffsushi commented on #119
Also, what is the actual crash on? The error you've got there is the stack trace, but doesn't mention what the error is. Could you add that?

[2015-06-03 15:08] shortstuffsushi commented on #119
Never mind, I found this issue, and fixed it in f22d05c1. I will be releasing an update shortly, sorry about that!

[2015-06-03 15:08] #119 closed

[2015-06-03 16:19] Alkalouti commented on #120
Hi @shortstuffsushi ,
Yes i want to use referral url in UIActivityViewController,

i add this code into my app:

NSString *shareString = @"Super amazing thing I want to share!";
UIImage *amazingImage = [UIImage imageNamed:@"Super-Amazing-Image.png"];

NSMutableDictionary *params = [[NSMutableDictionary alloc] init];

[params setObject:@"Joe" forKey:@"user"];
[params setObject:@"https://s3-us-west-

[2015-06-03 16:26] shortstuffsushi commented on #120
Precisely. Give that a shot, and let us know if that's what you're looking for.

[2015-06-03 16:28] Alkalouti commented on #120
Thanks @salomeshah  I'll reply to you soon i'm out of the office right now

[2015-06-04 06:29] Alkalouti commented on #120
Hi @salomeshah it's work fine but i need to pass User ID for referral to connect it with my users id

[2015-06-04 06:38] gransell commented on #119
No problems. Thanks for the update.

[2015-06-04 10:35] ralonsocf opened #121 "Crash in - (void)setIdentity:(NSString *)userId"
If user session is not yet initialized when call to setIdentity the app crash trying to create the post dictionary because [BNCPreferenceHelper getDeviceFingerprintID], [BNCPreferenceHelper getSessionID], [BNCPreferenceHelper getIdentityID] return nil values.

[2015-06-04 11:51] Alkalouti commented on #120
@salomeshah thanks a lot man, i add  [[Branch getInstance] setIdentity:@"id"]; every things working good.
Thank you again.

[2015-06-04 14:44] shortstuffsushi commented on #120
Hey @Alkalouti. Glad it's working for you. Fwiw, you're tagging a random user, not me :laughing: I'm closing this issue for now, if you run into other ones, please feel free to contact us again.

[2015-06-04 14:44] #120 closed

[2015-06-04 14:50] shortstuffsushi commented on #121
@ralonsocf Hmm, there should be blocks to prevent those requests from going through if that's not initialized, but perhaps it's not correct. Will check and fix for you -- sorry about that.

[2015-06-04 14:55] shortstuffsushi commented on #121
Ah, there is a check, but the request bodies are being constructed too early. This will be fixed by an outstanding pull request, which should be in this afternoon I hope.

[2015-06-04 16:31] ralonsocf commented on #121
Thanks Graham!

[2015-06-04 22:10] shortstuffsushi commented on #111
Hey @bejo, you should have noticed a bunch of new parameters added in the past few days, including [`BRANCH_INIT_KEY_CLICKED_BRANCH_LINK`](https://github.com/BranchMetrics/Branch-iOS-SDK/blob/44d925ea1f8adcffce4549860ccecf8866ac8359/Branch-SDK/Branch-SDK/Branch.h#L89). You can find additional information about the parameters in [our quickstart docs](https://dev.branch.io/recipes/quickstart_guide/i

[2015-06-04 22:10] #111 closed

[2015-06-06 00:36] mltk96 commented on #121
any update about the fix release?

[2015-06-06 01:20] shortstuffsushi commented on #121
Sorry for the delay, just waiting on review of #113. Hopefully will have it out by early next week.

[2015-06-09 02:33] shortstuffsushi commented on #121
Hi guys, the update has been released! Please give it a shot, and let us know if you run into any problems. Sorry about that :frowning:

[2015-06-09 02:33] #121 closed

[2015-06-09 13:18] Alkalouti opened #125 "Crash Branch.m 1356 -[Branch processNextQueueItem]"
Hi,
I got this crash on crashlytics many times please advise me about it

![brach](https://cloud.githubusercontent.com/assets/3541656/8058495/7b1a8348-0ec2-11e5-86e3-5d0f177432cb.png)

[2015-06-09 13:23] shortstuffsushi commented on #125
Hi @Alkalouti. I believe this crash was resolved as of `0.7.7`. What version of Branch are you using that you're seeing this on?

[2015-06-09 13:31] Alkalouti commented on #125
Hi @shortstuffsushi please advice from where i can know the version number i use Branch.framework I download it from branch website last week

[2015-06-09 13:42] shortstuffsushi commented on #125
The version number is available within the `BNCConfig.h` file. However, I don't think this header is currently exposed within the framework (making a note to do so). I think for now it would be best to try updating to a more recent version, as there was a [specific commit](https://github.com/BranchMetrics/Branch-iOS-SDK/commit/f22d05c18806583527f855def1d41be5f1122929) that fixed this issue June 3r

[2015-06-09 13:44] Alkalouti commented on #125
i check it now i use version 0.7.8

[2015-06-09 13:46] shortstuffsushi commented on #125
Are you saying the current version you're using is `0.7.8`, or that you're upgrading?

[2015-06-09 13:48] Alkalouti commented on #125
no i use 0.7.8 version

[2015-06-09 13:57] shortstuffsushi commented on #125
I'm interpreting that to mean you're currently using the version. However, I'm surprised you would be seeing that issue, as that version was specifically the fix for what you're seeing. Could you please check again and be sure that the version of your app that you're seeing crashes on contains Branch `0.7.8`?

[2015-06-09 14:01] Alkalouti commented on #125
ok i already have a version on review, i checked now i have to version on my device one of them 0.7.5 and the other is 0.7.8 i really don't know witch one i use i download now the latest and add it into my app.
thanks a lot.
and if i have the same problem i give a feedback on it thanks @shortstuffsushi

[2015-06-09 14:10] shortstuffsushi commented on #125
No problem, sorry for the confusion. If you continue to see this issue in later versions, please reopen the issue.

[2015-06-09 14:10] #125 closed

[2015-06-10 09:12] pfeiffer opened #126 "Crash in BranchOpenRequest"
I'm getting a crash after upgrading to SDK 0.8.1. Reproduced on 3 separate devices.
[code]

[2015-06-10 09:23] pfeiffer commented on #126
I should note that all devices have had the app installed with an earlier version of the SDK, so there might be batched requests or similar which causes this crash, as a fresh install of the app doesn't crash.

[2015-06-10 10:56] jeremygrenier commented on #126
Unfortunately the same kind of crash appears to my users.

[code]

[2015-06-10 14:16] shortstuffsushi commented on #126
Hi guys,

Sorry you're experiencing crashes, but @jeremygrenier -- yours does appear to be a separate failure. Could you open a separate issue with that?

@pfeiffer, I'm pretty sure I can fix your issue immediately, just missing a callback check, @jeremygrenier yours may be a little more involved (though it's likely a one time crash for your users, clearing out old requests).

[2015-06-10 14:23] pfeiffer commented on #126
The crash appeared on every app open, so unfortunately this was a blocker for us. We had to revert to 0.7.x for now, which fixed the issue.

I was seeing the crash @jeremygrenier mentioned on one of our test devices as well. Removing and re-installing the app fixed the issue.

[2015-06-10 14:25] jeremygrenier commented on #126
I can't ask all my users to reinstall the app.

[2015-06-10 14:28] shortstuffsushi commented on #126
@jeremygrenier I'm not asking you to try that, dont worry :smiley: I'll push a fix for both of you shortly.

[2015-06-10 14:41] shortstuffsushi commented on #126
I've just pushed `0.8.2` which should fix both of the issues you're seeing. Really sorry about that, we didn't properly test regression here.

[2015-06-10 14:43] jeremygrenier commented on #126
Thanks you very much.

[2015-06-17 20:00] shortstuffsushi commented on #126
Hi guys,

Haven't heard anything back for a week, so I'm assuming `0.8.2` is working for you. Please feel free to reopen if you're seeing the same issue, or open another ticket for any new issues.

[2015-06-17 20:00] #126 closed

[2015-06-27 17:47] erickreutz opened #138 "Clear BNCLinkCache on logout"
Running into a problem where a user logs out and another user then logs in. We go to generate a referral URL for the new user and it returns the referral URL from the BNCLinkCache for the previous user. Is this by design? Should the link cache be cleared when a user logs out?

[2015-06-27 20:06] qinweigong commented on #138
@erickreutz Thanks a lot for the feedback! Really appreciate it! We will look into this issue soon.

[2015-06-27 21:47] erickreutz commented on #138
@shortstuffsushi killing it! Awesome turn around time guys

[2015-06-27 23:37] #138 closed

[2015-06-27 23:38] shortstuffsushi commented on #138
Hi @erickreutz  -- this should be available with `0.9.3` on Cocoapods :+1: Good catch!

[2015-07-04 13:10] tomislav opened #142 "Deep link handler not called on launch"
Since updating to 0.10.0 I have an issue where the deep link handler is not called on app launch (works fine on resume). Also broken in 0.9.3. I had to downgrade to 0.8.4 to get it working again.

Nothing in *error, it just doesn't get called. I'm not sure if I'm missing something on upgrading.

[code]

[code]

[2015-07-04 16:29] francisjervis commented on #142
This may or may not fix this, but my (Swift, working) code for openURL returns false (= NO) for Branch URLs, else true:

    func application(application: UIApplication, openURL url: NSURL, sourceApplication: String?, annotation: AnyObject?) -> Bool {

        NSLog("%@","got url \(url)")

        if (!Branch.getInstance().handleDeepLink(url)) {

            NSLog("%@","isnt branch")

[2015-07-04 16:40] aaustin commented on #142
Tomis - is the initSession code in the didFinishLaunching section? Or where else are you be calling it? My testbed seems to work fine.

[2015-07-04 16:50] aaustin commented on #142
Also, @tomislav, there is a code path where we don't call initSession if the following is true:
    if (![options objectForKey:UIApplicationLaunchOptionsURLKey]) {

Then, since you have us after Facebook in openUrl, it's possible Facebook is stealing the first launch URL key? Can you try moving our handleDeepLink call above Facebook's?

[2015-07-08 04:33] nerd0geek1 opened #143 "make warning instead of NSLog to notify App key is deprecated"
I mention to Branch.m l.103 and l.108.
Some developers may overlook this message like me, so I think it is better to make warning to notify method deprecated.

[2015-07-08 15:16] shortstuffsushi commented on #143
Hey @nerd0geek1, I think you're referring to lines [107](https://github.com/BranchMetrics/Branch-iOS-SDK/blob/3d906b181804d3f4918fac7bbfcea9cee7015956/Branch-SDK/Branch-SDK/Branch.m#L107) and [129](https://github.com/BranchMetrics/Branch-iOS-SDK/blob/3d906b181804d3f4918fac7bbfcea9cee7015956/Branch-SDK/Branch-SDK/Branch.m#L129) in the current version.

Unfortunately, since these methods themselves

[2015-07-08 15:16] #143 closed

[2015-07-08 17:08] tomislav commented on #142
Yes, it's in didFinishLaunchingWithOptions. One thing I remember seeing was a lot of timeouts to the branch server (some api call with "open" and "v1"), but I'm not sure if it was related (would that still call the handler, but with an error?). I'll try it with Debug turned on to see what's going on.

[2015-07-13 14:25] shortstuffsushi commented on #142
Hi all, sorry for the delay -- I was out of town last week. I'm not sure where exactly this stands, but one of the things I wanted to point out was what Francis had said -- if there is a notification in the app, we expect to hit the `handleOpenUrl` in order to initialize the SDK, whether it's our notification or not. What may help is changing to this:

[code]

This way both of the frameworks will

[2015-07-16 09:06] SergeyMagid commented on #142
Hi all
I have the same problem at Android. Time to time branch.initSession did not call callback.
Version : 1.5.9

[2015-07-16 13:03] shortstuffsushi commented on #142
Hey @SergeyMagid, if you're seeing issues on Android, you should log them against [the Android repository](BranchMetrics/Branch-Android-SDK). We can't fix them for you from within the iOS SDK ;)

[2015-07-19 01:21] erickreutz commented on #15
@aaustin what triggers the init callback being called again? I'm running into problems when it's called multiple times at what seems to be random points during the applications life when it has not been closed or re-opened.

[2015-07-19 02:40] shortstuffsushi commented on #15
Hi @erickreutz, there are currently four places we initialize the session.

* [When you call initSession](https://github.com/BranchMetrics/Branch-iOS-SDK/blob/bd888ce6678792efdda2ca90750465cdf09b4d82/Branch-SDK/Branch-SDK/Branch.m#L333)
* [When a Deep Link is handled](https://github.com/BranchMetrics/Branch-iOS-SDK/blob/bd888ce6678792efdda2ca90750465cdf09b4d82/Branch-SDK/Branch-SDK/Branch.m#L352)

[2015-08-03 20:56] Sky opened #155 "Deployment Target"
Hi,
why Branch.framework library deployment target is set to iOS 8.3?
In podspec file platform is set to support iOS 6+ ...

object file (Branch.framework/Branch(Branch.o)) was built for newer iOS version (8.3) than being linked (7.0)

[2015-08-03 21:05] shortstuffsushi commented on #155
Whoops, this was just a bad target creation that we missed. This is fixed in 0f56fc3, and uploaded to S3 as of now!

[2015-08-03 21:05] #155 closed

[2015-08-05 06:43] allenhsu opened #157 "Wrong string length used when converting JSON dict to NSData"
https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/blob/master/Branch-SDK/Branch-SDK/BNCEncodingUtils.m#L200

In method `+ (NSData *)encodeDictionaryToJsonData:(NSDictionary *)dictionary`, you used `jsonString.length` instead of length of bytes. As a result, if the dictionary contains non-ascii characters, e.g. Asian characters (which happens mostly in `carrier` field), `jsonString.len

[2015-08-05 07:00] allenhsu commented on #157
I believe `strlen([jsonString UTF8String])` works as well.

[2015-08-06 14:12] shortstuffsushi commented on #157
Thanks for noticing and fixing this! Much appreciated, catching cases we've missed :+1:

[2015-08-06 14:12] #157 closed

[2015-08-17 15:11] shortstuffsushi commented on #142
Closing without any further feedback. Feel free to reopen if you're seeing problems.

[2015-09-03 12:04] martinellimarco commented on #142
Hi all,

I'm experiencing the same problem as @tomislav and reverting to 0.8.4 fixed it for me too.

I'm not using FB in my app, I'm only calling ```handleDeepLink``` in my openURL.

As described by @tomislav the callback is invoked only on resume and not on first launch but I can't see any timeout like he described.

There is another thing I've noticed, I'm using an url configured to pass query p

[2015-09-03 13:01] tomislav commented on #142
I just tried it again with 0.10.9 and still having the issue. I even tried to fetch the parameters manually on launch with `[[Branch getInstance] getLatestReferringParams]` and all I get is an empty dictionary (not nil). Reverting to 0.8.4 makes it work again.

[2015-09-03 13:13] martinellimarco commented on #142
Hi tomislav,

if it's not a burden for you can you try with custom query parameters like in my example above (using ```$query_param_passthrough: true``` as described here https://dev.branch.io/link_configuration/ ) ?
I want to know if the problem we are facing is related or if I have to open a new issue.
If it's related maybe it can be an hint to help us.

Also, about the timeout messages you desc

[2015-09-03 14:13] tomislav commented on #142
I did a little investigating and the last working version is 0.9.1 ... Looking through the commits after that I'm suspecting something was broken in `BNCPreferenceHelper` in 0.9.2 where it returns an empty `sessionParams`.

Then I collected branch logs from opening links on app launch with versions 0.9.1 and 0.9.2.

0.9.1 = https://gist.github.com/tomislav/a0b7f77617de1e1839a9
0.9.2 = https://gist

[2015-09-03 14:45] martinellimarco commented on #142
I will test later with 0.9.1 and 0.9.2 and see how it works

[2015-09-03 15:58] martinellimarco commented on #142
I can confirm that on 0.9.1 the callback is invoked on launch and on resume but in 0.9.2 it's invoked only on resume.

[2015-09-03 16:00] aaustin commented on #142
Hey guys - I'll take a look at this today. Sorry about the issue!

[2015-09-03 18:58] aaustin commented on #142
Just so I can try to reproduce, the context:
1. Kill app from background
2. Run app form Xcode
3. Expected: deep link callback should be called
Reality: deep link callback not called

Or:
Expected: link parameters should be present in callback
Reality: link parameters not present in callback

On Thursday, September 3, 2015, Marco Martinelli <notifications@github.com>
wrote:

[2015-09-03 19:04] tomislav commented on #142
1. Kill app
2. Open a branch link from Safari. In our case, for example http://htl.st/7xEc/Gh5Czvnqzm
3. Apps opens, callback not called. If you manually try to retrieve the link parameters you just get an empty dictionary.

Expected: on app launch the callback gets called with the link parameters

Setup is still as in the first post.

[2015-09-03 19:19] martinellimarco commented on #142
What I do in latest version:

1. Kill the app
2. Open a link from Safari, in my case it's ```http://bnt.it/weeiam?c=12345```
3. App opens, callback not invoked.
4. Leave app open in background, in Safari open again ```http://bnt.it/weeiam?c=12345```
5. App comes back in foreground, callback is invoked with parameter c=12345
6. Leave app open in background, in Safari change url to ```http://bnt.it/

[2015-09-04 01:10] aaustin commented on #142
Hmm - I just tested on 0.10.9 with Xcode and my iPhone6. If you kill the background process and start the process cold, Xcode won't connect and print the logs, so I had to go to Window -> Devices to monitor the logs. Here's what I saw:

[code]

It looks like the parameters are being returned properly from cold start with my setup and testbed. Here's how my code is laid out in the AppDelegate. Can

[2015-09-04 06:04] martinellimarco commented on #142
Hi @aaustin , thank you for your work.

The code it's the same, I've just inserted the NSLog you're using.
Here there are the results using 0.10.9 on my iPhone 5s (iOS 8.4.1)

1: Kill the app
2: In safari I open ```http://bnc.lt/weeiam?c=12345```
3: App opens but the callback is not invoked
[code]
4: App in background, in safari I open again the same url
5: App goes in foreground, this time the ca

[2015-09-04 08:48] martinellimarco commented on #142
I've just tested 0.10.9 in the simulator using an iPhone 6 with iOS 8.4.1 configuration and it worked just fine. The code is the exact same one I've used in the real device where it fails.

@aaustin you tested on a real iPhone 6 right? Unfortunately I don't have one to test, only a 5s

@tomislav what iPhone/iPad are you using? Have you tested using the simulator?

[2015-09-04 08:54] martinellimarco commented on #142
Tested with iPhone 5s on simulator, it works. I don't know what to think..

[2015-09-04 09:21] tomislav commented on #142
Doesn't work for me on the simulator or the device with 0.10.9. iPhone 5 and iPhone 6.

Here are my logs with the exact AppDelegate setup as written by @aaustin. This is so hard to debug because you can't attach the debugger immediately on cold start. Or I can't figure out a way to do it.

*Cold start:*
[code]

*Resume:*
[code]

[2015-09-04 18:35] aaustin commented on #142
Ahh - interesting @tomislav. It looks like you're calling `setIdentity` immediately after `initSession` in the case of a cold start but not in the background case. Let me try that.

@martinellimarco I was using a real iPhone 6 but let me try with a simulator. Are you calling setIdentity as well after initSession? There could be some sort of race condition.

[2015-09-04 18:56] tomislav commented on #142
@aaustin you're right. I commented out setIdentify in my appdelegate and it's working properly.

[2015-09-04 18:57] aaustin commented on #142
can you add it in the callback to initSession instead?

[2015-09-04 19:02] tomislav commented on #142
I just did and it's working properly.

[2015-09-04 19:09] martinellimarco commented on #142
Yes, I forgot I was using setIdentity in another class of my app. Now the callback works on cold start, still I'm experiencing inconsistencing with query parameters. I've just tested 4 times, two times I've got the right parameter, the other two times I've got a parameter I was using for test hours ago.. I will open another issue, what do you think @aaustin  ?

[2015-09-04 21:38] aaustin commented on #142
Interesting - that sounds fishy for sure. How about email support@branch.io so we can share details of your app and config.

I'll close this one out for now.

[2015-09-04 21:38] #142 closed

[2015-09-11 07:43] danipralea opened #166 "iOS 9 minimum SDK?"
Hello!
How can I still use Branch with iOS SDK 8 or do I have to update my entire SDK to use Branch? :smile:

[2015-09-11 08:39] #166 closed

[2015-09-11 15:17] aaustin commented on #166
Did you get it figured out? And for my info, how did you figure it out?

[2015-09-12 08:55] tomislav opened #169 "0.11.0 requires the minimum deployment target to be iOS 9"
How come 0.11.0 requires the minimum deployment target to be iOS 9? I presume most of us would like to maintain compatibility with iOS 8 while still implementing iOS 9 features like universal links.

[2015-09-12 09:38] tomislav commented on #169
My bad, forgot to update the platform in the Podfile.

[2015-09-12 09:38] #169 closed

[2015-09-12 10:28] tomislav opened #170 "Universal links not working"
I can't get universal links to work in iOS 9. I followed the guide and everything is setup properly in the app, on the apple dev portal, in the provisioning profiles and in the branch dashboard. Minimum deployment target is iOS 8.2.

I've checked my device logs and it seems there is some error with the `apple-app-site-association` on the branch website. SSL certificate troubles?

[code]

Bundle id

[2015-09-12 16:23] shortstuffsushi commented on #170
Hmm, it appears that there may be an issue with white listed domains and SSL validation. I checked `htl.st` using [my validation tool](http://limitless-sierra-4673.herokuapp.com/), and got the following output in the server logs.

[code]

[2015-09-12 16:29] shortstuffsushi commented on #170
However, I also tried just running `bnc.lt` and checking for your app in there. It looks like there is a listing for `com.hitlistapp.ios`, so if (for the sake of testing), you were to only use `bnc.lt` in your domains, you should be able to see it work.

[2015-09-12 16:57] tomislav commented on #170
It works if I use bnc.lt, sort of. The deep link handler gets called only on app resume, not app launch.

`continueUserActivity` is called both times, but the payload is missing on cold app launch.

Log on app resume:
[code]

Log on cold app launch
[code]

[2015-09-12 17:06] shortstuffsushi commented on #170
Could you tell me what the difference is between the webpageURL for both of those? It seems that's really all that's being [checked](https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/blob/4c3b2a5a6d34e2971efb53bab5a5bf0caa55a393/Branch-SDK/Branch-SDK/Branch.m#L360), so I'm not sure why the behavior would differ between start and resume.

[2015-09-12 17:10] tomislav commented on #170
I'm using this link in both cases: http://htl.st/7xEc/Gh5Czvnqzm . I just changed the htl.st to bnc.lt so it's http://bnc.lt/7xEc/Gh5Czvnqzm

Not sure if that's what you're asking.

[2015-09-12 17:14] shortstuffsushi commented on #170
Sorry, I actually meant in the code, when it reached that check. If you inspect the webpageURL for both of those scenarios, I was thinking there may be a difference. If not, I'm wondering if there may be a race condition, depending on when `initSession` is called vs when `continueUserActivity` occurs.

[2015-09-12 17:21] tomislav commented on #170
On resume webpageURL is `http://bnc.lt/7xEc/Gh5Czvnqzm`
On launch webpageURL is `http://bnc.lt/7xEc/Gh5Czvnqzm`

[2015-09-14 04:00] aaustin commented on #170
@tomislav thanks for the note - we're going to investigate first thing tomorrow.

[2015-09-14 09:39] arielelkin opened #171 "Branch SDK should be able to tell whether it's running on Debug or Release build"
It's currently possible to release an app with just Branch test keys.

This SDK should prevent developers from committing that mistake.

It really should be the responsibility of the Branch SDK to know whether it’s running on a debug or release version of the app. It can use things such as preprocessor macros or environmental variables to be able to determine that.

Then developers would only need

[2015-09-14 13:33] dickverbunt commented on #171
+1 👍🏼

[2015-09-14 14:56] shortstuffsushi commented on #171
I'm curious, how do ou propose this be done at compile time? Short of adding a script to the Build Phases, I don't know how we would determine that. We do log a warning about it if we find that you're using a test key when the app is running.

[2015-09-14 14:57] shortstuffsushi commented on #171
Unless you're specifically referring to the getTesdInstance method. We could make that available via pragma, but what would we pragma on, whether the DEBUG constant was available? That constant isn't present for all devs, so that would be an incomplete solution at best.

[2015-09-14 16:02] nosrak113 opened #172 "0.11.0 release has min requirement of ios 9"
I understand that the 0.11.0 release will have ios dependent features. But many apps will at least  have support for ios 8.X for a couple of months. So would it be possible to lower the min os to 8.X for this release?

[2015-09-14 16:03] aaustin commented on #172
Definitely - we just wanted to make sure people who were still on Xcode6 wouldn't get a ton of build errors. It's a good point though - I'll make sure we support it.

[2015-09-14 16:05] nosrak113 commented on #172
👍 thanks!

[2015-09-14 19:03] derrickstaten commented on #170
@tomislav we've opened a PR here: https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/pull/174

We need to do more testing but if you need an urgent fix I suggest trying this out. Feel free to leave feedback

[2015-09-14 21:22] derrickstaten commented on #172
@nosrak113 this has now been updated. Sorry again. Please let us know ASAP if you run into any issues. Thanks for letting us know.

[2015-09-14 21:22] #172 closed

[2015-09-14 21:23] derrickstaten commented on #170
@tomislav this is now resolved in the newly released version, `0.11.1`. Thanks so much for letting us know. We're going to reach out to other partners using `0.11.0`.

[2015-09-14 21:55] francisjervis commented on #170
Links are not opening the app from cold for me. Works when the app is already open, otherwise goes to deepview; app open after clicking a link (and getting dv) “gets” the link...

[2015-09-14 21:58] tomislav commented on #170
Thanks. What about the issue with using custom domains (SSL error when fetching the apple-app-site-association file)? Is this something you will be able to solve?

[2015-09-14 22:06] derrickstaten commented on #170
@francisjervis can you send in a message to support@branchmetrics.io ticket with the link, the SDK version, and when you're clicking on the link? Please also provide the OS (iOS 8 or 9) and whether you've set up Universal Links. This is likely a separate issue, as it has to do with redirection rather than fetching params inside the app

[2015-09-14 22:08] derrickstaten commented on #170
@tomislav I want to be able to reproduce this. Can you shoot us a note with your Branch Key (support@branchmetrics.io with subject `ATTN: Derrick (SSL UL issue)`)? Then I can set up my app with analogous configuration and see if I can recreate.

[2015-09-14 22:18] tomislav commented on #170
@derrickstaten I just did.

Reading through the Apple's documentation it seems to me that the solution would be to serve proper valid SSL certificates for all alias domains. Since iOS won't do a redirect when fetching the `apple-app-site-association` file.

[2015-09-15 04:41] derrickstaten commented on #170
I am able to setup the Associated Domains to be an aliased domain and have Apple scrape https://bnc.lt/apple-app-site-association. @tomislav I sent a follow up email with how we've done it using CloudFlare. As long as you can get SSL set up appropriately there, it should work.

[2015-09-15 04:41] #170 closed

[2015-09-15 09:34] arielelkin commented on #171
Apple does include a `DEBUG` compiler preprocessor flag in debug builds. You can then do something like:

[code]

More info here: http://stackoverflow.com/q/9063100/1072846

This flag is present by default in Xcode, but it wouldn't matter for the Branch SDK if I were to turn it off, as the Branch SDK is compiled and built according to its own scheme.

Environmental variables are a good alternative

[2015-09-15 13:43] shortstuffsushi commented on #171
The `DEBUG` macro is indeed present by default, but not a value that can be relied on, since it isn't a built in feature, it's just a default project template nicety. Relying on that makes me nervous.

We also can't control environment variables, those have to be defined per project, and we can't influence them, or guess which values will be present.

We also can't build the framework without it.

[2015-09-15 14:25] arielelkin commented on #171
Sorry but that's wrong, it's not volatile thing. `#define` preprocessor commands are a safe way to conditionally compile code, and Apple does guarantee the stability of the `DEBUG` macro:
https://developer.apple.com/library/mac/technotes/tn2347/_index.html
https://developer.apple.com/library/prerelease/watchos/documentation/Cocoa/Conceptual/CodingGuidelines/Articles/NamingIvarsAndTypes.html

Yes,

[2015-09-16 04:21] shortstuffsushi commented on #171
Perhaps I'm not following what you're saying, but the [tech note link](https://developer.apple.com/library/mac/technotes/tn2347/_index.html#//apple_ref/doc/uid/DTS40014516-CH1-THE_DEBUG_PREPROCESSOR_MACRO-THE_DEBUG_PREPROCESSOR_MACRO_IN_XCODE) you sent mentions specifically what I said: `The preprocessor "DEBUG" macro is defined in all Xcode project templates for debug builds.` However, this value

[2015-09-16 04:23] francisjervis commented on #171
Correct, Parse has a “developer” and “production” flag that can be set in their dashboard, but this is not detected automatically.

[2015-09-16 06:06] lucianocn opened #178 "ld: framework not found CoreSpotlight"
Please mark CoreSpotlight framework as OPTIONAL, otherwise it will crash on iOS < 9.

[2015-09-16 06:08] lucianocn commented on #178
#173

[2015-09-16 14:31] razorberry commented on #178
0.11.3 does not fix this issue

[2015-09-16 14:44] aaustin commented on #178
We'll push a fix this morning. I apologize!

[2015-09-16 18:27] apersaud commented on #178
+1

[2015-09-16 19:14] derrickstaten commented on #178
@lucianocn @razorberry @apersaud please post screenshots of the errors you're seeing. We've been investigating and there are multiple potential issues.

Also, please post the
1. Base SDK
2. Deployment target

[2015-09-16 19:16] derrickstaten commented on #178
Also, if you set Base SDK to iOS 9, does this resolve the issue?

[2015-09-16 19:16] apersaud commented on #178
iOS 8.4 SDK, target iPhone 8.0. Basically you are trying to link CoreSpotlight which is only available on latest XCode with iOS9. Some of us are still on XCode 6.4 with iOS 8.4 SDK (Swift 1.2).

[2015-09-16 19:19] derrickstaten commented on #178
We only try to link it optionally, as far as I can tell. However, there are other errors when it's optionally linked and it still includes CoreSpotlight methods. Can you please post the error message @apersaud. Then I can know whether the optional linking is the issue or if it's one step further removed.

[2015-09-16 19:22] apersaud commented on #178
iOS9 SDK is only available on XCode 7+ which also requires migrating to Swift 2.0 from 1.2. If you take an example Branchapp (with the 11.3 SDK) and compile it with XCode 6.4 you will see the link error.
![screen shot 2015-09-16 at 12 22 21 pm](https://cloud.githubusercontent.com/assets/127068/9915745/9b15f7ce-5c6d-11e5-8721-fb3f9d424475.png)

[2015-09-16 19:31] derrickstaten commented on #178
@apersaud would you be open to Skyping? My handle is dstaten

[2015-09-16 19:33] derrickstaten commented on #178
If not, can you tell us whether you're using the Cocoapod or the .framework file? And are you on Xcode 6.4 or Xcode 7.x?

[2015-09-16 19:52] apersaud commented on #178
I'm using Cocoapods as a normal static library approach (not using frameworks). XCode 6.4. Sure, we can also do http://appear.in or Skype @modernistik.

[2015-09-16 20:04] derrickstaten commented on #178
Okay thanks. We're working on making both the Cocoapods and the .framework file usable on older builds. Really sorry for the headache.

[2015-09-16 20:41] razorberry commented on #178
using cocoapods

http://cl.ly/image/282903010f0s

Screenshot of pod project with CoreSpotlight set as required, 0.11.3

[2015-09-16 21:05] jbelkins commented on #178
+1 on this.  We are trying to do one last release on Xcode 6.4.1 / iOS 8 SDK today and would like to get this update in.  We get the same linker error.  Our deployment target is 7.0

[2015-09-16 22:07] derrickstaten commented on #178
you can also revert to using an old version of the SDK for today, `pod 'Branch', '0.10.9'` and run `pod update`. We're close but haven't finished fixing all issues yet.

[2015-09-17 01:55] derrickstaten commented on #178
@jbelkins @razorberry @apersaud we released a new version. Please note that you should not strongly link CoreSpotlight. Either weakly link or leave it out completely.

0.11.4

[2015-09-17 01:58] lucianocn commented on #178
#180

[2015-09-17 01:58] #178 closed

[2015-09-17 18:13] pgherveou opened #181 "CoreSpotlight"
I got the issue reported as fixed in the last release while updating the pod this morning (to 0.11.4)
- removes the need to include CoreSpotlight
I am compiling from Xcode 6.4

Is the patch available in this cocoapod release?

[2015-09-17 23:25] derrickstaten commented on #181
@pgherveou yes it is. Please let us know if you're still running into trouble

[2015-09-17 23:25] #181 closed

[2015-09-17 23:46] AnthonyMDev opened #182 "Unbalanced transition warning On iOS9"
On the first launch of the application, while using Branch I get a warning in the debug log

[code]

I'm pretty sure this is due to the `SFSafariViewController` that you are presenting in your own `UIWindow`.

[2015-09-18 10:54] suhitp opened #184 "How to get parameters when the app is in background"
When the app is in background we call
[code]
how do I get the url parameters from the link 'myapp://open?link_click_id=12345'. set in my dashboard to navigate to the deep link screen.

[2015-09-19 04:06] romk1n opened #187 "Branch is leaking on iOS 9"
Hi looks like there are few leaks detected by instruments from the library version 0.11.4

in `- (void)genericHTTPRequest:(NSURLRequest *)request log:(BOOL)log callback:(BNCServerCallback)callback `

here the screenshot from the instruments please have a look. Thanks!

![screen shot 2015-09-18 at 6 21 15 pm](https://cloud.githubusercontent.com/assets/1556000/9974546/9c3fbac2-5e48-11e5-9cf3-976c967

[2015-09-19 06:12] aaustin commented on #184
@suhitp sorry for the delay! When `myapp://open?link_click_id=12345` is triggered, Branch will return the dictionary full of deep link data in the deep link handler block that you registered in the `initSession` call in `didFinishLaunchingWithOptions`.

I hope this helps!

[2015-09-19 06:12] #184 closed

[2015-09-19 06:14] aaustin commented on #182
Hey @AnthonyMDev  - we've got a patch in this PR this waiting on the next release: https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/pull/186

We'll wait to accumulate a few other fixes before doing another release though. Feel free to tweak the code if it's pestering you.

[2015-09-19 06:14] #182 closed

[2015-09-19 06:15] aaustin commented on #187
Thanks for the note @romk1n - we'll dig in and let you know after we know more.

[2015-09-19 06:21] suhitp commented on #184
@aaustin  thanks for the response, any quick way to get the parameters inside when we tap on link

- (BOOL)application:application openURL: sourceApplication: annotation:

  when the app comes to foreground from background by branch deeplink click, it takes lot of time to get the url and route to the exact place.

[2015-09-19 06:29] aaustin commented on #184
When you create the link, you can customize the deeplink path by specifying '$deeplink_path' : 'special/deep/link', and we'll create the URI: `myapp://special/deep/link?link_click_id=12345`

Our servers are extremely fast. It should take less than 100 ms round trip for an init call. You just want it to be instantaneous? Make sure you use routing from fresh install from our handler at least!

[2015-09-19 19:43] shortstuffsushi commented on #187
@romk1n, it would be useful if you could provide either the line number, or the message about what is leaking as well. I would check this myself, but I'm away from my actual laptop with Xcode at the moment.

[2015-09-19 23:28] romk1n commented on #187
@shortstuffsushi sure! `BNCServerInterface` [here](https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/blob/master/Branch-SDK/Branch-SDK/BNCServerInterface.m#L78)

[2015-09-20 21:56] shortstuffsushi commented on #187
@derrickstaten I believe your changes to use `NSURLSession` needs to include `[session finishTaskAndInvalidate]` to prevent this leak, per [this SO post](http://stackoverflow.com/questions/21554987/nsurlsession-memory-leaks-occur-when-using-web-services-in-ios) and the [corresponding Apple docs](https://developer.apple.com/library/ios/documentation/Foundation/Reference/NSURLSession_class/#//apple_

[2015-09-21 20:45] derrickstaten commented on #187
Thanks, all. this has now been addressed with PR 188: https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/pull/188

This will be a part of release `0.11.5`

[2015-09-21 20:45] #187 closed

[2015-09-22 01:35] romk1n commented on #187
@derrickstaten thanks a lot!

[2015-09-22 18:39] Ecarrion commented on #178
Builds in Circle CI using `0.11.4` using `xCode 6.4`
[code]
Are failing with the same error `framework not found CoreSpotlight`

[2015-09-22 20:24] zac opened #191 "Warnings when generating dSYM with 0.11.4"
#### Description
I'm getting several hundred warnings on the "GenerateDSYMFile" step of the build process with warnings such as:

[code]

Please notice the hard-coded clang module cache path.

#### Steps to Reproduce:

1. Create a new blank project.
2. Edit the "Debug Information Format" build configuration to produce "DWARF with dSYM File" when building with the Debug configuration (or just compi

[2015-09-23 00:37] derrickstaten commented on #178
@Ecarrion we removed even weak references to CoreSpotlight in the Branch podspec for the soon to be released `0.11.5`. You can see that on this PR: https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/pull/185

[2015-09-23 06:28] Hibbert-pku opened #193 "Test failed in iOS9"
Hi,
    iOS version of branchIO in circleCI is iOS8,so when I use xcode7&iOS9 to run the test, the BNCServerInterfaceTests was failed. After I delete the iOS9 code in BNCServerInterface.m between line 77 and 128, the tests were passed.

[2015-09-24 18:19] Sarkar commented on #193
Hibbert,

Thanks for telling us about this. We're certainly aware of this ourselves, and we're going to update tests very shortly. Please hang tight!

cc @aaustin @derrickstaten

[2015-09-25 18:30] romk1n commented on #187
@derrickstaten i just updated to 0.11.5 and still getting leaks in

 `- (void)genericHTTPRequest:(NSURLRequest *)request retryNumber:(NSInteger)retryNumber log:(BOOL)log callback:(BNCServerCallback)callback retryHandler:(NSURLRequest *(^)(NSInteger))retryHandler`

also in `- (void)af_resume`

[2015-09-26 00:10] derrickstaten commented on #187
@romk1n we'll dig into this. I thought we had definitively fixed this. Sorry for getting your hopes up. Also, feel free to open a PR if you determine where the issue lies.

We'll try to get this patched over the weekend or early next week.

[2015-09-28 17:46] zac commented on #191
Still an issues with the 0.11.5.

[2015-09-29 02:17] romk1n commented on #187
@derrickstaten not sure how, but when pod installs version 0.11.5 the changes made are not present in the code.

[2015-09-29 02:42] derrickstaten commented on #187
@romk1n you're right. I'm able to reproduce -- that code is missing. I'm not familiar with our Cocoapods release process, so I'll likely have to reach out for help.

[2015-09-29 13:28] JackoPlane commented on #191
+1

[2015-09-29 17:18] shortstuffsushi commented on #187
This is due to the fact that there are both a branch and a tag named `0.11.5`. Deleting the branch will work, but @romk1n will likely need to delete his `Podfile.lock` and `Pods` directory to pick up the update.

[2015-09-29 17:18] shortstuffsushi commented on #187
@romk1n but only after @derrickstaten has confirmed the branch deleted.

[2015-09-29 17:18] jbkielis opened #197 "I don't think this library supports Gmail share subject lines?"
Is that accurate?  If not, any chance you are going to add that support?  Thanks.

[2015-09-29 17:36] romk1n commented on #187
@shortstuffsushi @derrickstaten sounds great, can you just ping me when it is done? thanks for being so prompt!

[2015-09-29 18:27] derrickstaten commented on #187
@romk1n per instructions from @shortstuffsushi you'll also need to run `pod cache clean Branch` and remove 0.11.5. Then upon reinstall you'll get the latest.

[2015-09-29 18:34] derrickstaten commented on #187
@romk1n there will also be a new release momentarily, so you can simply run `pod update`

[2015-09-29 18:36] romk1n commented on #187
@derrickstaten thanks, what's bizarre is not i get 19 compile errors mainly because of the `NS_ASSUME_NONNULL_BEGIN`

[2015-09-29 19:12] romk1n commented on #187
Looks good now! Many Thanks!

[2015-09-30 16:46] derrickstaten commented on #191
@zac can you verify that the issues are no longer present if you use the framework on this branch: https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/tree/test-build

[2015-09-30 16:48] derrickstaten commented on #197
Presumably you're referring to the BranchActivityItemProvider, a subclass of UIActivityItemProvider. Unfortunately in our experience that's a limitation of sharing via UIActivityViewController -> Gmail. If you have sample code or a library that supports this, we'd be happy to look into it.

[2015-09-30 16:48] #197 closed

[2015-09-30 19:15] francisjervis commented on #197
Have you tried the following:
https://developer.apple.com/library/prerelease/ios/documentation/UIKit/Reference/UIActivityItemSource_protocol/index.html#//apple_ref/occ/intfm/UIActivityItemSource/activityViewController:subjectForActivityType: <https://developer.apple.com/library/prerelease/ios/documentation/UIKit/Reference/UIActivityItemSource_protocol/index.html#//apple_ref/occ/intfm/UIActivityIte

[2015-09-30 20:34] Sarkar commented on #191
@zac @JackoPlane hey guys, super sorry about this. Thanks for the super clear update - @derrickstaten and I found a workaround to this thanks to your help, and tested this new framework on clean projects on a few machines - no more errors!

Before we update our framework to S3, we'd love for you to try; no code / other updates introduced from `0.11.6`, but the warnings should be gone now. Should b

[2015-09-30 21:29] zac commented on #191
@Sarkar Hm, I'm getting similar errors but with `org.llvm.clang.sahilverma` hard-coded in the ModuleCache path:

[code]

[2015-10-01 19:37] zac commented on #191
@JackoPlane Did the above build work for you?

[2015-10-01 19:39] JackoPlane commented on #191
Nope.

[2015-10-04 12:22] arielelkin commented on #171
Regarding preprocessor macros:

In the case of the Framework file: sure: you don't have any guarantees that the user project's preprocessor macros won't be tampered with, but that won't affect the preprocessor macros used to build just the branch library. In other words, if you set the `DEBUG` macro on the branch xcode project that builds the branch library, then drag and drop it into a new xcode

[2015-10-14 20:30] Sarkar commented on #191
@zac and @JackoPlane not to sound like a broken record, but I think we've fixed it for sure this time. It seems like this problem creeped up with XCode 7 Beta 5 and stuck in the GM. There were several recommendations on the Apple Forums, and after careful evaluation we did the necessary ones and tested again. It looks like they're gone for good. One last time, could you try it out? Thanks so much

[2015-10-14 21:19] zac commented on #191
@Sarkar Works for me, thanks!

:tada: :dancer: :tada:

<img width="238" alt="no-issues" src="https://cloud.githubusercontent.com/assets/2525/10498066/61384eb8-727e-11e5-8634-01a2a93954b1.png">

[2015-10-14 21:37] Sarkar commented on #191
Awesome! I'll leave this open until we get the changes merged into master. Thanks again

[2015-10-19 19:08] rishabhtayal opened #207 "Register UINavigationController as deep link controller"
Currently I can not register a `UINavigationController` as deep link controller for showing modally. I have to implement my own custom cancel button in the view controller.

[2015-10-23 17:28] #191 closed

[2015-10-28 11:48] Ankish opened #210 "initSessionWithLaunchOptions called multiple times"
Branch *branch = [Branch getInstance];
    [branch initSessionWithLaunchOptions:launchOptions andRegisterDeepLinkHandler:^(NSDictionary *params, NSError *error){

    }

 initSessionWithLaunchOptions:launchOptions is called multiple times
.Whenever A Permission is granted .OS calls didBecomeActive which inturn calls your initSessionWithLaunchOptions:launchOptions .

[2015-10-28 20:21] NavidMia opened #211 "Crash with base64DecodeString"
I came across a crash in BNCEncodingUtils in base64DecodeString where objPointer was NULL.
[code]
This happened a couple times in a row but I was unable to reproduce it afterwards (sorry!) so I couldn't get a backtrace. strlen does not handle null and consequently causes a crash.

[2015-11-05 18:42] helloandrewpark opened #215 "BNCServerRequests.h not found from BNCServerRequestQueue.h"
This is for 0.11.8 via Cocoapods

I wasn't able to see it in master also

[2015-11-11 23:21] #211 closed

[2015-11-11 23:59] derrickstaten commented on #215
@helloandrewpark can you delete your Pods directory, as well as the Podfile.lock, then reinstall the pods by running `pod install`? We currently are unable to reproduce locally.

Also, we're happy to examine a test project with this, please zip it up and send to support@branchmetrics.io

[2015-11-13 18:27] vandutran opened #226 "dyld: Library not loaded CoreSpotlight.framework"
Got this error:

`dyld: Library not loaded: /System/Library/Frameworks/CoreSpotlight.framework/CoreSpotlight
  Referenced from: /private/var/mobile/Containers/Bundle/Application/01D565EC-548D-4CB7-AE85-AE736200D50C/X.app/X
  Reason: image not found`

Xcode 7.1.1, Swift 2.1, deployment target iOS 8.0

[2015-11-13 18:59] Sarkar commented on #226
@vandutran ack - what version of the SDK are you using? Our latest released make CoreSpotlight weakly linked, so that if you deploy on iOS < 9, this shouldn't occur. If you're not on the latest, please upgrade to the latest.

If you're on the latest, can you ensure that your own project doesn't mark CoreSpotlight as 'required' when you're deploying to iOS 8.x?

[2015-11-13 20:58] vandutran commented on #226
Was on 0.11.8 but ok solved with making CoreSpotlight optional.

[2015-11-13 21:01] #226 closed

[2015-11-14 04:05] jschwendt opened #227 "[Branch Error] "Branch User Session has not been initialized" and "Missing session items!""
I'm having issues using SDK version 0.11.9.  It appears that the init block now has to finish before any other branch calls can be made.  We've been using the SDK for several months now without issue, but this latest SDK seems to have different expectations.

Currently we call initSessionWithLaunchOptions: as one of the first things in application: didFinishLaunchingWithOptions:, but we do so in a

[2015-11-14 05:22] derrickstaten commented on #227
@jschwendt you can safely revert to 0.11.8. This was not intended. We'll investigate and then cut a new release if necessary. Thanks for letting us know.

[2015-11-14 05:41] derrickstaten commented on #227
@jschwendt I'm trying various scenarios and I'm unable to trigger this. Could you turn on setDebug and send us the logs? In the meantime, we'll revert the change that we believe is causing this.

[2015-11-14 06:06] derrickstaten commented on #227
@jschwendt we've removed the recent change made to this code. Please try `0.11.10`.

Also, can you send us (via support@branch.io if you'd prefer to to not have this public)
1. the last version of the SDK you're using
2. the location of the calls to setIdentity -- inside which methods on the app delegate and view controller(s)
3. your implementations of `application:didFinishLaunchingWithOptions:`

[2015-11-16 05:13] jschwendt commented on #227
Thanks for the quick reply @derrickstaten!  I tried 0.11.10 and see no change in behavior unfortunately.  I'm calling initSessionWithLaunchOptions: and then immediately thereafter calling setIdentity before the init callback has completed.  Thus I'm guessing we're running into issues.  Because the call to setIdentity calls getInstance before it's inited, I see [self initUserSessionAndCallCallback:

[2015-11-16 17:17] derrickstaten commented on #227
@jschwendt that's the only recent change to initialization. Can you tell us what version you were on before that worked?

If we could do a screen sharing session and you can show me the code, that'd be great. I'm sending you an email now.

[2015-11-19 23:14] DimaVartanian opened #236 "Allow switching instance?"
Our prerelease/beta apps give users the ability to switch between a staging and production environment while the app is running. We have a separate Branch project set up for each one of these. The problem I'm having is that repeated calls to `initSessionWithLaunchOptions...` (with getInstance and getTestInstance swapped in depending on which one is correct) seem to not do anything. No matter what,

[2015-11-24 09:16] jberlana opened #240 "Crash on iOS 7.0.1 (NSUserActivity)"
Hello guys, I am having problems on iOS 7.

Is because of the use of NSUserActivity and Handoff options that appeared on iOS8.
[code]

How can I solve the crash? are you still supporting iOS7?
Thanks.

[2015-11-24 18:06] DimaVartanian opened #241 "Is there a reason enableCookieBasedMatching is off by default?"
After reading this post https://blog.branch.io/install-attribution-ios-9-safari-view-controller it seems like the safari cookies are a big step forward so I'm wondering why it seems to be off by default? I have not turned it on yet for this reason (not knowing if there are some unknown negatives). Thanks!

[2015-11-24 23:57] josh-fuggle opened #242 "Show share sheet completion handler"
Hello,

Is it possible to add a share sheet completion handler to the `BranchUniversalObject` class?

See API:

https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/blob/master/Branch-SDK/Branch-SDK/BranchUniversalObject.h#L42

`UIActivityViewController` has a `completionHandler` property.

I want to find out when the user has finished sharing so that I can update the UI.

Ta

Josh

[2015-11-25 00:45] derrickstaten commented on #240
Based on our conversation via email it seems like you're unable to reproduce on the latest SDK. Please reopen if this crash reappears.

[2015-11-25 00:45] #240 closed

[2015-11-25 00:47] derrickstaten commented on #227
This is fixed -- a bug in 0.11.8 introduced this briefly.

[2015-11-25 00:47] #227 closed

[2015-11-25 00:48] derrickstaten commented on #215
@helloandrewpark we've been unable to reproduce. Please let us know if this continues to be an issue after you follow the steps above.

[2015-11-25 00:48] #215 closed

[2015-11-30 18:59] derrickstaten commented on #241
@DimaVartanian we're working on squashing some bugs here still. We'll let you know when this is fixed.

[2015-11-30 19:01] derrickstaten commented on #236
@DimaVartanian are you wanting to switch between live and test keys mid-session? That's not something we support, and we're unlikely to support it unfortunately.

You could build in a toggle that allows users to change the key for next app launch. You could store "shouldUseTestKey": YES or NO in NSUserDefaults. Then users could kill the app. The next time they opened the app, if "shouldUseTestKey"

[2015-11-30 19:01] #236 closed

[2015-11-30 19:04] DimaVartanian commented on #241
Hi Derrick! Thanks. I'll keep an eye on this ticket in the meantime and leave the option off until you say so.

[2015-11-30 19:05] DimaVartanian commented on #236
Hi Derrick. That is indeed what I want since the users are able to change environments on the fly in our beta builds. I'll just force an app restart after doing that. Thanks!

[2015-11-30 19:08] derrickstaten commented on #242
@josh-fuggle I believe the current completion handler fires when the sheet is successfully presented. Feel free to open a pull request if you think this should have additional functionality (i.e. a callback when the share is complete)! Let us know if you have questions.

[2015-11-30 19:11] derrickstaten commented on #210
@Ankish thanks for noting this. This will require a fairly substantial restructuring of our SDK. Anytime we change functionality around initSession, we have to do a lot of manual testing to make sure we don't break anything for existing partners.

For now, you can store the data from the first initSession (before you ask the user for permissions) in NSUserDefaults or another ephemeral store, then

[2015-12-01 14:46] pcompassion opened #246 "test a new install before app (with branch-io) is released to the store?"
I'd like to test

[code]

when user clicks a link, if he doesn't  have an app installed, he'll be redirected to the app store.
The app on app store doesn't have the above code yet, because I'm integrating Branch.io and previous version didn't have branch.io at all.

So he has to have new version of app installed, and I need a way to fool branch.io that it got some install parameter when it was ins

[2015-12-01 17:13] aaustin commented on #246
This is a great suggestion. I've been wanted to add a 'deep link 100% of time mode' to the SDKs for a while. Let me get it added this sprint.

In the mean time, unfortunately, here's the test flow:
0. Uninstall the app
1. Click a Branch link with the deep link data you want (here's a couple ways you can create one https://dev.branch.io/link_creation_guide/)
2. Install the app from Xcode with prope

[2015-12-01 17:14] aaustin commented on #246
Closing issue for now.

[2015-12-01 17:14] #246 closed

[2015-12-02 00:22] pcompassion commented on #246
Thank you for the quick answer.

By the way, on production, I'm creating a link programmatically in the app and a user will give the link to other users through another messenger app (eg, whatsapp).
The link would be of the form `http://bnc.lt/xxxx`

Does your methodology still apply in this scenario?

It sounds like branch.io looks at the data browser stores (How would initSession would fetch lin

[2015-12-02 05:39] derrickstaten commented on #241
@DimaVartanian can you try this branch out: https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/tree/100-matching-prototype? This has worked in my testing.

To ensure it's making use of the SFSafariViewController, please:
1. in your code, turn off `setDebug` and turn on `enableCookieBasedMatching`
2. on your test device, delete the app (and all other apps with this URI scheme :) )
3. on

[2015-12-02 05:41] derrickstaten commented on #241
@kubbing can you take a look at this as well? I'd love to see if this resolves the issues you previously experienced with the status bar and view hierarchy. Our approach now is to never make our second window the key window, and we don't make CGRect zero but rather the same as the main window's bounds.

[2015-12-03 02:26] aaustin commented on #246
Sorry for the delay.

You know it! We register the click of the link and match it up to the app session on the same device. That's how we pass in the deep link data. In order to test with a dynamically generated link, you can use the same process above - in Kakao and any other apps.

[2015-12-03 09:23] pcompassion commented on #246
Thank you!

[2015-12-11 01:47] pgherveou opened #254 "continueWithUserActivity use"
Not sure what this method is supposed to do exactly but its hard coded to use bnc.lt and will always return false in our app since we use white labeled domain

https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/blob/6a168d352ce6b8b41b30e19f684b40730ccd0904/Branch-SDK/Branch-SDK/Branch.m#L392

[2015-12-11 01:57] derrickstaten commented on #254
@pgherveou we are planning on adding the ability for users to specify additional Universal Link domains so that this can return `YES`. In the meantime, even though we return `NO`, we still send that link back to our server and will appropriately retrieve data / deeplink.

[2015-12-11 02:33] derrickstaten commented on #254
@pgherveou feel free to test out https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/pull/255

[2015-12-11 07:32] derrickstaten commented on #241
This fix has now been merged into master and will be in the 0.11.12 release momentarily

[2015-12-11 07:32] #241 closed

[2015-12-11 07:32] derrickstaten commented on #254
This fix has now been merged into master and will be in the 0.11.12 release momentarily

[2015-12-11 07:32] #254 closed

[2015-12-11 09:00] derrickstaten commented on #193
Tests are passing on master again. Resolving.

[2015-12-11 09:00] #193 closed

[2015-12-11 10:07] subinrevi opened #256 "Issue in iOS9"
Hi,
     Clicking on the link doesn't take the user to the app installed in the phone in iOS9. I tested it using the test_key but when i changed the key to live its not working in iOS9. I have also changed the bundle id (have made the associated bundle id changes in dashboard and info.plist as well)

[2015-12-11 16:03] aaustin commented on #256
Hey @subinrevi - There is one mistake that most people are making. If you have a custom subdomain configured in the Branch dash, you need to enable TLS on it. Currently, we've only figured out how to do this with Cloudflare.
https://dev.branch.io/recipes/branch_universal_links/ios/#advanced-support-ssltls-with-your-domain-for-universal-links

You can verify if it's all setup by using this tool: ht

[2015-12-11 22:29] danwalkowski commented on #241
it appears to work for me too!

[2015-12-14 10:40] mmilosevic commented on #256
Hi, @aaustin,

I'm experiencing same problem on my devices with iOS 9.2 and iOS 9.0.1. I went through [this](https://dev.branch.io/recipes/branch_universal_links/ios/#prerequisites-for-using-universal-links) document for Universal link setup and do everything regarding:
- APP ID's,
- Provisioning Profiles,
- xCode,
- entitlements file target
- Branch.io Dashboard

I am using Universal link in form

[2015-12-14 11:03] subinrevi commented on #256
Hi, @aaustin,
                      I am using the domain provided by branch only as we don't have any sub domain. The weird thing is that it was working perfectly well in iOS9 as well and only when I changed the branch key to live I began facing these issues.

[2015-12-14 20:29] aaustin commented on #256
When you guys test this, can you confirm that you're not pasting in the link to Safari or Chrome? Apple doesn't support pasted-in Universal Links unfortunately. You have to actually click it. I'd suggest from messages, notes or slack or something. Here's a list of the supported browsers:
https://dev.branch.io/recipes/branch_universal_links/ios/#which-appsbrowsers-support-universal-links

In the me

[2015-12-14 20:37] mmilosevic commented on #256
I was testing by clicking on link in slack.

[2015-12-14 20:57] aaustin commented on #256
Can you try pasting it into Messages or Notes, then long pressing the link and see if the option to 'Open in Porter and Sail' appears? I wonder if perhaps you accidentally disabled Ulinks on that device. (Yes.. that's a thing... thanks Apple)

[2015-12-15 01:44] subinrevi commented on #256
Hi @aaustin,
                       I was testing it by clicking the link from imesssage and mail. It would be great if you can check the app settings. The app Id associated with my project is getonthewaveapp@gmail.com.

[2015-12-15 05:23] aaustin commented on #256
@subinrevi Did you try the long press thing I mentioned in the previous comments?

If that didn't work, can you confirm these settings in your developer.apple.com account?
<img width="248" alt="screen shot 2015-12-14 at 9 20 24 pm" src="https://cloud.githubusercontent.com/assets/1332632/11802698/8612e860-a2a8-11e5-8c61-12b869f9a375.png">

Lastly, can you paste in the link you're testing with? I ca

[2015-12-15 09:25] mmilosevic commented on #256
@aaustin in screenshot you can check what options are presented to me

![img_2149](https://cloud.githubusercontent.com/assets/4363556/11806833/085031d0-a316-11e5-9ad1-af7ad5542c5c.jpg)

[2015-12-15 11:29] subinrevi commented on #256
Hi @aaustin,

      The bundle Id & Apple team Id are the same as that in the developer account. When i tried long pressing the link the following items are shown in popup (attaching the image of that as well). When i used the test_key it was working well in iOS9 as well, but i began facing issues only when i changed the key to live. I have also created a new bundle Id but I have made the correspo

[2015-12-15 11:32] subinrevi commented on #256
Following are the links i am using for testing

1. https://bnc.lt/z4Wg/Q1NwCl6gip

2. https://bnc.lt/z4Wg/Q1NwCl6gip

[2015-12-15 12:08] mmilosevic commented on #256
@aaustin it is working when I sign app with distribution certificate (distribute over TestFlight), but when I install app from xCode or distribute over Crashlytics it's not.

[2015-12-15 14:19] mmilosevic commented on #256
@aaustin I found what was a problem (provisioning profiles).

Thanks for your effort.

[2015-12-15 16:50] aaustin commented on #256
@subinrevi Please select 'Open in Wave'. The fact that this open is present in the list means that the links are configured correctly.

Once you click it, this will re-enable Universal Links. Beware though! It's far to easy to disable them: you only need to press the domain at the top right of the screen after the link opens the app ('bnc.lt' button). Once you've re-enabled it, all should work fin

[2015-12-16 07:39] subinrevi commented on #256
Hi milosevic,

                      Is it working for you in iOS9 now ?

[2015-12-16 08:35] mmilosevic commented on #256
@subinrevi yes it is working now. Problem was different bundle identifier. The one set in branch.io dashboard was different from one that was installed with provisioning profile on device.

[2015-12-16 12:49] subinrevi commented on #256
Hi @aaustin,

                   Disabling and enabling the link is device specific right? When i enable that link by long press its working, but if i don't do that it will take the user to the URL provided. Is there any option to set it enabled by default or does every user has to do this initially ? Does changing the bundle Id in Dashboard has any effect (i mean if I change it on Dashboard and p

[2015-12-17 02:05] aaustin commented on #256
Hey Subin - It's the default behavior on all phones. However, Apple made it way too easy to disable. You just have to click on 'bnc.lt' at the top right after being Universally Linked. This will disable them on the phone until you do the long press. Unfortunately, this is an Apple thing and we have no control over it.

[2015-12-18 18:05] aaustin commented on #256
I'm going to close this issue since I believe it's resolved!

[2015-12-18 18:05] #256 closed

[2015-12-18 18:06] aaustin commented on #242
@josh-fuggle Let us know if you think we must add more to this share sheet. https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/blob/master/Branch-SDK/Branch-SDK/BranchUniversalObject.h#L43 Closing the issue for now!

[2015-12-18 18:06] #242 closed

[2015-12-19 20:46] Adlai-Holler opened #265 "Calling registerView in viewDidAppear on First Launch May Cause UI Issues"
If I call `branchUniversalObject.registerView()` in `viewDidAppear` after calling super, on first launch of my app, my status bar style is permanently switched to black, I get warnings from `NSKeyedArchiver` about duplicate keys such as `UIHasPattern` and `UIRenderingMode`, and sometimes I get a UIKit warning about `Unbalanced calls to begin/end appearance transitions for <UIViewController: 0xblah

[2015-12-19 21:30] derrickstaten commented on #265
@Adlai-Holler this is likely due to cookie-based matching, where we use an invisible SFSafariViewController. What version of the SDK are you using? If you're on `0.11.12`, please upgrade to `0.11.13` to see if you're still experiencing issues.

You can also disable cookie-based matching completely by invoking [disableCookieBasedMatching](https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-S

[2015-12-19 21:48] Adlai-Holler commented on #265
Ah! Yeah 0.11.13 fixes it. Thanks for the quick response!

[2015-12-19 21:48] #265 closed

[2015-12-19 21:49] derrickstaten commented on #265
Excellent! @joshuafeldman thanks again for the fix here. Awesome work.

[2015-12-20 06:15] joshuafeldman commented on #265
@derrickstaten always a pleasure!

[2015-12-24 07:55] garnett opened #267 "-[BranchUniversalObject showShareSheetWithShareText] callback misunderstanding"
```showShareSheetWithShareText``` is really useful method because it simplifies presenting of branch universal object, however I doubt if ```callback``` in it's current implementation is useful. Nobody is really concerned in event where share sheet is presented: what I am interested in when sharing content is to actually catch the moment when content was shared (or failed).

This is why I propose

[2015-12-25 20:49] aaustin commented on #267
@garnett This seems like it would be useful. If you want to add in a new showShare sheet method with this callback exposed, we'd definitely give it a review. Thanks for your contribution!

[2015-12-30 20:22] francisjervis commented on #267
This would indeed be useful (if I understand your suggestion correctly). I was using this as below and depend on activity to log content shares to analytics and error to, well, log errors...

    shareViewController.completionWithItemsHandler = {(activity, success: Bool, items, error)

[2015-12-30 20:29] francisjervis opened #268 "Universal Object Spotlight methods do not include link data"
The .listOnSpotlightWithCallback method does not allow link parameters to be passed on creation, as is possible with the class method createDiscoverableContentWithTitle. This is undesirable as my content routing code depends on values being embedded in this way.

So whereas there are a variety of options for the latter, including

    Branch.getInstance().createDiscoverableContentWithTitle(String!

[2016-01-04 09:26] garnett commented on #267
As @francisjervis correctly pointed, main point of callback in sharing method is to check for error / log analytics events.

I decided to implement new methods for exposing this callback and deprecate old methods (with wrong callback triggering). It is possible to adjust old methods as well to call ```callback``` when sharing is actually finished, but I do not really see point for this because thi

[2016-01-05 20:15] marcshilling commented on #170
Had this issue too (Universal Links weren't working on cold boot)

If you're ALSO integrating the Facebook SDK, they instruct you to make the last line of your `didFinishLaunching` method:
[code]
I discovered this actually prevents the `continueUserActivity` AppDelegate method from firing on a cold boot, which breaks universal links. Changing the end of my `didFinishLaunching` to:
[code]
fixed the

[2016-01-06 20:50] oursevendev opened #272 "URL Parameter Encoding"
Using marketing URL's, any parameters that are URL encoded get replaced by a "/". Any insight on maintaining url encoding when branch converts this into NSDictionary?

Thanks!

[2016-01-07 17:59] oursevendev commented on #272
I have a temporary fix in place for our implementation needs using regex; however I feel there may be a more robust way to handle it; if not already one provided by your SDK.

Please & Thanks!

[2016-01-07 23:22] derrickstaten commented on #268
@francisjervis sorry we missed this. What parameters would you want to add? We allow you to add metadata to the BUO -- that's any key-value pair. See this example: https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/blob/master/Branch-TestBed/Branch-TestBed/ViewController.m#L36

Does this work for you?

[2016-01-07 23:29] francisjervis commented on #268
I am adding data there, however the BUO metadata is not passed to launchOptions the same way as the keys on a regular link are. So when the app launches from a Spotlight click/returns to focus, content routing based on the contents of the userInfo dict fails.

This works:

  	var params = ["exchange": self.selectedExchange.objectId!]
	Branch.getInstance().createDiscoverableContentWithTitle(exchang

[2016-01-07 23:32] derrickstaten commented on #268
So you're saying the params do not come through in the deep link handler in the same way?

Could you turn on setDebug and send us the logs for the above 2 cases? Then I can look at the differences and know what changes need to be made.

[2016-01-07 23:37] francisjervis commented on #268
This is it generating a working link, the significant key is in red

2016-01-07 18:34:20.661 TimesFree[716:263585] encoded dictionary : {"ios_bundle_id":"com.timesfree.TimesFree","app_version":"1.2","device_fingerprint_id":"141996285606533646","update":1,"os":"iOS","identity_id":"213761221684372207","sdk":"ios0.11.13","debug":1,"retryNumber":0,"branch_key":"key_live_dpazwmdoB5VkreDCtVzXsdnbbileNJp

[2016-01-07 23:41] francisjervis commented on #268
This doesn’t work (launches but doesn’t route). I see that the [exchange] key is there…

Do you want the logs from clicks on the links, too?

2016-01-07 18:39:00.393 TimesFree[727:265343] [BNCServerInterface.m:225] returned = Status: 200; Data: {
    "identity_id" = 176886685647250338;
    link = "http://tfr.link/j/wuHIus1ien";
    "link_click_id" = 212817287210607252;
    "session_id" = 213790857

[2016-01-08 21:58] derrickstaten commented on #268
Sorry, I thought I left a comment here but it doesn't seem I did.

I can't see any highlighting in red -- I suspect you replied via email. Can you tell us what key?

Also, can you turn on setDebug and send us the logs for the working case and the failing case? In the failing case, the key should either be (a) not present, or (b) in the wrong place. Then I can work to figure out why.

[2016-01-08 22:13] francisjervis commented on #268
Ah, got it! Logic issue in my implementation (testing for og_description, which wasn’t included in my BUO creation code). Sorry about that!!
Thanks
Francis

[2016-01-08 22:25] derrickstaten commented on #268
Oh awesome! I'm glad you figured it out :+1:. Let us know if you have other questions about BUO -- we want to make sure everything is functioning smoothly there.

[2016-01-08 22:25] #268 closed

[2016-01-12 11:43] lolgear opened #274 "Is it possible to use library in extensions?"
Is it possible to use library in App extensions?

[2016-01-12 16:50] aaustin commented on #274
@lolgear Unfortunately, there will be a number of build errors if so. However, if it's possible to modify the core library for extension use, we'd welcome the contribution. Realistically, we won't be able to dive in for a month or two on that project.

[2016-01-12 17:17] aaustin commented on #274
We're happy to make ourselves available for questions if you want to tackle it!

[2016-01-14 07:41] SamClewlow opened #277 "Deep link handler never called when initializing session with user activity"
### Test Conditions
- iOS 9.2
- iPhone 6s Plus
- Branch Test Key
- SDK v0.11.14

### Scenario
The app is launched from a cold start via a deep link. The `launchOptions` passed to
[code]
contain an  `NSUserActivity`, shown below:

[code]

When calling

[code]

and passing launch options that contain the user activity, the `callbackWithParams` block is never called. Looking at the Branch code, sessi

[2016-01-14 08:08] aaustin commented on #277
@SamClewlow Do you have the code in your continueUserActivity and handleDeepLink? Init session depends on those methods being called when there are launch options like that. Here's the docs:
1. https://dev.branch.io/recipes/add_the_sdk/ios/#handle-deep-link
2. https://dev.branch.io/recipes/add_the_sdk/ios/#continue-user-activity

[2016-01-14 08:11] SamClewlow commented on #277
@aaustin Hi Alex,

Thanks for coming back so quickly, I find that when launching from a cold start with a deep link

[code]

is never called.

[2016-01-16 09:52] huongtran84 opened #279 "not can routing user when kill app"
If my app is launched it no problem with universal link and deeplink but when I kill app and click on deeplink app launch but it can not route user maybe inIntSession is not callback

[2016-01-16 19:25] aaustin commented on #279
Hi @huongtran84 - I just tested this with our testbed. It appears to be working correctly, where continueUserActivity is called from first open. Do you have the code in your continueUserActivity and handleDeepLink? Init session depends on those methods being called when there are launch options like that. Here's the docs:
1. https://dev.branch.io/recipes/add_the_sdk/ios/#handle-deep-link
2. https:

[2016-01-16 19:27] aaustin commented on #277
It seems a new issue just now reporting the same thing. With our testbed app (in this repo https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/blob/master/Branch-TestBed/Branch-TestBed/AppDelegate.m), I'm unable to reproduce. If you're looking at the logs, you have to use the device manager instead of the Xcode terminal since it won't connect to Xcode with an externally triggered app la

[2016-01-17 07:10] SamClewlow commented on #277
Thanks @aaustin

I've looked into this more, and resolved the issue.

[code]

was returning `NO` (sigh), so

[code]

was never called.

The issue in my case was directly returning the result of the Facebook SDK call

[code]

which returns NO as the deep link is not a Facebook one.

I really appreciate your help, and hope this answer might help others experiencing similar issues!

Cheers
Sam

[2016-01-17 07:14] SamClewlow commented on #279
Hi @huongtran84, have you checked that your app delegate method

[code]

returns `YES`?

I had a similar issue, which is resolved, see the link here - Issue: https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/issues/277 .
Sam

[2016-01-17 10:24] #279 closed

[2016-01-17 10:26] #277 closed

[2016-01-20 00:41] derrickstaten commented on #272
@oursevendev could you provide an example? That will help us isolate where the issue is occurring and determine the best fix.

[2016-01-20 00:42] derrickstaten commented on #267
Thanks @garnett!

[2016-01-20 00:42] #267 closed

[2016-01-22 00:31] oursevendev commented on #272
@derrickstaten sure, here's a more detailed explanation:
https://bnc.lt/a/key_live_{our_account_livekey}?feature=marketing&channel=email&agentKey=9941356&el=~~{urlEndodedToken}~~

"el=" (**encoded login** is the parameter that we have generated by our system and is url encoded): {
    "$one_time_use" = 0;
    "+click_timestamp" = 1453422181;
    "+clicked_branch_link" = 1;
    "+is_first_session"

[2016-01-22 06:51] shrutika229 opened #281 "I want to add two links in the ShareSheetStyle part of branch io one of details of the post and second for the playstore link, how to do this in android ? Please help me as I am working on this since last week."
final LinkProperties linkProperties = new LinkProperties()
                            .setChannel("facebook")
                            .setFeature("sharing")
                            .addControlParameter("id",""+id)
                            .addControlParameter("$desktop_url",share_link)
//                            .addControlParameter("$android_deeplink_path", "Download App -https://p

[2016-01-28 11:24] serluca commented on #254
@derrickstaten can you update the documentation with this feature?

[2016-01-28 17:43] derrickstaten commented on #254
@serluca you're right, we'll need to find a way to document this. In the meantime, see this comment on the PR: https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/pull/255#issue-121623125

[2016-01-28 23:27] josh-fuggle commented on #242
Hi @aaustin, just getting back to this issue now. I was about to fork and start a new PR, but then noticed that someone already has a PR to fix this issue! Will wait until it has been merged in then.

https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/pull/270

[2016-01-29 22:17] welshm opened #284 "Universal Links can be dropped by Branch"
The universal link passed into the application sometimes does not get passed to the Branch handler (initSessionWithLaunchOptions:andRegisterDeeplinkHandler:).

The following race condition exists:

  1. Initializes when the application resumes. This can happen before the universal/deeplink param is set. A init request is sent.

  2. The universal/deeplink is set in BNCPreferenceHelper

  3. The re

[2016-01-29 22:25] derrickstaten commented on #284
@welshm could you provide (a) the link you're clicking, and (b) the logs from setDebug (https://dev.branch.io/recipes/testing_your_integration/ios/#use-setdebug-to-simulate-fresh-installs)? if you're worried about sharing the latter publicly, please send to support@branch.io.

Please also include exact steps to reproduce.

That will help us try to reproduce.

Currently I've never seen this and I'v

[2016-01-30 16:52] welshm commented on #284
I contacted support as we have concerns sharing publicly

[2016-02-03 20:05] #171 closed

[2016-02-03 20:08] ahmednawar commented on #207
@rishabhtayal Unfortunately, we won't be able to add this functionality in the near future but you are welcome to open a pull request with a proposed solution.

[2016-02-03 20:08] #207 closed

[2016-02-03 20:09] #210 closed

[2016-02-03 20:16] ahmednawar commented on #272
@oursevendev thanks for letting us know. Can you send us a concrete string where this is happening -- the value that you are putting in the marketing link, what value you are getting, and what you expect to get passed in.

Also, would be great if you could share with us your workaround.

[2016-02-03 21:40] derrickstaten commented on #284
@welshm I can reproduce this with AirDrop when the app is in the foreground. Unfortunately we currently don't support continueUserActivity while the application is already active and in the foreground. I'm worried that there may not be a good fix that doesn't result in breaking more heavily used uses of continueUserActivity, like Universal Links and Spotlight Search.

Outside of AirDrop, I've been

[2016-02-03 22:09] derrickstaten commented on #284
@welshm there is no easy fix here, unfortunately. Long-term, we should probably move away from looking at whether an app is active to looking at whether an app is in the foreground, but that will require a substantial rewiring of our SDK and a lot of testing to make sure we handle all possible scenarios, as it would re-open race conditions that we've addresses previously.

TL;DR the inability to s

[2016-02-03 23:48] ahmednawar commented on #281
@shrutika229  please submit a ticket via support@branch.io. This is our iOS SDK repo, whereas your question is about Android.

[2016-02-03 23:49] #281 closed

[2016-02-05 19:29] gongqinwei opened #286 "Can't showShareSheet from UIBarButtonItem in iPad"
The BranchUniversalObject method `- (void)showShareSheetWithLinkProperties:(BranchLinkProperties *)linkProperties andShareText:(NSString *)shareText fromViewController:(UIViewController *)viewController andCallback:(callback)callback;` only presents popover from a `sourceView`.

This is fine with iPhones. But for iPads, this would blindly present the popover from the top-left corner of the present

[2016-02-08 12:17] turok commented on #277
Have the same issue, Thanks, @SamClewlow!

[2016-02-08 17:35] derrickstaten commented on #277
@turok

Do you by any chance use the Facebook SDK? If so, do you let it handle the return statement in `application:didFinishLaunchingWithOptions:`?

If so, Facebook will sometimes return NO at the end of that method when a Universal Link is clicked. When it does this, it causes `application:continueUserActivity:restorationHandler:` to *not* be invoked, and then Branch fails to initialize.

If you

[2016-02-10 03:07] joshuafeldman opened #287 "Branch links generated from the Android SDK are not working when opening on iOS without the application installed"
We just started debugging this issue, but I thought it would be a good idea to create a ticket in case it is a known issue or guidance can be provided.

Basically our Android client is generating the link through the Branch SDK and texting it to an iOS device. We tap the link on the iOS device expecting it to route to the App Store but Safari just displays an error (most likely in the redirect). A

[2016-02-10 03:09] joshuafeldman commented on #287
@derrickstaten if you're around we could use some insight. Thanks!

[2016-02-10 03:11] derrickstaten commented on #287
@joshuafeldman can you tell me:

1. what is the link
2. what OS version you're on

this isn't really an iOS SDK issue, so it may be best discussed via support@branch.io

[2016-02-10 03:34] joshuafeldman commented on #287
@derrickstaten the link is http://dl.flipagram.com/mnnh/Y6T2wBcgQq which is generated through our Android client. Maybe if you can tell me what might be wrong with the link it will help me debug it.

[2016-02-10 03:36] joshuafeldman commented on #287
Maybe I should have opened the ticket in the Android repository

[2016-02-10 03:40] derrickstaten commented on #287
@joshuafeldman it's your $ios_url -- that's supposed to be an HTTP url that we fall back to when the app is *not* installed. This should definitely not be a URI like `myapp://deeplink-path`.

--

In order to open the app when it is installed, you'll need to set up Universal Links. As of iOS 9.2, there is no longer a way to try to open the app via URI, then fall back to the App Store. So we've reco

[2016-02-10 03:52] #287 closed

[2016-02-10 04:06] joshuafeldman commented on #287
@derrickstaten turns out the Android client was actually overriding the App Store URL to a deep link which was causing the issue. Thanks.

[2016-02-12 05:37] urbanappetite commented on #254
Bump on the docs - so glad I could look through the source to figure out the issue we were having

[2016-02-14 18:17] aepryus opened #290 "Branch assumes AppDelegate will have a property called window and crashes if not."
The following change at line 107 in BNCStrongMatchHelper.m fixes the issue:

`		self.secondWindow = [[UIWindow alloc] initWithFrame:[[[[UIApplication sharedApplication] windows] firstObject] bounds]];
`

[2016-02-17 04:07] derrickstaten commented on #290
@aepryus do you have a stack trace of the crash?

Thank you for reporting this! Would you be willing to open a pull request against our repo? Otherwise we can do so.

Thanks again!

[2016-02-17 04:18] ahmednawar commented on #286
Thanks @gongqinwei for reporting this and providing a solution! We'll test this and include it in the upcoming releases.

[2016-02-17 16:52] aepryus commented on #290
Sure, I tried to create a pull request earlier, but it wouldn't let me check in a new branch.  I'm dealing with an unrelated minor emergency at the moment, but after that I'll submit a PR.  Thanks a lot.

[2016-02-18 18:03] aepryus commented on #290
I'm having some difficulty pushing my branch up.  It's probably some configuration error on my end, but just in case, do I need any permissions to push a branch to the repository?

I'm still fighting some unrelated fires, but I'll try to get some time tonight to work on this again.

[2016-02-18 18:14] derrickstaten commented on #290
You'd have to push up a branch on a forked version of the repo, rather than pushing to the repo directly. Would you prefer we add this in? It should be easy to verify and add on our end.

[2016-02-19 04:32] aepryus commented on #290
Thanks for your hint.  Submitted the PR.

[2016-02-22 22:51] ahmednawar commented on #272
@oursevendev we can't selectively decode some values. We will always decode any query parameters. You are always welcome to re-encode on the client.

[2016-02-22 22:51] #272 closed

[2016-02-23 00:27] ahmednawar commented on #286
@gongqinwei we fixed this problem on PR #296. Will ship it on the next release.

[2016-02-23 00:27] #286 closed

[2016-02-24 17:12] staminajim opened #297 "Deprecated completionHandler warning if deployment target is iOS 8 or higher"
If your deployment target is iOS 8 or higher, Xcode throws a warning for this line:
https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/blob/master/Branch-SDK/Branch-SDK/BranchUniversalObject.m#L162
since it's been deprecated.  I'll throw up a pull request soon - it should just be a matter of suppressing the warning since the new not deprecated completionHandler is handled directly abov

[2016-02-24 17:15] ahmednawar commented on #297
@staminajim thanks for noting that..looking forward to the PR!

[2016-02-24 17:23] staminajim commented on #297
@ahmednawar Cheers, just added the pull request.

[2016-02-26 19:13] illonks opened #300 "Links not working when third-party app opens with Safari View Controller"
When I open a branch generated link in a third-party app, if that app opens the link using Safari View Controller, the banner that shows up in Safari to open the app if it exists doesn't show up anymore and the link won't auto-open the app (this is all when the app is installed on the phone). However, using another app where opening the link doesn't open SVC, it works as advertised - the app is op

[2016-02-26 21:40] ahmednawar commented on #300
@illonks-- We observed that if you click a Universal Link in an app where it shows a UIWebView or SFSafarViewController, it doesn’t work. It is a limitation by Apple. If the app calls application:OpenURL it will work correctly.

I am not sure though why the smart banner doesn’t show up. Could you please send us steps to reproduce: which app you are using and a link to test with? If you’d rather no

[2016-02-26 22:03] ahmednawar commented on #300
@illonks Thanks for sending the info.

I reproduced the bug on my end. Unfortunately both problems lie in Apple's hands. We don't control Universal Links routing or displaying the banner. Hope I could help here :(

Hopefully they fix this in the upcoming releases.

[2016-02-26 22:33] #300 closed

[2016-02-29 14:31] teodora92 opened #301 "showShareSheetWithLinkProperties triggers deep link behaviour on app resume with some applications"
iOS version: 9.2.1

Production environment: debug and release

Steps to reproduce:
1. create a BranchUniversalObject
2. call the showShareSheetWithLinkProperties method of the universal object
3. share with the Notes or Reminders iOS applications
4. Press home button
5. Resume application
6. The callback method of the Branch instance is called with the data of the universal object that was previou

[2016-02-29 14:36] teodora92 opened #302 "Share with Telegram or Skype causes deep linking behaviour when resuming app"
iOS version: 9.2.1

Production environment: debug and release

Steps to reproduce:
1. create a BranchUniversalObject
2. call the showShareSheetWithLinkProperties method of the universal object
3. share with the Telegram or Skype applications
4. Open the link from Telegram or Skype. As per the documentation, these links will not work with iOS 9.2.1 due to the fact that the applications do not suppo

[2016-03-01 21:11] ahmednawar commented on #302
@teodora92 thanks for sending the steps.

What you are seeing is the expected behavior because you clicked on the link after sharing. This is similar to a fresh install case where you click on a link, get routed to the App Store, install the app then open it.

It would have been a bug if you shared a link, resumed the app and got deep linked with the link you just shared. This happens with Faceboo

[2016-03-01 21:12] ahmednawar commented on #301
@teodora92 I answered on #302..closing here

[2016-03-01 21:12] #301 closed

[2016-03-07 20:26] tielur opened #305 "initSessionWithLaunchOptions triggered twice"
If I click a deep link with my app not installed, then install the app and click the same deep link again the `andRegisterDeepLinkHandler` gets called twice.
 `- (void)initSessionWithLaunchOptions:(NSDictionary *)options andRegisterDeepLinkHandler:(callbackWithParams)callback;`

Steps to Reproduce:
1. Click a deep link, get redirected to the app store
2. Install the app
3. Without opening the app

[2016-03-08 00:06] #297 closed

[2016-03-08 03:50] #302 closed

[2016-03-09 18:59] zhens opened #309 "Please give a parameter to mute [Branch Warning] in using test key in test binary."
It keeps printing the warning, it is a little verbose for release engineer.

[2016-03-09 20:25] ahmednawar commented on #305
@tielur I couldn't reproduce on my end. Which iOS version are you testing on? Also, do you mind sending the link you are using? If you are uncomfortable sharing data here, please reach out to support@branch.io and we'll take it from there. Thanks!

[2016-03-10 12:04] hovox opened #310 "Crash on iOS 8.1 Simulator when using carthage"
The crash is also happening on device with iOS 8.1 .

dyld: Symbol not found: ___NSDictionary0__
 Referenced from: /Users/davitpiloyan/Library/Developer/CoreSimulator/Devices/64CD8679-1086-4EF9-AEEA-F885B301259B/data/Containers/Bundle/Application/AB072552-A5C6-4453-8623-94F461A95128/PicsArt.app/Frameworks/BranchSDK.framework/BranchSDK (which was built for iOS 9.2)
 Expected in: /Library/Developer/

[2016-03-10 16:02] hovox commented on #310
I think it maybe because target version for framework is set to 9.2, adding `IPHONEOS_DEPLOYMENT_TARGET='8.0'` into build_framework.sh file may fix the issue

[2016-03-10 16:40] ahmednawar commented on #310
@hovox Thanks for reporting this. You are absolutely correct! I've updated the framework now. Could you please update? If you have any problems, please let me know.

Thanks again!

[2016-03-10 17:04] hovox commented on #310
@ahmednawar  Seems fixed. Thanks.

I have noticed that there is no carthage xCode project in the BranchMetrics repository, am I right ?
I'm wandering why are you not pushing carthage xCode project in this repo?

[2016-03-14 10:41] gapl opened #312 "Crash when instantiating `SFSafariViewControllerClass`"
We are noticing the following crashes in our crash logs:

Crashing thread (background thread):

[code]

Main thread:

[code]

Line in question is `UIViewController * safController = [[SFSafariViewControllerClass alloc] initWithURL:[NSURL URLWithString:urlString]];` with a `EXC_BAD_ACCESS KERN_INVALID_ADDRESS` crash.

[2016-03-14 16:19] derrickstaten commented on #312
@gapl I apologize for the problems. The short term solution is to disable cookie-based matching. Before invoking Branch initSession, call `[branch disableCookieBasedMatching];` This will tell Branch not to use the SFSafariViewController for 100% matching.

Most partners have not had a problem with this, but it's possible that certain window hierarchy changes could cause problems. If you have a sam

[2016-03-14 16:32] gapl commented on #312
I don't know how to manually reproduce this problem, so there is sadly no sample project to provide. But thank you for the hint about disabling cookie-based matching. Will do that 👍

[2016-03-14 23:43] ahmednawar commented on #310
@hovox Sorry for the late reply. The reason is that I forgot :) You will find the files now under `Carthage` on `master`

I am closing here. Feel free to reopen if you encounter any issues. Thanks again for the feedback!

[2016-03-14 23:43] #310 closed

[2016-03-15 09:00] hammadjamal commented on #277
Hi,
I am having issue with this same thing.
I am also doing this in my `application:didFinishLaunchingWithOptions:` method.
[code]
but as said earlier before initializing my branch session that is
[code]
I have added
[code]
But still my registerDeepLinkHandler is not working and I am not recieving any parameters.
But if I Return YES instead of
[code]
in `application:didFinishLaunchingWithOptions:`

[2016-03-15 16:19] derrickstaten commented on #277
@hammadjamal that's odd, as `accountForFacebookSDKPreventingAppLaunch` should properly handle this. Could you send over your code for `application:didFinishLaunchingWithOptions:` and `application:continueUserActivity:restorationHandler:` to support@branch.io? Then we can take a look. If you have a sample project, all the better.

[2016-03-16 10:19] mhemmings opened #313 "NSInvalidArgumentException in BranchOpenRequest.m"
We're seeing a crash with some users.

[code]

[code]

[2016-03-16 16:04] ahmednawar commented on #313
@mhemmings Thanks for reporting. When was the latest crash log you've received?

[2016-03-16 16:10] mhemmings commented on #313
@ahmednawar MAR 15 2016 09:50:02 (UTC)
Had 19 crashes so far

[2016-03-16 16:29] aaustin commented on #313
More questions to help us determine what might be happening:
- When did they start?
- What SDK version are you running?
- Are you using Crashlytics? Can you send the report link to support@branch.io?

[2016-03-16 16:41] mhemmings commented on #313
As far as I can see, all crashes were 15th March.
Using Branch 0.11.16
Crashlytics report sent :)

[2016-03-20 13:47] arrows opened #316 "Callback comes back in the background - never called in the foreground"
Hi,

I noticed that if I launch my app (from the _background_), and then put it very quickly in the background again, the branch callback (initSessionWithLaunchOptions) is being called in the background.
That's OK, but the problem is that when the app comes back the next time to the foreground - the callback is never called.

Sounds like a bug to me
(The current workaround is that I manage logic f

[2016-03-21 16:04] aaustin commented on #316
@arrows To confirm, waiting a little bit longer before you put it in the background the first time will correctly call init upon return?

[2016-03-21 16:47] arrows commented on #316
Correct.
This only occurs if I go to the background very quick after launch.

On 21 Mar 2016, 18:04 +0200, Alex Austin<notifications@github.com>, wrote:

[2016-03-22 23:16] joshuafeldman opened #318 "BranchUniversalObject defines an enum inside of it's interface which is making it inaccessible in Swift 2.2"
It seems that Swift 2.2 does not play so nice with enumerations defined inside of an objective-c interface. It looks like it is making it private. `typedef NS_ENUM(NSInteger, ContentIndexMode)` should be moved outside of the `@interface BranchUniversalObject : NSObject`

[2016-03-22 23:25] ahmednawar commented on #309
@zhens Thanks for pointing this out..will be adding this in our next release

[2016-03-23 00:07] #312 closed

[2016-03-23 00:12] ahmednawar commented on #305
@tielur any updates on this?

[2016-03-23 00:19] joshuafeldman commented on #318
Pull request https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/pull/319

[2016-03-23 00:22] ahmednawar commented on #318
@joshuafeldman Nice find!

Thanks a lot for the PR. Appreciate it! will test it and push it with our next release

[2016-03-23 02:23] ahmednawar commented on #313
@mhemmings since we moved the conversation to support, I am closing here. Feel free to open if you have any issues.

[2016-03-23 02:23] #313 closed

[2016-03-23 16:52] joshuafeldman opened #320 "Seeing a web view that says "Branch View Test" each time I launch my application after updating our pod to the latest"
I don't really understand what this is. It just started appearing after I updated our pod to the latest release. Some insight to what this is would be helpful and whether or not I should be seeing it.

![image](https://cloud.githubusercontent.com/assets/753652/13993299/02324490-f0dd-11e5-98bd-2132de1e217c.png)

[2016-03-23 16:59] derrickstaten commented on #320
@joshuafeldman that's really embarrassing. We'll get this fixed right away. More to come.

[2016-03-23 17:06] derrickstaten commented on #320
@joshuafeldman did you update yesterday between 4:30pm and 4:45pm PST?

Can you try clearing the Cocoapods cache and re-pulling the latest?

[2016-03-23 17:10] derrickstaten commented on #320
@joshuafeldman we're unable to reproduce on our end. Can you send us your entry for Branch in the Podfile?

[2016-03-23 17:27] joshuafeldman commented on #320
@derrickstaten I am actually using my fork which I synced to master yesterday until you guys bring in my pull request for Swift 2.2

`pod 'Branch', :git => 'https://github.com/joshuafeldman/iOS-Deferred-Deep-Linking-SDK.git', :commit => 'a5274874ec114d8c984e2cc8e8b6d24b9d11b1d3'`

[2016-03-23 17:28] joshuafeldman commented on #320
@derrickstaten it actually looks like my fork is now behind. Did you guys fix this yesterday?

[2016-03-23 17:30] ahmednawar commented on #320
@joshuafeldman yeah there was a 15-minute window when the faulty code was live but we fixed it. Could you please update to latest master and see if this solves your issues? Sorry again for the headache

[2016-03-23 17:42] joshuafeldman commented on #320
@derrickstaten @ahmednawar confirmed that it was just bad timing when I synced our fork to your master branch. I will go ahead and close this ticket and once https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/issues/318 is addressed I will switch back to your repository. Thanks guys for responding quickly as always 👊

[2016-03-23 17:42] #320 closed

[2016-03-23 17:43] ahmednawar commented on #320
@joshuafeldman awesome! Always happy to help.

[2016-03-24 19:44] SoCohesive commented on #305
@ahmednawar I am experiencing the same issue. I am using iOS 9.2.1

[2016-03-24 21:29] derrickstaten commented on #305
@SoCohesive can you send over the issue Ahmed asked for? Can you provide the link you're clicking? Could you also turn on setDebug (https://dev.branch.io/getting-started/integration-testing/guide/ios/#use-debug-mode-to-simulate-fresh-installs) and send us the logs? If it makes more sense, you can send them to support@branch.io.

[2016-03-24 22:19] tielur commented on #305
@ahmednawar sorry I've been fairly busy lately, haven't been checking Github notifications. I was testing on iOS 9+ as well. I found a work around but I'd have to go dig back into my iOS application on what exactly that was. I'll try to get more information posted here within the next day or so.

[2016-03-27 15:55] Alkalouti commented on #316
Hi All,

Any update for this issues.

+1

[2016-03-28 13:42] imrihe opened #323 "Promo code"
validatePromo and applyPromo are not in the documentation of the SDK

[2016-03-30 22:48] ahmednawar commented on #323
@imrihe We have inline documentation in `Branch.h` but nothing in our dev portal. They are deprecated methods as per our warning.

[2016-04-01 01:18] ahmednawar commented on #318
@joshuafeldman the new SDK is out with your PR, thanks again!

closing here, if you have any issues please don't hesitate to open new issues..cheers!

[2016-04-01 01:19] ahmednawar commented on #309
@zhens We've just pushed a new release with this feature...the method is called suppressWarningLogs on the Branch object.

Cheers!

[2016-04-01 01:19] #309 closed

[2016-04-01 11:16] Zic0 commented on #305
@tielur During your onboarding process do you ask for permissions ?
It might be that https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/issues/210.

[2016-04-01 23:16] tielur commented on #305
@Zic0 my app is structured very similar to how the [Branchster iOS Example App](https://github.com/BranchMetrics/Branch-Example-Deep-Linking-Branchster-iOS) is structured.

[code]

[2016-04-01 23:22] tielur commented on #305
@Zic0 ahh if you ask for any iOS permissions it triggers #210

Yes I am asking for location permissions during the on boarding process, and I can confirm that after you allow this permission the `initSessionWithLaunchOptions` method gets called. So it may have been related to that.

[2016-04-04 23:23] ahmednawar commented on #305
@tielur does the solution provided in #210 work for you?

[2016-04-04 23:51] ahmednawar commented on #316
@arrows @Alkalouti unfortunately this an extreme edge case that would require a substantial redesign of the SDK that we can't support. Sorry about that. I am closing here but feel free to reopen if you have any updates. Cheers!

[2016-04-04 23:51] #316 closed

[2016-04-04 23:55] ahmednawar commented on #323
@imrihe I am closing here. If you have any further questions, feel free to reopen.

Cheers!

[2016-04-04 23:55] #323 closed

[2016-04-06 00:16] welshm commented on #284
This was closed - was it fixed by a change?

[2016-04-06 00:21] ahmednawar commented on #284
No, but this will require a large rewrite of the SDK which won't happen anytime soon.

[2016-04-06 18:12] dskatz22 opened #332 "Conflict with Fabric"
The Branch Pod includes Fabric.h which conflicts with the Fabric framework,  causing the compiler to error on Fabric.with([Crashlytics()]).  Any suggestions on how to resolve

[2016-04-06 18:15] ahmednawar commented on #332
@dskatz22 Thanks for bringing this to our attention. I'll look into this and update you with a solution.

[2016-04-06 18:21] dskatz22 commented on #332
fwiw downgraded to 0.11.18, and is working

[2016-04-07 09:46] vondiplo opened #333 "Getting notified without polling"
How can I get notified when a referred friend has accepted the invitation and installed the app (credit is due) without polling the SDK ? Is there any notification mechanism?

[2016-04-07 10:57] everhardt opened #334 "Calls to userCompletedAction containing \\ in an element of the withState-dictionary do not get through"
Example:

[code]

This call does not appear in the dashboard under Events, nor does it trigger the webhooks

[2016-04-08 13:43] rsahu34 commented on #256
Hi,
I am facing a issue with branch universal deep linking, when i clicking a link its redirect to my app through Safari browser. I flowed the all step on provided document " https://dev.branch.io/getting-started/universal-app-links/guide/ " .
And also followed this link "https://dev.branch.io/getting-started/universal-app-links/support/#troubleshooting-universal-links".

I've added the entitlemen

[2016-04-08 15:13] ahmednawar commented on #256
@rsahu34 could you please send us your Branch key and the link you are using to support@branch.io? Also, please include the Github issue# as well. Thanks!

[2016-04-11 15:53] andiradulescu commented on #332
Happens to me also.

​*Compile Error: definition of 'Fabric' must be imported from module 'Branch.Fabric' before it is required*​
[code]

[2016-04-12 00:15] joshuafeldman commented on #318
@ahmednawar what release will this go in? I see your latest `0.12.0` does not have it.

[2016-04-12 00:20] ahmednawar commented on #318
@joshuafeldman weird! I have merged your PR, you can see the commit message and the change here as well https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/blob/master/Branch-SDK/Branch-SDK/BranchUniversalObject.h#L21

How did you get the SDK? Pods, Carthage, Source?

[2016-04-12 03:46] joshuafeldman commented on #318
@ahmednawar we are using the pod. You latest release is 11 commits behind master https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/releases/tag/0.12.0

[2016-04-12 21:17] ahmednawar commented on #318
@joshuafeldman yeah there are usually commits for Carthage and there are some commits for CircleCI config. Unfortunately I merged your PR along with the Carthage ones which was after the release. My apologies!

This means it will go in our next release. You could point to a specific commit (the merge one) in your Podfile as a temp workaround. Sorry about that.

[2016-04-13 03:33] hamdullahshah commented on #332
import the fabric after the branch.
e.g
`
#import <Branch/Branch.h>
#import <Fabric/Fabric.h>
`

[2016-04-13 19:55] ahmednawar commented on #332
@dskatz22  @andiradulescu I am unable to reproduce this on my end..I created a vanilla project with Pods and Fabric but didn't get any errors. Do you have any steps to reproduce this?

[2016-04-13 19:58] andiradulescu commented on #332
@ahmednawar it seems that @hamdullahshah is right. In order to get the error, you need to import the headers like this:

`#import <Fabric/Fabric.h>`
`#import <Branch/Branch.h>`

[2016-04-13 20:03] ahmednawar commented on #332
This is very weird..this is the beginning of my AppDelegate and it still compiles and runs..I also changed the order but didn't make any difference

[code]

[2016-04-13 20:23] andiradulescu commented on #332
I tried reproducing it again, and it needs to be exactly like this (mind the Crashlytics one):

[code]

[2016-04-13 20:32] ahmednawar commented on #332
It still compiles for me..if you have the capacity can you try creating a simple project with Fabric and Branch and see if you get the same behavior?

[2016-04-13 21:38] dskatz22 commented on #332
On my end, I have a Swift project, I'll try to create an empty project to repro this weekend

[2016-04-14 15:40] hamdullahshah commented on #332
It's because "Branch" also have a "Fabric.h" file so it get conflicts with that. Check the "Preprocess" file of your app delegate

[2016-04-17 23:53] ahmednawar commented on #332
@dskatz22 since you are using Swift, do you use Bridging headers or add `use_frameworks!` to your Podfile?

[2016-04-20 21:21] briankracoff commented on #332
We're having the same issue since upgrading to `0.12.0`. We have a swift project and `use_frameworks!` so we're calling `import Fabric` in one file and `import Branch` in a completely separate file.

[2016-04-26 15:36] asafco4 opened #338 "Error building IOS"
I get this error when building using Ionic package:

=== BUILD TARGET WinnerZ OF PROJECT WinnerZ WITH CONFIGURATION Debug ===

Check dependencies
Code Sign error: No matching provisioning profiles found: None of the valid provisioning profiles allowed the specified entitlements: com.apple.developer.associated-domains.
ated-domains.

** BUILD FAILED **

The only place I could find the string: "com.

[2016-04-26 16:15] Govindakarthikeyan opened #339 "Clicking the Short URL generated by Branch.io is not opening my iOS App"
Hello,

I have integrated the Branch SDK through Cocoapods in my iOS App.

Branch.io settings:

Settings -> Link Settings -> I have checked these three options,
     1. Always try to open app
     2. I have an iOSApp -> Updated the values of "iOS URI Scheme" & "Custom URL"
     3. Enable Universal Links -> Updated the values of "Bundle Identifier" & "Apple App Prefix"

Finally, I got a short URL g

[2016-04-26 16:17] ahmednawar commented on #339
@Govindakarthikeyan could you please send us your branch key? If you prefer, you can also send it to support@branch.io and we'll take it from there.

[2016-04-26 16:19] Govindakarthikeyan commented on #339
Hi ahmednawar,

Here is my branch key "key_live_iom1TfqjE2ONMpUY9EocahkcCtnckLq2"

[2016-04-26 16:23] ahmednawar commented on #339
@Govindakarthikeyan I see that you sent a ticket to support with the same issue, let's continue the discussion there since there is more info.

[2016-04-26 23:38] asafco4 commented on #338
certificate was not valid due to missing intermediate and root CAs.
Now it's working :)

[2016-04-26 23:38] #338 closed

[2016-04-28 19:01] #339 closed

[2016-04-29 00:11] ahmednawar commented on #318
@joshuafeldman we've pushed a new release, can you update and let me know how it goes? Sorry for all the trouble.

[2016-04-29 00:13] ahmednawar commented on #333
@vondiplo Sorry for the late response. The best way is to use a [webhook](https://dev.branch.io/getting-started/webhooks/guide/) which will send these events to your backend and you can decide what's the best way to use this data.

[2016-04-29 00:20] ahmednawar commented on #334
@everhardt Sorry for the late reply. Unfortunately you can't use these characters for events.

[2016-04-29 00:21] ahmednawar commented on #290
@aepryus Sorry this took a long time, this was merged in today. We submitted another PR for formatting reasons. Thanks again! Closing here, feel free to reopen if anything comes up

[2016-04-29 00:21] #290 closed

[2016-04-29 00:23] ahmednawar commented on #305
@tielur any updates here? would love to help

[2016-04-29 00:56] tielur commented on #305
@ahmednawar I resolved this in a different way, but it's definitely related to #210 when I was experiencing it.

[2016-04-29 03:16] ahmednawar commented on #305
@tielur great. I'll close here. Feel free to reopen if anything comes up

[2016-04-29 15:05] everhardt commented on #334
Strange, I just found out that this is now fixed..

[2016-04-29 15:10] everhardt commented on #334
That's pretty weird: the withState parameter can therefore never contain uncontrolled input. Which encoding should I apply to guarantee that a random string is valid?

[2016-04-29 17:12] sojanpr commented on #334
@everhardt  Can you please use JSON Encoding for the strings you send with `userCompletedAction`. So in the above case `\\\\` instead of `\\` . Internally branch is converting the dictionary to Json and seems   like `\\` is invalid

[2016-04-29 17:14] everhardt commented on #334
Okay, thanks!

[2016-04-29 17:14] #334 closed

[2016-04-29 17:42] #318 closed

[2016-05-04 21:02] ahmednawar commented on #333
@vondiplo I am closing here. If you have any questions, feel free to reopen.

Cheers!

[2016-05-04 21:02] #333 closed

[2016-05-05 09:28] vriznychok opened #343 "Wrong data received on cold start of app"
I have a few controller registered for key in didFinishLaunchingWithOptions method
But when I do following steps - I receive wrong data, and controllers aren't presented.

1. Kill app
2. Click link, example: https://bnc.lt/qyyn/rI5hHFBMXs , app should present FirstController from this link
3. Application opens, but controller doesn't presented.
4. Kill app
5. Click link to another controller, http

[2016-05-05 16:09] ahmednawar commented on #343
@vriznychok do you pass `launchOptions` to `initSessionWithLaunchOptions` in your `AppDelegate`?

[2016-05-05 20:02] vriznychok commented on #343
Of course

I've set up everything like in testbed app

[2016-05-05 20:38] ahmednawar commented on #343
@vriznychok so can you send us the logs after calling `setDebug` before `initSession`? If you prefer, you can email them to support@branch.io and reference the issue #

[2016-05-05 20:57] vriznychok commented on #343
@ahmednawar
Ok , i'll send you

[2016-05-12 20:55] dskatz22 commented on #343
are there any updates on this issue, im seeing something very similar

[2016-05-12 21:18] ahmednawar commented on #343
@dskatz22 we've moved the discussion over to support@branch.io
Are you using Facebook's SDK and return in the AppDelegate using their methods?

[2016-05-12 21:22] dskatz22 commented on #343
yes i am, can you send me the link to the discussion?

[2016-05-12 21:39] ahmednawar commented on #343
@dskatz22 It is an internal email thread and Facebook actually hasn't come up yet..To fix your issue please take a look at https://dev.branch.io/getting-started/universal-app-links/support/ios/#using-facebooks-sdk

[2016-05-13 00:13] tyten commented on #332
I, too, am running into a similar issue with the inclusion of Fabric in this. Also using `use_frameworks!`

[2016-05-13 00:14] ahmednawar commented on #332
@tyten what kind of error are you getting?

[2016-05-13 00:22] tyten commented on #332
@ahmednawar I'm hitting a wall with the error `FABKitProtocol.h not found`

Downgrading to 0.11.10 let the app compile. I have Fabric, Branch, and Mopub (which also includes Fabric) in the podfile.

[2016-05-13 01:41] derrickstaten commented on #332
@tyten I saw this issue an hour ago. It happened to me because I imported the Branch SDK but not the Fabric folder. An image for reference:
![screen shot 2016-05-12 at 6 40 19 pm](https://cloud.githubusercontent.com/assets/5950251/15235534/0b8befda-1871-11e6-910e-2b7666c948ca.png)

So I removed the SDK. Then I reimported the parent folder `Branch-SDK` which contains the child folders `Branch-SDK`

[2016-05-13 01:42] derrickstaten commented on #332
Are you importing the source files manually, using Cocoapods, or importing the .framework? And are you using Objective C or Swift?

[2016-05-16 21:47] tyten commented on #332
@derrickstaten We are using Swift + Cocoapods, latest releases.

[2016-05-17 04:53] ahmednawar commented on #332
@dskatz22 @andiradulescu @hamdullahshah @briankracoff @tyten hey guys, since we are unable to reproduce this on our side, having a live debugging session might make sense. If this is a still issue for you, please send us an email to support@branch.io, reference the issue #, and we could schedule a debugging session to fix this. If your project src code is public or you are willing to share code, I

[2016-05-18 17:10] vinceis1337 commented on #332
Just wanted to add on I'm receiving the same error.
![screen shot 2016-05-18 at 12 10 06 pm](https://cloud.githubusercontent.com/assets/5994871/15368045/8461a3da-1cf1-11e6-9994-d805912cf629.png)

[2016-05-18 18:42] ahmednawar commented on #332
@vinceis1337 will you be willing to hop on a call to figure this out?

[2016-05-18 20:47] vinceis1337 commented on #332
@ahmednawar I'm currently completely revising our project dependencies, but when I complete this process I would definitely be willing to.

[2016-05-18 20:53] ahmednawar commented on #332
@vinceis1337 great. Please write to support@branch.io and reference the issue number. We will then schedule a live debugging session and figure it out. If your project src code is public or you are willing to share code, I am also happy to debug it offline.

[2016-05-19 14:25] milancermak opened #351 "Add a way to disable console logging"
I'd like a way how to disable debug and warning output from the console log:
[code]

Since there's no way how to do that directly on the `Branch` class, I wanted to set `debug` and `suppressWarningLogs` on the `BNCPreferenceHelper` singleton. However I'm using it in a swift project and because of the [unique way](http://stackoverflow.com/a/35004679/1370986) how Swift interoperates with ObjC, I can

[2016-05-19 17:01] ahmednawar commented on #351
@milancermak both methods should be called from your Branch instance.
`suppressWarningLogs` (https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/blob/master/Branch-SDK/Branch-SDK/Branch.h#L422) and `setDebug` (https://github.com/BranchMetrics/iOS-Deferred-Deep-Linking-SDK/blob/master/Branch-SDK/Branch-SDK/Branch.h#L370)

`setDebug` is not called by default as well so you you could just

[2016-05-19 17:13] milancermak commented on #351
That cleared it up for me. Cheers!

[2016-05-19 17:13] #351 closed

[2016-05-23 09:49] mattmcneeney opened #354 "Crash in initSessionWithLaunchOptions closure"
This is happening intermittently across a range of iOS devices using SDK version 0.11.18. Please see attached screenshots. Is this a known issue?

Our initialisation code looks as follows:

[code]

Thanks,
Matt

--

<img width="834" alt="screen shot 2016-05-23 at 10 31 19" src="https://cloud.githubusercontent.com/assets/7263436/15466639/82b1bc2a-20d2-11e6-9052-57cb0f762825.png">

Further debugging

[2016-05-23 15:16] aaustin commented on #354
Hey @mattmcneeney - We've never seen this one before. That code snippet in the screenshots should be executing if there's poor network connection but we've tested that extensively and don't see anything like that in the wild.

Do you happen to have a crashlytics report you could link to? What is the actual exception that's being thrown?

[2016-05-23 16:54] MikeSilvis opened #355 "Incorrect fingerprinting when not using 100% match"
We have noticed cases where in our office we have gotten other peoples deep links internally. I believe this is because the SDK falls back to the old matching algorithm if the device is not a fresh install.

Why is there a 30 day boolean flag as to whether or not you use the safari view controller? I would expect on anything > iOS 9 to only and always use the Safari View Controller approach.

http

[2016-05-24 02:09] aaustin commented on #355
Thanks for the note Mike. Here are some thoughts on the subject.

If the app is previously installed, using Universal Links or URI schemes appropriately will guarantee 100% match since we directly pass the parameters through to the app. It's why we originally inserted the install-only SVC check. Because of this, I'm not totally sure it's because of this 30 day check you reference.

We've recently

[2016-05-24 02:10] aaustin commented on #354
Also, if you don't want to share on the public github repo, please send the additional crash details to support@branch.io

[2016-05-24 02:13] MikeSilvis commented on #355
Yes, so Universal Links do help with the case that i have the app installed, and I link and that i get the ticket. This is not the issue though. The issue though we are seeing is that someone must be on the same wifi/device/version and is stealing a deep link from someone else.

My main question is, why are you using the matching at all instead of only SVC ?
[code]

Why is this at all possible sti

[2016-05-24 02:16] aaustin commented on #355
Ah - the problem arises when the click originates from a non-Safari cookie space. For example, if you click a link from Facebook, Messenger, Gmail, or Twitter just to name the common ones, SVC doesn't apply.

In theory, we could support a don't allow weak matches for previously strong matched browsers, but this makes it super hard to test with, since you might clear your IDFA or be in debug mode o

[2016-05-24 02:42] MikeSilvis commented on #355
So I guess the issue you are pointing to here is if I use an embedded
browser I.e. Facebook you won't get the cookies from the svc
On Mon, May 23, 2016 at 7:16 PM Alex Austin <notifications@github.com>
wrote:

[2016-05-24 02:43] MikeSilvis commented on #355
That makes sense. Okay thanks

[2016-05-24 13:39] maximkhatskevich opened #357 "Branch deep links from "Test" account never open staging build installed on device - always redirect to AppStore"
We are using the same custom domain for both Live and Test accounts. Also we use the same bundle ID for both staging and production builds. Of course, in the app, when it's a staging build, it uses Test Branch key, when it's a prod build - it uses Live Branch key.

Expected workflow is like this:
- install and run staging build on device (run from Xcode or install AdHoc build from HockeyApp);
- qu

[2016-05-24 16:46] ahmednawar commented on #357
@maximkhatskevich I've seen your ticket that you sent to support@branch.io. I'm copying this information to the ticket and closing here.

[2016-05-24 16:46] #357 closed

[2016-05-24 16:52] mattmcneeney commented on #354
I'll try to pull up a crash report and send it over to your support email.
Thanks Alex.

On Tue, 24 May 2016 at 05:10, Alex Austin <notifications@github.com> wrote:

[2016-05-24 16:59] aaustin commented on #355
@MikeSilvis closing this out. If you want some help debugging your specific test scenario, shoot a note over to support@branch.io. Happy linking!

[2016-05-24 16:59] #355 closed

[2016-05-24 17:00] aaustin commented on #354
Sounds good @mattmcneeney - mention you're from Github and we'll make sure to update this thread after resolution.

[2016-05-24 17:00] #354 closed

[2016-05-24 17:06] ahmednawar commented on #343
@dskatz22 did this resolve your issue? (https://dev.branch.io/getting-started/universal-app-links/support/ios/#using-facebooks-sdk)

[2016-05-24 17:09] maximkhatskevich commented on #357
Okay, thanks! Will reply by email shortly.

[2016-05-24 17:12] MikeSilvis commented on #355
@aaustin if i submitted a PR, with a flag to force only strong matching, would you guys be willing to merge that feature ?

Basically the issue we are running into, is what we are sending through you guys is extremely secure, and we don't want to run the chance of someone else getting it, and we are okay with you having to potentially tap the link twice (because then universal links would take ove

[2016-05-24 17:16] MikeSilvis commented on #355
Also, i guess my original question wasn't answered as to why exactly there is the 30 day check, and not to always use it with cascading principles.

[2016-05-24 17:21] ahmednawar commented on #343
This issue was resolved via email and the culprit was using AppsFlyer shared tracker. The solution was removing these 2 lines:

`[AppsFlyerTracker sharedTracker].appsFlyerDevKey = @"mykey";`
`[AppsFlyerTracker sharedTracker].appleAppID = @"myid";`

[2016-05-24 18:48] ahmednawar commented on #357
We completed this discussion off Github and the issue is a DNS config with a custom domain that is preventing the apple-app-site-association file from being served via HTTPS

[2016-05-24 21:38] zanemcca commented on #357
@ahmednawar Would you mind elaborating? I am having this same issue.

[2016-05-24 21:42] zanemcca commented on #357
It only seems to happen when clicking thru from Facebook or FB Messenger.
Messages, Gmail and Email seem to work fine

[2016-05-24 21:45] ahmednawar commented on #357
@zanemcca This is a different issue. Unfortunately, Facebook doesn't support Universal Links and their redirection is broken if the app is not installed, so we always fallback to the App Store. One workaround is showing a Deepview for Facebook where the CTA button will act as a Universal Link.

[2016-05-24 21:49] zanemcca commented on #357
@ahmednawar it continues to open the App Store even after I the app has been installed. Any ideas on how to fix that?

[2016-05-24 21:53] ahmednawar commented on #357
@zanemcca This is the expected behavior. We can't open the app and fallback to the App Store is the app is not installed because of Facebook's redirection. We could use a Deepview to work around this limitation.

[2016-05-24 22:14] zanemcca commented on #357
@ahmednawar I tried the [Website to App Routing](https://dev.branch.io/features/website-to-app-routing/overview/) technique and I also tried the [Branch Monster Factory](https://itunes.apple.com/ca/app/branch-monster-factory/id917737838?mt=8) example app and both still route through App Store when clicking from the deepview/website. Is this still the expected behaviour? Does Branch not integrate w

[2016-05-25 19:16] ahmednawar commented on #357
We continued this convo via email. Here is our response:

[2016-05-25 21:51] vinceis1337 commented on #332
@ahmednawar no need to do a live session, I've identified and fixed the issue in https://github.com/BranchMetrics/ios-branch-deep-linking/pull/360

[2016-05-26 00:41] jay-zhu opened #361 "Click on branch link will trigger deep link handler twice"
When I clicked on branch link, it will trigger deep link hander twice if i have open url logic in deep link handler:
[code]

And second time when it trigger deep link handler, params are still same, which it will cause another openUrl again.

[2016-05-26 01:21] derrickstaten commented on #361
Hi @jay-zhu, there's an easy way to avoid this. Rather than calling `openURL:`, you should instead invoke whatever routing logic you use inside of `application:openURL:sourceApplication:annotation:` directly.

So if `application:openURL:sourceApplication:annotation:` calls `[self handleURL:url];`, then inside the branch initSession callback, you can invoke the same method. `[self handleURL:[NSURL

[2016-05-26 16:28] #361 closed

[2016-05-26 17:35] jay-zhu commented on #361
@derrickstaten I see. Thank you.

[2016-05-26 17:35] derrickstaten commented on #361
No problem, sorry for the confusion.

[2016-05-27 04:04] ahmednawar commented on #355
@MikeSilvis you're definitely welcome to submit a PR and we'll review it.

We already have a boolean flag that we send back with the data to indicate whether the user was 100% matched. It is called +match_guaranteed = 0 or 1.

The way we use cookie-based matching is that we send a request with the IDFA and the browser cookie to create a link between them. Once this is saved, we use it whenever pos

[2016-06-01 12:14] PabloLerma opened #362 "Deeplink open after applicationDidBecomeActive"
Hi!

After performing a deeplink from a deepview from Facebook all works as expected and we take the user to the correct content. But after that if we send the app to background or close the app the next time that we open it Branch send as the same deeplink date so we take the user to the content again.
We also open a ticket at Branch.io but we could not find the ticket number.

Thanks!

[2016-06-03 15:08] aaustin commented on #362
Hey @PabloLerma - did you guys get taken care of in support? I'll close this if so.

[2016-06-03 15:29] ahmednawar commented on #343
@dskatz22 I'm closing this, feel free to reopen if you are still encountering any issues.

[2016-06-03 15:29] #343 closed

[2016-06-03 18:10] zacwest commented on #332
Still experiencing this with 0.12.2 and including the `mopub-ios-sdk` Cocoapod. It causes the Mopub SDK to error with "FABKitProtocol.h file not found" which doesn't happen with an older version of Branch.

[2016-06-04 16:18] PabloLerma commented on #362
@aaustin yes, we've been attended in support, thanks!

[2016-06-04 16:18] #362 closed

[2016-06-06 00:20] ahmednawar commented on #332
@zacwest would you be willing to hop on the phone to figure it out?

[2016-06-06 17:40] zacwest commented on #332
Sure, I can hop on the phone. You can email me zac@imgur.com to coordinate.

Alternatively, here's a sample project which cannot compile because of this issue. If you downgrade Branch in the Podfile, it will work without issue.

[BranchHeaderTest.zip](https://github.com/BranchMetrics/ios-branch-deep-linking/files/300985/BranchHeaderTest.zip)

[2016-06-06 17:46] ahmednawar commented on #332
@zacwest Awesome! I will test the project and let you know how it goes.

[2016-06-07 14:47] elikohen opened #366 "Incorrect universal link handling after killing the app"
Hello branch team, i'm an iOS developer at Letgo, we've found a bug that causes some universal links to be ignored when clicked and launched again next time the user opens the app:

Process to reproduce the bug:

1. Init the app:
	- With a http proxy we see branch sdk calls `open` in branch api
	- We call `branch.initSessionWithLaunchOptions(launchOptions, andRegisterDeepLinkHandlerUsingBranchUniv

[2016-06-09 05:43] ahmednawar commented on #366
@elikohen Thanks for such a thorough description! I'm unable to reproduce and it's probably because I am not clear on the dashboard part in step #2. Which dashboard are you talking about? I assumed you meant the Notification center on iOS but this didn't work.

Could you please clarify step #2 so that I could reproduce on my end? Thanks!

[2016-06-09 06:43] elikohen commented on #366
Hello there! you're right, 'dashboard' is not clear at all sorry.
I meant clicking where all the apps icons are, so you just double click home, swipe out the app and then click on the right edge to go to see all the apps.

[2016-06-09 18:17] joshuafeldman opened #368 "Branch SDK should include nullability"
Since the Branch SDK is written in Objective-C it should contain correct nullability for projects that are Swift. As an example `typedef void (^callbackWithParams) (NSDictionary *params, NSError *error);` will signal to Swift that both `params` and `error` are `nonnull` (default) which is not true. Both these parameters should be marked `nullable`. Here is good reference https://developer.apple.co

[2016-06-11 06:02] Zhukn1 commented on #368
@joshuafeldman, thank you for this one. I agree that moving forward this should be done. I will try to make a PR in July.

[2016-06-13 13:06] fluidsonic opened #369 "SDK unreliable under bad network conditions"
The SDK is unreliable when launching the app (or opening a deep link) under bad network conditions.

## Actual Behavior

After launching the app the SDK tries to load deep link information by contacting the Branch server. Should the server be unavailable due to a network-related issue then the SDK immediately gives up completely until the user moves the app to the background and back to the foregr

[2016-06-13 15:29] hsoi opened #370 "Is -handleDeepLink: handling links that don't belong to it?"
# Questions

Is `-[Branch handleDeepLink:]` handling links that don't belong to it?

Is `-handleDeepLink:` supposed to handle links that don't belong to it?

Are we supposed to determine if the link is a Branch link or not before passing it along to `-handleDeepLink:`?

# Situation

In my app's `-application:openURL:sourceApplication:annotation:` implementation I placed handlers for both Branch an

[2016-06-13 18:11] aaustin commented on #369
Hey @fluidsonic - Thanks so much for the clearly documented issue. I understand the frustration in this case. We decided that we'd only retry a fixed number of times before giving up. Any further Branch calls or reopening the app will trigger a new set of retries but it's limited in number.

For your use case, can you play around with our retry customization endpoints to see if you can set this to

[2016-06-13 18:22] aaustin commented on #370
Hey @hsoi - Thanks so much for your thorough note.

Before responding to your questions, let me address the concern about the call to `[self initUserSessionAndCallCallback:YES];` regardless of whether the `link_click_id` is there. We initialize a Branch session every single time the app is opened, regardless of whether a Branch link was clicked or not. We do this because it's quite possible that w

[2016-06-13 19:17] hsoi commented on #370
Hi @aaustin and thank you for the reply.

First, it makes sense that you'd initialize the session every time. But after that, things are confusing.

From what I gather you're saying, the deep link handler is called EVERY time, regardless -- and that is by design. OK, fair enough.  But you also say it optionally contains Branch link data.

Under what circumstances does it -- and doesn't it?

Should

[2016-06-13 19:23] hsoi commented on #370
To say it another way...

I would think that each time the deep link handler was invoked, the params would be for THAT invocation of the handler.  Well, it seems that's NOT the case -- at least in terms of what I encountered. That for the invocation of the handler for that Facebook URL, I was receiving the params for the prior Branch URL (the one that actually launched the app and started the whol

[2016-06-13 19:25] fluidsonic commented on #369
@aaustin for networking issues there is no retry.

As a temporary workaround we started calling `initSession...` again, slightly delayed after the deep link callback was called with an error.

[2016-06-13 20:45] ahmednawar commented on #366
@elikohen Thanks for the clarification. Unfortunately, I still can't reproduce. Would it be possible to record a video of this happening? Also, do you have a link for the iOS bug you mentioned?

[2016-06-14 01:43] aaustin commented on #369
Ah - you're talking about actual network failure. My mistake. Yes.. currently we presume that the app will be offline for a while and it wouldn't be prudent to continue retrying. That assumption is based on our hypothesis that this would happen mostly during airplane mode. Have you guys seen otherwise?

Just FYI in case you want to modify the source, here's where we make the call whether or not to

[2016-06-14 02:15] aaustin commented on #370
Ah - that definitely appears to be unexpected behavior. Let me put it in a timeline so we're both on the same page:
0. Click a Branch link
1. App opens and deep link async block returns with deep link data
2. Click login with Facebook
3. Facebook app opens
4. Facebook deep links back to your app
5. Deep link async block returns original Branch deep link data

This definitely shouldn't happen becau

[2016-06-14 15:04] fluidsonic commented on #369
Well, we're talking about mobile apps here. Your phone can easily have slow or unstable network connections when you are in a location with spotty network coverage. One network connection may fail while the next one succeeds.

I really expect 3rd-party libraries for mobile apps to handle such situations properly and not give up upon error. Should the user sign up while having spotty network covera

[2016-06-14 19:45] hsoi commented on #370
Hi @aaustin

Timeline is close. Here's what I did just now to reproduce it again.

- obtained the v1.0.0 code for our app (that which has the problem)
- deleted the app off my phone
- added the `setDebug()` call before initialization so I could watch more of what's going on.
- built the app, ran it (via Xcode debugger)
- the app ran and launched, sat idle, all seems good and clear.
- left the app,

[2016-06-15 02:19] aaustin commented on #369
Thanks @fluidsonic. Appreciate the feedback. Let me scope this out and think about incorporating it into the next release.

[2016-06-15 03:18] aaustin commented on #370
Ahhh. The openUrl call is coming from inside the house!

This is definitely new behavior it seems, and our SDK isn't properly set to receive these phony Facebook openUrl calls. We'll need to make a bit of a patch here to accept these. Give me a couple days to sort this out.

In the mean time, you could probably just add a hack like so:
```if (![url hasPrefix:@"fb"]) { [[Branch getInstance] handleD

[2016-06-15 08:57] fluidsonic commented on #369
Thank you for taking care of this @aaustin.
Please let me know if you need more feedback or when there is something to test.

[2016-06-15 09:18] hsoi commented on #370
Ah! It gets even better. 😆

Well, because this made everything go wonky for us, the "patch" we did was to switch the ordering around, calling the FB handler first, then if it didn't handle calling the Branch handler. So we've already got a patch in the wild. Given all that you've said tho, a patch like yours seems likely better.

That said, since I can't rush out yet another patch... I'll wait to

[2016-06-20 07:09] deli33 opened #377 "[BNCServerRequestQueue persistToDisk] crash"
If there is a bug or error in this repo, please file the issue here.

If you need assistance integrating a Branch SDK, please email support@branch.io. Thank you.

Hi, branch team

we have a crash problem

It is expected to network changes frequently occur in the background conditions are expected to come up again in the foreground

check the below log

thanks

Crashed: brnch_persist_queue
EXC_BREA

[2016-06-20 15:59] aaustin commented on #377
Hey @deli33 - I appreciate the detail.

We have no reports of any outstanding crashes on iOS, so this is surprising. I was searching around for `EXC_BREAKPOINT` errors and found this [SO thread](http://stackoverflow.com/questions/36300735/swift-crash-exc-breakpoint-0x0000000). Basically, the only upvoted response noted that this error only occurred under low memory conditions. Do you have a Crashl

[2016-06-22 10:36] SebC99 opened #380 "BranchLinkProperties.h has no campaign property"
We can't set the campaign property of the universal links, as it is not available in branchlinkproperties.h

[2016-06-22 15:53] aaustin commented on #380
Hey @SebC99 - We left it out as we felt that it didn't make sense from a product perspective. How were you planning on using the field?

[2016-06-22 15:57] ahmednawar commented on #332
@zacwest We worked with the Fabric team and we pushed a new release yesterday that addresses this conflict. Could you please try and let us know if you encounter any issues?

[2016-06-22 15:59] SebC99 commented on #380
Not sure, but it's in the docs and in the dashboard... so we wanted to try with app version number to compare links results between app version

[2016-06-22 15:59] aaustin commented on #380
I'd recommend using the Tags array field for that!

[2016-06-22 16:00] SebC99 commented on #380
that's what we've done :)

[2016-06-22 16:03] aaustin commented on #380
Closing this then. Happy linking!

[2016-06-22 16:03] #380 closed

[2016-06-22 16:05] ahmednawar commented on #370
@hsoi We've issued a release yesterday with a patch for this issue. Will close the issue but feel free to reopen if you encounter any problems. Cheers!

[2016-06-22 16:05] #370 closed

[2016-06-22 16:06] ahmednawar commented on #369
@fluidsonic We've issued a release yesterday with a patch for this issue. Will close the issue but feel free to reopen if you encounter any problems. Cheers!

[2016-06-22 16:06] #369 closed

[2016-06-22 18:27] hsoi commented on #370
@ahmednawar Great news! I'll flag this in our internal system so we address it in a near-future update.

Thank you 👍

[2016-06-22 23:21] zacwest commented on #332
I upgraded the Podfile in the attached project above:

I still cannot compile:

Are you able to successfully build?

[2016-06-23 18:52] ahmednawar commented on #332
@zacwest I couldn't reproduce before but after some digging it turned out I had an old version of Cocoapods and things were working fine. After updating to latest, I could reproduce. We will discuss with the Fabric team and keep you posted. Thanks a lot for your help!

[2016-06-25 03:47] ahmednawar commented on #332
@zacwest Quick update: this issue seems to be related exclusively to MoPub at the moment. Integrating with other Fabric kits such as Crashlytics, Answers, and Stripe compiles and runs just fine.

[2016-06-28 02:16] aaustin commented on #332
For some extra info, the Fabric team is reaching out internally to the Mopub team to help them fix their headers.

[2016-06-30 23:39] ahmednawar commented on #366
@elikohen any updates on this issue? Would love to help and sort it out.

[2016-06-30 23:40] ahmednawar commented on #377
@deli33 any updates here? Was low memory the culprit here as Alex suggested?

[2016-07-01 02:39] leogdion commented on #332
The workaround I found was to add a User Search Path to "FABKitProtocol.h". For instance in my Pods file I set it there:
[code]

This of course is a workaround not a fix.

[2016-07-05 08:43] athibaud opened #383 "add @subject to showShareSheetWith* methods"
As far as I can tell, `subject` is used only for the email sharing option as the email subject..

There are two ways to implement this:
- the ["correct" way](http://stackoverflow.com/a/28072306) via the [activityViewController:subjectForActivityType: protocol](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIActivityItemSource_protocol/index.html#//apple_ref/occ/intfm/UIActi

[2016-07-06 05:54] aaustin commented on #383
Thanks for the suggestion @athibaud. It does seem quite easy. We'll get this bundled into iOS for the next release.

[2016-07-10 19:41] aaustin commented on #383
@athibaud On closer inspection, we do actually expose it but it's a bit hidden. I added it to the react native SDK in this PR: https://github.com/BranchMetrics/react-native-branch-deep-linking/pull/26

[2016-07-10 19:41] aaustin commented on #383
Please follow that PR. Closing this issue.

[2016-07-10 19:41] #383 closed

[2016-07-11 09:05] athibaud commented on #383
perfect. thanks!

[2016-07-12 20:25] andrespch commented on #277
Hi, I 'm experiencing the same issue,
`branchInstance.accountForFacebookSDKPreventingAppLaunch()`
is not working as supposed.

[2016-07-15 15:12] lvandal opened #392 "Building the Carthage project fails since the last commit"
Building the Carthage project fails since the last commit:

error: unable to read module map contents from '/Users/ahmed/Documents/git_repos/iOS-Deferred-Deep-Linking-SDK/carthage-files/module.modulemap': Error Domain=NSCocoaErrorDomain Code=260 "The file “module.modulemap” couldn’t be opened because there is no such file." UserInfo={NSFilePath=/Users/ahmed/Documents/git_repos/iOS-Deferred-Deep-Li

[2016-07-15 16:15] ahmednawar commented on #392
@lvandal Thanks for reporting! Will push a fix today

[2016-07-15 23:44] ahmednawar commented on #392
@lvandal I've updated the Carthage project. Could you please test and let me know how it goes? Cheers!

[2016-07-25 09:01] siemensikkema commented on #392
@ahmednawar checking out the latest release (0.12.4) still triggers this problem. I'll try using a later commit but could you please push a new release?

[2016-07-25 09:17] siemensikkema commented on #392
The problem persisted so I created a PR, see: #395.

[2016-07-28 02:09] TheChuckster commented on #277
Does anyone have a strong consensus/definitive on what the correct didFinishLaunchingWithOptions implementation should look like when mixing and matching Branch+FB SDK login?

Right now, I am calling Branch instance's selector accountForFacebookSDKPreventingAppLaunch, throwing out the return value of the FBSDKApplicationDelegate didFinishLaunchingWithOptions selector, initializing my Branch sessio

[2016-07-28 16:20] derrickstaten commented on #277
Hi @TheChuckster. Sorry for the confusion. You should choose one of the following:

1. Always `return YES;`, and do *not* invoke `[[Branch getInstance] accountForFacebookSDKPreventingAppLaunch];`
2. Allow the Facebook SDK to determine whether `application:didFinishLaunchingWithOptions:` returns `YES` or `NO`, and invoke `[[Branch getInstance] accountForFacebookSDKPreventingAppLaunch];`

The reason

[2016-07-28 18:21] TheChuckster commented on #277
That makes much more sense. As feedback, perhaps the documentation should mention this as well -- you explained it in a much clearer way.

[2016-07-29 16:45] ahmednawar commented on #392
@lvandal @siemensikkema We've pushed a new update that should fix the module map problem. Could you please test and let us know if you still encounter any issue?

[2016-07-29 16:51] #392 closed

[2016-07-29 16:51] ahmednawar commented on #366
Closing here, feel free to re-open if you have any updates.

[2016-07-29 16:52] ahmednawar commented on #377
Closing here, feel free to re-open if you have any updates.

[2016-07-29 16:52] #377 closed

[2016-07-29 20:08] derrickstaten commented on #277
@TheChuckster I added this to branch.h, thanks for the feedback!

[2016-08-02 20:05] suchtomwow opened #399 "Migrate to Swift 2.3 and Swift 3"
In order to migrate and test our app to Swift 2.3/3.0 prior to the release of Xcode 8 and iOS 10, all of our dependencies need to be migrated first.

This can be solved by pointing our podfile to those respective Swift 2.3/3.0 branches, but this repo does not appear to have either of those branches.

![This blog post](http://www.jessesquires.com/migrating-to-swift-3/) contains helpful tips for mig

[2016-08-02 20:07] suchtomwow commented on #399
Issue was premature. This repo uses Objective C, so this is not an issue. Apologies!

[2016-08-02 20:07] #399 closed

[2016-08-05 12:39] marcelosalloum commented on #332
I am having the same issue. Changing the import order didn't fix it.

I noticed the conflict only when I was generating dSYM files (my production build).

[2016-08-05 17:43] ahmednawar commented on #332
@marcelosalloum which Fabric kits are you using besides Branch? There is a known issue with integrating MoPub but this is an issue with MoPub itself at the moment.

Which Branch SDK version are you using?

[2016-08-05 17:47] marcelosalloum commented on #332
I only use Fabric, Crashlytics and Answers

[2016-08-05 17:48] ahmednawar commented on #332
Are you using the latest Branch SDK?

[2016-08-05 17:53] marcelosalloum commented on #332
I was using Branch `v0.12.5` but due to this issue I downgraded to `v0.12.2`.

From `v0.12.3` onwards, it won't work for me and I noticed that `v0.12.3` is the first one to include "Fabric Answers integration", according to [this link](https://cocoapods.org/pods/Branch#changelog).

[2016-08-05 20:56] ahmednawar commented on #332
@marcelosalloum Are you using Swift or Objective-C? Also, how did you install Fabric (Pods vs Mac app + XCode)?

[2016-08-05 21:22] marcelosalloum commented on #332
Hey @ahmednawar, I am using Objective-C. And I installed Fabric the old way (Mac app)

[2016-08-08 02:50] ahmednawar commented on #332
@marcelosalloum I tried a dummy Objective-C project where I integrated Fabric and Crashlytics via the Mac App and added Branch (framework and pod) but didn't get any errors. How did you integrate Branch (Pods, Framework, src code)? If you have a sample project with the error, that would be great as well.

[2016-08-08 15:16] siemensikkema commented on #392
@ahmednawar it works if I force Carthage to check out "master". It does not automatically check out 0.12.5.

[2016-08-09 16:43] ahmednawar commented on #392
@siemensikkema can you please try again? I've uploaded the archived framework to the public release.

[2016-08-10 10:14] siemensikkema commented on #392
@ahmednawar Ok, this is a little embarrassing ... It totally works now but it probably was working before because I totally overlooked that I was still referring to **my own fork** in my `Cartfile`. 😳

[2016-08-10 13:59] rafaellage opened #400 "Outdated pod?"
Hi,

I noticed that the version of the sdk in cocoapods is outdated, for example, i could not find the method "applyPromoCode".

[2016-08-10 16:02] ahmednawar commented on #392
this what makes it fun :) Let me know if you encounter any issues with Carthage. Cheers!

[2016-08-10 18:58] ahmednawar commented on #400
@rafaellage The pod is up to date, however as of 0.12.4, we removed some deprecated methods from the SDK including `applyPromoCode`.

Here are the relevant parts from the ChangeLog:

referral code and promo code methods are no longer available
action count methods are no longer available
getReferralUrl removed - please migrate to BUO
getContentUrl removed - please migrate to BUO
BUO showShareSheet

[2016-08-10 18:58] #400 closed

[2016-08-10 21:57] rafaellage commented on #400
Ok, so what method i have to use to apply a promo code inside the app?

[2016-08-10 22:31] TimWatson opened #402 "continueUserActivity always returns false"
When opening a universal link `Branch.getInstance().continueUserActivity` always returns false. I use this check to know 1. Should I handle it myself, or 2. If my app can't handle it, open Safari. Right now this causes iOS to open the app, jump to safari, and then jump to the app store. If I remove `UIApplication.sharedApplication().openURL` it stays in the app and loads the correct deeplink but I

[2016-08-10 22:45] ahmednawar commented on #402
@TimWatson the method is returning false because it can't determine with 100% certainty whether the link, before sending the request, would be handled by Branch. The SDK logic checks client-side based on a list of whitelisted domains that includes Branch's domains(bnc.lt, app.link, and test-app.link) by default. However, your link would still deep link correctly since we also check for your domain

[2016-08-10 23:05] TimWatson commented on #402
That did it thanks @ahmednawar!

[2016-08-10 23:06] #402 closed

[2016-08-11 18:11] marcelosalloum commented on #332
Hey @ahmednawar, I investigated better in my project and found the real cause for this issue (it is my bad for not debugging it correctly). My issue actually was a conflict name with the property `startTime` in the file `BNCServerInterface.m`. As that variable is not contained inside the `@implementation`, It can be seen globally and I was using the same property name in one of my classes.

I am a

[2016-08-11 22:19] aaustin commented on #400
Hey @rafaellage  - Unfortunately, to continue using promo codes, you'll need to lock to version 0.12.4. We no longer plan to maintain this part of the platform. Sincere apologies for the inconvenience.

[2016-08-11 22:31] ahmednawar commented on #332
@marcelosalloum the reason is bad coding on my behalf, my apologies :(. Will fix in our next release. Thanks for letting us know!

[2016-08-11 22:59] ahmednawar commented on #332
@marcelosalloum here is the PR https://github.com/BranchMetrics/ios-branch-deep-linking/pull/404

[2016-08-16 18:56] macpraveen opened #407 "Swift - does not conform to protocol 'BranchDeepLinkingController'"
I am getting the following error. I'm using Xcode 7.2.1 Swift 2
![screen shot 2016-08-17 at 12 15 23 am](https://cloud.githubusercontent.com/assets/4463109/17711843/0958a2a8-6411-11e6-9e11-c27caf3176c2.png)

I have implemented the method

    func configureControlWithData(data: [NSObject : AnyObject]!) {
    }

[2016-08-17 14:32] damien-nd opened #408 "Archive with BitCode check fails"
I do have all my frameworks compatible with bitcode.
It was working fine on 0.12.4 I guess but now it fails on both with 0.12.5.

When I archive I get this errors:
[https://s3.postimg.org/fpw9yvwjn/Branch_Errors.png](https://s3.postimg.org/fpw9yvwjn/Branch_Errors.png)

Anyone getting the same problem?

[2016-08-17 14:38] damien-nd commented on #408
Update: Look lite without bitcode it's not working.
Maybe it is a carthage error?

I do 'clean' and 'clean build folder', then use 'carthage update --platform ios' and use latest version of Branch.

When I archive to make a testflight version I always get the errors, whatever I check or not the bitcode enable.

[2016-08-17 21:37] aaustin commented on #407
Hey @macpraveen - Apologies here but `BranchDeepLinkingController` will only work with classes that subclass `UIViewController`. `UINavigationController` doesn't fall in this category. Please use it in that capacity.

[2016-08-17 21:37] #407 closed

[2016-08-17 21:40] aaustin commented on #368
hey @joshuafeldman - Just an update here. The fact that params could be null in the failure case was an accidental edge case. In the last version, we made it so that `params` won't be null.

Making a separate task to add the `_Nullable` and `_Nonnull` to error and params respectively for the next version.

[2016-08-17 21:53] ahmednawar commented on #408
@damien-nd sorry to hear that you are having trouble. The image URL you posted gives 404. Could you please update the link so that I can see the error you are getting.

[2016-08-18 08:27] damien-nd commented on #408
Sorry, the link is wrong but the text is good.
The good link is https://s3.postimg.org/fpw9yvwjn/Branch_Errors.png <https://s3.postimg.org/fpw9yvwjn/Branch_Errors.png>

 <http://www.octopepper.com/> <http://www.octopepper.com/>
Damien NOEL DUBUISSON
iOS / Android developer	 <http://octopepper.com/contact.php>
damien@octopepper.com <mailto:mathieu@octopepper.com> | +33(0)9 50 27 90 74

[2016-08-18 15:20] damien-nd commented on #408
I'm really sorry for the issue.
I end by deleting all Carthage folders, clean builds folder and clean app.
Then I restart all carthage configuration in build phases.

Now everything is working fine. So maybe in long use Carthage mixed up some files, but nothing on your side.
Again sorry for that and will enjoy to continue with branch.

[2016-08-18 15:20] #408 closed

[2016-08-18 16:17] ahmednawar commented on #408
Glad you figured it out. Happy Deep linking!

[2016-08-19 15:11] tapi commented on #332
I can reproduce this in a test project without any code changes.

It looks as though it can also be fixed with a change to the podspec.
Not sure how much contact you have with mobpub but it probably wouldn't be the worst thing if they made the same change.

[2016-08-20 01:54] helloThakur opened #410 "Branch callback not called if the app is cold started, callback is called if the app resumes from background"
Hi,

The callback doesn't see be working if the app is cold started, call back is called if the app was in background.

Thanks

[2016-08-20 02:24] helloThakur commented on #410
Never mind, I found the issue. The culprit was FaceBook SDK. Found this on another thread. Thanks.

[2016-08-20 02:24] #410 closed

[2016-08-21 23:34] ahmednawar commented on #332
Thanks @tapi for the PR! Will include in our next release

[2016-08-31 07:13] francisjervis opened #418 "Various Swift compile errors with new build 0.12.6"
Mostly in AppDelegate methods, at least in my implementation.

1: Error logging using NSLog from the init method thus
[code]
now generates a "Variadic function is unavailable" error.
This is a known issue with Swift:
https://bugs.swift.org/browse/SR-1478
but logging these errors with NSLog worked prior to this update and is desirable. Note that
     NSLog("%@", error as! NSObject)
generates a mess

[2016-08-31 07:24] ahmednawar commented on #418
@francisjervis Thanks for reporting. I don't see the image you are referring to. Am I missing something here?

[2016-08-31 07:25] francisjervis commented on #418
That's odd. Link: https://cloud.githubusercontent.com/assets/10519862/18119715/d60a81fe-6f10-11e6-85b7-f25fa4230e96.png

[2016-08-31 07:32] francisjervis commented on #418
What appears to have happened is that the nullability changes in #368 + #411 are somehow making it impossible to check if a key-value pair exists in the params dictionary (or whatever it is now). While (arguably) having params itself never be null is desirable, testing for items in it is required.

[2016-08-31 17:03] ahmednawar commented on #418
@francisjervis that's weird. I will try to to reproduce on my end and look into fixes. Since you have a head start here, did you reach any fix that I can look into as well? Do you have a PR?

[2016-08-31 18:04] francisjervis commented on #418
OK - removing the
`if params != nil {

[2016-08-31 19:16] ahmednawar commented on #418
@francisjervis you will always get an error object if there is any issue like no network connectivity and the params will be an empty dictionary (but not `nil`). Could you please test that this is the case by putting your phone on Airplane mode and check for the response from Branch?

[2016-09-02 12:18] d-krueger commented on #366
Hi,
have you been able to fix this? I have a similar issue.

[2016-09-02 13:10] gbitaudeau opened #419 "UniversalObject doesn't contain proper type"
Hi,

In callback of `public func initSessionWithLaunchOptions(options: [NSObject : AnyObject]!, andRegisterDeepLinkHandler callback: callbackWithParams!)` universalObject retrieved doesn't contain any type attribute whereas it's present in callback params (`$content_type`).

Basically, I think it's just a forgetting in = `BranchUniversalObject.getBranchUniversalObjectFromDictionary`

[2016-09-02 23:15] ahmednawar commented on #368
@joshuafeldman our latest version of the SDK contains the right type annotations. Please check it out and let us know if you stumble upon any issues.

[2016-09-02 23:15] #368 closed

[2016-09-02 23:16] ahmednawar commented on #366
@d-krueger Could you please send us steps to reproduce plus the expected outcome?

[2016-09-03 00:06] ahmednawar commented on #419
@gbitaudeau Thanks for reporting! I've submitted a PR #421 and it will go out with our next release next week. Let me know if this doesn't solve your issue.

Cheers!

[2016-09-05 08:26] d-krueger commented on #366
Hi @ahmednawar
since I'm using the react native branch implementation I posted a more elaborate problem description here:

[https://github.com/BranchMetrics/react-native-branch-deep-linking/issues/40](url)

[2016-09-05 13:25] mwkas opened #422 "Share sheet helper (and possibly other shortURL methods) intermittently returns large, non-short URLs"
I have successfully integrated the Branch iOS SDK and I'm using the share sheet helper to create and share links. The problem I am facing is that I am occasionally getting very long share URLs (large number of query parameters) when I should be receiving the short URL. If I restart my app and try sharing again it usually works and I get given a correct short URL. Is this a known issue?

[2016-09-05 17:01] aaustin commented on #366
Let's close this and follow the thread on that repo, since it's likely related to to the wrapper.

[2016-09-05 17:01] #366 closed

[2016-09-05 17:31] aaustin commented on #422
Hey @mwkas - How frequently are you seeing this? This should occur on a very rare occurrence. We fallback to generating a long URL with all relevant parameters when there are connectivity issues. Are you testing on a solid connection?

One option is to up the retryCount https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-SDK/Branch-SDK/Branch.h#L407 or networkTimeout https:

[2016-09-06 09:17] mwkas commented on #422
Yeah I assumed it was a safe fallback if the shortening request fails. During the couple of days of integration and testing I'd seen it about 4ish times. All on a very good connection.

[2016-09-06 09:28] alexruperez opened #424 "loadRewardsWithCallback: method never calls callback"

[2016-09-06 14:51] alexruperez commented on #424
I get "[Branch Error] User session has not been initialized!" but the queue is never freed.
I think issue #227 should be reopened.

[2016-09-06 16:13] aaustin commented on #424
Hey @alexruperez - Just gave `loadRewardsWithCallback` a try on our testbed app and it works just fine. https://github.com/BranchMetrics/ios-branch-deep-linking/tree/master/Branch-TestBed

Is this happening 100% of the time for you? Can you confirm you've gone through the onboarding steps (added key, setup plist, added app delegate methods, etc)? https://dev.branch.io/getting-started/sdk-integrati

[2016-09-06 16:15] aaustin commented on #422
Where are you based if you don't mind me asking? Also, try bumping up those counts I linked to above and let me know if you still observe it.

[2016-09-06 16:43] alexruperez commented on #424
Everything is properly configured and has worked for months, it could be a bug in the new Facebook Ads integration?

`[[Branch getInstance] registerFacebookDeepLinkingClass:[FBSDKAppLinkUtility class]];`

[2016-09-07 05:38] aaustin commented on #424
Hmm - I wonder if it's a Facebook SDK change. Perhaps you updated us both at the same time. Have you confirmed when you remove that line it works fine?

[2016-09-07 05:54] alexruperez commented on #424
@aaustin confirmed, the problem is that line.

[2016-09-07 10:50] mwkas commented on #422
We're based in London. I'll up the counts and see if I still experience the issue. Thanks!

[2016-09-07 15:18] aaustin commented on #424
I'll investigate today and try to get it in the next release. We have one going out today, but it'll be in the next one if there's a bug.

In the meantime, to unblock you, could you use the server side Facebook integration we have? It's actually faster anyways. https://dev.branch.io/features/facebook-ads/guide/ios/#option-1-connect-without-using-facebook-sdk

[2016-09-07 15:40] alexruperez commented on #424
Done, thanks!

[2016-09-08 05:30] aaustin commented on #424
@alexruperez I'm having some trouble reproducing on my side. I just loaded up the new Facebook SDK, and called the following:

[code]

In this case, `loaded rewards` is printed before `init session returned!` but it's returned nonetheless. I need to issue a patch to correct the order, and I've got that in a branch now. However, I want to patch the issue you were seeing. Can you share the code you

[2016-09-08 06:05] alexruperez commented on #424
@aaustin try this code (on a fresh install, it only happens the first time, and later the queue remains frozen).

[code]

Hope it helps. 👍

[2016-09-08 14:01] briankracoff opened #427 "Logs of nullability warnings in BranchUniversalObject with swift project"
As of the Xcode8 GM, building with `v0.12.7` is giving us a ton of nullability warnings. Doesn't seem to break things though. We're running Cocoapods `1.1.0.beta.1` in a swift project with `use_frameworks`.

![screen shot 2016-09-08 at 9 54 12 am](https://cloud.githubusercontent.com/assets/1471922/18351991/7a41b4fa-75aa-11e6-8593-3f6815209299.png)

[2016-09-08 14:58] aaustin commented on #427
Thanks so much for the issue @briankracoff. We've got this patched in a PR https://github.com/BranchMetrics/ios-branch-deep-linking/pull/426 and plan to merge it in after a bit more testing. Expect the new release early next week.

[2016-09-08 14:59] briankracoff commented on #427
Awesome thanks! Feel free to close this

[2016-09-08 16:54] aaustin commented on #424
I still quite reproduce, but I'm 90% sure this will resolve it. https://github.com/BranchMetrics/ios-branch-deep-linking/pull/428

[2016-09-08 16:55] aaustin commented on #422
Going to close for the time being.

[2016-09-08 16:55] #422 closed

[2016-09-08 16:57] ahmednawar commented on #419
@gbitaudeau we've cut a release yesterday which contained the fix for this. Closing here and feel free to re-open if this is still an issue. Cheers!

[2016-09-08 16:57] #419 closed

[2016-09-08 16:57] #427 closed

[2016-09-08 16:58] ahmednawar commented on #418
@francisjervis I am closing here but feel free to re-open if you encounter any issues. Cheers!

[2016-09-08 16:58] #418 closed

[2016-09-08 17:00] ahmednawar commented on #332
@tapi We've included your PR in our release. Closing here and feel free to re-open if you still encounter issues. Cheers!

[2016-09-08 17:00] #332 closed

[2016-09-08 21:13] benjaminjackson opened #429 "branch_key not found when nested in Fabric dictionary of Info.plist as live/test dictionary"
Looks like the SDK doesn't detect the key when it's nested inside the Fabric dictionary as a "live/test" dictionary rather than a single key.

When the key is top-level in the plist, the SDK checks for both a string and a dictionary:

https://github.com/BranchMetrics/ios-branch-deep-linking/blob/master/Branch-SDK/Branch-SDK/BNCPreferenceHelper.m#L172-L177

However, when it's nested, the code only

[2016-09-08 21:33] alexruperez commented on #424
Yeah, #428 fix the issue, thanks @aaustin! 😃

[2016-09-08 21:33] #424 closed

[2016-09-08 21:49] alexruperez opened #430 "Missing nullability type specifiers on BranchUniversalObject (0.12.7)"

[2016-09-08 21:55] ahmednawar commented on #430
@alexruperez Thanks for reporting. We have a PR #426 that was already merged to our `staging` Branch. It will go out in our next release.

[2016-09-08 21:59] alexruperez commented on #430
Awesome, thanks @ahmednawar, closing issue. 👌🏻

[2016-09-08 21:59] #430 closed

[2016-09-09 06:25] aaustin commented on #429
Ack! Good find. Thanks so much for letting us know. We'll get this patched right away.

[2016-09-09 08:51] pymaurice opened #432 "Crash on startup with branch SDK 0.12.7 on iOS 7"
Hi,

The SDK v0.12.7 is crashing on iOS 7 due to a call to NSString `- (BOOL)containsString:(NSString *)str` in BNCServerInterface` - (NSDictionary *)prepareParamDict:(NSDictionary *)params key:(NSString *)key retryNumber:(NSInteger)retryNumber` (line 235)

It's working fine with 0.12.6.

[2016-09-09 16:33] ahmednawar commented on #432
@pymaurice thanks for reporting! We are currently investigating and will get back to you.

[2016-09-09 17:11] ahmednawar commented on #432
@pymaurice I've submitted a PR #433 to address this issue. Could you please test and let us know how it goes.

[2016-09-09 22:08] kballard opened #436 "showShareSheetWithLinkProperties doesn't distinguish between canceled and failed"
`showShareSheetWithLinkProperties` doesn't pass the `activityError` to the completion block, so the calling code can't distinguish between the user canceling the share, and the share failing.

[2016-09-09 22:12] kballard commented on #436
Hmm, it used to pass the `activityType` string as a nullable string, which makes sense because UIKit defines it as a nullable string, and it seems likely that UIKit returns `nil` if the user cancels. But at some point Branch updated its header to mark that parameter as nonnull, even though it never actually checks if the `activityType` is `nil`, meaning if UIKit does pass `nil`, Branch will claim

[2016-09-10 17:30] aaustin commented on #274
Just a note that the library is now fully compatible with extensions! Here's some docs on how to add it to iMessage https://dev.branch.io/getting-started/sdk-integration-guide/guide/ios_imessage/

[2016-09-10 17:30] #274 closed

[2016-09-10 17:48] aaustin commented on #436
Hey @kballard - Looking into this now and will update here.

[2016-09-12 18:02] benjaminjackson commented on #429
🔥 👍

[2016-09-14 08:28] alexruperez opened #446 "CocoaPods version outdated"
pod trunk push Branch.podspec

[2016-09-14 16:01] aaustin commented on #436
Hey man - I added a new callback that will support error passthrough. Enjoy!

[2016-09-14 16:01] #436 closed

[2016-09-14 16:01] aaustin commented on #446
Hey @alexruperez - Just updated it. Thanks for the warning!

[2016-09-14 16:01] #446 closed

[2016-09-14 16:02] aaustin commented on #432
This has been deployed to prod. Apologies for the crash there!

[2016-09-14 16:02] #432 closed

[2016-09-14 16:02] aaustin commented on #429
Merged to prod!

[2016-09-14 16:02] #429 closed

[2016-09-14 16:05] aaustin commented on #284
Closing for lack of prevalence.

[2016-09-14 16:05] #284 closed

[2016-09-14 18:09] kballard commented on #436
Thanks!

[2016-09-14 19:10] kballard opened #448 "BranchUniversalObject's initializers should not be nullable"
`BranchUniversalObject`'s initializers are now marked as returning a `nullable` object. This is incorrect and makes creating these objects annoying in Swift. `BranchUniversalObject`'s initializers all return a nonnull object if `[super init]` does, and `-[NSObject init]` returns a nonnull object, so `BranchUniversalObject`'s initializers will never return `nil`. I don't think `<objc/NSObject.h>` h

[2016-09-14 19:55] ninjudd commented on #332
I am still getting this issue with Branch 0.12.9 and mopub-ios-sdk 4.9.0.

For now, this workaround based on leogdion's comment above solves the issue:
[code]

[2016-09-14 20:01] tapi commented on #332
We're seeing this with MoPub 4.9.0 as well but were not seeing it with 4.6.0 though `¯\_(ツ)_/¯`

[2016-09-14 20:04] ninjudd commented on #332
The strange part is that the 4.9.0 podspec has `private_header_files`, but 4.6.0 does not.

https://github.com/mopub/mopub-ios-sdk/blob/master/mopub-ios-sdk.podspec.json

[2016-09-15 01:39] aaustin commented on #448
Thanks for the feedback Kevin - We'll get this patched for the release next week!

[2016-09-15 01:54] aaustin commented on #332
Sorry about the hassle team.

[2016-09-15 15:53] aaustin commented on #448
Merged in here for next release https://github.com/BranchMetrics/ios-branch-deep-linking/pull/451

[2016-09-15 22:38] fceldeiro opened #454 "Init callback not being called in latests versions."
I'm having the following issue with the latest versions.
I'm force killing the app, tapping on the link and the init callback is never being called.
I rolled back to version 0.12.5 and it started working again.

I debugged your code a little bit and found out that the property `shouldWaitForInit` may be the issue.
[code]

This is in the Branch.m class.
The network count is -, the queue.size is > 0

[2016-09-16 04:45] aaustin commented on #454
Hey @fceldeiro - Thanks so much for the note here. We simultaneously got a bug report of the same thing earlier this afternoon and have issued an emergency patch here: https://github.com/BranchMetrics/ios-branch-deep-linking/pull/453

We're doing final QA on the fix and hope to deploy tomorrow morning. We're not sure how this case slipped through our QA but we've added additional checks for this s

[2016-09-16 10:02] Atoyebs commented on #436
Hi, i've been looking for a solution to the above problem not being able to distinguish between cancel and anything else. When the user posts successfully completed = true. When the user presses the cancel button and doesn't go through with the post completed = true.

As a result It seems impossible to tell if the user has cancelled the action or successfully posted.

I might be missing something

[2016-09-16 14:50] aaustin commented on #436
Hey @Atoyebs - Thanks for the note. Here's the example method call that will allow you to try to retrieve the NSError. I added this new block callback type in 0.12.9.
[code]
In the case of a use not completing, completed will be NO. Then, you can check the activity error to gather evidence of any issues with the share.

Hope this helps!

[2016-09-16 17:38] aaustin commented on #448
This has been resolved in v0.12.10. Thanks so much for your contributioN!

[2016-09-16 17:38] #448 closed

[2016-09-16 17:39] aaustin commented on #454
Hey @fceldeiro: According to our internal tests and QA, we've resolved this in v0.12.10. Can you confirm? We want to make sure there isn't another issue that we haven't been able to reproduce yet.

[2016-09-16 17:44] fceldeiro commented on #454
Hey @aaustin : Having troubles with the link (It's saying There was a minor issue on the server . The team has been notified and are looking into it) So I can't confirm yet if it was fixed.

[2016-09-16 17:58] aaustin commented on #454
Hey @fceldeiro - We had a brief blip on the service due to a bad database restart. Sincere apologies. It was all hands on deck here for a few minutes.

Can you try again?

[2016-09-16 18:18] fceldeiro commented on #454
@aaustin Confirmed, it works now for both cases, fresh install and with the app already installed!
Thanks for the fast fix!

[2016-09-16 19:03] #454 closed

[2016-09-18 14:58] shmakovigor opened #456 "Open app via link - custom params dictionary is wrong"
Hi! I run into an issue that when I launch my app via link params dictionary contains only 2 keys:

{
    "+clicked_branch_link" = 0;
    "+is_first_session" = 0;
}

and doesn't contain my custom metadata:

[code]

But when I press the same link when app is already launched params dictionary contains my metadata.

Any ideas why this happens? I use the latest SDK and iOS 10.
Thanks in advance!

[2016-09-18 15:50] Atoyebs commented on #436
Thanks @aaustin, upon further testing i've just realised that the issue is unique to The "reminders" and "WhatsApp" app. It works correctly for Facebook and Twitter.
If you have any workarounds or solutions please feel free to share, but your response was helpful.

[2016-09-18 17:47] aaustin commented on #456
Hey @shmakovigor - I know you said this, but I wanted to confirm you're using the latest 0.12.10. I ask because we patched an issue related to the exact behavior you're seeing in 0.12.10.

Second, is this Universal Link behavior? As in, you're clicking the link from notes or messages and the app is opening directly?

Lastly, confirming you have the Branch calls `initSession` in `didFinishLaunching

[2016-09-18 17:55] shmakovigor commented on #456
1) Yes - I've just checked and I can confirm that I use 0.12.10 version.
2) Yes, this is Universal Link behaviour and app is opening directly

[2016-09-18 18:41] shmakovigor commented on #456
I debug source code and noticed that method ```processResponse:error:``` of class BranchOpenRequest in most cases return following response:

[2016-09-18 22:10] oddpanda opened #457 "Cannot convert value of type '(String?, NSError?)"
I get this error with the following code after updating to Swift 3

`Cannot convert value of type '(String?, NSError?) -> Void' to expected argument type 'callbackWithUrl' (aka '(String, Optional<Error>) -> ()')`

        branchUniversalObject.getShortUrlWithLinkProperties(linkProperties,  andCallback: { (url: String?, error: NSError?) -> Void in
            if error == nil {
                self.

[2016-09-19 07:38] karthikasdas opened #458 "Error after updating Xcode 8"
Hi,

I have updated my Xcode to 8 and stuck with an error in branch function "configureControlWithData(data: [NSObject : AnyObject]!)" in which I use a value 'data["offer"]'. The compiler error it shows is "Type '[NSObject:AnyObject]!' has no subscript members".
The code is

if let offerid = data["offer"] as? String {
}

Kindly help me to solve this.

Thanks in advance!

If there is a bug or error

[2016-09-19 07:52] karthikasdas commented on #458
Ok, solved. The issue was I had to change the function from configureControlWithData(data: [NSObject : AnyObject]!) to configureControl(withData data: [AnyHashable : Any]!).